{% extends 'base.html.twig' %}
{% block title %}Participant {{ participant.id }} - {% endblock %}
{% block body %}
<div class="page-header">
    <h2>{{ participant.lastName }}, {{ participant.firstName }} {{ participant.middleName }} <small>{{ participant.shortId }}</small></h2>
</div>

<div class="row">
    <div class="col-sm-6">
        {% include 'partials/participant-dl.html.twig' %}
    </div>
    <div class="col-sm-6 text-center">
        <svg id="participant-barcode"></svg>
    </div>
</div>

{% if cacheEnabled %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <small>
                Last updated: {{ participant.cacheTime ? participant.cacheTime|date('g:ia', app.userTimezone) }}
                <a href="{{ path('workqueue_participant', { id: participant.id, refresh: 1 }) }}" style="margin-left: 6px"><i class="fa fa-refresh" aria-hidden="true"></i> refresh</a>
            </small>
        </div>
    </div>
{% endif %}

{% set displayPatientStatus = false %}
{% include 'partials/participant-consent.html.twig' %}
{% endblock %}
