{% extends 'base.html.twig' %}
{% block title %} {{ sop }} - {% endblock %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('help_home') }}">Help</a></li>
        <li><a href="{{ path('help_sop') }}">All of Us℠ Research Program SOPs</a></li>
        <li class="active">{{ sop }}</li>
    </ol>
    <div class="page-header">
        <h2><i class="fa fa-file-text-o" aria-hidden="true"></i> {{ sop }}
            <small>{{ title }}</small>
        </h2>
    </div>
    <div class="text-right"><a class="pull-right" href="{{ path('help_sopFile', { id: sop }) }}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> Open/Download</a></div>
    <iframe class="pdf" name="pdf" src="{{ path('help_sopFile', { id: sop }) }}#view=FitH"></iframe>
<footer class="footer help-footer">
    {% include 'help/helptext.html.twig' %}
</footer>
{% endblock %}
