{% extends 'base.html.twig' %}
{% block title %}SOPs - {% endblock %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('help_home') }}">Help</a></li>
        <li class="active">All of Us℠ Research Program SOPs</li>
    </ol>
    <div class="page-header">
        <h2><i class="fa fa-file-text-o" aria-hidden="true"></i> All of Us℠ Research Program SOPs</h2>
    </div>
    {% for group in documentGroups %}
        {% if loop.first %}
            <div class="row">
                <h3 class="col-md-6">
                    English
                </h3>
                <h3 class="col-md-6">
                    Spanish
                </h3>
            </div>
        {% endif %}
        <div class="row">
            {% for language in supportedLanguages %}
                <div class="col-md-6">
                    <h3><em>All of Us</em> {{ group.title }}</h3>
                    <ul>
                        {% for id, document in group.documents %}
                            {% if language in document.languages %}
                                {% if document.download is defined and document.download %}
                                    <li>
                                        <a href="{{ path('help_sopRedirect', { id: id, language: language }) }}">{{ document.title }}</a>
                                        <i class="fa fa-download" aria-hidden="true"></i></li>
                                {% else %}
                                    <li>
                                        <a href="{{ path('help_sopView', { id: id, language: language }) }}">{{ document.title }}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    {% include 'help/footer.html.twig' %}
{% endblock %}
