{% extends 'base.html.twig' %}
{% block title %}SOPs - {% endblock %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('help_home') }}">Help</a></li>
        <li class="active">All of Us℠ Research Program SOPs</li>
    </ol>
    <div class="page-header">
        <h2><i class="fa fa-file-text-o" aria-hidden="true"></i> All of Us℠ Research Program SOPs</h2>
    </div>
    {% for group in documentGroups %}
        <h3><em>All of Us</em> {{ group.title }}</h3>
        <ul>
            {% for id, document in group.documents %}
                {% if document.download is defined and document.download %}
                    <li><a href="{{ path('help_sopRedirect', { id: id }) }}">{{ document.title }}</a> <i class="fa fa-download" aria-hidden="true"></i></li>
                {% else %}
                    <li><a href="{{ path('help_sopView', { id: id }) }}">{{ document.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
    {% include 'help/footer.html.twig' %}
{% endblock %}
