{% set bootstrapVersion = 5 %}
{% extends 'base.html.twig' %}
{% import 'program/nph/order/macros/display-text.html.twig' as macros %}

{% block title %} NPH Participant Summary {% endblock %}
{% block bodycontainer %} container-responsive ps-5 pe-5 {% endblock %}
{% block body %}
    {% if hasNoParticipantAccess %}
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3 center">
            <div class="card">
                <div class="card-header bg-danger-subtle">
                    <h3 class="panel-title"><i class="fa" aria-hidden="true"></i>Warning</h3>
                </div>
                <div class="card-body">
                    The participant you have selected is paired with another enrollment site. Please verify that
                    this is the correct participant. By continuing, you acknowledge that you have a valid need to
                    access this record. Access to this record will be audited and is subject to review. Unauthorized
                    access to records may result in loss of access to HealthPro.
                </div>
                <div class="card-footer text-end">
                    {{ form_start(agreeForm) }}
                    {{ form_widget(agreeForm.Acknowledge) }}
                    <a href="{{ path('nph_participants') }}" class="btn btn-default">Cancel</a>
                    {{ form_end(agreeForm) }}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-sm-3 participant-details-col">
            <div class="card participant-details-card">
                <div class="card-body">
                    <div class="page-header" id="participant-info" data-id="{{ participant.id }}">
                        <h2>
                                {{ participant.lastName }}, {{ participant.firstName }}
                                <i class="fa fa-sm fa-barcode clickable" data-bs-toggle="modal" data-bs-target="#participant-barcode-modal" id="participant-barcode-icon"></i>
                        </h2>
                    </div>
                    <hr>
                    <div class="col-sm-12">
                        {% include 'program/nph/order/partials/participant-details.html.twig' %}
                    </div>
                    <hr>
                    <div class="col-sm-12">
                        {% if cacheEnabled %}
                            <div class="row mb-4">
                                <div class="col-sm-1">

                                </div>
                                <div class="col-sm-6">
                                    Last updated: {{ participant.cacheTime ? participant.cacheTime|date('g:ia', app.user.timezone) }}
                                </div>
                                <div class="col-sm-4">
                                    <a href="{{ path('nph_participant_summary', { participantId: participant.id, refresh: 1 }) }}"
                                       class="btn btn-primary btn-xs">
                                        <i class="fa fa-refresh" aria-hidden="true"></i>
                                        Refresh
                                    </a>
                                </div>
                                <div class="col-sm-1">
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-12">
                        {{ macros.displayModuleConsents(programSummaryAndOrderInfo, participant) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
        {% if participant.module %}
            <div class="row">
                <div class="col-md-12" role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        {% for moduleNumber, module in programSummaryAndOrderInfo if (moduleNumber == participant.module or moduleNumber == 1) %}
                            {% if participant.module == moduleNumber%}
                                {% set tabActive = 'active' %}
                            {% else %}
                                {% set tabActive = '' %}
                            {% endif %}
                            <li role="presentation" class="nav-item participant-module {{ tabActive }}" data-bs-toggle="tab" data-bs-target="#ModuleGroup{{ moduleNumber }}" data-moduleNumber="{{ moduleNumber }}" type="button" role="tab"><a class="nav-link">NPH
                                    Module {{ moduleNumber }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 participant-activity-div">
                    <ul class="nav nav-pills">
                        <li role="presentation" class="participant-activity active rounded" ><a class="rounded">Collections</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 participant-modules tab-content">
                    {% if participant.nphPairedSiteSuffix == app.session.get('site').id %}
                        {% for moduleNumber, module in programSummaryAndOrderInfo if (moduleNumber == participant.module or moduleNumber == 1) %}
                            {% if participant.module == moduleNumber %}
                                {% set modulePanelDisplay = 'show active' %}
                            {% else %}
                                {% set modulePanelDisplay = '' %}
                            {% endif %}
                            <div class="tab-pane fade ModuleGroup {{ modulePanelDisplay }}" id="ModuleGroup{{ moduleNumber }}">
                                <div class="row">
                                    <h5 class="col-md-12 participant-module-header ms-3">NPH Module {{ moduleNumber }} Collections</h5>
                                </div>
                                {% for VisitCode, visit in programSummaryAndOrderInfo[moduleNumber] %}
                                    {% if VisitCode != 'sampleStatusCount' %}
                                        {% set visitDiet = visit['visitDiet'] %}
                                        {% set moduleDietStatus = 'module' ~ moduleNumber ~ 'DietStatus' %}
                                        {% set participantDietStatus =  attribute(participant, moduleDietStatus)[visitDiet] is defined ? attribute(participant, moduleDietStatus)[visitDiet] : '' %}
                                        {% if moduleNumber == 3 and (VisitCode == 'OrangeDLW' or VisitCode == 'BlueDLW' or VisitCode == 'PurpleDLW') %}
                                            {% set textDivSize = 'col-md-9' %}
                                            {% set dlwDiet = true %}
                                        {% else %}
                                            {% set textDivSize = 'col-md-12' %}
                                            {% set dlwDiet = false %}
                                        {% endif %}
                                        <div class="card mb-2 border-0">
                                            <div class="card-header collapse-carat" data-bs-toggle="collapse" data-bs-target="#{{ moduleNumber }}Visit{{ VisitCode }}"
                                                 role="button" style="font-weight: bold">
                                                Visit {{ visit['visitDisplayName'] }}
                                                {% include 'program/nph/participant/partials/display-diet.html.twig' %}
                                            </div>
                                            <div style="margin-bottom: 20px" id="{{ moduleNumber }}Visit{{ VisitCode }}" class="collapse card-body accordion-collapse {% if participantDietStatus == constant('App\\Helper\\NphParticipant::DIET_STARTED') %} show {% endif %}">
                                                <div class="row">
                                                    {% if participant.dob %}
                                                        <br>
                                                        <div class="{{ textDivSize }}">
                                                            {% if participantDietStatus == constant('App\\Helper\\NphParticipant::DIET_STARTED') %}
                                                                <a class="btn btn-primary btn-sm mb-2" role="button"
                                                                   href="{{ path('nph_generate_oder', {participantId: participant.id, module: moduleNumber, visit: VisitCode}) }}">
                                                                    <i class="fa fa-plus-circle"></i> Generate Orders and Print Labels
                                                                </a>
                                                            {% elseif participantDietStatus == constant('App\\Helper\\NphParticipant::DIET_DISCONTINUED') %}
                                                                This diet has been discontinued. New orders cannot be generated for this diet. Canceling and editing are still permissible.
                                                            {% elseif participantDietStatus == constant('App\\Helper\\NphParticipant::DIET_COMPLETED') %}
                                                                This diet has been completed and orders can no longer be generated. Cancelling and editing are still permissible.
                                                            {% elseif participantDietStatus == constant('App\\Helper\\NphParticipant::DIET_INCOMPLETE') %}
                                                                This participant has not completed this diet but has moved on to the next step. New orders cannot be generated for this diet. Canceling and editing are still permissible.
                                                            {% else %}
                                                                This diet is not yet assigned to the participant. Orders cannot be generated until the diet is assigned.
                                                            {% endif %}
                                                        </div>
                                                        {% if moduleNumber == 3 and dlwSummary[moduleNumber] is defined and dlwSummary[moduleNumber][VisitCode] is defined %}
                                                            {% if dlwSummary[moduleNumber][VisitCode] %}
                                                                <div class="col-md-3 well well-sm right-float">
                                                                    <div class="col-sm-12 d-flex justify-content-center">
                                                                        <a class="text-center btn dlw-collect-button mb-2" role="button"
                                                                           href="{{ path('nph_dlw_collect', {participantId: participant.id, module: moduleNumber, visit: VisitCode}) }}">
                                                                            Enter DLW Dosage
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-sm-12 d-flex justify-content-center">
                                                                        <span class="dlw-collect-text">Last Saved {{ dlwSummary[moduleNumber][VisitCode]|date('n/j/Y g:ia', app.user.timezone) }}</span>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% elseif dlwDiet %}
                                                            <div class="col-md-3 well well-sm right-float">
                                                                <div class="col-sm-12 d-flex justify-content-center">
                                                                    <a class="text-center btn dlw-collect-button align-middle inline nowrap" role="button"
                                                                       href="{{ path('nph_dlw_collect', {participantId: participant.id, module: moduleNumber, visit: VisitCode}) }}">
                                                                        Enter DLW Dosage
                                                                    </a>
                                                                </div>
                                                                <div class="col-sm-12 d-flex justify-content-center">
                                                                    <span class="dlw-collect-text">Not Completed </span>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% else %}
                                                        <div class="{{ textDivSize }}">
                                        <span class="alert alert-danger no-dob-banner">
                                            <i class="text-danger fa fa-exclamation-circle"></i>
                                            DOB has not been provided. Please enter the DOB via the consent checklist to unlock order generation.
                                        </span>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                {% set displayedOrderIDS = [] %}
                                                {% set displayedTimePointHeaders = [] %}
                                                {% for timepointCode, timepoint in visit['visitInfo'] %}
                                                    {% for sampleType, sampleInfo in timepoint['timePointInfo'] %}
                                                        {% if sampleInfo['numberSamples'] is not empty %}
                                                            {% for sampleCode, sample in sampleInfo %}
                                                                {% for orderid, numberSamples in sampleInfo['numberSamples'] %}
                                                                    {% if sample is iterable and sample[orderid] is defined and sample[orderid] is iterable and sample[orderid]['healthProOrderId'] not in displayedOrderIDS %}
                                                                        {% if timepointCode not in displayedTimePointHeaders %}
                                                                            {% set displayedTimePointHeaders = displayedTimePointHeaders|merge([timepointCode]) %}
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <h5>Timepoint | {{ timepoint['timePointDisplayName'] }}</h5>
                                                                                </div>
                                                                            </div>
                                                                        {% endif %}
                                                                        {% set displayedOrderIDS = displayedOrderIDS|merge([sample[orderid]['healthProOrderId']]) %}
                                                                        <div class="card mb-2">
                                                                            <div class="card-header">
                                                                                <div class="clearfix w-100">
                                                                                    <div class="d-inline-block w-10 align-top"><span >{{ sample[orderid]['createDate'] }}</span></div>
                                                                                    <div class="d-inline-block w-25 align-top"><span><a
                                                                                            href="{{ path('nph_order_collect', {participantId: participant.id, orderId: sample[orderid]['healthProOrderId']}) }}">Order
                                                                                    ID: {{ orderid }}</a></span></div>
                                                                                    <div class="d-inline-block w-15 align-top"><span>{{ sample[orderid]['sampleTypeDisplayName'] }}</span></div>
                                                                                    <div class="d-inline-block w-15 align-top">{{ macros.generateStatusLabel(sample[orderid]['orderStatus']) }}</div>
                                                                                    <div class="d-inline-block w-10 align-middle">
                                                                                        {% for sampleStatus, sampleStatusCount in programSummaryAndOrderInfo[moduleNumber]['sampleStatusCount'][orderid]|sort %}
                                                                                            {% if not loop.first %}
                                                                                                <span></span>
                                                                                            {% endif %}
                                                                                            <span>({{ sampleStatusCount }}
                                                                                    / {{ sampleInfo['numberSamples'][orderid] }}) {{ sampleStatus }}
                                                                                        </span>
                                                                                        {% endfor %}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                                {% if displayedOrderIDS is empty and participantDietStatus == constant('App\\Helper\\NphParticipant::DIET_STARTED') %}
                                                    <h6 class="-italic"><i>No Orders Generated</i></h6>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="alert alert-danger">
                            Biospecimen collections are not available because this participant is paired with another site.
                        </p>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="col-md-12">
                <br><p class="alert alert-danger">Participant did not consented.</p>
            </div>
        {% endif %}
    {% endif %}
        </div>
    </div>
    {% include 'partials/modals/participant-barcode.html.twig' %}
{% endblock %}
{% block pagejs %}
    {{ encore_entry_script_tags('nph-participant-summary') }}
{% endblock %}
