{% extends 'base.html.twig' %}

{% import 'program/nph/order/macros/display-text.html.twig' as macros %}

{% block title %} NPH Participant Summary {% endblock %}

{% block body %}
    {% if hasNoParticipantAccess %}
    <div class="row">
        <div class="col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa" aria-hidden="true"></i>Warning</h3>
                </div>
                <div class="panel-body">
                    The participant you have selected is paired with another enrollment site. Please verify that
                    this is the correct participant. By continuing, you acknowledge that you have a valid need to
                    access this record. Access to this record will be audited and is subject to review. Unauthorized
                    access to records may result in loss of access to HealthPro.
                </div>
                <div class="modal-footer text-right">
                    {{ form_start(agreeForm) }}
                    {{ form_widget(agreeForm.Acknowledge) }}
                    <a href="{{ path('nph_participants') }}" class="btn btn-default">Cancel</a>
                    {{ form_end(agreeForm) }}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="page-header row participant-name">
        <h2>
            {{ participant.lastName }}, {{ participant.firstName }}
            <span class="label label-warning nph-module-badge nph-module-1" style="font-size: small">NPH Module 1</span>
        </h2>
    </div>
    <div class="page-header row participant-information">
        <div class="col-md-9">
            {% include 'program/nph/order/partials/participant-details.html.twig' %}
        </div>
        <div class="col-md-3">
            <svg id="participantBarcode" data-id="{{ participant.id }}"></svg>
        </div>
    </div>
    {% if cacheEnabled %}
        <div class="row pull-right">
            Last updated: {{ participant.cacheTime ? participant.cacheTime|date('g:ia', app.user.timezone) }}
            <a href="{{ path('nph_participant_summary', { participantId: participant.id, refresh: 1 }) }}"
               class="btn btn-primary btn-xs">
                <i class="fa fa-refresh" aria-hidden="true"></i>
                Refresh
            </a>
        </div>
    {% endif %}
    <div class="col-md-12" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            {% for moduleNumber, module in programSummaryAndOrderInfo if moduleNumber <= 3 %}
                {% if loop.first %}
                    {% set tabActive = 'active' %}
                {% else %}
                    {% set tabActive = '' %}
                {% endif %}
                <li role="presentation" class="participant-module {{ tabActive }}" data-moduleNumber="{{ moduleNumber }}"><a>NPH
                        Module {{ moduleNumber }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-2 participant-activity-div">
        <ul class="nav nav-pills">
            <li role="presentation" class="participant-activity active" ><a>Collections</a></li>
        </ul>
    </div>
    <div class="col-sm-10 participant-modules">
        {% if participant.nphPairedSiteSuffix == app.session.get('site').id %}
            {% for moduleNumber, module in programSummaryAndOrderInfo %}
            {% if loop.first %}
                {% set modulePanelDisplay = '' %}
            {% else %}
                {% set modulePanelDisplay = 'hidden' %}
            {% endif %}
            <div class="ModuleGroup {{ modulePanelDisplay }}" id="ModuleGroup{{ moduleNumber }}">
                <div>
                    <h4 class="col-md-12 participant-module-header">NPH Module {{ moduleNumber }} Collections</h4>
                    {% if participant.module1TissueConsentStatus %}
                        <span title="The participant has opted into hair and nail collections" data-toggle="tooltip" data-container="body" class="label label-success hair-nail-optin"><i class="glyphicon glyphicon-ok"></i> Hair & Nail Opt-In</span>
                    {% else %}
                        <span title="The participant has <u>not</u> opted into hair and nail collections"  data-html="true" data-toggle="tooltip" data-container="body" class="label label-danger hair-nail-optin"><i class="glyphicon glyphicon-remove"></i> Hair & Nail Opt-In</span>
                    {% endif %}
                </div>
                {% for VisitCode, visit in programSummaryAndOrderInfo[moduleNumber] %}
                    {% if VisitCode != 'sampleStatusCount' %}
                        <div>
                            <div class="col-md-12 well-sm well" data-toggle="collapse" data-target="#{{ moduleNumber }}Visit{{ VisitCode }}"
                                 role="button" style="font-weight: bold">Visit {{ visit['visitDisplayName'] }}<span class="caret"
                                                                                          style="float: right; margin: 9px 0;"></span></div>
                            <div style="margin-bottom: 20px" id="{{ moduleNumber }}Visit{{ VisitCode }}" class="collapse in">
                                {% if participant.dob %}
                                    <a class="btn btn-primary" role="button"
                                       href="{{ path('nph_generate_oder', {participantId: participant.id, module: moduleNumber, visit: VisitCode}) }}">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Generate Orders and Print Labels
                                    </a>
                                {% else %}
                                    <span class="alert alert-danger no-dob-banner">
                                        <i class="text-danger fa fa-exclamation-circle"></i>
                                        DOB has not been provided. Please enter the DOB via the consent checklist to unlock order generation.
                                    </span>
                                {% endif %}
                                {% if moduleNumber == 3 and dlwSummary[moduleNumber] is defined and dlwSummary[moduleNumber][VisitCode] is defined %}
                                    {% if dlwSummary[moduleNumber][VisitCode] %}
                                        <div class="dlw-collect-bg col-md-5 well well-sm right-float">
                                            <a class="btn dlw-collect-button" role="button"
                                               href="{{ path('nph_dlw_collect', {participantId: participant.id, module: moduleNumber, visit: VisitCode}) }}">
                                                Enter DLW Dosage
                                            </a>
                                            <span class="right-float dlw-collect-text">Last Saved {{ dlwSummary[moduleNumber][VisitCode]|date('n/j/Y g:ia', app.user.timezone) }}</span>
                                        </div>

                                    {% endif %}
                                {% elseif moduleNumber == 3 and (VisitCode == 'OrangeDLW' or VisitCode == 'BlueDLW' or VisitCode == 'PurpleDLW') %}
                                    <div class="dlw-collect-bg col-md-5 well well-sm right-float">
                                    <a class="btn dlw-collect-button" role="button"
                                       href="{{ path('nph_dlw_collect', {participantId: participant.id, module: moduleNumber, visit: VisitCode}) }}">
                                        Enter DLW Dosage
                                    </a>
                                    <span class="right-float dlw-collect-text">Not Completed </span>
                                </div>
                                {% endif %}
                                {% set displayedOrderIDS = [] %}
                                {% set displayedTimePointHeaders = [] %}
                                {% for timepointCode, timepoint in visit['visitInfo'] %}
                                    {% for sampleType, sampleInfo in timepoint['timePointInfo'] %}
                                        {% if sampleInfo['numberSamples'] is not empty %}
                                            {% for sampleCode, sample in sampleInfo %}
                                                {% for orderid, numberSamples in sampleInfo['numberSamples'] %}
                                                    {% if sample is iterable and sample[orderid] is defined and sample[orderid] is iterable and sample[orderid]['healthProOrderId'] not in displayedOrderIDS %}
                                                        {% if timepointCode not in displayedTimePointHeaders %}
                                                            {% set displayedTimePointHeaders = displayedTimePointHeaders|merge([timepointCode]) %}
                                                            <h4>Timepoint | {{ timepoint['timePointDisplayName'] }}</h4>
                                                        {% endif %}
                                                        {% set displayedOrderIDS = displayedOrderIDS|merge([sample[orderid]['healthProOrderId']]) %}
                                                        <div class="well well-sm order-row">
                                                            <div class="clearfix">
                                                            <div class="col-sm-2">{{ sample[orderid]['createDate'] }}</div>
                                                            <div class="col-sm-3"><a
                                                                    href="{{ path('nph_order_collect', {participantId: participant.id, orderId: sample[orderid]['healthProOrderId']}) }}">Order
                                                                    ID: {{ orderid }}</a></div>
                                                            <div class="col-sm-2">{{ sample[orderid]['sampleTypeDisplayName'] }}</div>
                                                            {{ macros.generateStatusLabel(sample[orderid]['orderStatus']) }}
                                                            {% for sampleStatus, sampleStatusCount in programSummaryAndOrderInfo[moduleNumber]['sampleStatusCount'][orderid]|sort %}
                                                            {% if not loop.first %}
                                                                <div class="col-sm-9"></div>
                                                            {% endif %}
                                                            <div class="col-sm-3 float-right">({{ sampleStatusCount }}
                                                                / {{ sampleInfo['numberSamples'][orderid] }}) {{ sampleStatus }}
                                                            </div>
                                                            {% endfor %}
                                                                </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                {% if displayedOrderIDS is empty %}
                                    <h4>No Orders Generated</h4>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        {% else %}
            <p class="alert alert-danger">
                Biospecimen collections are not available because this participant is paired with another site.
            </p>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}
{% block pagejs %}
    {{ encore_entry_script_tags('nph-participant-summary') }}
{% endblock %}
