{% extends 'base.html.twig' %}
{% import 'program/nph/order/macros/display-text.html.twig' as macros %}

{% block title %} NPH Participant Summary {% endblock %}
{% block bodycontainer %} container-responsive ps-5 pe-5 {% endblock %}
{% block body %}
    {% if hasNoParticipantAccess %}
        <div class="row d-flex justify-content-center">
            <div class="col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3 center">
                <div class="card">
                    <div class="card-header bg-danger-subtle">
                        <h3 class="panel-title"><i class="fa" aria-hidden="true"></i>Warning</h3>
                    </div>
                    <div class="card-body">
                        The participant you have selected is paired with another enrollment site. Please verify that
                        this is the correct participant. By continuing, you acknowledge that you have a valid need to
                        access this record. Access to this record will be audited and is subject to review. Unauthorized
                        access to records may result in loss of access to HealthPro.
                    </div>
                    <div class="card-footer text-end">
                        {{ form_start(agreeForm) }}
                        {{ form_widget(agreeForm.Acknowledge) }}
                        <a href="{{ path('nph_participants') }}" class="btn btn-outline-secondary">Cancel</a>
                        {{ form_end(agreeForm) }}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-sm-3 participant-details-col">
                <div class="card participant-details-card">
                    <div class="card-body">
                        <div class="page-header" id="participant-info" data-id="{{ participant.id }}">
                            <h2>
                                    {{ participant.lastName }}, {{ participant.firstName }}
                                    <i class="fa fa-sm fa-barcode clickable" data-bs-toggle="modal" data-bs-target="#participant-barcode-modal" id="participant-barcode-icon"></i>
                            </h2>
                        </div>
                        <hr>
                        <div class="col-sm-12">
                            {% include 'program/nph/order/partials/participant-details-bs5.html.twig' %}
                        </div>
                        <hr>
                        <div class="col-sm-12">
                            {% if cacheEnabled %}
                                <div class="row mb-4">
                                    <div class="col-sm-1">

                                    </div>
                                    <div class="col-sm-6">
                                        Last updated: {{ participant.cacheTime ? participant.cacheTime|date('g:ia', app.user.timezone) }}
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="{{ path('nph_participant_summary', { participantId: participant.id, refresh: 1 }) }}"
                                           class="btn btn-primary btn-xs">
                                            <i class="fa fa-refresh" aria-hidden="true"></i>
                                            Refresh
                                        </a>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-12">
                            {{ macros.displayModuleConsents(programSummaryAndOrderInfo, participant) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                {% if participant.isAouWithdrawn %}
                    {% include 'program/nph/participant/partials/aou-withdrawn-banner.html.twig' with { time: participant.aouConsentStatusTime } %}
                {% else %}
                    {% if participant.isAouDeactivated %}
                        {% include 'program/nph/participant/partials/aou-deactivated-banner.html.twig' with { time: participant.aouConsentStatusTime } %}
                    {% endif %}
                    {% if participant.module %}
                        <div class="row">
                            <div class="col-md-12" role="tabpanel">
                                <ul class="nav nav-tabs" role="tablist">
                                    {% for moduleNumber, module in programSummaryAndOrderInfo|filter((m, num) => num == participant.module or num == 1) %}
                                        {% if activeModule == moduleNumber %}
                                            {% set tabActive = 'active' %}
                                        {% else %}
                                            {% set tabActive = '' %}
                                        {% endif %}
                                        <li role="presentation" class="nav-item participant-module {{ tabActive }}" data-bs-toggle="tab" data-bs-target="#ModuleGroup{{ moduleNumber }}" data-moduleNumber="{{ moduleNumber }}" type="button" role="tab"><a class="nav-link">NPH
                                                Module {{ moduleNumber }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 participant-modules tab-content">
                                {% if participant.nphPairedSiteSuffix == app.session.get('site').id %}
                                    {% for moduleNumber, module in programSummaryAndOrderInfo|filter((m, num) => num == participant.module or num == 1) %}
                                        {% if activeModule == moduleNumber %}
                                            {% set modulePanelDisplay = 'show active' %}
                                        {% else %}
                                            {% set modulePanelDisplay = '' %}
                                        {% endif %}
                                        <div class="tab-pane fade ModuleGroup {{ modulePanelDisplay }}" id="ModuleGroup{{ moduleNumber }}">
                                            {% set nphModuleWithdrawnFlag = attribute(participant, 'isNphModule' ~ moduleNumber ~ 'Withdrawn') %}
                                            {% if nphModuleWithdrawnFlag %}
                                                {% set consentStatusTime = attribute(participant, 'module' ~ moduleNumber ~ 'NphConsentStatusTime') %}
                                                {% include 'program/nph/participant/partials/nph-module-withdrawn-banner.html.twig' with { time: consentStatusTime } %}
                                            {% else %}
                                                <div class="row">
                                                <div class="col-sm-1-5 pe-0 border-end border-dark-subtle me-2">
                                                    <ul class="nav flex-column">
                                                        {% if moduleNumber == 1 %}
                                                            <li class="nav-item">
                                                                <div class="row participant-diet-period">
                                                                    {% set dietPeriodStatus = dietPeriodStatusMap[moduleDietPeriodsStatus[moduleNumber]['LMT']] %}
                                                                    <div class="col-sm-2">
                                                                        <i class="fs-4 fa {{ dietPeriodStatus['statusIcon'] }} {{ dietPeriodStatus['textClass'] }} }}"></i>
                                                                    </div>
                                                                    <div class="col-sm-10 ps-0">
                                                                        <a class="pt-0 pb-0 nav-link diet-period-label text-dark font-bold active" aria-current="page" href="#" data-bs-toggle="tab" data-bs-target="#LMT" data-period="LMT" role="tab">Module 1</a>
                                                                        <span class="fs-xs ms-3 {{ dietPeriodStatus['textClass'] }}" data-diet-period-status="{{ moduleDietPeriodsStatus[moduleNumber]['LMT'] }}" id="diet_period_status_{{ moduleNumber }}_LMT">{{ dietPeriodStatus['text'] }}</span>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        {% else %}
                                                            {% for dietPeriod in ['Period1', 'Period2', 'Period3'] %}
                                                                <li class="nav-item">
                                                                    <div class="row mb-2 participant-diet-period">
                                                                        {% set dietPeriodStatus = dietPeriodStatusMap[moduleDietPeriodsStatus[moduleNumber][dietPeriod]] %}
                                                                        <div class="col-sm-2">
                                                                            <i class="fs-4 fa {{ dietPeriodStatus['statusIcon'] }} {{ dietPeriodStatus['textClass'] }} }}"></i>
                                                                        </div>
                                                                        <div class="col-sm-10 ps-0">
                                                                            {% set disabled = '' %}
                                                                            {% if dietPeriod != 'Period1' %}
                                                                                {% set previousDietPeriodStatus = moduleDietPeriodsStatus[moduleNumber][dietPeriod == 'Period2' ? 'Period1' : 'Period2'] %}
                                                                                {% if previousDietPeriodStatus == constant('App\\Helper\\NphDietPeriodStatus::NOT_STARTED') %}
                                                                                    {% set disabled = 'disabled' %}
                                                                                {% endif %}
                                                                            {% endif %}
                                                                            <a class="pt-0 pb-0 nav-link diet-period-label text-dark font-bold {{ disabled}} {% if dietPeriod == activeDietPeriod %} active {% endif %}" aria-current="page" href="#" data-bs-toggle="tab" data-bs-target="#{{ dietPeriod }}" data-period="{{ dietPeriod }}" role="tab">
                                                                                Diet {{ dietPeriod|replace({'Period': 'Period '}) }}
                                                                            </a>
                                                                            <span class="pt-0 fs-xs ms-3 {{ dietPeriodStatus['textClass'] }}" data-diet-period-status="{{ moduleDietPeriodsStatus[moduleNumber][dietPeriod] }}" id="diet_period_status_{{ moduleNumber }}_{{ dietPeriod }}">
                                                                                {{ dietPeriodStatus['text'] }}
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                                <div class="col-sm-10 ps-0">
                                                    {% set nphModuleDeactivatedFlag = attribute(participant, 'isNphModule' ~ moduleNumber ~ 'Deactivated') %}
                                                    {% if nphModuleDeactivatedFlag %}
                                                        {% set consentStatusTime = attribute(participant, 'module' ~ moduleNumber ~ 'NphConsentStatusTime') %}
                                                        {% include 'program/nph/participant/partials/nph-module-deactivated-banner.html.twig' with { time: consentStatusTime } %}
                                                    {% endif %}
                                                    {% if not participant.isAouDeactivated and not nphModuleDeactivatedFlag %}
                                                        <div class="float-end">
                                                            <a class="badge btn me-2 rounded-1 border-1 border-secondary border fw-semibold text-black text-decoration-none {% if sampleStatusCounts[moduleNumber]['active'] is defined and  sampleStatusCounts[moduleNumber]['active'] == 0%} disabled {% endif%}"  href="{{ path('nph_samples_modify_all', {participantId: participant.id, module: moduleNumber, type: 'cancel'}) }}">
                                                                Cancel All
                                                            </a>
                                                            <span role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="The 'Cancel All' feature allows users to cancel all samples within the current <span class='text-decoration-underline'>Module</span>">
                                                                <i class="fa fa-exclamation-circle text-primary"></i>
                                                            </span>
                                                        </div>
                                                    {% endif %}
                                                    {% set dietPeriodNumbers = moduleNumber == 1 ? ['LMT'] :['Period1', 'Period2', 'Period3'] %}
                                                    <div class="tab-content" id="myTabContent">
                                                        {% for dietPeriodNumber in dietPeriodNumbers %}
                                                            <div class="tab-pane fade {% if dietPeriodNumber == 'LMT' or dietPeriodNumber == activeDietPeriod %} show active{% endif %}" id="{{ dietPeriodNumber }}">
                                                                <div class="row">
                                                                    <div class="col-md-8">
                                                                        {% set dietPeriodStatus = dietPeriodStatusMap[moduleDietPeriodsStatus[moduleNumber][dietPeriodNumber]] %}
                                                                        <p class="text-lg-start">
                                                                            NPH Module {{ moduleNumber }} Collections: <strong>Diet {{ dietPeriodNumber|replace({'Period': 'Period '}) }}</strong>
                                                                            {% set toolTipMessage = '' %}
                                                                            {% if dietPeriodStatus['toolTipStatus'] is defined %}
                                                                                {% if moduleNumber == 1 %}
                                                                                    {% set toolTipMessage = dietToolTipMessages[dietPeriodStatus['toolTipStatus'] ~ '_1'] %}
                                                                                {% else %}
                                                                                    {% set toolTipMessage = dietToolTipMessages[dietPeriodStatus['toolTipStatus']] %}
                                                                                {% endif %}
                                                                            {% endif %}
                                                                            <span class="badge fs-8 ms-1 {{ dietPeriodStatus['badgeClass'] }}"
                                                                                {% if toolTipMessage %} data-bs-toggle="tooltip" title="{{ toolTipMessage }}" {% endif %}>
                                                                                <i class="fa {{ dietPeriodStatus['badgeIcon'] }}"></i>
                                                                                {{ dietPeriodStatus['text'] }}
                                                                            </span>
                                                                        </p>
                                                                        {% if module.moduleCreationSite is not null %}
                                                                            <p class="aou-blue font-bold">Collection Site: {{ siteInfo.getNphSiteDisplayName(module.moduleCreationSite) }}</p>
                                                                        {% endif %}
                                                                    </div>
                                                                    {% if moduleDietPeriodsStatus[moduleNumber][dietPeriodNumber] != constant('App\\Helper\\NphDietPeriodStatus::NOT_STARTED') %}
                                                                        <div class="col-md-4">
                                                                            {% set dietPeriodStatus = dietPeriodStatusMap[moduleDietPeriodsStatus[moduleNumber][dietPeriodNumber]] %}
                                                                            {% set sampleChecked = '' %}
                                                                            {% for sampleProcessing in sampleProcessingStatusByModule %}
                                                                                {% if sampleProcessing.period ==  dietPeriodNumber and sampleProcessing.status == 1 %}
                                                                                    {% set sampleChecked = 'checked' %}
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                            {% if not participant.isAouDeactivated and not nphModuleDeactivatedFlag %}
                                                                                <div class="btn-group btn-group-toggle" id="sample_process_box_{{ dietPeriodNumber }}">
                                                                                    <label class="btn btn-sm {% if sampleChecked %} btn-success {% else %} btn-outline-success {% endif %}">
                                                                                        <input class="form-check-input sample-process-complete-check" id="sample_process_complete_check_{{ dietPeriodNumber }}" type="checkbox" value="1"
                                                                                           data-visit-type="{{ dietPeriodNumber }}" data-module-number="{{ moduleNumber }}" data-diet-status="{{ moduleDietPeriodsStatus[moduleNumber][dietPeriodNumber] }}" {{ sampleChecked }}>
                                                                                        Sample Processing Complete
                                                                                    </label>
                                                                                </div>
                                                                            {% endif %}
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                                <button data-href="{{ path('quickView', { participantId: participant.id, module: moduleNumber, bootstrapVersion: 5 }) }}" class="btn btn-primary btn-xs float-end quick-view-btn"><i class="fa fa-eye"></i> Quick View</button>
                                                                <br>
                                                                <hr>
                                                            {% for VisitCode, visit in programSummaryAndOrderInfo[moduleNumber] %}
                                                                {% set dietVisitCode = moduleNumber == 1 ? VisitCode|slice(0,3) : VisitCode|slice(0,7)  %}
                                                                {% if dietPeriodNumber == dietVisitCode %}
                                                                    {% if VisitCode != 'sampleStatusCount' and VisitCode != 'moduleCreationSite' %}
                                                                        {% set visitDiet = visit['visitDiet'] %}
                                                                        {% set moduleDietStatus = 'module' ~ moduleNumber ~ 'DietPeriod' %}
                                                                        {% set participantDietStatus =  attribute(participant, moduleDietStatus)[visitDiet] is defined ? attribute(participant, moduleDietStatus)[visitDiet] : '' %}
                                                                        {% if moduleNumber == 3 and VisitCode in ['Period1DLW', 'Period2DLW', 'Period3DLW'] %}
                                                                            {% set textDivSize = 'col-md-9' %}
                                                                            {% set dlwDiet = true %}
                                                                        {% else %}
                                                                            {% set textDivSize = 'col-md-12' %}
                                                                            {% set dlwDiet = false %}
                                                                        {% endif %}
                                                                        <div class="card mb-2 period-diet-visits">
                                                                            {% set dietPeriodStatus = dietPeriodStatusMap[moduleDietPeriodsStatus[moduleNumber][dietPeriodNumber]] %}
                                                                            <div class="card-header bg-secondary-subtle pb-0 {{ dietPeriodStatus['dietCardClass']|default('') }}" style="font-weight: bold">
                                                                                <span class="diet-visit-status-text fs-6 pe-2" data-diet-period-status="{{ moduleDietPeriodsStatus[moduleNumber][dietPeriodNumber] }}">{{ moduleVisitMapper[moduleNumber~'_'~VisitCode]|default(visit['visitDisplayName']) }}</span>
                                                                                {% if moduleDietPeriodsStatus[moduleNumber][dietPeriodNumber] != constant('App\\Helper\\NphDietPeriodStatus::ERROR_IN_PROGRESS_UNFINALIZED_COMPLETE') and moduleDietPeriodsStatus[moduleNumber][dietPeriodNumber] != constant('App\\Helper\\NphDietPeriodStatus::IN_PROGRESS_FINALIZED_COMPLETE') %}
                                                                                    {% set warningDisplayed = 0 %}
                                                                                    {% for generateOrderWarningLog in generateOrderWarningLogByModule %}
                                                                                        {% if generateOrderWarningLog.period ==  dietPeriodNumber %}
                                                                                            {% set warningDisplayed = 1 %}
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                    {% set generateOrderVisitType = VisitCode|replace({'Stool': ''}) %}
                                                                                    {% set generateOrderType = 'other' %}
                                                                                    {% if VisitCode|slice(-5) == 'Stool' %}
                                                                                        {% set generateOrderType = 'stool' %}
                                                                                    {% endif %}
                                                                                    {% if not participant.isAouDeactivated and not nphModuleDeactivatedFlag %}
                                                                                        <a class="btn btn-primary btn-xs m-0 generate-orders-button" data-module="{{ moduleNumber }}" data-period="{{ dietPeriodNumber }}" data-warning-displayed="{{ warningDisplayed }}"
                                                                                           role="button" href="{{ path('nph_generate_oder', {participantId: participant.id, module: moduleNumber, visit: generateOrderVisitType, orderType: generateOrderType}) }}">
                                                                                            <i class="fa fa-plus-circle"></i> Generate Orders
                                                                                        </a>
                                                                                    {% endif %}
                                                                                {% endif %}
                                                                                <span class="text-danger diet-visit-status-icon" id="diet_visit_status_icon_{{ VisitCode }}" style="display: none;"><i class="fs-5 fa fa-exclamation-triangle" data-bs-toggle="tooltip" data-bs-placement="right" title="Incomplete Samples" ></i></span>
                                                                                {% set sampleProcessingComplete = false %}
                                                                                {% for sampleProcessing in sampleProcessingStatusByModule %}
                                                                                    {% if sampleProcessing.period ==  dietPeriodNumber and sampleProcessing.status == 1 %}
                                                                                        {% set sampleProcessingComplete = true %}
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                                <span class="float-end collapse-carat {% if sampleProcessingComplete %} collapsed {% endif %} fs-4" role="button" data-bs-toggle="collapse" data-bs-target="#{{ moduleNumber }}Visit{{ VisitCode }}"></span>
                                                                            </div>
                                                                            <div style="margin-bottom: 20px" id="{{ moduleNumber }}Visit{{ VisitCode }}" class="diet-visit-type {% if sampleProcessingComplete %} collapse {% else %} show {% endif %} card-body accordion-collapse">
                                                                                <div class="row">
                                                                                    {% if participant.dob %}
                                                                                        <br>
                                                                                        <div class="{{ textDivSize }} ps-1">
                                                                                            {% set displayDietColorWarning = false %}
                                                                                            {% if moduleNumber in [2, 3] %}
                                                                                                {% for timepointCode, timepoint in visit['visitInfo'] %}
                                                                                                    {% for sampleType, sampleInfo in timepoint['timePointInfo'] %}
                                                                                                        {% if sampleInfo['numberSamples'] is not empty and not displayDietColorWarning %}
                                                                                                            {% for sampleCode, sample in sampleInfo %}
                                                                                                                {% for orderid, numberSamples in sampleInfo['numberSamples']|filter((n, id) => not displayDietColorWarning) %}
                                                                                                                    {% if sample[orderid] is defined and sample[orderid] is iterable and sample[orderid]['oldVisitType'] is not empty %}
                                                                                                                        {% set displayDietColorWarning = true %}
                                                                                                                    {% endif %}
                                                                                                                {% endfor %}
                                                                                                            {% endfor %}
                                                                                                        {% endif %}
                                                                                                    {% endfor %}
                                                                                                {% endfor %}
                                                                                            {% endif %}
                                                                                            {% if displayDietColorWarning %}
                                                                                                <div class="text-discontinue pb-2">
                                                                                                    <i class="fa fa-exclamation-circle"></i> Samples in this visit were collected using “diet color”. All order information has been updated to now follow “diet period”.
                                                                                                </div>
                                                                                            {% endif %}
                                                                                        </div>
                                                                                        {% if not participant.isAouDeactivated and not nphModuleDeactivatedFlag %}
                                                                                            {% if moduleNumber == 3 and dlwSummary[moduleNumber] is defined and dlwSummary[moduleNumber][VisitCode] is defined %}
                                                                                                {% if dlwSummary[moduleNumber][VisitCode] %}
                                                                                                    <div class="col-md-3 well well-sm right-float">
                                                                                                        <div class="col-sm-12 d-flex justify-content-center" {% if visit['dlwGenerated'] is defined and visit['dlwGenerated'] == false %} data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="At least one DLW order must be generated to enter DLW Dosage information." {% endif %}>
                                                                                                            <a class="text-center btn dlw-collect-button mb-2 {% if visit['dlwGenerated'] is defined and visit['dlwGenerated'] == false %} disabled {% endif %}" role="button"
                                                                                                               href="{{ path('nph_dlw_collect', {participantId: participant.id, module: moduleNumber, visit: VisitCode}) }}">
                                                                                                                Enter DLW Dosage
                                                                                                            </a>
                                                                                                        </div>
                                                                                                        <div class="col-sm-12 d-flex justify-content-center">
                                                                                                            <span class="dlw-collect-text">Last Saved {{ dlwSummary[moduleNumber][VisitCode]|date('n/j/Y g:ia', app.user.timezone) }}</span>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                {% endif %}
                                                                                            {% elseif dlwDiet %}
                                                                                                <div class="col-md-3 well well-sm right-float">
                                                                                                    <div class="col-sm-12 d-flex justify-content-center" {% if visit['dlwGenerated'] is defined and visit['dlwGenerated'] == false %} data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="At least one DLW order must be generated to enter DLW Dosage information." {% endif %}>
                                                                                                        <a class="text-center btn dlw-collect-button align-middle inline nowrap{% if visit['dlwGenerated'] is defined and visit['dlwGenerated'] == false %} disabled {% endif %}" role="button"
                                                                                                           href="{{ path('nph_dlw_collect', {participantId: participant.id, module: moduleNumber, visit: VisitCode}) }}">
                                                                                                            Enter DLW Dosage
                                                                                                        </a>
                                                                                                    </div>
                                                                                                    <div class="col-sm-12 d-flex justify-content-center">
                                                                                                        <span class="dlw-collect-text">Not Completed </span>
                                                                                                    </div>
                                                                                                </div>
                                                                                            {% endif %}
                                                                                        {% endif %}
                                                                                    {% else %}
                                                                                        {% if not participant.isAouDeactivated and not nphModuleDeactivatedFlag %}
                                                                                            <div class="{{ textDivSize }}">
                                                                                                <span class="alert alert-danger no-dob-banner">
                                                                                                    <i class="text-danger fa fa-exclamation-circle"></i>
                                                                                                    DOB has not been provided. Please enter the DOB via the consent checklist to unlock order generation.
                                                                                                </span>
                                                                                            </div>
                                                                                        {% endif %}
                                                                                    {% endif %}
                                                                                </div>
                                                                                {% set displayedOrderIDS = [] %}
                                                                                {% set displayedTimePointHeaders = [] %}
                                                                                {% for timepointCode, timepoint in visit['visitInfo'] %}
                                                                                    {% for sampleType, sampleInfo in timepoint['timePointInfo'] %}
                                                                                        {% if sampleInfo['numberSamples'] is not empty %}
                                                                                            {% for sampleCode, sample in sampleInfo %}
                                                                                                {% for orderid, numberSamples in sampleInfo['numberSamples'] %}
                                                                                                    {% if sample is iterable and sample[orderid] is defined and sample[orderid] is iterable and sample[orderid]['healthProOrderId'] not in displayedOrderIDS %}
                                                                                                        {% if timepointCode not in displayedTimePointHeaders %}
                                                                                                            {% set displayedTimePointHeaders = displayedTimePointHeaders|merge([timepointCode]) %}
                                                                                                            <div class="row">
                                                                                                                <div class="col-md-12">
                                                                                                                    <h6>Timepoint | {{ timepoint['timePointDisplayName'] }}</h6>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        {% endif %}
                                                                                                        {% set displayedOrderIDS = displayedOrderIDS|merge([sample[orderid]['healthProOrderId']]) %}
                                                                                                        <div class="card mb-2">
                                                                                                            <div class="card-header">
                                                                                                                <div class="clearfix w-100">
                                                                                                                    <div class="d-inline-block w-10 align-top"><span >{{ sample[orderid]['createDate'] }}</span></div>
                                                                                                                    <div class="d-inline-block w-25 align-top"><span><a
                                                                                                                            href="{{ path('nph_order_collect', {participantId: participant.id, orderId: sample[orderid]['healthProOrderId']}) }}">Order
                                                                                                                    ID: {{ orderid }}</a></span></div>
                                                                                                                    <div class="d-inline-block w-15 align-top"><span>{{ sample[orderid]['sampleTypeDisplayName'] }}</span></div>
                                                                                                                    <div class="d-inline-block w-15 align-top diet-visit-status" data-diet-visit-status="{{ sample[orderid]['orderStatus'] }}">{{ macros.generateStatusLabel(sample[orderid]['orderStatus']) }}</div>
                                                                                                                    <div class="d-inline-block w-10 align-middle">
                                                                                                                        {% for sampleStatus, sampleStatusCount in programSummaryAndOrderInfo[moduleNumber]['sampleStatusCount'][orderid]|sort %}
                                                                                                                            {% if not loop.first %}
                                                                                                                                <span></span>
                                                                                                                            {% endif %}
                                                                                                                            <span>({{ sampleStatusCount }}
                                                                                                                    / {{ sampleInfo['numberSamples'][orderid] }}) {{ sampleStatus }}
                                                                                                                        </span>
                                                                                                                        {% endfor %}
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    {% endif %}
                                                                                                {% endfor %}
                                                                                            {% endfor %}
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                {% endfor %}
                                                                                {% if displayedOrderIDS is empty %}
                                                                                    <h6 class="-italic float-start"><i class="no-orders-generate">No Orders Generated</i></h6>
                                                                                {% endif %}
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p class="alert alert-danger">
                                        Biospecimen collections are not available because this participant is paired with another site.
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-12">
                            <br><p class="alert alert-danger">Participant did not consented.</p>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% include 'partials/modals/participant-barcode.html.twig' %}
    {% include 'program/nph/participant/partials/sample-process-complete-modal.html.twig' %}
    <div id="quick_view_modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}
{% block pagejs %}
    {{ encore_entry_script_tags('nph-participant-summary') }}
    {{ encore_entry_script_tags('nph-quick-view') }}
{% endblock %}
