<div class="modal-header">
    <span class="aou-blue h5">
        Quick View
        <span class="text-muted h6">
            {{ participant.lastName }} {{ participant.firstName }} ({{ participant.id }})
        </span>
    </span>
    <span class="float-end h6">Module {{ module }}</span>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="accordion" id="accordionPeriods">
                {% set currentPeriod = null %}
                {% for order in orders %}
                {% set period = order.visitPeriod|split('Period') %}
                {% if period|length > 1 %}
                    {% set periodName = 'Period ' ~ period[1]|replace({'Diet': '', 'DLW': '', 'DSMT': '', 'LMT': ''}) %}
                {% else %}
                    {% set periodName = order.visitPeriod %}
                {% endif %}

                {% if periodName != currentPeriod %}
                {% if currentPeriod is not null %}
                    <!-- Closing the previous accordion-item -->
                    </tbody>
                    </table>
                    </div> <!-- Closes the accordion-body for the previous period -->
                    </div> <!-- Closes the accordion-collapse for the previous period -->
                    </div> <!-- Closes the accordion-item for the previous period -->
                {% endif %}

                <!-- Collapsible Section for Each Period -->
                <div class="accordion-item border-bottom">
                    <h2 class="accordion-header" id="heading{{ loop.index }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse{{ loop.index }}" aria-expanded="false"
                                aria-controls="collapse{{ loop.index }}">
                            {{ periodName }}
                        </button>
                    </h2>
                    <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}">
                        <div class="accordion-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Visit</th>
                                    <th>Timepoint</th>
                                    <th>Order ID</th>
                                    <th>Sample</th>
                                    <th>Collection Sample ID</th>
                                    <th>Order Generation Time</th>
                                    <th>Collection Time</th>
                                    <th>Finalization Time</th>
                                    <th>Current Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set currentPeriod = periodName %}
                                {% endif %}

                                {% for sample in order.nphSamples %}
                                    <tr>
                                        <td>{{ order.visitPeriod }}</td>
                                        <td>{{ order.timepoint }}</td>
                                        <td>{{ order.orderId }}</td>
                                        <td>{{ sample.sampleCode }}</td>
                                        <td>{{ sample.sampleId }}</td>
                                        <td>{{ order.createdTs|date('n/j/Y g:ia', app.user.timezone) }}</td>
                                        <td>{{ sample.collectedTs ? sample.collectedTs|date('n/j/Y g:ia', app.user.timezone) : '' }}</td>
                                        <td>{{ sample.finalizedTs ? sample.finalizedTs|date('n/j/Y g:ia', app.user.timezone) : '' }}</td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                                {% endfor %}

                                {% if currentPeriod is not null %}
                                <!-- Closing the final accordion-item and collapsible section for the last period -->
                                </tbody>
                            </table>
                        </div> <!-- Closes the accordion-body for the last period -->
                    </div> <!-- Closes the accordion-collapse for the last period -->
                </div> <!-- Closes the accordion-item for the last period -->
                {% endif %}
            </div> <!-- Closes the accordion container -->
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
</div>
