{% macro displaySampleStatus(nphSample) %}
    {% set type = nphSample.modifyType %}
    {% set status = '' %}
    {% if type == constant('App\\Entity\\NphSample::CANCEL') %}
        {% set status = 'Cancelled' %}
    {% elseif type == constant('App\\Entity\\NphSample::UNLOCK') %}
        {% set status = 'Unlocked' %}
    {% elseif nphSample.finalizedTs %}
        {% set status = 'Finalized' %}
    {% elseif nphSample.collectedTs %}
        {% set status = 'Collected' %}
    {% else %}
        {% set status = 'Created' %}
    {% endif %}
    {{ status }}
{% endmacro %}
<div class="modal-header">
    <span class="aou-blue h5">
        Quick View
        <span class="text-muted h6">
            {{ participant.lastName }} {{ participant.firstName }} ({{ participant.id }})
        </span>
    </span>
    <span class="float-end h6">Module {{ module }}</span>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="accordion" id="accordionPeriods">
                {% set modulePeriods = ['Period1', 'Period2', 'Period3'] %}
                {% for period in modulePeriods %}
                    <div class="accordion-item border-bottom">
                        <h2 class="accordion-header" id="heading{{ period }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ period }}" aria-expanded="false" aria-controls="collapse{{ period }}">
                                {{ period }}
                            </button>
                        </h2>
                        <div id="collapse{{ period }}" class="accordion-collapse collapse" aria-labelledby="heading{{ period }}" data-bs-parent="#accordionPeriods">
                            <div class="accordion-body">
                                <table class="table table-bordered table-small">
                                    <thead>
                                    <tr>
                                        <th>Visit</th>
                                        <th>Timepoint</th>
                                        <th>Order ID</th>
                                        <th>Sample</th>
                                        <th>Collection Sample ID</th>
                                        <th>Order Generation Time</th>
                                        <th>Collection Time</th>
                                        <th>Finalization Time</th>
                                        <th>Current Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for visit, timepoints in visitTimePointSamples %}
                                        {% if visit starts with period %}
                                            {% set visitSuffix = visit|split(period)|last %}
                                            {% for timepoint, samples in timepoints %}
                                                {% for sampleCode, sampleDescription in samples %}
                                                    {% set matchedOrder = null %}
                                                    {% set matchedSample = null %}
                                                    {% for order in orders %}
                                                        {% if order.visitPeriod == visit and order.timepoint == timepoint %}
                                                            {% for nphSample in order.nphSamples %}
                                                                {% if nphSample.sampleCode == sampleCode %}
                                                                    {% set matchedOrder = order %}
                                                                    {% set matchedSample = nphSample %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    <tr>
                                                        <td>{{ visitSuffix }} Visit</td>
                                                        <td>{{ timepoint }}</td>
                                                        <td>{{ matchedOrder ? matchedOrder.orderId : '--' }}</td>
                                                        <td>{{ matchedSample ? matchedSample.sampleId: '--' }}</td>
                                                        <td>{{ sampleDescription }}</td>
                                                        <td>{{ matchedOrder ? matchedOrder.createdTs|date('n/j/Y g:ia', app.user.timezone) : '--' }}</td>
                                                        <td>{{ matchedSample and matchedSample.collectedTs ? matchedSample.collectedTs|date('n/j/Y g:ia', app.user.timezone) : '--' }}</td>
                                                        <td>{{ matchedSample and matchedSample.finalizedTs ? matchedSample.finalizedTs|date('n/j/Y g:ia', app.user.timezone) : '--' }}</td>
                                                        <td>{{ matchedSample ? _self.displaySampleStatus(matchedSample) : 'Not Created' }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
</div>
