{% extends 'base.html.twig' %}
{% block title %}Admin - {% endblock %}
{% block body %}
    <div class="page-header">
        <h2><i class="fa fa-cog" aria-hidden="true"></i> Admin</h2>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <a href="{{ path('admin_sites') }}" class="btn btn-lg btn-default btn-block"><i class="fa fa-hospital-o" aria-hidden="true"></i> Sites</a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="{{ path('admin_withdrawalNotifications') }}" class="btn btn-lg btn-default btn-block"><i class="fa fa-bell" aria-hidden="true"></i> Withdrawal Notifications</a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="{{ path('admin_notices') }}" class="btn btn-lg btn-default btn-block"><i class="fa fa-info-circle" aria-hidden="true"></i> Page Notices</a>
        </div>
    </div>

    <div class="text-center small" style="margin-top: 100px;">
        <strong>Debug tools:</strong> <a href="{{ path('admin_missingMeasurements') }}">Missing Physical Measurements</a> &bull; <a href="{{ path('admin_missingOrders') }}">Missing Biobank Orders</a>
        {% if not app.isProd %}
            &bull; <a href="{{ path('admin_participants') }}">Testing</a>
        {% endif %}
    </div>
{% endblock %}
