{% extends 'admin/base.html.twig' %}
{% block title %}Edit Site - {% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="{{ path('home') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_home') }}">Admin</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_sites') }}">Site Management</a></li>
            <li class="breadcrumb-item active">{{ site ? 'Edit' : 'Create' }} Site</li>
        </ol>
    </nav>
    <div class="page-header border-bottom">
        <h2><i class="fa fa-hospital-o" aria-hidden="true"></i> {{ site ? 'Edit' : 'Create' }} Site</h2>
    </div>
    <div class="row justify-content-center my-4">
        <div class="col-sm-6 col-sm-offset-3">
            {{ form_start(siteForm, { attr: { class: 'warn-unsaved disable-enter prevent-resubmit' } }) }}
            {{ form_errors(siteForm) }}
            {{ form_rest(siteForm) }}
            <button type="submit" class="btn btn-primary">Save Site</button>
            <a class="btn btn-secondary" href="{{ path('admin_sites') }}">Cancel</a>
            {% if site %}
                <button type="submit" name="delete" class="btn btn-danger float-end confirm">Delete Site</button>
            {% endif %}
            {{ form_end(siteForm) }}
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('admin-edit-site') }}
{% endblock %}
