{% extends 'base.html.twig' %}
{% block title %}{{ notification.id ? 'Edit' : 'Create' }} Feature Notification - {% endblock %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('admin_home') }}">Admin</a></li>
        <li><a href="{{ path('admin_feature_notifications') }}">Feature Notifications</a></li>
        <li class="active">{{ notification.id ? 'Edit' : 'Create' }} Feature Notification</li>
    </ol>
    <div class="page-header">
        <h2><i class="fa fa-info-circle" aria-hidden="true"></i> {{ notification.id ? 'Edit' : 'Create' }} Feature
            Notification</h2>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            {{ form_start(form, { attr: { class: 'warn-unsaved prevent-resubmit' } }) }}
            {{ form_errors(form) }}
            <label>Enable Notification?</label>
            {{ form_row(form.status) }}
            {{ form_row(form.title) }}
            {{ form_row(form.message) }}
            <label>Enable "View New Feature" button?</label>
            {{ form_row(form.new_feature_status) }}
            {{ form_row(form.url) }}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Timing</h3>
                </div>
                <div class="panel-body">
                    {% set return = path('admin_feature_notification', { notification: notification ? notification.id : null }) %}
                    <p>
                        <strong>Your time zone</strong>: {{ timezone_display(app.user.info.timezone)|default('Not set!') }}
                        <a href="{{ path('settings', { return: settings_return_url }) }}" class="small">change</a>
                    </p>
                    {{ form_rest(form) }}
                    <div class="alert alert-info">
                        <ul>
                            <li><strong>No start or end time</strong>: Notification will be displayed unless until it is
                                disabled or deleted.
                            </li>
                            <li><strong>Start time only</strong>: Notification will display from the start time
                                indefinitely into the future.
                            </li>
                            <li><strong>End time only</strong>: Notification will display starting now until the end
                                time is reached.
                            </li>
                            <li><strong>Start and end time</strong>: Notification will display between the start and end
                                times.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <p>
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-default" href="{{ path('admin_feature_notifications') }}">Cancel</a>
                {% if notification %}
                    <button type="submit" name="delete" class="btn btn-danger pull-right confirm">Delete</button>
                {% endif %}
            </p>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('feature-notification') }}
{% endblock %}
