{% set bootstrapVersion = 5 %}
{% extends 'render-base.html.twig' %}
{% block title %}Participants - {% endblock %}
{% block body %}
    {% form_theme searchForm 'bootstrap_5_layout.html.twig' %}
    {% form_theme idForm 'bootstrap_5_layout.html.twig' %}
    {% form_theme emailForm 'bootstrap_5_layout.html.twig' %}
    {% form_theme phoneForm 'bootstrap_5_layout.html.twig' %}
    {% form_theme biobankIdForm 'bootstrap_5_layout.html.twig' %}
    <div class="page-header border-bottom">
        <h2><i class="fa fa-user" aria-hidden="true"></i> Participant Lookup</h2>
    </div>
    <div class="row mt-4">
        <div class="col-sm-6">
            <h3><i class="fa fa-search" aria-hidden="true"></i> Search</h3>
            {{ form_start(searchForm, { attr: { class: 'prevent-resubmit' } }) }}
            {{ form_widget(searchForm) }}
            <p>
                <button type="submit" class="btn btn-primary">Search</button>
            </p>
            {{ form_end(searchForm) }}
            <hr/>

            <h3><i class="fa fa-list-ol" aria-hidden="true"></i> Find by BID</h3>
            {{ form_start(biobankIdForm, { attr: { class: 'prevent-resubmit' } }) }}
            {{ form_widget(biobankIdForm) }}
            <p>
                <button type="submit" class="btn btn-primary">Go</button>
            </p>
            {{ form_end(biobankIdForm) }}
        </div>

        <div class="col-sm-6">
            <h3><i class="fa fa-list-ol" aria-hidden="true"></i> Find by PID</h3>
            {{ form_start(idForm, { attr: { class: 'prevent-resubmit' } }) }}
            {{ form_widget(idForm) }}
            <p>
                <button type="submit" class="btn btn-primary">Go</button>
            </p>
            {{ form_end(idForm) }}

            <hr/>
            <h3><i class="fa fa-envelope" aria-hidden="true"></i> Find by Email</h3>
            {{ form_start(emailForm, { attr: { class: 'prevent-resubmit' } }) }}
            {{ form_widget(emailForm) }}
            <p>
                <button type="submit" class="btn btn-primary">Go</button>
            </p>
            {{ form_end(emailForm) }}


            <hr/>
            <h3><i class="fa fa-phone" aria-hidden="true"></i> Find by Phone</h3>
            {{ form_start(phoneForm, { attr: { class: 'prevent-resubmit' } }) }}
            {{ form_widget(phoneForm) }}
            <p>
                <button type="submit" class="btn btn-primary btn-phone">Go</button>
            </p>
            {{ form_end(phoneForm) }}
        </div>
    </div>
{% endblock %}
{% block pagejs %}
    {{ encore_entry_script_tags('participant-lookup') }}
{% endblock %}
