{% extends 'base.html.twig' %}
{% block title %}Participant {{ participant.biobankId }} - {% endblock %}
{% block body %}
    <div class="page-header">
        <h2><i class="fa fa-medkit" aria-hidden="true"></i> Order Details</h2>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <dl class="dl-horizontal">
                {% if is_granted('ROLE_SCRIPPS') or is_granted('ROLE_AWARDEE') %}
                    <dt>Participant ID</dt>
                    <dd>{{ participant.id }}</dd>
                {% endif %}
                <dt>Biobank ID</dt>
                <dd>
                    {% if is_granted('ROLE_SCRIPPS') or is_granted('ROLE_BIOBANK') %}
                        <a href="{{ path('biobank_participant', { biobankId: participant.biobankId }) }}">{{ participant.biobankId }}</a>
                    {% else %}
                        {{ participant.biobankId }}
                    {% endif %}
                </dd>
                <dt>Paired Awardee</dt>
                <dd>{{ participant.awardee ? siteInfo.awardeeDisplayName(participant.awardee) : '(not paired)' }}</dd>
                <dt>Paired Site</dt>
                <dd>{{ participant.site ? siteInfo.siteDisplayName(participant.siteSuffix) : '(not paired)' }}</dd>
            </dl>
        </div>
        <div class="col-sm-6">
            <p class="lead">
                Order ID: <strong>{{ order.orderId }}</strong>
            </p>
            <h3>
                <i class="fa fa-medkit" aria-hidden="true"></i>
                {{ order.createdTs|date('n/j/Y', app.user.getInfo.timezone) }}
            </h3>
        </div>
    </div>

    {% if order.status == 'unlock' %}
        <div class="alert alert-warning well-sm">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <strong>
                Unlocked for editing by {{ order.history.user.email|default('Unknown') }} at {{ siteInfo.siteDisplayName(order.history.site) }} on {{ order.history.createdTs|date('F j, Y g:ia', app.user.getInfo.timezone) }}
            </strong>
        </div>
    {% elseif order.status == 'cancel' %}
        <div class="alert alert-danger well-sm">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <strong>
                Cancelled by {{ order.history.user.email|default('Unknown') }} at {{ siteInfo.siteDisplayName(order.history.site) }} on {{ order.history.createdTs|date('F j, Y g:ia', app.user.getInfo.timezone) }}
            </strong>
            {% if order.reasonDisplayText is not empty %}
                <br/><strong>Reason:</strong> {{ order.reasonDisplayText }}
            {% endif %}
        </div>
    {% endif %}
    
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation">
                <a href="#collect" aria-controls="collect" role="tab" data-toggle="tab">
                    {% if order.collectedTs is not empty %}
                        <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                    {% endif %}
                    Collect
                </a>
            </li>
            <li role="presentation">
                <a href="#process" aria-controls="process" role="tab" data-toggle="tab">
                    {% if order.collectedTs is not empty and order.processedTs is not empty %}
                        <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                    {% endif %}
                    Process
                </a>
            </li>
            <li role="presentation">
                <a href="#finalize" aria-controls="finalize" role="tab" data-toggle="tab">
                    {% if order.finalizedTs is not empty %}
                        <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                    {% endif %}
                    Finalize
                </a>
            </li>
        </ul>
        <br />
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="collect">
                {% include 'biobank/partials/biobank-order-details.html.twig' with { type: 'collected' } %}
            </div>
            <div role="tabpanel" class="tab-pane" id="process">
                {% include 'biobank/partials/biobank-order-details.html.twig' with { type: 'processed' } %}
            </div>
            <div role="tabpanel" class="tab-pane" id="finalize">
                {% include 'biobank/partials/biobank-order-details.html.twig' with { type: 'finalized' } %}
            </div>
        </div>
    </div>
{% endblock %}
{% block pagejs %}
    {{ encore_entry_script_tags('order-sub') }}
    <script>
        $(document).ready(function() {
            var currentStep = {{ currentStep|json_encode|raw }};
            if ($('.finalize-form .alert-danger').length !== 0) {
                currentStep = 'finalize';
            }
            // Switch tab to active step
            $(".nav-tabs a[href='#" + currentStep + "']").tab('show');

            $('#checkall').on('change', function() {
                $('#form_finalized_samples input:checkbox:enabled').prop('checked', $(this).prop('checked'));
            });

            $('#form_finalized_ts').pmiDateTimePicker();

            $('.finalize-form button[type="submit"]').on('click', function () {
                //Display warning message
                var message = 'Are you sure you want to finalize this order?';
                var collectedSamples = {{ collectedSamples|json_encode|raw }};
                $('input[name="form[finalized_samples][]"]').each(function () {
                    //Select samples that are unchecked and not disabled
                    if ($(this).prop('checked') === false && collectedSamples && $.inArray($(this).val(), collectedSamples)) {
                        message = 'Warning: At least one sample that was collected and processed (as applicable) was not finalized. Are you sure you wish to continue?';
                        return false;
                    }
                });
                return confirm(message);
            });

            new PMI.views['OrderSubPage']({
                el: $("body")
            });
        });
    </script>
{% endblock %}
