<!doctype html>
<html lang="en">
<head>
    {% include 'base-head.html.twig' %}
    <title>Biobank Changes Summary - HealthPro</title>
</head>
<body>
<div id="biobank-summary">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-id-card-o" aria-hidden="true"></i>
                Information Added/Modified by Biobank
            </h3>
        </div>
        <div class="panel-body">
            {% if biobankChanges.collected.sample_details is defined %}
                <h4>Collected {{ biobankChanges.collected.time is defined ? biobankChanges.collected.time|date('n/j/Y g:ia', app.user.getTimezone) : '' }}</h4>
                <table class="table">
                    {% for sampleDetail in biobankChanges.collected.sample_details %}
                        <tr>
                            <td>{{ sampleDetail.code }}</td>
                            <td>{{ sampleDetail.color }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

            {% if biobankChanges.processed.sample_details is defined %}
                <h4>Processed</h4>
                <table class="table">
                    {% for sampleDetail in biobankChanges.processed.sample_details %}
                        <tr>
                            <td>{{ sampleDetail.code }}</td>
                            <td>{{ sampleDetail.color }}</td>
                            {% if sampleDetail.time is defined %}
                                <td>{{ sampleDetail.time|date('n/j/Y g:ia', app.user.getTimezone) }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    {% if biobankChanges.processed.centrifuge_type is defined %}
                        <tr>
                            <td>Centrifuge Type</td>
                            <td colspan="2">{{ biobankChanges.processed.centrifuge_type }}</td>
                        </tr>
                    {% endif %}
                </table>
            {% endif %}

            {% if biobankChanges.finalized.sample_details is defined %}
                <h4>Finalized {{ biobankChanges.finalized.time|date('n/j/Y g:ia', app.user.getTimezone) }}</h4>
                <table class="table">
                    {% for sampleDetail in biobankChanges.finalized.sample_details %}
                        <tr>
                            <td>{{ sampleDetail.code }}</td>
                            <td>{{ sampleDetail.color }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>
