{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('access_manage_dashboard') }}">Management Tools</a></li>
        <li class="active">HealthPro Groups</li>
    </ol>
    <div class="page-header">
        <h2><i class="fa fa-users" aria-hidden="true"></i> User Management</h2>
    </div>
    <br/>
    <table class="table table-striped table-hover table-bordered datatable" data-table-column="0" data-table-order="asc" data-table-page-length="25" data-table-column-defs='{ "targets": 2, "orderable": false }'>
        <thead>
        <tr>
            <th>HealthPro Groups</th>
        </tr>
        </thead>
        <tbody>
        {% for group in app.session.get('managegroups') %}
            {% set groupInfo = app.user.group(group) %}
            <tr>
                <td>
                    <h4><a href="{{ path('access_manage_user_group', { groupId: groupInfo.id }) }}">{{ groupInfo.name }}</a></h4>
                    <a href="{{ path('access_manage_user_group', { groupId: groupInfo.id }) }}">{{ group }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('datatable') }}
{% endblock %}
