<dl class="dl-horizontal">
    {% if attribute(order, type~'_user_id') is not empty and attribute(order, type~'_site') is not empty%}
        <div class="{% if order.rdr_id is empty %} well well-sm {% else %} alert alert-success well-sm {% endif %}">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <strong>{{ type|capitalize }} by {{ app.getUserEmailById(attribute(order, type~'_user_id'))|default('Unknown') }} at {{ app.getSiteDisplayName(attribute(order, type~'_site')) }}</strong>
        </div>
    {% endif %}
</dl>
<div class="row col-sm-6">
    <table class="table">
        <thead>
        <tr>
            <th scope="col" colspan="2">Samples</th>
            <th scope="col">
                {{ type|capitalize }}
                {% if type != 'processed' and attribute(order, type~'_ts') is not empty %}
                    <br> {{ attribute(order, type~'_ts')|date('n/j/Y g:ia', app.userTimezone) }}
                {% endif %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for sample in samplesInfo %}
            {% if (type == 'processed' and sample.process is defined) or (type != 'processed') %}
                <tr>
                    <td>{{ sample.code }}</td>
                    <td>{{ sample.color }}</td>
                    <td>
                        {% if attribute(sample, type~'_ts') is defined and attribute(sample, type~'_ts') is not empty %}
                            <i class="fa fa-check text-success" aria-hidden="true"></i>
                            {{ type == 'processed' ? attribute(sample, type~'_ts')|date('n/j/Y g:ia', app.userTimezone) }}
                        {% else %}
                            <i class="fa fa-times text-danger" aria-hidden="true"></i>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="row col-sm-12" >
    <b>Notes</b>
    <br>{{ attribute(order, type~'_notes') }}
</div>
