<div id="participant-consent-status">
    <div class="status-block">
        <strong>General Consent</strong>
        {% if participant.consentForStudyEnrollment == 'SUBMITTED' %}
            <i class="fa fa-check text-success" aria-hidden="true"></i>
            {{ participant.consentForStudyEnrollmentAuthored ? participant.consentForStudyEnrollmentAuthored|date('n/j/Y', app.userTimezone) }}
        {% else %}
            <i class="fa fa-times text-danger" aria-hidden="true"></i>
        {% endif %}
        <br />
    </div>
    <div class="status-block">
        <strong>EHR Consent</strong>
        {% if participant.consentForElectronicHealthRecords == 'SUBMITTED' %}
            <i class="fa fa-check text-success" aria-hidden="true"></i>
            {{ participant.consentForElectronicHealthRecordsAuthored ? participant.consentForElectronicHealthRecordsAuthored|date('n/j/Y', app.userTimezone) }}
        {% elseif participant.consentForElectronicHealthRecords == 'INVALID' %}
            <i class="fa fa-times text-danger" aria-hidden="true"></i> (invalid)
            {{ participant.consentForElectronicHealthRecordsAuthored ? participant.consentForElectronicHealthRecordsAuthored|date('n/j/Y', app.userTimezone) }}
        {% else %}
            <i class="fa fa-times text-danger" aria-hidden="true"></i>
            {{ participant.consentForElectronicHealthRecordsAuthored ? participant.consentForElectronicHealthRecordsAuthored|date('n/j/Y', app.userTimezone) : '(not completed)' }}
        {% endif %}
        <br />
    </div>
    <div class="status-block">
        <strong>DV-only EHR Sharing</strong> <span title="Direct Volunteer participants are not asked to consent to share EHR data, but are asked if they would be willing to in the future." data-toggle="tooltip"><span class="sr-only">What is DV EHR Sharing</span><i class="fa fa-question-circle text-info"></i></span>
        {% if participant.consentForDvElectronicHealthRecordsSharing == 'SUBMITTED' %}
            <i class="fa fa-check text-success" aria-hidden="true"></i>
            {{ participant.consentForDvElectronicHealthRecordsSharingAuthored ? participant.consentForDvElectronicHealthRecordsSharingAuthored|date('n/j/Y', app.userTimezone) }}
        {% elseif participant.consentForDvElectronicHealthRecordsSharing == 'SUBMITTED_NOT_SURE' %}
            <i class="fa fa-question text-warning" aria-hidden="true"></i>
            {{ participant.consentForDvElectronicHealthRecordsSharingAuthored ? participant.consentForDvElectronicHealthRecordsSharingAuthored|date('n/j/Y', app.userTimezone) }}
        {% else %}
            <i class="fa fa-times text-danger" aria-hidden="true"></i>
            {{ participant.consentForDvElectronicHealthRecordsSharingAuthored ? participant.consentForDvElectronicHealthRecordsSharingAuthored|date('n/j/Y', app.userTimezone) : '(not completed)' }}
        {% endif %}
        <br />
    </div>
    <div class="status-block">
        <strong>CABoR Consent</strong> <span title="California Research Subjects' Bill of Rights is required for participants only by enrollment sites in California" data-toggle="tooltip"><span class="sr-only">What is CABoR?</span><i class="fa fa-question-circle text-info"></i></span>
        {% if participant.consentForCABoR == 'SUBMITTED' %}
            <i class="fa fa-check text-success" aria-hidden="true"></i>
            {{ participant.consentForCABoRAuthored ? participant.consentForCABoRAuthored|date('n/j/Y', app.userTimezone) }}
        {% else %}
            <i class="fa fa-times text-danger" aria-hidden="true"></i>
            {{ participant.consentForCABoRAuthored ? participant.consentForCABoRAuthored|date('n/j/Y', app.userTimezone) : '(not completed)' }}
        {% endif %}
        <br />
    </div>
    {% if displayPatientStatusBlock %}
        <div class="status-block patient-status-block">
            <strong>Patient Status</strong>
            {% if orgPatientStatusData is not empty  %}
                {% set displayStatus = orgPatientStatusData.display_status|split(':') %}
                {% if orgPatientStatusData.status == 'YES' %}
                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                    {{ displayStatus|first }}
                {% elseif orgPatientStatusData.status == 'UNKNOWN' or orgPatientStatusData.status == 'NO_ACCESS'%}
                    <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>
                    {{ displayStatus|first }}
                {% else %}
                    <i class="fa fa-times" aria-hidden="true"></i>
                    {{ displayStatus|first }}
                {% endif %}
            {% else %}
                <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>
                (not complete)
            {% endif %}
            <br />
        </div>
    {% endif %}
</div>
