<!doctype html>
<html lang="en">
<head>
    {% include 'base-head.html.twig' %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}?v={{ app.assetVer }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}?v=1.12.0" />
    <script src="{{ asset('dist/js/all.min.js') }}?v={{ app.assetVer }}"></script>
    <script src="{{ asset('js/dashboard.js') }}?v={{ app.assetVer }}"></script>
    <script src="{{ asset('js/jquery-ui.min.js') }}?v=1.12.0"></script>
    <script src="{{ asset('js/plotly.min.js') }}?v=1.17.3"></script>
    <script src="{{ asset('js/spin.min.js') }}?v=2.3.2"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pmi-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('dashboard_home') }}">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="pmi-navbar-collapse">
                <ul class="nav navbar-nav">
                    {% if is_granted('ROLE_USER') or is_granted('ROLE_AWARDEE') or is_granted('ROLE_DV_ADMIN') or is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('home') }}">HealthPro</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('logout') }}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
      {% if global_notices is defined and global_notices|length > 0 %}
          {% for notice in global_notices %}
              <div class="alert alert-warning">
                  {{ notice.message|raw }}
              </div>
          {% endfor %}
      {% endif %}
      <div id="flash-notices">
          {% for flashMessage in app.session.flashbag.get('error') %}
              <div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ flashMessage }}</div>
          {% endfor %}
          {% for flashMessage in app.session.flashbag.get('notice') %}
              <div class="alert alert-info"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ flashMessage }}</div>
          {% endfor %}
          {% for flashMessage in app.session.flashbag.get('success') %}
              <div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ flashMessage }}</div>
          {% endfor %}
      </div>
        <h2 id="dashboard-heading"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard <i class="fa fa-question-circle text-info pull-right" style="cursor: pointer;" id="dashboard-help"></i> </h2>
        {% block body %}{% endblock %}
    </div>

    {% include 'base-body.html.twig' %}

    <script>
      var CsrfToken = '{{ csrf_token('dashboard') }}';
    </script>

    {% block pagejs %}{% endblock %}

    <script>
        $('.datepicker').datetimepicker({
          format: 'YYYY-MM-DD',
          useCurrent: false,
          toolbarPlacement: 'top',
          sideBySide: true,
          showTodayButton: true,
          showClear: false,
          showClose: true,
          keyBinds: {
              up: null,
              down: null,
              left: null,
              right: null,
              'delete': null
          }
        });

        // Form field's 'change' event not fired automatically
        $('.datepicker').on('dp.change', function() {
          $(this).trigger('change');
        });

        $('[data-toggle="tooltip"]').tooltip({container: 'body'});

        $('.panel-collapse').on('show.bs.collapse hide.bs.collapse', function() {
            toggleGlyph($(this).prev().find('span.toggle-glyph'));
        });

        var centerFilterStatuses = {};

        function updateCenterFiltersStatuses() {

          $('.center-filter').each(function(index, element) {
            var centerFilter = $(element);
            var center = centerFilter.val();
            var isChecked = centerFilter.is(':checked') ? 1 : 0;
            centerFilterStatuses[center] = isChecked;
          });

        }

        $(document).on('change', '.center-filter', function() {
          updateCenterFiltersStatuses();
        });
    </script>
</body>
</html>
