<!doctype html>
<html lang="en">
<head>
    {% include 'base-head.html.twig' %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}?v={{ app.assetVer }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}?v=1.12.0" />
    <script src="{{ asset('dist/js/all.min.js') }}?v={{ app.assetVer }}"></script>
    <script src="{{ asset('js/dashboard.js') }}?v={{ app.assetVer }}"></script>
    <script src="{{ asset('js/jquery-ui.min.js') }}?v=1.12.0"></script>
    <script src="{{ asset('js/plotly.min.js') }}?v=1.17.3"></script>
    <script src="{{ asset('js/spin.min.js') }}?v=2.3.2"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pmi-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('dashboard_home') }}">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="pmi-navbar-collapse">
                <ul class="nav navbar-nav">
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('home') }}">HealthPro</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('logout') }}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div id="flash-notices">
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">{{ flashMessage }}</div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-info">{{ flashMessage }}</div>
            {% endfor %}
        </div>

        {% block body %}{% endblock %}
    </div>

    {% include 'base-body.html.twig' %}
    {% block pagejs %}{% endblock %}
</body>
</html>
