{% set bootstrapVersion = 5 %}
{% extends 'render-base.html.twig' %}
{% block title %}Participant {{ participant.id }} - {% endblock %}
{% block bodycontainer %}container-fluid px-5{% endblock %}
{% block body %}
    {% import 'macros/display-text.html.twig' as macros %}
    {% set hasOrgPatientStatusData = orgPatientStatusData ? 1 : 0 %}
    {% set readOnlyView = readOnlyView|default(false) %}
    {% set routePrefix = readOnlyView ? 'read_' : '' %}
    <div id="participant_info" data-participant-id="{{ participant.id }}" data-has-org-patient-status="{{ hasOrgPatientStatusData }}" data-can-view-patient-status="{{ canViewPatientStatus }}">
    {% if hasNoParticipantAccess %}
        <div class="row justify-content-md-center">
            <div class="col-sm-8 col-lg-6">
                <div class="card border-danger-subtle">
                    <div class="card-header bg-danger-subtle">
                        <h5>Warning</h5>
                    </div>
                    <div class="card-body">
                        The participant you have selected is either unpaired or paired with another enrollment site. Please verify that this is the correct participant. By continuing, you acknowledge that you have a valid need to access this record. Access to this record will be audited and is subject to review. Unauthorized access to records may result in loss of access to HealthPro.
                    </div>
                    <div class="card-footer bg-transparent">
                        <div class="float-end">
                            {{ form_start(agreeForm) }}
                            {{ form_widget(agreeForm.Acknowledge) }}
                            <a href="{{ path(cancelRoute) }}" class="btn btn-outline-secondary">Cancel</a>
                            {{ form_end(agreeForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-sm-3 participant-details-col">
                <div class="card participant-details-card">
                    <div class="card-body">
                        <div class="page-header">
                            <h3>{{ participant.lastName }}, {{ participant.firstName }} {{ participant.middleName }} <small>{{ participant.shortId }}</small><i class="fa fa-barcode fa-xs clickable" data-bs-toggle="modal" data-bs-target="#participant-barcode-modal" id="participant-barcode-icon"></i></h3>
                        </div>
                        <hr>
                        {% include 'partials/participant-dl-bs5.html.twig' %}
                        <hr>
                        {% if cacheEnabled %}
                            <div class="text-center">
                                <small>
                                    Last updated: {{ participant.cacheTime ? participant.cacheTime|date('g:ia', app.user.timezone) }}
                                    <a href="{{ path(routePrefix ~ 'participant', { id: participant.id, refresh: 1 }) }}" style="margin-left: 6px" class="btn btn-primary btn-xs"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</a>
                                </small>
                            </div>
                            <br>
                        {% endif %}
                        <div>
                            {% if participant.status or canViewDetails %}
                                {% include 'partials/participant-consent.html.twig' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div>
                    {% if participant.activityStatus == 'deactivated' %}
                        {% include 'partials/participant-deactivated-status-notice.html.twig' %}
                    {% endif %}
                    {% if participant.deceasedStatus == 'PENDING' or participant.deceasedStatus == 'APPROVED' %}
                        {% include 'partials/deceased-participant-notice.html.twig' %}
                    {% endif %}
                    {% if participant.activityStatus != 'deactivated' and participant.activityStatus != 'withdrawn' %}
                        <div class="btn-group float-end">
                            {% set deceasedReportRoute = readOnlyView ? 'read_deceased_report_check' : 'deceased_report_new' %}
                            <a class="btn btn-outline-secondary btn-sm" href="{{ path(deceasedReportRoute, {participantId: participant.participantId}) }}"><i class="fa fa-hourglass-o"></i> Report Deceased Participant</a>
                        </div>
                    {% endif %}
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" href="#on_site_details" data-bs-target="#on_site_details" role="tab" data-bs-toggle="tab">On-Site Details</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" href="#inperson" data-bs-target="#inperson" role="tab" data-bs-toggle="tab">In-Person Enrollment</button>
                        </li>
                        {% if canViewDetails %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" href="#overview" data-bs-target="#overview" role="tab" data-bs-toggle="tab">Participant Overview</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" href="#activities" data-bs-target="#activities" role="tab" data-bs-toggle="tab">Participant Activities</button>
                            </li>
                        {% else %}
                            {% for tab in ['Participant Overview', 'Participant Activities'] %}
                                <li class="nav-item" role="presentation" title="Details not available because participant is either withdrawn, unpaired, or paired with another enrollment site" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                    <button class="nav-link disabled" href="#">{{ tab }}</button>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <br>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="on_site_details" data-read-only-view="{{ readOnlyView }}">
                            {% if displayInactiveSiteBanner %}
                                {{ macros.displayInactiveSiteBanner('on_site') }}
                            {% endif %}
                            <div class="row">
                                {% if canViewOnSiteDetails %}
                                    <div class="col-md-6 h-100 mb-4">
                                        {% include 'partials/participant-id-verification.html.twig' %}
                                    </div>
                                    {% if not isDVType %}
                                        {% include 'partials/participant-patient-status.html.twig' %}
                                    {% endif %}
                                    <div class="col-md-6 h-100 mb-4">
                                        {% include 'partials/participant-incentive.html.twig' %}
                                    </div>
                                {% else %}
                                    <div class="col-sm-8 h-100 mb-4 col-sm-push-2 col-lg-6 col-lg-push-3">
                                        {% include 'partials/participant-notice-bs5.html.twig' %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="inperson">
                            {% if displayInactiveSiteBanner %}
                                {{ macros.displayInactiveSiteBanner('in_person') }}
                            {% endif %}
                            {% if canEdit and not siteInfo.isTestSite %}
                                <div class="row">
                                    {% if participant.editExistingOnly %}
                                        <div>
                                            {% include 'partials/participant-notice-bs5.html.twig' %}
                                        </div>
                                    {% endif %}
                                    <div class="col-sm-6 {{ isDVType and not readOnlyView ? 'col-lg-4' : 'col-lg-6' }}">
                                        {% include 'partials/participant-measurement-list-bs5.html.twig' %}
                                    </div>

                                    <div class="col-sm-6 {{ isDVType and not readOnlyView ? 'col-lg-4' : 'col-lg-6' }}">
                                        {% include 'partials/participant-orders-list-bs5.html.twig' %}
                                    </div>
                                    {% if isDVType and not readOnlyView %}
                                        <div class="col-sm-6 col-lg-4">
                                            {% include 'partials/participant-unanticipated-problems-list.html.twig' %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3">
                                        {% include 'partials/participant-notice-bs5.html.twig' %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {% if canViewDetails %}
                            <div role="tabpanel" class="tab-pane" id="overview">
                                {% include 'partials/participant-overview.html.twig' %}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="activities">
                                {% include 'partials/participant-activities.html.twig' %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                {% if canViewPatientStatus %}
                    {# Patient status history modal window #}
                    <div id="patient-status-details-modal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    </div>
    {% include 'partials/modals/participant-barcode.html.twig' %}
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('participant') }}
    {{ encore_entry_script_tags('incentive') }}
    {{ encore_entry_script_tags('id-verification') }}
{% endblock %}
