{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-header">
        <h2><i class="fa fa-check-circle" aria-hidden="true"></i> Patient Status Import Confirmation</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if rowsCount > 100 %}
                <p class="alert-info well-sm text-center">Displaying first 100 rows from {{ rowsCount }} rows</p>
            {% endif %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Participant Id</th>
                        <th>Status</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    {% for patientStatus in patientStatuses %}
                        <tr>
                            <td>{{ patientStatus.participantId }}</td>
                            <td>{{ patientStatus.status }}</td>
                            <td>{{ patientStatus.comments }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_start(importConfirmForm, { attr: { class: 'warn-unsaved disable-enter prevent-resubmit' } }) }}
            {{ form_errors(importConfirmForm) }}
            {{ form_widget(importConfirmForm.Confirm) }} {{ form_widget(importConfirmForm.Cancel) }}
            {{ form_rest(importConfirmForm) }}
            {{ form_end(importConfirmForm) }}
        </div>
    </div>
{% endblock %}
