{% extends 'base.html.twig' %}
{% block title %}Participant {{ participant.biobankId }} - {% endblock %}
{% block body %}
    <div class="page-header">
        <h2><i class="fa fa-medkit" aria-hidden="true"></i> Order Details</h2>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <dl class="dl-horizontal">
                {% if is_granted('ROLE_SCRIPPS') or is_granted('ROLE_AWARDEE') %}
                    <dt>Participant ID</dt>
                    <dd>{{ participant.id }}</dd>
                {% endif %}
                <dt>Biobank ID</dt>
                <dd>
                    {% if is_granted('ROLE_SCRIPPS') or is_granted('ROLE_BIOBANK') %}
                        <a href="{{ path('biobank_participant', { biobankId: participant.biobankId }) }}">{{ participant.biobankId }}</a>
                    {% else %}
                        {{ participant.biobankId }}
                    {% endif %}
                </dd>
                <dt>Paired Awardee</dt>
                <dd>{{ participant.awardee ? app.getAwardeeDisplayName(participant.awardee) : '(not paired)' }}</dd>
                <dt>Paired Site</dt>
                <dd>{{ participant.site ? app.getSiteDisplayName(participant.siteSuffix) : '(not paired)' }}</dd>
            </dl>
        </div>
        <div class="col-sm-4">
            <p class="lead">
                Order ID: <strong>{{ order.order_id }}</strong>
            </p>
            <h3>
                <i class="fa fa-medkit" aria-hidden="true"></i>
                {{ order.created_ts|date('n/j/Y', app.userTimezone) }}
            </h3>
        </div>
    </div>

    {% if order.status == 'unlock' %}
        <div class="alert alert-warning well-sm">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <strong>
                Unlocked for editing by {{ app.getUserEmailById(order.oh_user_id)|default('Unknown') }} at {{ app.getSiteDisplayName(order.oh_site) }} on {{ order.oh_created_ts|date('F j, Y g:ia', app.userTimezone) }}
            </strong>
        </div>
    {% elseif order.status == 'cancel' %}
        <div class="alert alert-danger well-sm">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <strong>
                Cancelled by {{ app.getUserEmailById(order.oh_user_id)|default('Unknown') }} at {{ app.getSiteDisplayName(order.oh_site) }} on {{ order.oh_created_ts|date('F j, Y g:ia', app.userTimezone) }}
            </strong>
            {% if order.reasonDisplayText is not empty %}
                <br/><strong>Reason:</strong> {{ order.reasonDisplayText }}
            {% endif %}
        </div>
    {% endif %}
    
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation">
                <a href="#collect" aria-controls="collect" role="tab" data-toggle="tab">
                    {% if order.collected_ts is not empty %}
                        <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                    {% endif %}
                    Collect
                </a>
            </li>
            <li role="presentation">
                <a href="#process" aria-controls="process" role="tab" data-toggle="tab">
                    {% if order.collected_ts is not empty and order.processed_ts is not empty %}
                        <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                    {% endif %}
                    Process
                </a>
            </li>
            <li role="presentation">
                <a href="#finalize" aria-controls="finalize" role="tab" data-toggle="tab">
                    {% if order.finalized_ts is not empty %}
                        <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                    {% endif %}
                    Finalize
                </a>
            </li>
        </ul>
        <br />
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="collect">
                {% include 'partials/biobank-order-details.html.twig' with { type: 'collected' } %}
            </div>
            <div role="tabpanel" class="tab-pane" id="process">
                {% include 'partials/biobank-order-details.html.twig' with { type: 'processed' } %}
            </div>
            <div role="tabpanel" class="tab-pane" id="finalize">
                {% include 'partials/biobank-order-details.html.twig' with { type: 'finalized' } %}
            </div>
        </div>
    </div>
{% endblock %}
{% block pagejs %}
    <script>
        $(document).ready(function() {
            // Switch tab to active step
            $(".nav-tabs a[href='#{{ currentStep }}']").tab('show');

            $('#checkall').on('change', function() {
                $('#form_finalized_samples input:checkbox:enabled').prop('checked', $(this).prop('checked'));
            });

            $('#form_finalized_ts').pmiDateTimePicker();

            $('.finalize-form button[type="submit"]').on('click', function () {
                //Display warning message
                var message = 'Are you sure you want to finalize this order?';
                $('input[name="form[finalized_samples][]"]').each(function () {
                    //Select samples that are unchecked and not disabled
                    if ($(this).prop('checked') === false && $(this).prop('disabled') === false) {
                        message = 'Warning: At least one sample that was collected and processed (as applicable) was not finalized. Are you sure you wish to continue?';
                        return false;
                    }
                });
                return confirm(message);
            });
        });
    </script>
{% endblock %}
