{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('symfony_home') }}">Home</a></li>
        <li><a href="{{ path('access_manage_dashboard') }}">Managed Access Dashboard</a></li>
        <li><a href="{{ path('access_manage_user_groups') }}">My Groups</a></li>
        <li><a href="{{ path('access_manage_user_group', { groupId: group.id }) }}">{{ group.name }}</a></li>
        <li class="active">Remove Member</li>
    </ol>
    <div class="page-header">
        <h2><i class="fa fa-users" aria-hidden="true"></i> User Management</h2>
    </div>
    <h3>{{ group.name }}</h3>
    <br/>
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h4 class="text-danger"><i class="fa fa-user" aria-hidden="true"></i> Remove Member</h4>
            </div>
            <div>
                <p><label>Email:</label> {{ member.email }}</p>
                <p><label>Role:</label> {{ member.role }}</p>
            </div>
            {{ form_start(removeGoupMemberForm, { attr: { class: 'prevent-resubmit' } }) }}
            {{ form_label(removeGoupMemberForm.confirm) }}
            {{ form_widget(removeGoupMemberForm.confirm) }}
            <div class="reason-fields" style="display: none">
                {{ form_rest(removeGoupMemberForm) }}
            </div>
            <p>
                <a href="{{ path('access_manage_user_group', { groupId: group.id }) }}" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </p>
            {{ form_end(removeGoupMemberForm) }}
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    <script>
        $(document).ready(function () {
            var confirmRemove = 'input[name="remove_group_member[confirm]"]';
            $(confirmRemove).on('change', function () {
                if ($(confirmRemove + ':checked').val() === 'yes') {
                    $('.reason-fields').show();
                } else {
                    $('.reason-fields').hide();
                }
            });
            $('#remove_group_member_memberLastDay').pmiDateTimePicker({format: 'MM/DD/YYYY', maxDate: Date(), useCurrent: false});
        });
    </script>
{% endblock %}
