{% macro displayDateTime(order, dateType) %}
    {% if attribute(order, dateType~'Ts') %}
        {% set timeFormat = 'n/j/Y g:ia' %}
        {% set timezone = app.user.timezone %}
        {{ attribute(order, dateType~'Ts')|date(timeFormat, timezone) }}
    {% else %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
    {% endif %}
{% endmacro %}

<div class="card">
    <div class="card-header">
        {% if isActiveSite and type is not defined %}
            {% set orderCheckRoute = 'order_check' %}
            {% if participant.isPediatric %}
                {% if participant.requirePediatricAssentCheck %}
                    {% set orderCheckRoute = 'order_assent_pediatric' %}
                {% else %}
                    {% set orderCheckRoute = 'order_check_pediatric' %}
                {% endif %}
            {% endif %}
            {% if not (isDVType and participant.isPediatric) %}
                <a href="{{ path(orderCheckRoute, { participantId: participant.id }) }}" class="btn btn-primary btn-sm float-end"><i class="fa fa-plus-circle" aria-hidden="true"></i> New Biobank Order</a>
            {% endif %}
        {% endif %}
        <h6><i class="fa fa-medkit" aria-hidden="true"></i> Biobank Orders</h6>
    </div>
    <div class="card-body in-person-card">
        {% if orders|length == 0 %}
            <small class="text-secondary">No Records Found</small>
        {% else %}
            {% for order in orders %}
                {% if type is not defined and loop.index == 6 %}
                    <div id="order-overflow">
                {% endif %}
                <a href="{{ path('order', { participantId: participant.id, orderId: order.id }) }}"
                   class="text-start btn btn-block btn-lg border w-100  {% if orderId is defined and order.id == orderId %} btn-warning {% else %} {% endif %}">
                    <div class="row">
                        <div class="col-sm-6 border-end">
                            <span class="d-block pb-2"><strong class="fs-6 text-muted">{{ order.createdTs|date('D n/j/Y', app.user.timezone) }}</strong></span>
                            <small class="text-muted">
                                {% set badgeText = '' %}
                                {% set historyType = order.history.type is defined ? order.history.type : '' %}
                                {% if historyType == 'cancel' %}
                                    {% set badgeText = '<span class="badge bg-danger">Cancelled</span>' %}
                                    <span class="fs-sm d-block d-block">{{ _self.displayDateTime(order.history, 'created') }}</span>
                                {% elseif not order.finalizedTs and not order.version and order.type != constant('TUBE_SELECTION_TYPE', order) %}
                                    {% set badgeText = '<span class="badge bg-danger">Expired</span>' %}
                                {% elseif historyType == 'unlock' %}
                                    {% set badgeText = '<span class="badge bg-primary">Unlocked for editing</span>' %}
                                    <span class="fs-sm d-block">{{ _self.displayDateTime(order.history, 'created') }}</span>
                                {% elseif historyType == 'edit' %}
                                    {% set badgeText = '<span class="badge bg-success">Edited &amp; Finalized</span>' %}
                                    <span class="fs-sm d-block">{{ _self.displayDateTime(order.history, 'created') }}</span>
                                {% elseif order.finalizedTs and order.rdrId %}
                                    {% if order.biobankFinalized %}
                                        {% set badgeText = '<span class="badge bg-warning">Biobank Finalized</span>' %}
                                    {% else %}
                                        {% set badgeText = '<span class="badge bg-success">Finalized</span>' %}
                                    {% endif %}
                                    <span class="fs-sm d-block">{{ _self.displayDateTime(order, 'finalized') }}</span>
                                {% elseif order.processedTs %}
                                    {% set badgeText = '<span class="badge bg-info">Processed</span>' %}
                                    <span class="fs-sm d-block">{{ _self.displayDateTime(order, 'processed') }}</span>
                                {% elseif order.collectedTs %}
                                    {% set badgeText = '<span class="badge bg-secondary">Collected</span>' %}
                                    <span class="fs-sm d-block">{{ _self.displayDateTime(order, 'collected') }}</span>
                                {% else %}
                                    {% set badgeText = '<span class="badge bg-secondary">Created</span>' %}
                                    <span class="fs-sm d-block">{{ _self.displayDateTime(order, 'created') }}</span>
                                {% endif %}
                            </small>
                        </div>
                        <div class="col-sm-6 text-muted position-relative">
                            <div class="fs-sm pb-1"><strong>Order ID: {{ order.orderId }}</strong></div>
                            <div class="fs-xs pb-1">Order Type</div>
                            <div class="fs-sm">{{ order.orderTypeDisplayText }}</div>
                            {% if order.pediatricOrder %}
                                <span class="fa fa-child child-icon pediatric-order-indicator"></span>
                            {% endif %}
                        </div>
                        <div>
                            <span class="d-block fs-xs text-muted">Status</span>
                            <small>{{ badgeText|raw }}</small>
                        </div>
                    </div>
                </a>
            {% endfor %}
            {% if type is not defined and orders|length > 5 %}
                </div> {# close .order-overflow div above #}
                <a href="#" class="btn btn-block btn-lg border w-100" id="order-overflow-show">
                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> Show all
                </a>
            {% endif %}
        {% endif %}
    </div>
</div>
