{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-header">
        <h2><i class="fa fa-upload" aria-hidden="true"></i> Patient Status Import</h2>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-2">
            {{ form_start(importForm, { attr: { class: 'warn-unsaved disable-enter prevent-resubmit' } }) }}
            {{ form_errors(importForm) }}
            {{ form_rest(importForm) }}
            {{ form_end(importForm) }}
        </div>
        <div class="col-sm-4 alert alert-info">
            <h4>CSV Format</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Participant ID</th>
                        <th>Status</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>P000000000</td>
                        <td>YES</td>
                        <td>Test Comment 1</td>
                    </tr>
                    <tr>
                        <td>P000000001</td>
                        <td>NO</td>
                        <td>Test Comment 2</td>
                    </tr>
                </tbody>
            </table>
            <p>Participant ID: <b>Must be 10 digits ex: P000000000</b></p>
            <p>Status: <b>Allowed values are YES, NO, NO_ACCESS, and UNKNOWN</b></p>
            <p><b>YES:</b> Confirmed in EHR system</p>
            <p><b>NO:</b> Not found in EHR system</p>
            <p><b>NO_ACCESS:</b> Unable to check EHR system</p>
            <p><b>UNKNOWN:</b> Inconclusive search results</p>
            <p>Comments: <b>Free Text (Optional)</b></p>
        </div>
    </div>
    {% if imports is not empty %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Import Status</h3>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Organization</th>
                            <th>Created</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for import in imports %}
                            <tr>
                                <td>{{ import.fileName }}</td>
                                <td>{{ import.organization.name }} ({{ import.organization.id }})</td>
                                <td>{{ import.createdTs|date('n/j/Y g:ia', app.user.getInfo.timezone)  }}</td>
                                <td>
                                    {% if import.importStatus == 1 %}
                                        <i class="fa fa-check text-success" aria-hidden="true"></i> Complete
                                    {% elseif import.importStatus == 2 %}
                                        <i class="fa fa-check text-success" aria-hidden="true"></i> Complete <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-tasks" aria-hidden="true"></i> In Progress
                                    {% endif %}
                                </td>
                                <td><a href="{{ path('patientStatusImportDetails', { id: import.id }) }}">Details</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
