<div class="dropdown-menu" style="width:600px; padding: 20px">
    <div class="row">
        <div class="col-sm-4">
            <strong>
                Notifications
                {% if global_notifications|length > 0 %}
                    ({{ global_notifications|length }})
                {% endif %}
            </strong>
        </div>
        <div class="col-sm-3 col-sm-offset-5">
            <a>Mark all as read</a>
        </div>
    </div>
    <hr>
    {% if global_notifications %}
    {% for notification in global_notifications %}
        <div class="row">
            <div class="col-sm-1">
                <i class='fa fa-circle text-danger'></i>
            </div>
            <div class="col-sm-9">
                <p><a data-href="{{ path('notification_details', {id: notification.id}) }}" class="notification-title">{{ notification.title }}</a></p>
                <p>{{ notification.message|length > 125 ? notification.message|slice(0, 125) ~ '...' : notification.message  }}</p>
            </div>
            <div class="col-sm-2">
                {{ notification.createdTs|date('n/j/Y', app.user.timezone) }}
            </div>
        </div>
        {% if notification.url %}
            <div>
                <a href="{{ notification.url }}" target="_blank">View New Feature <i class="fa fa-arrow-right"></i></a>
            </div>
        {% endif %}
        <hr>
    {% endfor %}
    {% else %}
        <div class="text-center text-muted">
            <em>No new notifications at this time</em>
        </div>
        <hr>
    {% endif %}
    {% include "partials/notifications-confluence-link.html.twig" %}
</div>
