{% set readOnlyView = readOnlyView|default(false) %}
<div class="card incentive" id="incentive_{{ type is defined and type == 'edit' ? 'edit' : 'create' }}"
     data-has-incentives="{{ incentives is defined and incentives ? 1 : 0 }}">
    <div class="card-header">
        <h6>
            {% if type is defined and type == 'edit' %}
                <i class="fa fa-edit" aria-hidden="true"></i> Edit Incentive
            {% else %}
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Add New Incentive
            {% endif %}
        </h6>
    </div>
    {% import 'macros/display-text.html.twig' as macros %}
    {{ macros.displayFlashMessage('incentive') }}
    <div class="card-body">
        <div id="incentives-data-box">
            {% if incentives is defined and incentives is not empty %}
                {% set incentive = incentives[0] %}
                <dl class="row">
                    <dt class="col-sm-4">Date Created</dt>
                    <dd class="col-sm-8">
                        {{ incentive.createdTs|date('n/j/Y g:ia', app.user.timezone) }} {{ incentive.amendedTs ? '(Amended)' : '' }}
                        {% if incentive.import %}
                            <span class="label label-primary">Imported</span>
                        {% endif %}
                    </dd>
                    <dt class="col-sm-4">Recipient</dt>
                    <dd class="col-sm-8">{{ incentive.incentiveRecipientDisplayName|default('--') }}
                        {% if incentive.relatedParticipantRecipient %} {{ incentive.relatedParticipantRecipient }} {% endif %}</dd>
                    {% if incentive.otherIncentiveRecipient %}
                        <dt class="col-sm-4">Other Recipient</dt>
                        <dd class="col-sm-8">{{ incentive.otherIncentiveRecipient }}</dd>
                    {% endif %}
                    <dt class="col-sm-4">Date of Service</dt>
                    <dd class="col-sm-8">{{ incentive.incentiveDateGiven|date('m/d/Y') }}</dd>
                    <dt class="col-sm-4">Incentive Occurrence</dt>
                    <dd class="col-sm-8">{{ incentive.incentiveOccurrenceDisplayName }}</dd>
                    {% if incentive.otherIncentiveOccurrence %}
                        <dt class="col-sm-4">Other Incentive Occurrence</dt>
                        <dd class="col-sm-8">{{ incentive.otherIncentiveOccurrence }}</dd>
                    {% endif %}
                    <dt class="col-sm-4">Incentive Type</dt>
                    <dd class="col-sm-8">
                        {{ incentive.incentiveTypeDisplayName }}{{ incentive.giftCardType ? ', ' ~ incentive.giftCardType: '' }}
                        {{ incentive.typeOfItem  ? ', ' ~ incentive.typeOfItem  ~ ', ' ~ incentive.numberOfItems : '' }}
                    </dd>
                    {% if incentive.otherIncentiveType %}
                        <dt class="col-sm-4">Other Incentive Type</dt>
                        <dd class="col-sm-8">{{ incentive.otherIncentiveType }}</dd>
                    {% endif %}
                    <dt class="col-sm-4">Incentive Amount</dt>
                    <dd class="col-sm-8">{{ incentive.incentiveAmount ? '$'~incentive.incentiveAmount : '--' }}</dd>
                    <dt class="col-sm-4">Notes</dt>
                    <dd class="col-sm-8">{{ incentive.notes ? incentive.notes : '--' }}</dd>
                    <dt class="col-sm-4">Declined</dt>
                    <dd class="col-sm-8">{{ incentive.declined ? 'Yes' : 'No' }}</dd>
                </dl>
                {% if not readOnlyView %}
                    <div class="text-center">
                        <button class="btn btn-primary btn-sm btn-incentive-add-new">Add New</button>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div id="incentives-form-box">
            {% set actionUrl = incentiveId is defined ? path('participant_incentive', { id: participant.id, incentiveId: incentiveId }) : path('participant_incentive', { id: participant.id }) %}
            {{ form_start(incentiveForm, { attr: { class: 'disable-enter prevent-resubmit incentive-form', action: actionUrl } }) }}
            {{ form_errors(incentiveForm) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(incentiveForm.recipient) }}
                    {{ form_row(incentiveForm.other_incentive_recipient) }}
                    {{ form_row(incentiveForm.incentive_type) }}
                    {{ form_row(incentiveForm.other_incentive_occurrence) }}
                    {{ form_row(incentiveForm.incentive_amount) }}
                    <div id="number_of_items">
                        {{ form_errors(incentiveForm.number_of_items) }}
                        {{ form_row(incentiveForm.number_of_items) }}
                    </div>
                </div>
                <div class="col-md-6">
                    {{ form_row(incentiveForm.incentive_date_given) }}
                    {{ form_row(incentiveForm.incentive_occurrence) }}
                    <div id="gift_card">
                        {{ form_row(incentiveForm.gift_card_type) }}
                    </div>
                    {{ form_row(incentiveForm.other_incentive_type) }}
                    {{ form_row(incentiveForm.other_incentive_amount) }}
                    <div id="type_of_item">
                        {{ form_row(incentiveForm.type_of_item) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(incentiveForm.notes) }}
                {{ form_widget(incentiveForm.notes) }}
                {% if type is defined and type == 'edit' %}
                    <small class="text-warning">Please provide a reason for amending this incentive.</small>
                {% endif %}
            </div>
            {{ form_row(incentiveForm.declined, { 'id': incentiveId is defined ? 'incentive_edit_declined' : 'incentive_create_declined' }) }}
            {{ form_rest(incentiveForm) }}
            {% if not readOnlyView %}
                <button type="submit" id="incentive_submit" class="btn btn-primary btn-sm">Submit</button>
                {% if type is defined and type == 'edit' %}
                    <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                {% else %}
                    <button type="button" class="btn btn-outline-secondary btn-sm" id="incentive_cancel">Cancel</button>
                {% endif %}
            {% endif %}
            {{ form_end(incentiveForm) }}
        </div>
    </div>
    {% if incentives is defined and incentives is not empty %}
        <div class="panel-group view-details" id="accordion" role="tablist" aria-multiselectable="true">
        <div>
            <div class="panel-heading bg-secondary text-white view-history-dropdown" role="tab" id="headingOne">
                <div role="button" data-bs-toggle="collapse" data-parent="#accordion"
                     data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    View Incentive History
                    <span class="badge badge-light">{{ incentives|length }}</span>
                </div>
            </div>
            <div id="collapseOne" class="panel-collapse collapse px-4" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    {% for incentive in incentives %}
                        {% if not readOnlyView and incentive.site == siteInfo.siteId and incentive.relatedParticipantRecipient != participant.id %}
                            <div class="float-end incentive-modify">
                                <i class="fa fa-edit fa-lg incentive-amend" aria-hidden="true" data-href="{{ path('participant_incentive', { id: participant.id, incentiveId: incentive.id }) }}" data-type="amend"></i>
                                <i class="fa fa-trash-alt fa-lg incentive-remove" aria-hidden="true" data-id="{{ incentive.id }}" data-type="remove"></i>
                            </div>
                        {% endif %}
                        <dl class="row">
                            <dt class="col-sm-5">Date Created</dt>
                            <dd class="col-sm-7">
                                {{ incentive.createdTs|date('n/j/Y g:ia', app.user.timezone) }} {{ incentive.amendedTs ? '(Amended)' : '' }}
                                {% if incentive.import %}
                                    <span class="label label-primary">Imported</span>
                                {% endif %}
                            </dd>
                            <dt class="col-sm-5">User</dt>
                            <dd class="col-sm-7">{{ incentive.user ? incentive.user.email : '' }}</dd>
                            <dt class="col-sm-5">Site</dt>
                            <dd class="col-sm-7">{{ siteInfo.siteDisplayName(incentive.site) }}</dd>
                            <dt class="col-sm-5">Recipient</dt>
                            <dd class="col-sm-7">{{ incentive.incentiveRecipientDisplayName|default('--') }}
                            {% if incentive.relatedParticipantRecipient %} {{ incentive.relatedParticipantRecipient }} {% endif %}</dd>
                            {% if incentive.otherIncentiveRecipient %}
                                <dt class="col-sm-5">Other Recipient</dt>
                                <dd class="col-sm-7">{{ incentive.otherIncentiveRecipient }}</dd>
                            {% endif %}
                            <dt class="col-sm-5">Date of Service</dt>
                            <dd class="col-sm-7">{{ incentive.incentiveDateGiven|date('m/d/Y') }}</dd>
                            <dt class="col-sm-5">Incentive Occurrence</dt>
                            <dd class="col-sm-7">{{ incentive.incentiveOccurrenceDisplayName }}</dd>
                            {% if incentive.otherIncentiveOccurrence %}
                                <dt class="col-sm-5">Other Incentive Occurrence</dt>
                                <dd class="col-sm-7">{{ incentive.otherIncentiveOccurrence }}</dd>
                            {% endif %}
                            <dt class="col-sm-5">Incentive Type</dt>
                            <dd class="col-sm-7">
                                {{ incentive.incentiveTypeDisplayName }}{{ incentive.giftCardType ? ', ' ~ incentive.giftCardType: '' }}
                                {{ incentive.typeOfItem  ? ', ' ~ incentive.typeOfItem  ~ ', ' ~ incentive.numberOfItems : '' }}
                            </dd>
                            {% if incentive.otherIncentiveType %}
                                <dt class="col-sm-5">Other Incentive Type</dt>
                                <dd class="col-sm-7">{{ incentive.otherIncentiveType }}</dd>
                            {% endif %}
                            <dt class="col-sm-5">Incentive Amount</dt>
                            <dd class="col-sm-7">{{ incentive.incentiveAmount ? '$'~incentive.incentiveAmount : '--' }}</dd>
                            <dt class="col-sm-5">Notes</dt>
                            <dd class="col-sm-7">{{ incentive.notes ? incentive.notes : '--' }}</dd>
                            <dt class="col-sm-5">Declined</dt>
                            <dd class="col-sm-7">{{ incentive.declined ? 'Yes' : 'No' }}</dd>
                        </dl>
                        <hr/>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<div class="modal fade" id="incentive_amend_modal" tabindex="-1" role="dialog" aria-labelledby="incentiveModalAmend">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">Are you sure you want to amend this incentive occurrence?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Go Back</button>
                <a class="btn btn-primary btn-sm incentive-ok" id="incentive_amend_ok" data-loading-text="Loading..." data-href="">Ok</a>
            </div>
        </div>
    </div>
</div>

{% if incentiveDeleteForm is defined %}
    <div class="modal fade" id="incentive_remove_modal" tabindex="-1" role="dialog" aria-labelledby="incentiveModalRemove">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">Are you sure you want to remove this incentive occurrence?</div>
                <div class="modal-footer">
                    {{ form_start(incentiveDeleteForm) }}
                        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Go Back</button>
                        <button type="submit" class="btn btn-primary btn-sm">Ok</button>
                    {{ form_end(incentiveDeleteForm) }}
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div id="incentive_edit_form_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
