<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-id-card-o" aria-hidden="true"></i>
            Physical Measurements Summary
        </h3>
    </div>
    <div class="panel-body">
        <p class="lead text-center">Date of Visit: <strong>{{ measurement.finalizedTs|date('n/j/Y') }}</strong></p>
        <table class="table table-bordered">
            <tr>
                <th>Height</th>
                {% if summary.height is defined %}
                    <td>{{ summary.height.cm|to_fixed }} cm</td>
                    <td>{{ summary.height.ftin }}</td>
                {% else %}
                    <td colspan="2">--</td>
                {% endif %}
            </tr>
            <tr>
                <th>Weight</th>
                {% if summary.weight is defined %}
                    <td>{{ summary.weight.kg|to_fixed }} kg</td>
                    <td>{{ summary.weight.lb|to_fixed }} lb</td>
                {% else %}
                    <td colspan="2">--</td>
                {% endif %}
            </tr>
            <tr>
                <th>BMI</th>
                <td colspan="2">{{ summary.bmi is defined ? summary.bmi|to_fixed : '--' }}</td>
            </tr>
            {% if measurement.isPediatricForm %}
                <tr>
                    <th>Head Circumference</th>
                    {% if summary.head is defined and summary.head is not empty %}
                        <td>{{ summary.head.cm|to_fixed }} cm</td>
                        <td>{{ summary.head.in|to_fixed }} in</td>
                    {% else %}
                        <td colspan="2">--</td>
                    {% endif %}
                </tr>
            {% endif %}
            {% if not measurement.isPediatricForm %}
                <tr>
                    <th>Hip Circumference</th>
                    {% if summary.hip is defined %}
                        <td>{{ summary.hip.cm|to_fixed }} cm</td>
                        <td>{{ summary.hip.in|to_fixed }} in</td>
                    {% else %}
                        <td colspan="2">--</td>
                    {% endif %}
                </tr>
            {% endif %}
            <tr>
                <th>Waist Circumference</th>
                {% if summary.waist is defined %}
                    <td>{{ summary.waist.cm|to_fixed }} cm</td>
                    <td>{{ summary.waist.in|to_fixed }} in</td>
                {% else %}
                    <td colspan="2">--</td>
                {% endif %}
            </tr>
            <tr>
                <th>
                    Blood Pressure
                    <small style="font-weight: normal">(systolic / diastolic)</small>
                </th>
                <td colspan="2">
                    {% if summary.bloodpressure is defined %}
                        {{ summary.bloodpressure.systolic|round }} /
                        {{ summary.bloodpressure.diastolic|round }}
                        mmHg
                    {% else %}
                        --
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Heart Rate</th>
                <td colspan="2">
                    {% if summary.heartrate is defined %}
                        {{ summary.heartrate|round }} bpm
                    {% else %}
                        --
                    {% endif %}
                </td>
            </tr>
            {% if measurement.isPediatricForm %}
                <tr>
                    <th>Growth Percentile Weight for Age</th>
                    <td colspan="2">
                        {% if summary['growth-percentile-weight-for-age'] is defined and summary['growth-percentile-weight-for-age'] is not empty %}
                            {{ summary['growth-percentile-weight-for-age'] }}th percentile
                        {% elseif summary['growth-percentile-weight-for-age-male'] is defined or summary['growth-percentile-weight-for-age-female'] is defined %}
                            {% if summary['growth-percentile-weight-for-age-male'] is defined %}
                                {{ summary['growth-percentile-weight-for-age-male'] }}th percentile (M) <br>
                            {% endif %}
                            {% if summary['growth-percentile-weight-for-age-female'] is defined %}
                                {{ summary['growth-percentile-weight-for-age-female'] }}th percentile (F)
                            {% endif %}
                        {% else %}
                            --
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Growth Percentile Height for Age</th>
                    <td colspan="2">
                        {% if summary['growth-percentile-height-for-age'] is defined and summary['growth-percentile-height-for-age'] is not empty %}
                            {{ summary['growth-percentile-height-for-age'] }}th percentile
                        {% elseif summary['growth-percentile-height-for-age-male'] is defined or summary['growth-percentile-height-for-age-female'] is defined %}
                            {% if summary['growth-percentile-height-for-age-male'] is defined %}
                                {{ summary['growth-percentile-height-for-age-male'] }}th percentile (M) <br>
                            {% endif %}
                            {% if summary['growth-percentile-height-for-age-female'] is defined %}
                                {{ summary['growth-percentile-height-for-age-female'] }}th percentile (F)
                            {% endif %}
                        {% else %}
                            --
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Growth percentile Weight for Length</th>
                    <td colspan="2">
                        {% if summary['growth-percentile-weight-for-length'] is defined and summary['growth-percentile-weight-for-length'] is not empty %}
                            {{ summary['growth-percentile-weight-for-length'] }}th percentile
                        {% elseif summary['growth-percentile-weight-for-length-male'] is defined or summary['growth-percentile-weight-for-length-female'] is defined %}
                            {% if summary['growth-percentile-weight-for-length-male'] is defined %}
                                {{ summary['growth-percentile-weight-for-length-male'] }}th percentile (M) <br>
                            {% endif %}
                            {% if summary['growth-percentile-weight-for-length-female'] is defined %}
                                {{ summary['growth-percentile-weight-for-length-female'] }}th percentile (F)
                            {% endif %}
                        {% else %}
                            --
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Growth Percentile Head Circumference for Age</th>
                    <td colspan="2">
                        {% if summary['growth-percentile-head-circumference-for-age'] is defined and summary['growth-percentile-head-circumference-for-age'] is not empty %}
                            {{ summary['growth-percentile-head-circumference-for-age'] }}th percentile
                        {% elseif summary['growth-percentile-head-circumference-for-age-male'] is defined or summary['growth-percentile-head-circumference-for-age-female'] is defined %}
                            {% if summary['growth-percentile-head-circumference-for-age-male'] is defined %}
                                {{ summary['growth-percentile-head-circumference-for-age-male'] }}th percentile (M) <br>
                            {% endif %}
                            {% if summary['growth-percentile-head-circumference-for-age-female'] is defined %}
                                {{ summary['growth-percentile-head-circumference-for-age-female'] }}th percentile (F)
                            {% endif %}
                        {% else %}
                            --
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Growth Percentile BMI for Age</th>
                    <td colspan="2">
                        {% if summary['growth-percentile-bmi-for-age'] is defined and summary['growth-percentile-bmi-for-age'] is not empty %}
                            {{ summary['growth-percentile-bmi-for-age'] }}th percentile
                        {% elseif summary['growth-percentile-bmi-for-age-male'] is defined or summary['growth-percentile-bmi-for-age-female'] is defined %}
                            {% if summary['growth-percentile-bmi-for-age-male'] is defined %}
                                {{ summary['growth-percentile-bmi-for-age-male'] }}th percentile (M) <br>
                            {% endif %}
                            {% if summary['growth-percentile-bmi-for-age-female'] is defined %}
                                {{ summary['growth-percentile-bmi-for-age-female'] }}th percentile (F) <br>
                            {% endif %}
                        {% else %}
                            --
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
</div>
