<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add New Incentive</h3>
    </div>
    <div class="panel-body">
        {{ form_start(incentiveForm, { attr: { class: 'warn-unsaved disable-enter prevent-resubmit patient-status-form' } }) }}
        {{ form_errors(incentiveForm) }}
        <p><b>Verification</b></p>
        <div class="checkbox">
            <label>
                <input type="checkbox"> <b>Please verify the participant has completed all study requirements?</b>
            </label>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(incentiveForm.incentive_date_given) }}
                {{ form_row(incentiveForm.incentive_occurrence) }}
                {{ form_row(incentiveForm.other_incentive_occurrence) }}
            </div>
            <div class="col-md-6">
                {{ form_row(incentiveForm.incentive_type) }}
                {{ form_row(incentiveForm.gift_card_type) }}
                {{ form_row(incentiveForm.other_incentive_type) }}
                {{ form_row(incentiveForm.incentive_amount) }}
                {{ form_row(incentiveForm.other_incentive_amount) }}
            </div>
        </div>
        {{ form_rest(incentiveForm) }}
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-default btn-patient-status-cancel">Cancel</button>
        {{ form_end(incentiveForm) }}
    </div>
</div>
