<div class="col-md-6 h-100 mb-4">
    {% if canViewPatientStatus %}
        <div class="card">
            <div class="card-header">
                <h6>Patient Status: {{ app.session.get('siteOrganizationDisplayName') }}</h6>
            </div>
            {% import 'macros/display-text.html.twig' as macros %}
            {{ macros.displayFlashMessage('patient-status') }}
            <div class="card-body">
                {% if orgPatientStatusData is empty %}
                    <small class="text-danger">Please complete the patient status information for your organization. User should have access to EHR system information for verification.</small>
                {% endif %}
                <div id="patient-status-data-box">
                    {% if orgPatientStatusData is not empty %}
                        <div>
                            <dl class="row">
                                <dt class="col-sm-3">Status</dt>
                                <dd class="col-sm-9">{{ orgPatientStatusData.display_status }}</dd>
                                <dt class="col-sm-3">Comments</dt>
                                <dd class="col-sm-9">{{ orgPatientStatusData.comments }}</dd>
                            </dl>
                        </div>
                        {% if not readOnlyView %}
                            <div align="center">
                                <button class="btn btn-primary btn-sm btn-patient-status-update">Update</button>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div id="patient-status-form-box">
                    {{ form_start(patientStatusForm, { attr: { class: 'disable-enter prevent-resubmit patient-status-form' } }) }}
                    {{ form_errors(patientStatusForm) }}
                    {{ form_rest(patientStatusForm) }}
                    {% if orgPatientStatusData is not empty %}
                        <small class="text-warning">User must enter a reason for updating previous organization status.</small>
                        <br><br>
                    {% endif %}
                    {% if not readOnlyView %}
                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                    {% endif %}
                    {% if orgPatientStatusData is not empty %}
                        <button type="button" class="btn btn-default btn-sm btn-patient-status-cancel">Cancel</button>
                    {% endif %}
                    {{ form_end(patientStatusForm) }}
                </div>
            </div>
            {% if orgPatientStatusHistoryData is not empty %}
                {% include 'partials/patient-status-history-list.html.twig' %}
            {% endif %}
            {% if awardeePatientStatusData is not empty %}
                {% include 'partials/participant-organization-patient-status-details.html.twig' %}
            {% endif %}
        </div>
    {% else %}
        <div class="row">
            <div class="col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3">
                {% if disablePatientStatusMessage is not empty %}
                    <div class="alert alert-warning">
                        {{ disablePatientStatusMessage }}
                    </div>
                {% else %}
                    {% include 'partials/participant-notice.html.twig' %}
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
