{% import 'macros/display-text.html.twig' as macros %}
{% set readOnlyView = readOnlyView|default(false) %}
<div class="card id-verification" id="id_verification" data-has-id-verifications="{{ idVerifications ? 1 : 0 }}">
    <div class="card-header">
        <h6>
            <i class="fa fa-id-card" aria-hidden="true"></i> ID Verification
            <span class="toggle-help-text toggle-id-verification-help-text" data-id="id_verification_help_modal">
                <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
            </span>
        </h6>
    </div>
    {{ macros.displayFlashMessage('id-verification') }}
    <div class="card-body">
        <div id="id-verification-data-box">
            {% if idVerifications is not empty %}
                {% set idVerification = idVerifications[0] %}
                <dl class="row">
                    <dt class="col-sm-4">Verified</dt>
                    <dd class="col-sm-8">{{ idVerification.verifiedDate|date('n/j/Y g:ia', app.user.timezone) }}</dd>
                    <dt class="col-sm-4">Verification Type</dt>
                    <dd class="col-sm-8">{{ macros.displayChoiceText(idVerification.verificationType, idVerificationChoices['verificationType']) }}</dd>
                    <dt class="col-sm-4">Visit Type</dt>
                    <dd class="col-sm-8">{{ macros.displayChoiceText(idVerification.visitType, idVerificationChoices['visitType']) }}</dd>
                    {% if idVerification.visitType == constant('App\\Entity\\IdVerification::PEDIATRIC_VISIT') %}
                        <dt class="col-sm-4">Guardian Confirmation</dt>
                        <dd class="col-sm-8">{{ idVerification.GuardianVerified ? 'Yes' : 'No' }}</dd>
                    {% endif %}
                </dl>
                {% if not readOnlyView %}
                    <div class="text-center">
                        <button class="btn btn-primary btn-sm btn-id-verification-add-new">Add New</button>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div id="id-verification-form-box">
            {{ form_start(idVerificationForm, { attr: { class: 'disable-enter prevent-resubmit id-verification-form', id: 'id_verification_form' } }) }}
            {{ form_errors(idVerificationForm) }}
            {{ form_rest(idVerificationForm) }}
            {% if not readOnlyView %}
                <button type="submit" id="id_verification_submit" class="btn btn-primary btn-sm">Submit</button>
                {% if type is defined and type == 'edit' %}
                    <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Cancel</button>
                {% else %}
                    <button type="button" class="btn btn-outline-secondary btn-sm" id="id_verification_cancel">Cancel</button>
                {% endif %}
            {% endif %}
            {{ form_end(idVerificationForm) }}
        </div>
    </div>
    {% if idVerifications is not empty %}
        <div class="panel-group verification-history view-details" id="verification" role="tablist" aria-multiselectable="true">
            <div>
                <div class="panel-heading bg-secondary text-white view-history-dropdown" role="tab" id="headingOne">
                    <div role="button" data-bs-toggle="collapse" data-parent="#verification"
                         data-bs-target="#idVerification" aria-expanded="true" aria-controls="idVerification">
                        View ID Verification History
                        <span class="badge badge-light">{{ idVerifications|length }}</span>
                    </div>
                </div>
                <div id="idVerification" class="panel-collapse collapse px-4" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        {% for idVerification in idVerifications %}
                            <dl class="row">
                                <dt class="col-sm-4">Verified</dt>
                                <dd class="col-sm-8">{{ idVerification.verifiedDate|date('n/j/Y g:ia', app.user.timezone) }}</dd>
                                <dt class="col-sm-4">User</dt>
                                <dd class="col-sm-8">{{ idVerification.user ? idVerification.user.email : '' }}</dd>
                                <dt class="col-sm-4">Site</dt>
                                <dd class="col-sm-8">{{ siteInfo.siteDisplayName(idVerification.site) }}</dd>
                                <dt class="col-sm-4">Verification Type</dt>
                                <dd class="col-sm-8">{{ macros.displayChoiceText(idVerification.verificationType, idVerificationChoices['verificationType']) }}</dd>
                                <dt class="col-sm-4">Visit Type</dt>
                                <dd class="col-sm-8">{{ macros.displayChoiceText(idVerification.visitType, idVerificationChoices['visitType']) }}</dd>
                                {% if idVerification.visitType == constant('App\\Entity\\IdVerification::PEDIATRIC_VISIT') %}
                                    <dt class="col-sm-4">Guardian Confirmation</dt>
                                    <dd class="col-sm-8">{{ idVerification.GuardianVerified ? 'Yes' : 'No' }}</dd>
                                {% endif %}
                            </dl>
                            <hr/>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<div id="id_verification_help_modal" style="display:none">
    <h5><em>AoU</em> program standards for ID verification include any form of identification that can supply:</h5>
    <ol>
        <li>A photo and at least one piece of personally identifiable information (PII); or</li>
        <li>At least two separate pieces of PII.</li>
    </ol>
    <h5>Acceptable pieces of PII include:</h5>
    <ul>
        <li>Name</li>
        <li>Date of Birth (DOB)</li>
        <li>Street Address</li>
        <li>Phone Number</li>
        <li>Email Address</li>
    </ul>
    <em>Minimum Participant ID Verification Requirements for Physical Measurement and Biospecimen Appointments policy (pg. 2)</em>
</div>

<div id="guardian_help_modal" style="display:none">
    <h5><em>Pediatric ID Verification Guidelines:</em></h5>
    <p>Please verify the identity of the guardian who signed the AoU Pediatric Consent form. The guardian can be found in the Participant Details side bar.</p>
</div>
