{% import 'macros/display-text.html.twig' as macros %}

<ul class="list-group">
    <li class="list-group-item">
        {{ macros.displayConsentStatus('Primary Consent', participant.consentForStudyEnrollment, participant.consentForStudyEnrollmentAuthored) }}
    </li>
    <li class="list-group-item">
        {{ macros.displayEHRConsentStatus(participant.consentForElectronicHealthRecords, participant.consentForElectronicHealthRecordsAuthored, participant.ehrConsentExpireStatus, participant.ehrConsentExpireAuthored) }}
    </li>
    <li class="list-group-item">
        {{ macros.displayGenomicsConsentStatus(participant.consentForGenomicsROR, participant.consentForGenomicsRORAuthored) }}
    </li>
    {% if siteInfo.isDVType == 'dv' %}
        <li class="list-group-item">
            {{ macros.displayConsentStatus('DV-only EHR Sharing', participant.consentForDvElectronicHealthRecordsSharing, participant.consentForDvElectronicHealthRecordsSharingAuthored) }}
            <span title="Direct Volunteer participants are not asked to consent to share EHR data, but are asked if they would be willing to in the future." data-toggle="tooltip"><span class="sr-only">What is DV EHR Sharing</span><i class="fa fa-question-circle text-info"></i></span>
        </li>
    {% endif %}
    {% if siteInfo.displayCaborConsent %}
        <li class="list-group-item">
            {{ macros.displayConsentStatus('CABoR Consent', participant.consentForCABoR, participant.consentForCABoRAuthored) }}
            <span title="California Research Subjects' Bill of Rights is required for participants only by enrollment sites in California" data-toggle="tooltip"><span class="sr-only">What is CABoR?</span><i class="fa fa-question-circle text-info"></i></span>
        </li>
    {% endif %}
    {% if displayPatientStatusBlock %}
        <li class="list-group-item">
            {% if orgPatientStatusData is not empty %}
                {% set displayStatus = orgPatientStatusData.display_status|split(':') %}
                {% if orgPatientStatusData.status == 'YES' %}
                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                    <strong>Patient Status</strong>
                    {{ displayStatus|first }}
                {% elseif orgPatientStatusData.status == 'UNKNOWN' or orgPatientStatusData.status == 'NO_ACCESS' %}
                    <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>
                    <strong>Patient Status</strong>
                    {{ displayStatus|first }}
                {% else %}
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <strong>Patient Status</strong>
                    {{ displayStatus|first }}
                {% endif %}
            {% else %}
                <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>
                <strong>Patient Status</strong>
                (not complete)
            {% endif %}
        </li>
    {% endif %}
</ul>
