<div class="col-md-6">
    {% if canViewPatientStatus %}
        {% if orgPatientStatusData is empty %}
            <div class="alert alert-warning">
                Please complete the patient status information for your organization. User should have access to EHR system information for verification.
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Patient Status: {{ app.session.get('siteOrganizationDisplayName') }}</h3>
            </div>
            <div class="panel-body">
                <div id="patient-status-data-box">
                    {% if orgPatientStatusData is not empty %}
                        <div>
                            <dl class="dl-horizontal">
                                <dt>Status</dt>
                                <dd>{{ orgPatientStatusData.display_status }}</dd>
                                <dt>Comments</dt>
                                <dd>{{ orgPatientStatusData.comments }}</dd>
                            </dl>
                        </div>
                        {% if not readOnlyView %}
                            <div align="center">
                                <button class="btn btn-primary btn-sm btn-patient-status-update">Update</button>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div id="patient-status-form-box">
                    {{ form_start(patientStatusForm, { attr: { class: 'warn-unsaved disable-enter prevent-resubmit patient-status-form' } }) }}
                    {{ form_errors(patientStatusForm) }}
                    {{ form_rest(patientStatusForm) }}
                    {% if orgPatientStatusData is not empty %}
                        <small class="text-warning">User must enter a reason for updating previous organization status.</small>
                        <br><br>
                    {% endif %}
                    {% if not readOnlyView %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    {% endif %}
                    {% if orgPatientStatusData is not empty %}
                        <button type="button" class="btn btn-default btn-patient-status-cancel">Cancel</button>
                    {% endif %}
                    {{ form_end(patientStatusForm) }}
                </div>
                {% if orgPatientStatusHistoryData is not empty %}
                    {% include 'partials/patient-status-history-dl.html.twig' %}
                {% endif %}
            </div>
        </div>
        {% if awardeePatientStatusData is not empty %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Patient Status Details: Other Organizations</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Awardee</th>
                            <th>Organization</th>
                            <th>Status</th>
                            <th>User</th>
                            <th>Site</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for field in awardeePatientStatusData %}
                            <tr>
                                <td>{{ field.awardee_name|default(field.awardee) }}</td>
                                <td>{{ field.organization_name|default(field.organization) }}</td>
                                <td>{{ field.display_status }}</td>
                                <td>{{ field.user_email }}</td>
                                <td>{{ field.site_name|default(field.site) }}</td>
                                <td>{{ field.created_ts|date('n/j/Y g:ia', app.user.timezone) }}</td>
                                <td>
                                    <small>
                                        <a data-href="{{ path('patientStatus', { participantId: participant.id, patientStatusId: field.ps_id }) }}" class="patient-status-details">History</a>
                                    </small>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="row">
            <div class="col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3">
                {% if disablePatientStatusMessage is not empty %}
                    <div class="alert alert-warning">
                        {{ disablePatientStatusMessage }}
                    </div>
                {% else %}
                    {% include 'partials/participant-notice.html.twig' %}
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
