{% set readOnlyView = readOnlyView|default(false) %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-clipboard" aria-hidden="true"></i> Physical Measurements</h3>
    </div>
    <div class="panel-body">
        {% if readOnly is defined and measurements|length == 0 %}
            <small class="text-warning">No Records Found</small>
        {% else %}
            {% for measurement in measurements %}
                {% if type is not defined and loop.index == 6 %}
                    <div id="evaluation-overflow">
                {% endif %}
                {% if readOnly is defined %}
                    <div class="btn btn-block btn-lg btn-default btn-readonly">
                {% else %}
                    {% set measurementRoute = readOnlyView ? 'read_measurement' : 'measurement' %}
                    <a href="{{ path(measurementRoute, { participantId: participant.id, measurementId: measurement.id }) }}" class="btn btn-block btn-lg {% if evalId is defined and measurement.id == evalId %} btn-warning {% else %} btn-default {% endif %}">
                {% endif %}
                    {{ measurement.createdTs|date('D n/j/Y', app.user.timezone) }}<br />
                    <small class="text-muted">
                        {% set historyType = measurement.history.type is defined ? measurement.history.type : '' %}
                        {% if historyType == 'cancel' %}
                            <span class="label label-danger">Cancelled</span> {{ measurement.history.createdTs|date('n/j/Y g:ia', app.user.timezone) }}
                        {% elseif measurement.rdrId is empty and measurement.parentId is empty %}
                            <span class="label label-default">Saved &amp; Unfinalized</span> {{ measurement.updatedTs|date('n/j/Y g:ia', app.user.timezone) }}
                        {% elseif measurement.rdrId and measurement.parentId %}
                            <span class="label label-success">Edited &amp; Finalized</span> {{ measurement.finalizedTs|date('n/j/Y g:ia', app.user.timezone) }}
                        {% elseif measurement.rdrId %}
                            <span class="label label-success">Finalized</span> {{ measurement.finalizedTs|date('n/j/Y g:ia', app.user.timezone) }}
                        {% elseif measurement.parentId and measurement.rdrId is empty %}
                            <span class="label label-warning">Edited &amp; Unfinalized</span> {{ measurement.updatedTs|date('n/j/Y g:ia', app.user.timezone) }}
                        {% endif %}
                    </small>
                    {% if measurement.isPediatricForm %}
                        <div class="pull-right">
                            <i class="fa fa-child child-icon" data-toggle="tooltip" data-container="body" aria-label="Pediatric Participant" title="Pediatric Participant"></i>
                        </div>
                    {% endif %}
                {% if readOnly is defined %}
                    </div> {# close .btn-readonly div above #}
                {% else %}
                    </a>
                {% endif %}
            {% endfor %}
            {% if type is not defined and measurements|length > 5 %}
                </div> {# close .evaluation-overflow div above #}
                <a href="#" class="btn btn-block btn-lg btn-default" id="evaluation-overflow-show">
                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> Show all
                </a>
            {% endif %}
            {% if type is not defined and readOnly is not defined and not readOnlyView %}
                {% set evaluationUrl = evaluationUrl is defined ? evaluationUrl : 'measurement' %}
                <a href="{{ path(evaluationUrl, { participantId: participant.id }) }}" class="btn btn-block btn-lg btn-default">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    {% if measurements|length > 0 %}
                        New
                    {% else %}
                        Start
                    {% endif %}
                    Physical Measurements
                </a>
            {% endif %}
        {% endif %}
    </div>
</div>
