{% import 'macros/display-text.html.twig' as macros %}
<div class="row">
    <div class="col-sm-12 position-relative">
        <nav id="navbar-participant-activities" class="navbar bg-light px-3 mb-3">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyPPI">PPI Survey Completion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyPMB">Physical Measurements and Biospecimens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyRetention">Retention and EHR Metrics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyAncillary">Ancillary Studies</a>
                </li>
            </ul>
        </nav>
        <div data-bs-spy="scroll" data-bs-target="#navbar-participant-activities" data-bs-root-margin="0px 0px -40%"
             data-bs-smooth-scroll="true" class="scrollspy-participant-overview p-3 rounded-2" tabindex="0">
            <div id="scrollspyPPI">&nbsp;</div>
            <div class="row">
                <div class="col-sm-7">
                    <h6 class="text-primary scroll-header"><span>PPI Survey Completion</span></h6>
                </div>
                <div class="col-sm-5">
                    <button class="btn btn-sm {{ participant.numCompletedBaselinePPIModules == 3 ? 'btn-success' : 'btn-danger' }}">
                        Required Complete?
                        {% if participant.numCompletedBaselinePPIModules == 3 %}
                            <i class="fa fa-check" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa fa-times" aria-hidden="true"></i>
                        {% endif %}
                    </button>
                    <button class="btn btn-primary btn-sm ms-3">
                        Number Complete <span class="badge rounded-pill bg-light text-dark">{{ participant.numCompletedPPIModules }}</span>
                    </button>
                </div>
            </div>
            {% for field, label in surveys %}
                <div class="participant-detail-new-status text-start">
                    <strong class="d-block">{{ label }}</strong>
                    {% if attribute(participant, 'questionnaireOn' ~ field) == 'SUBMITTED' %}
                        <i class="fa fa-check text-success" aria-hidden="true"></i>
                    {% else %}
                        <i class="fa fa-times text-danger" aria-hidden="true"></i>
                    {% endif %}
                    <small>
                        {{ attribute(participant, 'questionnaireOn' ~ field ~ 'Authored') ? attribute(participant, 'questionnaireOn' ~ field ~ 'Authored')|date('n/j/Y g:ia', app.user.timezone) : '(not completed)' }}
                    </small>
                </div>
            {% endfor %}
            <div id="scrollspyPMB">&nbsp;</div>
            <div class="row">
                <div class="col-sm-7">
                    <h6 class="text-primary scroll-header"><span>Physical Measurements and Biospecimens</span></h6>
                </div>
                <div class="col-sm-5">
                    <button class="btn btn-sm {{ participant.samplesToIsolateDNA == 'RECEIVED' ? 'btn-success' : 'btn-danger' }}"
                            title="This is a count of all biospecimens received by the Biobank from which DNA could be extracted. This includes EDTA tube samples and saliva samples."
                            data-bs-toggle="tooltip">
                        Samples to Isolate DNA?
                        {% if participant.samplesToIsolateDNA == 'RECEIVED' %}
                            <i class="fa fa-check" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa fa-times" aria-hidden="true"></i>
                        {% endif %}
                    </button>
                    <button class="btn btn-sm btn-primary"
                            title="The count of baseline biospecimens which have been received by the Biobank does NOT include saliva samples, as these are collected as an alternative to blood samples for DNA extraction. "
                            data-bs-toggle="tooltip">
                        Baseline Samples Received <span class="badge rounded-pill bg-light text-dark">{{ participant.numBaselineSamplesArrived }}</span>
                    </button>
                </div>
            </div>
            <p>
                <strong>Physical Measurements</strong>
                {% if participant.evaluationFinalizedSite %}
                    Location: {{ siteInfo.getSiteDisplayName(participant.evaluationFinalizedSite) }}
                {% endif %}
            </p>
            <div class="participant-detail-new-status text-start">
                <strong class="d-block">Physical Measurements</strong>
                {% if participant.clinicPhysicalMeasurementsStatus == 'COMPLETED' %}
                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                    {% if participant.clinicPhysicalMeasurementsFinalizedTime %}
                        <small>{{ participant.clinicPhysicalMeasurementsFinalizedTime|date('m/d/Y', app.user.timezone) }}</small>
                    {% endif %}
                {% else %}
                    <i class="fa fa-times text-danger" aria-hidden="true"></i>
                    <small>(not completed)</small>
                {% endif %}
            </div>
            <div class="participant-detail-new-status text-start">
                <strong class="d-block">Remote Physical Measurements</strong>
                {% if participant.selfReportedPhysicalMeasurementsStatus == 'COMPLETED' %}
                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                    {% if participant.selfReportedPhysicalMeasurementsAuthored %}
                        <small>{{ participant.selfReportedPhysicalMeasurementsAuthored|date('m/d/Y', app.user.timezone) }}</small>
                    {% endif %}
                {% else %}
                    <i class="fa fa-times text-danger" aria-hidden="true"></i>
                    <small>(not completed)</small>
                {% endif %}
            </div>
            <p>
                <strong>Biospecimens</strong>
                {% if participant.orderCreatedSite %}
                    Location: {{ siteInfo.getSiteDisplayName(participant.orderCreatedSite) }}
                {% endif %}
            </p>
            {% for field, label in samples %}
                {% set break = false %}
                {% for sampleAlias in samplesAlias|filter((s) => not break) %}
                    {% if attribute(sampleAlias, field) is defined  and attribute(participant, 'sampleStatus' ~ attribute(sampleAlias, field)) == 'RECEIVED' %}
                        {% set field = attribute(sampleAlias, field) %}
                        {% set break = true %}
                    {% endif %}
                {% endfor %}
                <div class="participant-detail-new-status text-start">
                    <strong class="d-block">{{ label }}</strong>
                    {% if attribute(participant, 'sampleStatus' ~ field) == 'RECEIVED' %}
                        <i class="fa fa-check text-success" aria-hidden="true"></i>
                        {% if attribute(participant, 'sampleStatus' ~ field ~ 'Time') %}
                            <small>{{ attribute(participant, 'sampleStatus' ~ field ~ 'Time')|date('m/d/Y', app.user.timezone) }}</small>
                            {% if (field == '1SAL' or field == '1SAL2') and attribute(participant, 'sample1SAL2CollectionMethod') %}
                                <br><small>{{ attribute(participant, 'sample1SAL2CollectionMethod') }}</small>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <i class="fa fa-times text-danger" aria-hidden="true"></i>
                        <small>(not received)</small>
                    {% endif %}
                </div>
            {% endfor %}
            <div id="scrollspyRetention">&nbsp;</div>
            <h6 class="text-primary scroll-header"><span>Retention and EHR Metrics</span></h6>
            {% if not participant.isPediatric %}
                <div class="participant-detail-new-status text-start">
                    <strong class="d-block">Retention Eligible</strong>
                    {{ macros.displayRetentionEligibleStatus(participant.retentionEligibleStatus, participant.retentionEligibleTime) }}
                </div>
                <div class="participant-detail-new-status text-start">
                    <strong class="d-block">Retention Status</strong>
                    {{ macros.displayRetentionType(participant.retentionType) }}
                </div>
            {% endif %}
            <div class="participant-detail-new-status text-start">
                <strong class="d-block">EHR Transfer Status</strong>
                {{ macros.displayEhrTransferStatus(participant.isEhrDataAvailable) }}
            </div>
            <div class="participant-detail-new-status text-start">
                <strong class="d-block">Most Recent EHR Receipt</strong>
                {% if participant.latestEhrReceiptTime %}
                    {{ participant.latestEhrReceiptTime|date('m/d/Y', app.user.timezone) }}
                {% endif %}
            </div>
            <div class="participant-detail-new-status text-start">
                <strong class="d-block">Health Data Stream</strong>
                {% if participant.healthDataStreamSharingStatus %}
                    {% if participant.healthDataStreamSharingStatus == 'CURRENTLY_SHARING' %}
                        <i class="fa fa-check-double text-success" aria-hidden="true"></i>
                        {% if participant.healthDataStreamSharingStatusTime %}
                            {{ participant.healthDataStreamSharingStatusTime|date('m/d/Y', app.user.timezone) }}
                        {% endif %}
                        (Currently Sharing)
                    {% elseif participant.healthDataStreamSharingStatus == 'EVER_SHARED' %}
                        <i class="fa fa-check text-success" aria-hidden="true"></i>
                        {% if participant.healthDataStreamSharingStatusTime %}
                            {{ participant.healthDataStreamSharingStatusTime|date('m/d/Y', app.user.timezone) }}
                        {% endif %}
                        (Ever Shared)
                    {% else %}
                        <i class="fa fa-times text-danger" aria-hidden="true"></i> (Never Shared)
                    {% endif %}
                {% else %}
                    <i class="fa fa-times text-danger" aria-hidden="true"></i> (Never Shared)
                {% endif %}
            </div>
            <div id="scrollspyAncillary">&nbsp;</div>
            <h6 class="text-primary scroll-header"><span>Ancillary Studies</span></h6>
            {% if not participant.isPediatric %}
                <div class="participant-detail-new-status text-start end-status-box">
                    <strong class="d-block">Nutrition For Precision Health</strong>
                    {% if participant.nphWithdrawal %}
                        <i class="fa fa-times text-danger" aria-hidden="true"></i>
                        <small>{{ participant.nphWithdrawalAuthored|date('n/j/Y g:ia', app.user.timezone) }} (withdrawn)</small>
                    {% elseif participant.nphDeactivation %}
                        <i class="fa fa-times text-danger" aria-hidden="true"></i>
                        <small>{{ participant.nphDeactivationAuthored|date('n/j/Y g:ia', app.user.timezone) }}(deactivated)</small>
                    {% elseif participant.consentForNphModule1 %}
                        <i class="fa fa-check text-success" aria-hidden="true"></i>
                        {% if participant.consentForNphModule1Authored %}
                            <small>{{ participant.consentForNphModule1Authored|date('n/j/Y g:ia', app.user.timezone) }} module 1 (consented)</small>
                        {% endif %}
                    {% else %}
                        <i class="fa fa-times text-danger" aria-hidden="true"></i>
                        <small>(not consented)</small>
                    {% endif %}
                </div>
            {% else %}
                No applicable fields available.
            {% endif %}
        </div>
    </div>
</div>
