<div class="collapse navbar-collapse consent-columns" id="navbar-collapse-2">
    <ul class="nav navbar-nav">
        <li class="dropdown columns-filter-group" id="columns_group" data-columns-url="{{ path('workqueue_columns') }}">
            <button href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">
                <i class="fa fa-columns" aria-hidden="true"></i> Columns
                <b class="caret"></b>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <div class="pull-right">
                        <small class="filter-reset">
                            <a id="columns_select_all" data-group-id="columns_group">Select All</a> |
                            <a id="columns_deselect_all" data-group-id="columns_group">Deselect All</a>
                        </small>
                    </div>
                    <div class="wq-main-columns">
                        <ul class="list-group">
                            {% set columNumber = 3 %}
                            {% for group, groupName in columnGroups %}
                                <li><b>{{ groupName }}</b></li>
                                {% for name, columnDef in columnsDef %}
                                    {% if columnDef.group is defined and columnDef.group == group  %}
                                        {% if columnDef.names is defined %}
                                            {% for subFieldName, subFieldLabel in columnDef.names %}
                                                {% set checked = subFieldName in app.session.get('workQueueColumns') ? 'checked' : '' %}
                                                <li class="filter-list-group-item checkbox">
                                                    <labeL><input type="checkbox" name="{{ subFieldName }}" {{ checked }} class="toggle-vis" id="toggle_column_{{ columNumber }}" data-column="{{ columNumber }}"/> {{ subFieldLabel }}</label>
                                                </li>
                                                {% set columNumber = columNumber + 1 %}
                                            {% endfor %}
                                        {% else %}
                                            {% set checked = name in app.session.get('workQueueColumns') ? 'checked' : '' %}
                                            <li class="filter-list-group-item checkbox">
                                                <label><input type="checkbox" name="{{ name }}" {{ checked }} class="toggle-vis" id="toggle_column_{{ columNumber }}" data-column="{{ columNumber }}"/> {{ columnDef.name }}</label>
                                            </li>
                                            {% set columNumber = columNumber + 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown columns-filter-group" id="participant_lookup_group">
            {% include 'partials/workqueue-participant-lookup.html.twig' %}
        </li>
    </ul>
</div>
