<div class="collapse navbar-collapse consent-filters" id="navbar-collapse-1">
    <ul class="nav navbar-nav">
        {% for label, subAdvancedFilters in advancedFilters %}
            <li class="dropdown">
                <button href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">
                    <i class="fa fa-columns" aria-hidden="true"></i> {{ label }}
                    <b class="caret"></b>
                </button>
                <ul class="dropdown-menu" id="filter_status_{{ label }}_group">
                    <small class="pull-right filter-reset"><a class="filter-status-sub-group-reset" data-group-id="filter_status_{{ label }}_group">Reset</a></small>
                    {% for name, advancedFilter in subAdvancedFilters %}
                        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ advancedFilter.label }}</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <ul class="list-group list-options">
                                        <li class="list-group-item">
                                            <b>Select Status</b>
                                        </li>
                                        {% for label, value in advancedFilter.options %}
                                            <li class="list-group-item radio">
                                                <label><input type="radio" {% if params[name]|default('') == value %} checked {% endif %} name="{{ name }}" value="{{ value }}"/> {{ label }}</label>
                                            </li>
                                        {% endfor %}
                                        {% if advancedFilter.dateField is defined %}
                                            <li class="list-group-item">
                                                <b>Select Date(s)</b>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="form-group">
                                                    <label class="control-label" for="{{ advancedFilter.dateField }}StartDate">Start Date</label>
                                                    <input type="text" name="{{ advancedFilter.dateField }}StartDate" class="form-control" id="{{ advancedFilter.dateField }}StartDate" value="{{ params[advancedFilter.dateField ~ 'StartDate']|default('') }}" placeholder="MM/DD/YYYY" data-parsley-date-mdy>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label" for="{{ advancedFilter.dateField }}EndDate">End Date</label>
                                                    <input type="text" name="{{ advancedFilter.dateField }}EndDate" class="form-control" id="{{ advancedFilter.dateField }}EndDate" value="{{ params[advancedFilter.dateField ~ 'EndDate']|default('') }}" placeholder="MM/DD/YYYY" data-parsley-date-mdy>
                                                </div>
                                                <p class="text-center">
                                                    <button type="button" class="btn btn-primary btn-small apply-date-filter" data-consent-date-field-name="{{ advancedFilter.dateField }}">Apply</button>
                                                </p>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>
