{% extends 'base.html.twig' %}
{% block body %}
    {% form_theme groupMemberForm 'custom_bootstrap_5_layout.html.twig' %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="{{ path('home') }}">Home</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="{{ path('access_manage_dashboard') }}">Management Tools</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="{{ path('access_manage_user_groups') }}">HealthPro Groups</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="{{ path('access_manage_user_group', { groupId: group.id }) }}">{{ group.name }}</a></li>
            <li class="breadcrumb-item active">Add Member</li>
        </ol>
    </nav>
    <div class="page-header border-bottom">
        <h2><i class="fa fa-users" aria-hidden="true"></i> User Management</h2>
    </div>
    <h4 class="mt-2 mb-4">{{ group.name }}</h4>
    <div class="row">
        <div class="col-sm-7">
            <div class="page-header border-bottom">
                <h5 class="text-success"><i class="fa fa-user" aria-hidden="true"></i> Add Member</h5>
            </div>
            <div class="alert alert-warning row mt-2">
                <div class="col-sm-1 user-add-warning-icon">
                    <i class="fa fa-exclamation-triangle fa-lg"></i>
                </div>
                <div class="col-sm-11 user-add-warning-text">
                    If you have not received an email notification indicating your user has enabled 2FA, please search
                    for the user in the <a href="{{ adminConsoleUrl }}" target="_blank">Admin Console</a> to verify the
                    status before adding to groups.
                </div>
            </div>
            {{ form_start(groupMemberForm, { attr: { class: 'warn-unsaved disable-enter prevent-resubmit' } }) }}
            {{ form_errors(groupMemberForm) }}
            {{ form_label(groupMemberForm.email) }}
            <div class="{% if groupMemberForm.email.vars.errors|length > 0 %} has-error {% endif %}">
                <div class="input-group mb-3">
                    {{ form_widget(groupMemberForm.email) }}
                    <span class="input-group-text" id="basic-addon2">@pmi-ops.org</span>
                </div>
                {{ form_errors(groupMemberForm.email) }}
            </div>
            {{ form_rest(groupMemberForm) }}
            <div class="my-2">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="{{ path('access_manage_user_group', { groupId: group.id }) }}" class="btn btn-secondary">Cancel</a>
            </div>
            {{ form_end(groupMemberForm) }}
        </div>
    </div>
{% endblock %}
