{% set bootstrapVersion = 5 %}
{% extends 'base.html.twig' %}
{% form_theme removeGoupMemberForm 'custom_bootstrap_5_layout.html.twig' %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="{{ path('home') }}">Home</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="{{ path('access_manage_dashboard') }}">Management Tools</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="{{ path('access_manage_user_groups') }}">HealthPro Groups</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="{{ path('access_manage_user_group', { groupId: group.id }) }}">{{ group.name }}</a></li>
            <li class="breadcrumb-item active">Remove Member</li>
        </ol>
    </nav>
    <div class="page-header border-bottom">
        <h2><i class="fa fa-users" aria-hidden="true"></i> User Management</h2>
    </div>
    <h4 class="mt-2 mb-4">{{ group.name }}</h4>
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header border-bottom mb-2">
                <h5 class="text-danger"><i class="fa fa-user" aria-hidden="true"></i> Remove Member</h5>
            </div>
            {{ form_start(removeGoupMemberForm, { attr: { class: 'disable-enter prevent-resubmit' } }) }}
            {{ form_errors(removeGoupMemberForm) }}
            <div>
                <p><label>Credentials:</label> {{ member.email }}</p>
                <p><label>Role:</label> {{ member.role }}</p>
            </div>
            {{ form_row(removeGoupMemberForm.confirm) }}
            <div class="form-group member-reason {% if removeGoupMemberForm.reason.vars.errors|length > 0 %} has-error {% endif %}" style="display: none">
                {{ form_label(removeGoupMemberForm.reason) }}
                {% for reason in removeGoupMemberForm.reason %}
                    {{ form_widget(reason) }}
                    {% set programText = app.session.get('program') == constant('App\\Entity\\User::PROGRAM_NPH') ? 'NPH and AoU' : 'AoU and NPH' %}
                    {% if loop.index == 1 %}
                        <i class="text-primary small">Note: Member will be removed from all associated HealthPro groups. (This includes removal from all
                            {{ programText }} groups, if applicable.)</i>
                    {% else %}
                        <i class="text-primary small">Note: Member will be removed from this group, but <u>maintain access</u> to HealthPro through other associated groups. (This includes maintaining access to all other
                            {{ programText }} groups, if applicable.)</i>
                    {% endif %}
                {% endfor %}
                {{ form_errors(removeGoupMemberForm.reason) }}
            </div>
            <div class="member-last-date" style="display: none">
                {{ form_row(removeGoupMemberForm.memberLastDay) }}
                {{ form_row(removeGoupMemberForm.attestation) }}
            </div>
            <div class="my-2">
                <button type="submit" class="btn btn-primary" style="display:none">Submit</button>
                <a href="{{ path('access_manage_user_group', { groupId: group.id }) }}" class="btn btn-secondary">Cancel</a>
            </div>
            {{ form_end(removeGoupMemberForm) }}
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('group-member-remove') }}
{% endblock %}
