<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('dist/css/lib.min.css') }}?v={{ app.assetVer }}">
    <link rel="stylesheet" href="{{ asset('dist/css/app.min.css') }}?v={{ app.assetVer }}">
    <!--[if lt IE 9]>
        <script src="{{ asset('js/html5shiv.min.js') }}"></script>
        <script src="{{ asset('js/respond.min.js') }}"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pmi-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('home') }}"><i class="fa fa-star" aria-hidden="true"></i> PMI HealthPro</a>
            </div>
            <div class="collapse navbar-collapse" id="pmi-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('participants') }}">Participant Lookup</a></li>
                    <li><a href="{{ path('orders') }}">Order Lookup</a></li>
                    <li><a href="{{ path('groups') }}">Groups</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li>
                            <a href="#" data-toggle="modal" data-target="#siteModal">
                                <i class="fa fa-hospital-o" aria-hidden="true"></i>
                                Choose HPO Site
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> {{ app.user.email|default('') }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div id="flash-notices">
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">{{ flashMessage }}</div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-info">{{ flashMessage }}</div>
            {% endfor %}
        </div>

        {% block body %}{% endblock %}
    </div>

    <div class="modal fade" id="siteModal" tabindex="-1" role="dialog" aria-labelledby="siteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="siteModalLabel">Current site</h4>
                </div>
                <div class="modal-body">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if app.user.sites|length == 0 %}
                            <span class="text-danger">You do not belong to any HPO sites!</span>
                        {% else %}
                            <select class="form-control">
                            {% for site in app.user.sites %}
                                <option value="{{ site.email }}">{{ site.name }}</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    {% if app.user.sites|length > 0 %}
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Switch</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <script src="{{ asset('dist/js/all.min.js') }}?v={{ app.assetVer }}"></script>
    {% block pagejs %}{% endblock %}
</body>
</html>
