{% extends 'base.html.twig' %}
{% block title %}Physical Evaluation - {% endblock %}
{% block body %}
    {{ form_errors(evaluationForm) }}

    <div class="page-header">
        <h2>
            <i class="fa fa-clipboard" aria-hidden="true"></i>
            {% if evaluation %}
                {{ evaluation.created_ts|date('n/j/Y') }}
            {% else %}
                New Evaluation
            {% endif %}
            <small><a href="{{ path('participant', { id: participant.id }) }}">{{ participant.lastName }}, {{ participant.firstName }}</a></small>
        </h2>
    </div>
    <dl class="dl-horizontal">
        <dt>DOB</dt>
        <dd>{{ participant.dob|date('n/j/Y') }}</dd>
        <dt>Gender</dt>
        <dd>{{ participant.gender }}</dd>
        {% if evaluation %}
            <dt>Updated</dt>
            <dd>{{ evaluation.updated_ts|date('n/j/Y g:ia') }}</dd>
        {% endif %}
    </dl>

    <div id="physicalEvaluation">
        {{ form_start(evaluationForm) }}
            {% for field in schema.fields %}
                <div data-field="{{ field.name }}" class="field field-{{ field.name }} form-group{% if not evaluationForm[field.name].vars.valid and field.replicates is not defined %} has-error{% endif %}">
                    {{ form_label(evaluationForm[field.name]) }}
                    {% if field.image is defined %}
                        <span class="toggle-help-image" data-img="{{ asset('img/eval/'~field.image) }}">
                            <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
                        </span>
                    {% endif %}
                    {% if field.replicates is defined %}
                        <div class="row replicate">
                        {% for replicateField in evaluationForm[field.name] %}
                            <div class="col-sm-4{% if not replicateField.vars.valid %} has-error{% endif %}">
                            {% if field.unit is defined %}
                                <div class="input-group">
                            {% endif %}
                                {{ form_widget(replicateField) }}
                            {% if field.unit is defined %}
                                    <div class="input-group-addon">{{ field.unit }}</div>
                                </div>
                            {% endif %}
                            {{ form_errors(replicateField) }}
                            </div>
                        {% endfor %}
                        </div>
                        <div id="mean-{{ field.name }}" class="mean"></div>
                    {% else %}
                        <div class="row">
                            <div class="col-sm-4">
                                {% if field.unit is defined %}
                                    <div class="input-group">
                                {% endif %}
                                    {{ form_widget(evaluationForm[field.name]) }}
                                {% if field.unit is defined %}
                                        <div class="input-group-addon">{{ field.unit }}</div>
                                    </div>
                                {% endif %}
                                {{ form_errors(evaluationForm[field.name]) }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            {% if evaluation and evaluation.finalized_ts %}
                <p>
                    <a href="{{ path('participant', { id: participant.id }) }}" class="btn btn-default">Return to participant</a>
                    <button type="submit" class="btn btn-warning" name="reopen">Reopen</button>
                </p>
            {% else %}
                <p>
                    <a href="{{ path('participant', { id: participant.id }) }}" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-primary" name="save">Save</button>
                    <button type="submit" class="btn btn-success pull-right" name="finalize" onclick="return confirm('Are you sure you want to finalize this evaluation?');">Save and Finalize</button>
                </p>
            {% endif %}
        {{ form_end(evaluationForm) }}

        <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagejs %}
<script>
$(document).ready(function() {
    var evalView = new PMI.views['PhysicalEvaluation']({
        el: $("#physicalEvaluation"),
        warnings: {{ warnings|json_encode|raw }}
    });
});
</script>
{% endblock %}
