{% extends 'base.html.twig' %}
{% block title %}Physical Measurements - {% endblock %}
{% block body %}
    <div id="physicalEvaluation" class="form-disable-enter">
        {{ form_errors(evaluationForm) }}
        <p>
            <button class="autofill-protocol-modification btn btn-default" data-reason="refusal">Mark all missing fields with refusal protocol modification</button>
        </p>

        <div class="page-header">
            <h2>
                <i class="fa fa-clipboard" aria-hidden="true"></i>
                {% if evaluation %}
                    {{ evaluation.created_ts|date('n/j/Y', app.userTimezone) }}
                {% else %}
                    New Physical Measurements
                {% endif %}
                <small><a href="{{ path('participant', { id: participant.id }) }}">{{ participant.lastName }}, {{ participant.firstName }}</a></small>
            </h2>
        </div>
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>{{ participant.lastName }}, {{ participant.firstName }}</dd>
            <dt>Participant ID</dt>
            <dd>{{ participant.id }}</dd>
            <dt>DOB</dt>
            <dd>{{ participant.dob|date('n/j/Y') }}</dd>
            <dt>Gender Identity</dt>
            <dd>{{ participant.genderIdentity }}</dd>
            {% if evaluation %}
                <dt>Updated</dt>
                <dd>{{ evaluation.updated_ts|date('n/j/Y g:ia', app.userTimezone) }}</dd>
                {% if evaluation.version != latestVersion %}
                    <dt>Version</dt>
                    <dd>{{ evaluation.version }} <small class="text-muted">(latest version is {{ latestVersion }})</small></dd>
                {% endif %}
            {% endif %}
        </dl>

        {{ form_start(evaluationForm, { attr: { class: 'warn-unsaved' } }) }}

            <div id="evaluationAffixSave">
                <button type="submit" class="btn btn-primary btn-xs" name="save">Save</button>
            </div>

            {% if schema.template is defined %}
                {% include 'evaluationform/' ~ schema.template ~ '.html.twig' %}
            {% else %}
                {% include 'evaluationform/0.1.html.twig' %}
            {% endif %}

            {{ form_rest(evaluationForm) }}

            {% if evaluation and evaluation.finalized_ts %}
                <p>
                    <a href="{{ path('participant', { id: participant.id }) }}" class="btn btn-default">Return to participant</a>
                    <button type="submit" class="btn btn-warning" name="reopen">Reopen</button>
                </p>
            {% else %}
                <p>
                    <a href="{{ path('participant', { id: participant.id }) }}" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-primary" name="save">Save</button>
                    <button type="submit" class="btn btn-success pull-right" name="finalize" onclick="return confirm('Are you sure you want to finalize these physical measurements?');">Save and Finalize</button>
                </p>
            {% endif %}
        {{ form_end(evaluationForm) }}
    </div>
{% endblock %}

{% block pagejs %}
<script>
$(document).ready(function() {
    var evalView = new PMI.views['PhysicalEvaluation{% if schema.template is defined %}-{{ schema.template }}{% else %}-0.1{% endif %}']({
        el: $("#physicalEvaluation"),
        warnings: {{ warnings|json_encode|raw }},
        conversions: {{ conversions|json_encode|raw }},
        finalized: {{ (evaluation and evaluation.finalized_ts)|json_encode|raw }}
    });
    $('#evaluationAffixSave')
        .affix({
            offset: {
                top: 100,
                bottom: $(window).height()
            }
        })
        .width($('#physicalEvaluation').width());
});
</script>
{% endblock %}
