{% macro form_widget(form, showCheckAll, samplesInfo) %}
    <table id="{{ form.vars.id }}" class="table table-condensed table-auto-width table-samples">
        {% if showCheckAll %}
            <thead>
                <tr>
                    <th><input type="checkbox" id="checkall"></th>
                    <th colspan="4">Check all</th>
                </tr>
            </thead>
        {% endif %}
        <tbody>
            {% for sample in form.children %}
                {% set sampleInfo = samplesInfo[sample.vars.value] %}
                <tr{% if sample.vars.attr.class is defined %} class="{{ sample.vars.attr.class }}"{% endif %}>
                    <td>{{ form_widget(sample, { 'label': false }) }}</td>
                    <td><label class="label-normal" for="{{ sample.vars.id }}">({{ sampleInfo.number }})</label></td>
                    <td><label class="label-normal" for="{{ sample.vars.id }}">{{ sampleInfo.label }}</label></td>
                    <td><label class="label-normal" for="{{ sample.vars.id }}">[{{ sample.vars.value }}]</label></td>
                    <td><label class="label-normal" for="{{ sample.vars.id }}">{{ sampleInfo.color }}</label></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}
