{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-header">
        <h2>
            <i class="fa fa-medkit" aria-hidden="true"></i>
            {{ order.created_ts|date('n/j/Y g:ia') }}
            <small>{{ participant.lastName }}, {{ participant.firstName }} #{{ participant.id }}</small>
        </h2>
    </div>
    <p class="lead">MayoLINK ID: <strong>{{ order.mayo_id }}</strong></p>
{% endblock %}
