{% extends 'base.html.twig' %}
{% block title %}Finalize - Order {{ order.id }} - {% endblock %}
{% block body %}
    {% include 'order-header.html.twig' with { active: 'finalize' } %}

    {{ form_start(finalizeForm) }}
        {{ form_row(finalizeForm.finalized_ts) }}
        
        <div class="form-group{% if not finalizeForm.finalized_samples.vars.valid %} has-error{% endif %}">
            {{ form_label(finalizeForm.finalized_samples) }}
                <div class="checkbox">
                    <label><input type="checkbox" id="checkall"> <strong>Check all</strong></label>
                </div>
            {{ form_widget(finalizeForm.finalized_samples) }}
            {{ form_errors(finalizeForm.finalized_samples) }}
        </div>

        {{ form_rest(finalizeForm) }}
        <p>
            <button type="submit" class="btn btn-primary">
                {% if order.finalized_ts %}
                    Update
                {% else %}
                    Save and mark as finalized
                {% endif %}
            </button>
        </p>
    {{ form_end(finalizeForm) }}
{% endblock %}

{% block pagejs %}
<script>
$(document).ready(function () {
    $('input.sample-disabled').closest('label').addClass('text-danger');
    $('input.sample-disabled').closest('div.checkbox').append('<small class="text-muted">was not collected/processed</small>');
    $('#checkall').on('change', function() {
        $('#form_finalized_samples input:checkbox:enabled').prop('checked', $(this).prop('checked'));
    });
});
</script>
{% endblock %}
