{% extends 'base.html.twig' %}
{% block title %}Order - {% endblock %}
{% block body %}
    <h2>
        <i class="fa fa-medkit" aria-hidden="true"></i>
        New Biobank order
        <small><a href="{{ path('participant', { id: participant.id }) }}">{{ participant.lastName }}, {{ participant.firstName }}</a></small>
    </h2>

    {% include 'partials/participant-dl.html.twig' %}

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Safety Check</a></li>
        {% if app.isDvType %}
            {% set steps = ['Create', 'Collect', 'Process', 'Finalize'] %}
        {% else %}
            {% set steps = ['Create', 'Print Labels', 'Collect', 'Process', 'Finalize', 'Print Requisition'] %}
        {% endif %}
        {% for step in steps %}
            <li role="presentation" class="disabled"><a href="#">{{ step }}</a></li>
        {% endfor %}
    </ul>
    <br />

    <h3>In the past week has the participant donated blood (e.g. Blood Bank, Red Cross), platelets, or plasma?</h3>
    <form method="post" action="{{ path('orderCreate', { participantId: participant.id }) }}" id="safety-checks" class="prevent-resubmit">
        <div class="radio">
            <label><input type="radio" name="donate" value="yes" /> Yes</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="donate" value="no" /> No</label>
        </div>

        <div style="display:none" id="transfusion">
            <h3>In the past 6 months, has the participant had a blood transfusion?</h3>
            <div class="radio">
                <label><input type="radio" name="transfusion" value="yes" /> Yes</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="transfusion" value="no" /> No</label>
            </div>
            <div style="display:none" id="transfusion-qn">
                <h3>Please select the specific type of blood transfusion (check boxes for responses):</h3>
                <div class="checkbox">
                    <label><input type="checkbox" name="transfusion_whole_blood" value="whole" /> Whole blood transfusion</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="transfusion_red_blood" value="red" /> Red Blood Cells (RBC), Plasma, Platelet, or Cryoprecipitate transfusion</label>
                </div>
            </div>
            <div style="display:none" id="red-blood-qn">
                <h3>Has it been at least 2 months since participant's RBC transfusion? Or, has it been at least a week since the participant completed Plasma, Platelet, or Cryoprecipitate transfusion?</h3>
                <div class="radio">
                    <label><input type="radio" name="red_blood_qn" value="yes" /> Yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="red_blood_qn" value="no" /> No</label>
                </div>
            </div>
        </div>
        <div class="alert alert-danger" style="display:none" id="order-info-text">
            <span style="display: none" id="blood-info-text">Participants may not have blood drawn {% if not app.isDvType %} and saliva collected {% endif %} if they have donated blood, platelets, or plasma in the past week. The same restriction applies to those who have received a blood transfusion in the past 6 months.</span>
            <span style="display: none" id="blood-info-text-2">
                <p>1. Participants may not have blood drawn if they have received RBC transfusion in the past 2 months.</p> 
                <p>2. Participants may not have blood drawn if they have received Plasma, Platelet, Cryoprecipitate transfusion in the past week.</p>
            </span>
            <strong style="display: none" id="urine-info-text">Urine collection is permissible, and can be initiated by selecting Continue.</strong>
            <strong style="display: none" id="saliva-info-text">
                {% if not app.isDvType %}
                    Urine and saliva collection are permissible, and can be initiated by selecting Continue.
                {% else %}
                    Urine collection is permissible, and can be initiated by selecting Continue.
                {% endif %}
            </strong>
        </div>
        <div id="continue" style="display:none">
            <br />
            <p><button type="submit" class="btn btn-primary">Continue</button></p>
        </div>
    </form>
{% endblock %}
