{% extends 'base.html.twig' %}
{% block title %}Order - Cancel - {% endblock %}
{% block body %}
    <h2 class="text-danger">
        <i class="fa fa-medkit" aria-hidden="true"></i>
        Cancel Biobank order
        <small><a href="{{ path('participant', { id: participant.id }) }}">{{ participant.lastName }}, {{ participant.firstName }}</a></small>
    </h2>

    {% include 'partials/participant-dl.html.twig' %}
    <div class="row">
        <div class="col-sm-8">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Samples</th>
                    <th scope="col">
                        Collected
                        {% if order.collected_ts is not empty %}
                            <br> {{ order.collected_ts|date('n/j/Y g:ia', app.userTimezone) }}
                        {% endif %}
                    </th>
                    <th scope="col">Processed</th>
                    <th scope="col">
                        Finalized
                        {% if order.finalized_ts is not empty %}
                            <br> {{ order.finalized_ts|date('n/j/Y g:ia', app.userTimezone) }}
                        {% endif %}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for sample in samplesInfo %}
                    <tr>
                        <td>{{ sample.code }}</td>
                        <td>
                            {% if sample.collected_ts is defined and sample.collected_ts is not empty %}
                                <i class="fa fa-check text-success" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-times text-danger" aria-hidden="true"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if sample.process is defined %}
                                {% if sample.processed_ts is defined and sample.processed_ts is not empty %}
                                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                                    {{ sample.processed_ts|date('n/j/Y g:ia', app.userTimezone) }}
                                {% else %}
                                    <i class="fa fa-times text-danger" aria-hidden="true"></i>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if sample.finalized_ts is defined and sample.finalized_ts is not empty %}
                                <i class="fa fa-check text-success" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-times text-danger" aria-hidden="true"></i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-medkit" aria-hidden="true"></i> Biobank Orders</h3>
                </div>
                <div class="panel-body">
                    {% for order in orders %}
                    {% if loop.index == 6 %}
                    <div id="order-overflow">
                        {% endif %}
                        <a href="{{ path('order', { participantId: participant.id, orderId: order.id }) }}" class="btn btn-block btn-lg btn-default" {% if order.id == orderId %} style="background-color: #c9302c;" {% endif %}>
                            {{ order.created_ts|date('D n/j/Y', app.userTimezone) }}
                            <small class="text-muted"><strong>{{ order.order_id }}</strong></small>
                            <br/>
                            <small class="text-muted">
                                {% if not order.finalized_ts and not order.version %}
                                    <span class="label label-danger">Expired</span>
                                {% elseif order.finalized_ts %}
                                    <span class="label label-success">Finalized</span> {{ order.finalized_ts|date('n/j/Y g:ia', app.userTimezone) }}
                                {% elseif order.processed_ts %}
                                    <span class="label label-info">Processed</span> {{ order.processed_ts|date('n/j/Y g:ia', app.userTimezone) }}
                                {% elseif order.collected_ts %}
                                    <span class="label label-default">Collected</span> {{ order.collected_ts|date('n/j/Y g:ia', app.userTimezone) }}
                                {% endif %}
                            </small>
                        </a>
                        {% endfor %}
                        {% if orders|length > 5 %}
                    </div>
                    <a href="#" class="btn btn-block btn-lg btn-default" id="order-overflow-show">
                        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> Show all
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
