{% extends 'base.html.twig' %}
{% block title %}Order - {% endblock %}
{% block body %}
    <h2>
        <i class="fa fa-medkit" aria-hidden="true"></i>
        New Biobank order
        <small><a href="{{ path('participant', { id: participant.id }) }}">{{ participant.lastName }}, {{ participant.firstName }}</a></small>
    </h2>

    {% include 'partials/participant-dl.html.twig' %}

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Safety Check</a></li>
        {% if app.isDvType %}
            {% set steps = ['Create', 'Collect', 'Process', 'Finalize'] %}
        {% else %}
            {% set steps = ['Create', 'Print Labels', 'Collect', 'Process', 'Finalize', 'Print Requisition'] %}
        {% endif %}
        {% for step in steps %}
            <li role="presentation" class="disabled"><a href="#">{{ step }}</a></li>
        {% endfor %}
    </ul>
    <br />

    <h3>In the past week has the participant donated blood (e.g. Blood Bank, Red Cross), platelets, or plasma?</h3>
    <form method="post" action="{{ path('orderCreate', { participantId: participant.id }) }}" id="safety-checks">
        <div class="radio">
            <label><input type="radio" name="donate" value="yes" /> Yes</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="donate" value="no" /> No</label>
        </div>

        <div style="display:none" id="transfusion">
            <h3>In the past 6 months, has the participant had a blood transfusion?</h3>
            <div class="radio">
                <label><input type="radio" name="transfusion" value="yes" /> Yes</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="transfusion" value="no" /> No</label>
            </div>
            <div style="display:none" id="transfusion-qn">
                <h3>Please select the specific type of blood transfusion (check boxes for responses):</h3>
                <div class="checkbox">
                    <label><input type="checkbox" name="transfusion_whole_blood" value="whole" /> Whole blood transfusion</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="transfusion_red_blood" value="red" /> Red Blood Cells (RBC), packed RBC, Plasma, Platelet, or Cryoprecipitate transfusion</label>
                </div>
            </div>
            <div style="display:none" id="red-blood-qn">
                <h3>Has it been at least 2 months since participant's RBC transfusion? Or, has it been at least a week since the participant donated Plasma, Platelet, or Cryoprecipitate?</h3>
                <div class="radio">
                    <label><input type="radio" name="red_blood_qn" value="yes" /> Yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="red_blood_qn" value="no" /> No</label>
                </div>
            </div>
        </div>
        <div class="alert alert-danger" style="display:none" id="order-info-text">
            <span style="display: none" id="blood-info-text">Participants may not have blood drawn and saliva collected if they have donated blood, platelets, or plasma in the past week or have received a blood transfusion in the past 6 months.</span>
            <span style="display: none" id="blood-info-text-2">Participants may not have blood drawn if they have received RBC transfusion in the past 2 months or Plasma, Platelet, Cryoprecipitate transfusion in the past week.</span>
            <strong style="display: none" id="urine-info-text">Urine collection is permissible, and can be initiated by selecting Continue.</strong>
            <strong style="display: none" id="saliva-info-text">Urine {% if not app.isDvType %} and saliva {% endif %} collection {% if not app.isDvType %} are {% else %} is {% endif %} permissible, and can be initiated by selecting Continue.</strong>
        </div>
        <div id="continue" style="display:none">
            <br />
            <p><button type="submit" class="btn btn-primary">Continue</button></p>
        </div>
    </form>
{% endblock %}

{% block pagejs %}
<script>
$(document).ready(function() {
    $('input:radio[name=donate]').on('change', function() {
        if ($(this).val() === 'yes') {
            hideFields(['transfusion', 'blood-info-text-2', 'saliva-info-text']);
            showFields(['order-info-text', 'blood-info-text', 'urine-info-text', 'continue']);
        } else {
            showFields(['transfusion']);
            hideFields(['transfusion-qn', 'red-blood-qn', 'order-info-text', 'continue']);
        }
    });

    $('input:radio[name=transfusion]').on('change', function() {
        if ($(this).val() === 'yes') {
            showFields(['transfusion-qn']);
            hideFields(['continue']);
        } else {
            hideFields(['transfusion-qn', 'red-blood-qn', 'order-info-text']);
            showFields(['continue']);
        }
    });

    $('input:radio[name=red_blood_qn]').on('change', function() {
        if ($(this).val() === 'yes') {
            hideFields(['order-info-text'])
            showFields(['continue']);
        } else {
            showFields(['order-info-text', 'blood-info-text-2', 'saliva-info-text', 'continue']);
            hideFields(['blood-info-text', 'urine-info-text'])
        }
    });

    $('input[type=checkbox]').on('change', function() {
        var transfusionWholeBlood = $('input:checkbox[name=transfusion_whole_blood]:checked').val();
        var transfusionRedBlood = $('input:checkbox[name=transfusion_red_blood]:checked').val();
        if (typeof(transfusionWholeBlood) !== 'undefined' || typeof(transfusionRedBlood) !== 'undefined') {
            if ((transfusionWholeBlood === 'whole') || (transfusionWholeBlood === 'whole' && transfusionRedBlood === 'red')) {
                hideFields(['red-blood-qn', 'order-info-text'])
                showFields(['continue']);
            } else {
                showFields(['red-blood-qn']);
                hideFields(['continue']);
            }
        } else {
            hideFields(['red-blood-qn', 'order-info-text', 'continue'])
        }
    });

    var hideFields = function(fields) {
        for (var i = 0; i < fields.length; i++) {
            $('#' + fields[i]).hide();
            $('#' + fields[i]).find('input:radio, input:checkbox').prop('checked', false);
        }
    }

    var showFields = function(fields) {
        for (var i = 0; i < fields.length; i++) {
            $('#' + fields[i]).show();
        }
    }
});
</script>
{% endblock %}
