{% if order.expired %}
    <div class="alert alert-danger custom-alert">
        This order has expired and can no longer be updated. Please create a new order to collect or send samples.
    </div>
{% endif %}
<h2>
    <i class="fa fa-medkit" aria-hidden="true"></i>
    {{ order.created_ts|date('n/j/Y', app.userTimezone) }}
    <small><a href="{{ path('participant', { id: participant.id }) }}">{{ participant.lastName }}, {{ participant.firstName }}</a></small>
</h2>
<p class="lead">
    Order ID: <strong>{{ order.order_id }}</strong>
    {% set params = { participantId: participant.id, orderId: order.id } %}
    {% set route = app.request_stack.currentRequest.attributes.get('_route') %}
    {% set return = path(route, params) %}
    {% if (order.status == 'active' or order.status == 'restore') and order.rdr_id %}
        <a href="{{ path('orderModify', { participantId: participant.id, orderId: order.id, type: 'unlock', return: return }) }}" class="btn btn-sm btn-primary">Unlock for Editing</a>
    {% endif %}
    {% if order.status != 'cancel' and order.status != 'unlock' %}
        <a href="{{ path('orderModify', { participantId: participant.id, orderId: order.id, type: 'cancel' }) }}" class="btn btn-sm btn-danger">Cancel Order</a>
    {% elseif order.status == 'cancel' %}
        <a href="{{ path('orderModify', { participantId: participant.id, orderId: order.id, type: 'restore' }) }}" class="btn btn-sm btn-success">Restore Order</a>
        {% if order.history is defined %}
            {% if order.status == 'cancel' %}
                <div class="alert alert-danger well-sm">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    <strong>
                        Cancelled by {{ app.getUserEmailById(order.history.user_id)|default('Unknown') }} at {{ app.getSiteDisplayName(order.history.site) }} on {{ order.history.time|date('F j, Y g:ia', app.userTimezone) }}
                    </strong>
                </div>
            {% endif %}
        {% endif %}
    {% elseif order.status == 'unlock' %}
        <div class="alert alert-warning well-sm">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <strong>
                Unlocked for editing
            </strong>
        </div>
    {% endif %}
    {% if app.isDVType and app.reportKitUrl and order.type == 'kit' %}
        <button type="button" data-href="{{ app.reportKitUrl }}" class="btn btn-danger pull-right external-link">Report Kit Problem</button>
    {% endif %}
</p>

{% include 'partials/participant-dl.html.twig' %}

{% if order.type == 'kit' %}
    {% set steps = {
        collect: ['Collect', 'collected'],
        process: ['Process', 'processed'],
        finalize: ['Finalize', 'finalized']
    } %}
{% else %}
    {% set steps = {
        printLabels: ['Print Labels', 'printed'],
        collect: ['Collect', 'collected'],
        process: ['Process', 'processed'],
        finalize: ['Finalize', 'finalized'],
        printRequisition: ['Print Requisition', 'finalized']
    } %}
{% endif %}
{% set stepNeedDetails = ['collect', 'process', 'finalize'] %}
{% if active in stepNeedDetails %}
    {% set activeStep = attribute(steps, active)[1] %}
    {% if attribute(order, activeStep~'_ts') is not empty %}
        <div class="{% if order.finalized_ts is empty %} well well-sm {% else %} alert alert-success well-sm {% endif %}">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <strong>{{ activeStep|capitalize }} by {{ app.getUserEmailById(attribute(order, activeStep~'_user_id'))|default('Unknown') }} at {{ app.getSiteDisplayName(attribute(order, activeStep~'_site')) }}</strong>
        </div>
    {% endif %}
{% endif %}
<ul class="nav nav-tabs">
    <li role="presentation" class="disabled"><a href="#"><i class="fa fa-check-circle" aria-hidden="true"></i> Safety Check</a></li>
    <li role="presentation" class="disabled"><a href="#"><i class="fa fa-check-circle" aria-hidden="true"></i> Create</a></li>
    {% set nextEnabled = true %}
    {% set previousStep = false %}
    {% for step, column in steps %}
        {% set path = column[0]|replace({' ' : ''}) %}
        {% if (step == 'printLabels' and (order.disabled or order.status == 'unlock')) or (step == 'printRequisition' and (order.status == 'cancel' or order.status == 'unlock')) %}
            <li role="presentation" class="disabled">
                <a href="#">
                    {% if step == 'printLabels' %}
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                    {% endif %}
                    {{ column[0] }}
                </a>
            </li>
        {% elseif nextEnabled %}
            <li role="presentation"{% if active == step %} class="active"{% endif %}>
                <a href="{{ path('order'~path, params) }}">
                    {% if attribute(order, column[1]~'_ts') %}
                        {% if step == 'process' and processTabClass is defined %}
                            <i class="{{ processTabClass }}" aria-hidden="true"></i>
                        {% elseif step != 'printRequisition' %}
                            <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                        {% endif %}
                    {% else %} {# since the printed_ts is set automatically after the first page load, don't disable to next tab #}
                        {% set nextEnabled = false %}
                    {% endif %}
                    {{ column[0] }}
                </a>
            </li>
        {% else %}
            {% set title = previousStep|capitalize ~ " time must be set to continue" %}       
            <li role="presentation" class="disabled"><a href="#" title="{{ title }}" data-toggle="tooltip" data-placement="bottom">{{ column[0] }}</a></li>
        {% endif %}
        {% set previousStep = column[1] %}
    {% endfor %}
</ul>
<br />
{% if active in ['collect', 'process', 'finalize'] %}
    <p><strong>Your time zone</strong>: {{ app.userTimezoneDisplay }} <a href="{{ path('settings', { return: return}) }}" class="small">change</a></p>
{% endif %}
