{% extends 'base.html.twig' %}
{% block title %}Collect - Order {{ order.id }} - {% endblock %}
{% block body %}
    {% include 'order-header.html.twig' with { active: 'collect' } %}

    {{ form_start(collectForm, { attr: { class: 'warn-unsaved' } }) }}

        <div class="form-group{% if not collectForm.collected_ts.vars.valid %} has-error{% endif %}">
            {{ form_label(collectForm.collected_ts) }}
            <span class="toggle-help-image" data-caption="Collection time help text placeholder.">
                <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
            </span>
            {{ form_widget(collectForm.collected_ts) }}
            {{ form_errors(collectForm.collected_ts) }}
        </div>

        <div class="form-group{% if not collectForm.collected_samples.vars.valid %} has-error{% endif %}">
            {{ form_label(collectForm.collected_samples) }}
                <span class="toggle-help-image" data-caption="Collected samples help text placeholder.">
                    <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
                </span>
                <div class="checkbox">
                    <label><input type="checkbox" id="checkall"> <strong>Check all</strong></label>
                </div>
            {{ form_widget(collectForm.collected_samples) }}
            {{ form_errors(collectForm.collected_samples) }}
        </div>

        <div class="form-group{% if not collectForm.collected_notes.vars.valid %} has-error{% endif %}">
            {{ form_label(collectForm.collected_notes) }}
            <span class="toggle-help-image" data-caption="Collected notes help text placeholder.">
                        <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
                    </span>
            {{ form_widget(collectForm.collected_notes) }}
            {{ form_errors(collectForm.collected_notes) }}
        </div>

        {{ form_rest(collectForm) }}
        <p>
            <button type="submit" class="btn btn-primary">
                {% if order.collected_ts %}
                    Update
                {% else %}
                    Save and mark as collected
                {% endif %}
            </button>
        </p>
    {{ form_end(collectForm) }}
{% endblock %}

{% block pagejs %}
<script>
$(document).ready(function() {
    $('#checkall').on('change', function() {
        $('#form_collected_samples input:checkbox:enabled').prop('checked', $(this).prop('checked'));
    });
    $('#form_collected_ts').pmiDateTimePicker();
    var orderView = new PMI.views['OrderSubPage']({
        el: $("body")
    });
});
</script>
{% endblock %}
