{% extends 'base.html.twig' %}
{% block title %}Order - {% endblock %}
{% block body %}
    <h2>
        <i class="fa fa-medkit" aria-hidden="true"></i>
        New order
        <small><a href="{{ path('participant', { id: participant.id }) }}">{{ participant.lastName }}, {{ participant.firstName }} #{{ participant.id }}</a></small>
    </h2>

    <br />
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Create</a></li>
        {% for step in ['printed', 'collected', 'processed', 'finalized'] %}
            <li role="presentation" class="disabled"><a href="#">{{ step|capitalize }}</a></li>
        {% endfor %}
    </ul>
    <br />

    <div id="createOrder">
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>{{ participant.lastName }}, {{ participant.firstName }}</dd>
            <dt>DOB</dt>
            <dd>{{ participant.dob|date('n/j/Y') }}</dd>
            <dt>Gender</dt>
            <dd>{{ participant.gender }}</dd>
        </dl>
        {{ form_start(confirmForm) }}
            {{ form_errors(confirmForm) }}
            <div class="row text-center">
                <div class="col-xs-6 col-sm-4 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Standard</h3>
                        </div>
                        <div class="panel-body">
                            <p>Create a standard PMI Biobank Order</p>
                            <button type="submit" name="standard" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Existing Kit</h3>
                        </div>
                        <div class="panel-body">
                            <p>Register a PMI Biospecimen Kit</p>
                            <div class="text-left">
                                <br />
                                {{ form_row(confirmForm.kitId) }}
                            </div>
                            <button type="submit" name="existing" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-center">
                <a href="{{ path('participant', { id: participant.id }) }}" class="btn btn-default">Cancel</a>
            </p>
            {{ form_rest(confirmForm) }}
        {{ form_end(confirmForm) }}
    </div>
{% endblock %}
