<h2>
    <i class="fa fa-medkit" aria-hidden="true"></i>
    {{ order.created_ts|date('n/j/Y g:ia') }}
    <small><a href="{{ path('participant', { id: participant.id }) }}">{{ participant.lastName }}, {{ participant.firstName }} #{{ participant.id }}</a></small>
</h2>
<p class="lead">MayoLINK ID: <strong>{{ order.mayo_id }}</strong></p>

{% set params = { participantId: participant.id, orderId: order.id } %}
<ul class="nav nav-tabs">
    <li role="presentation" class="disabled"><a href="#"><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Create</a></li>
    <li role="presentation"{% if active == 'print' %} class="active"{% endif %}><a href="{{ path('orderPrint', params) }}">Print</a></li>
    <li role="presentation"{% if active == 'collect' %} class="active"{% endif %}><a href="{{ path('orderCollect', params) }}">Collect</a></li>
    <li role="presentation"><a href="#">Process</a></li>
    <li role="presentation"><a href="#">Finalize</a></li>
</ul>
<br />
