{% extends 'base.html.twig' %}
{% block title %}Order - {% endblock %}
{% block body %}
    <h2>
        <i class="fa fa-medkit" aria-hidden="true"></i>
        New order
        <small><a href="{{ path('participant', { id: participant.id }) }}">{{ participant.lastName }}, {{ participant.firstName }} #{{ participant.id }}</a></small>
    </h2>

    <br />
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Create</a></li>
        {% for step in ['printed', 'collected', 'processed', 'finalized'] %}
            <li role="presentation" class="disabled"><a href="#">{{ step|capitalize }}</a></li>
        {% endfor %}
    </ul>
    <br />

    <div>
        <p class="lead">Create order for this participant?</p>
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>{{ participant.lastName }}, {{ participant.firstName }}</dd>
            <dt>DOB</dt>
            <dd>{{ participant.dob|date('n/j/Y') }}</dd>
            <dt>Gender</dt>
            <dd>{{ participant.gender }}</dd>
            <dt>Biobank ID</dt>
            <dd>{{ participant.id }}</dd>
        </dl>
        {{ form_start(confirmForm) }}
            {{ form_widget(confirmForm) }}
            <p><a href="{{ path('participant', { id: participant.id }) }}" class="btn btn-default">No</a> <button type="submit" class="btn btn-primary">Yes</button></p>
        {{ form_end(confirmForm) }}

    </div>
{% endblock %}
