{% extends 'base.html.twig' %}
{% block title %}Process - Order {{ order.id }} - {% endblock %}
{% block body %}
    {% include 'order-header.html.twig' with { active: 'process' } %}
    {{ form_start(processForm) }}
    {# {{ form_widget(processForm) }} #}

    <div class="form-group">
        {{ form_label(processForm.processed_samples) }}
        <span class="toggle-help-image" data-caption="Processed samples help text placeholder.">
                <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
            </span>
        {{ form_widget(processForm.processed_samples) }}
    </div>

    <div class="form-group">
        {{ form_label(processForm.processed_notes) }}
        <span class="toggle-help-image" data-caption="Processed notes help text placeholder.">
                <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
            </span>
        {{ form_widget(processForm.processed_notes) }}
    </div>
        <p>
            <button type="submit" class="btn btn-primary">
                {% if order.processed_ts %}
                    Update
                {% else %}
                    Save and mark as processed
                {% endif %}
            </button>
        </p>
    {{ form_end(processForm) }}
{% endblock %}

{% block pagejs %}
<script>
$(document).ready(function () {
    $('input.sample-disabled').closest('label').addClass('text-danger');
    $('input.sample-disabled').closest('div.checkbox').append('<small class="text-muted">was not collected</small>');
    $('#form_processed_samples input').each(function() {
        if ($(this).attr('disabled')) {
            return;
        }
        var checkBoxDiv = $(this).closest('div.checkbox');
        var sample = $(this).val();
        $('#form_processed_samples_ts_' + sample).closest('.form-group')
            .detach()
            .appendTo(checkBoxDiv)
            .css('margin', '5px 0 15px 20px');
        $('#form_processed_samples_ts_' + sample)
            .addClass('input-sm')
            .datetimepicker(PMI.datetimepickerDefaults);
    });
    $('#form_processed_samples_ts').remove();

    var orderView = new PMI.views['OrderSubPage']({
        el: $("body")
    });
});
</script>
{% endblock %}
