{% extends 'base.html.twig' %}
{% import 'order-samples.html.twig' as samples %}
{% if order.type != 'saliva' %}
    {% form_theme finalizeForm 'form/simple_checkbox.html.twig' %}
{% endif %}
{% block title %}Finalize - Order {{ order.order_id }} - {% endblock %}
{% block body %}
    {% include 'order-header.html.twig' with { active: 'finalize' } %}
    {{ form_start(finalizeForm, { attr: { class: 'warn-unsaved' } }) }}
        {{ form_errors(finalizeForm) }}

        <div class="form-group{% if not finalizeForm.finalized_ts.vars.valid %} has-error{% endif %}">
            {{ form_label(finalizeForm.finalized_ts) }}
                <span class="toggle-help-image" data-caption="Finalized time help text placeholder.">
                    <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
                </span>
            {{ form_widget(finalizeForm.finalized_ts) }}
            {{ form_errors(finalizeForm.finalized_ts) }}
        </div>

        <div class="form-group{% if not finalizeForm.finalized_samples.vars.valid %} has-error{% endif %}">
            {{ form_label(finalizeForm.finalized_samples) }}
            <span class="toggle-help-image" data-caption="Finalized samples help text placeholder.">
                <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
            </span>
            {% if order.type == 'saliva' %}
                {{ form_widget(finalizeForm.finalized_samples) }}
            {% else %}
                {{ samples.form_widget(finalizeForm.finalized_samples, order.finalized_ts ? false : true, samplesInfo) }}
            {% endif %}
            {{ form_errors(finalizeForm.finalized_samples) }}
        </div>

        {% if finalizeForm.fedex_tracking is defined %}
            <div class="text-right">
                <a href="#" class="btn btn-xs btn-default" id="enable-scan">
                    <i class="fa fa-barcode" aria-hidden="true"></i>
                    Scan barcode
                </a>
            </div>

            <div class="row">
                <div class="col-xs-6" id="fedex-barcode" style="display:none">
                    <div class="form-group">
                        <label class="control-label" for="fedex_barcode_first">FedEx barcode</label>
                        <input type="text" id="fedex_barcode_first" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="fedex_barcode_second">Verify FedEx barcode</label>
                        <input type="text" id="fedex_barcode_second" class="form-control">
                    </div>
                </div>
                <div class="col-xs-12" id="fedex-number">
                    {{ form_row(finalizeForm.fedex_tracking) }}
                </div>
            </div>
        {% endif %}

        <div class="form-group{% if not finalizeForm.finalized_notes.vars.valid %} has-error{% endif %}">
            {{ form_label(finalizeForm.finalized_notes) }}
            <span class="toggle-help-image" data-caption="Finalized notes help text placeholder.">
                    <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
                </span>
            {{ form_widget(finalizeForm.finalized_notes) }}
            {{ form_errors(finalizeForm.finalized_notes) }}
        </div>
        {{ form_rest(finalizeForm) }}
        {% if not order.finalized_ts %}
            <p>
                <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to finalize this order?');">
                    Save and mark as finalized
                </button>
            </p>
        {% endif %}
    {{ form_end(finalizeForm) }}

{% endblock %}

{% block pagejs %}
<script>
$(document).ready(function () {
{% if order.type == 'saliva' %}
    $('input.sample-disabled').closest('label').addClass('text-danger');
    $('input.sample-disabled').closest('div.checkbox').append('<small class="text-muted">was not collected/processed</small>');
{% else %}
    $('.sample-disabled label').addClass('text-danger');
    $('.sample-disabled').find('td:last').append('<small style="margin-left:15px" class="text-muted">was not collected/processed</small>');
{% endif %}

    $('#checkall').on('change', function() {
        $('#form_finalized_samples input:checkbox:enabled').prop('checked', $(this).prop('checked'));
    });
    $('#form_finalized_ts').pmiDateTimePicker();
    var orderView = new PMI.views['OrderSubPage']({
        el: $("body")
    });

    $('#enable-scan').on('click', function() {
        if ($('#fedex-barcode').is(':visible')) {
            $('#enable-scan').removeClass('active');
            $('#fedex-barcode').hide();
            $('#fedex-number').removeClass('col-xs-6').addClass('col-xs-12');
            $('#fedex-number input').attr('readonly', false);
        } else {
            $('#enable-scan').addClass('active');
            $('#fedex-barcode').show();
            $('#fedex-number').removeClass('col-xs-12').addClass('col-xs-6');
            $('#fedex-number input').attr('readonly', true);
        }
        $('#enable-scan').blur();
        return false;
    });
    $('#fedex_barcode_first, #fedex_barcode_second').on('change keyup', function() {
        var target;
        if ($(this).attr('id') === 'fedex_barcode_second') {
            target = $('#form_fedex_tracking_second');
        } else {
            target = $('#form_fedex_tracking_first');
        }
        var barcode = $(this).val().trim();
        if (barcode.match(/^[0-9]{34}$/)) { // 34 digit barcode
            var fedexTracking = barcode.substring(20);
            fedexTracking = fedexTracking.replace(/^0{1,2}/, ''); // trim up to two leading 0's
            target.val(fedexTracking);
        } else {
            target.val('');
        }
    });
});
</script>
{% endblock %}
