{% extends 'base.html.twig' %}
{% block title %}Finalize - Order {{ order.order_id }} - {% endblock %}
{% block body %}
    {% include 'order-header.html.twig' with { active: 'finalize' } %}
    {{ form_start(finalizeForm, { attr: { class: 'warn-unsaved' } }) }}
        {{ form_errors(finalizeForm) }}

        <div class="form-group{% if not finalizeForm.finalized_ts.vars.valid %} has-error{% endif %}">
            {{ form_label(finalizeForm.finalized_ts) }}
                <span class="toggle-help-image" data-caption="Finalized time help text placeholder.">
                    <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
                </span>
            {{ form_widget(finalizeForm.finalized_ts) }}
            {{ form_errors(finalizeForm.finalized_ts) }}
        </div>


        <div class="form-group{% if not finalizeForm.finalized_samples.vars.valid %} has-error{% endif %}">
            {{ form_label(finalizeForm.finalized_samples) }}
            <span class="toggle-help-image" data-caption="Finalized samples help text placeholder.">
                <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
            </span>
            {% if not order.finalized_ts %}
                <div class="checkbox">
                    <label><input type="checkbox" id="checkall"> <strong>Check all</strong></label>
                </div>
            {% endif %}
            {{ form_widget(finalizeForm.finalized_samples) }}
            {{ form_errors(finalizeForm.finalized_samples) }}
        </div>

        <div class="form-group{% if not finalizeForm.finalized_notes.vars.valid %} has-error{% endif %}">
            {{ form_label(finalizeForm.finalized_notes) }}
            <span class="toggle-help-image" data-caption="Finalized notes help text placeholder.">
                    <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
                </span>
            {{ form_widget(finalizeForm.finalized_notes) }}
            {{ form_errors(finalizeForm.finalized_notes) }}
        </div>
        {{ form_rest(finalizeForm) }}
        {% if not order.finalized_ts %}
            <p>
                <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to finalize this order?');">
                    Save and mark as finalized
                </button>
            </p>
        {% endif %}
    {{ form_end(finalizeForm) }}

{% endblock %}

{% block pagejs %}
<script>
$(document).ready(function () {
    $('input.sample-disabled').closest('label').addClass('text-danger');
    $('input.sample-disabled').closest('div.checkbox').append('<small class="text-muted">was not collected/processed</small>');
    $('#checkall').on('change', function() {
        $('#form_finalized_samples input:checkbox:enabled').prop('checked', $(this).prop('checked'));
    });
    $('#form_finalized_ts').pmiDateTimePicker();
    var orderView = new PMI.views['OrderSubPage']({
        el: $("body")
    });
});
</script>
{% endblock %}
