{% extends 'base.html.twig' %}
{% block title %}Collect - Order {{ order.id }} - {% endblock %}
{% block body %}
    {% include 'order-header.html.twig' with { active: 'collect' } %}

    {{ form_start(collectForm) }}
        {{ form_row(collectForm.collected_ts) }}

        <div class="form-group{% if not collectForm.collected_samples.vars.valid %} has-error{% endif %}">
            {{ form_label(collectForm.collected_samples) }}
                <div class="checkbox">
                    <label><input type="checkbox" id="checkall"> <strong>Check all</strong></label>
                </div>
            {{ form_widget(collectForm.collected_samples) }}
            {{ form_errors(collectForm.collected_samples) }}
        </div>

        {{ form_rest(collectForm) }}
        <p>
            <button type="submit" class="btn btn-primary">
                {% if order.collected_ts %}
                    Update
                {% else %}
                    Save and mark as collected
                {% endif %}
            </button>
        </p>
    {{ form_end(collectForm) }}
{% endblock %}

{% block pagejs %}
<script>
$(document).ready(function() {
    $('#checkall').on('change', function() {
        $('#form_collected_samples input:checkbox:enabled').prop('checked', $(this).prop('checked'));
    });
    $('#form_collected_ts').datetimepicker({
        sideBySide: true
    });
});
</script>
{% endblock %}
