{% extends 'base.html.twig' %}
{% block body %}
    {% include 'order-header.html.twig' with { active: 'print' } %}
    <div class="row">
        <div class="col-sm-6 col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Manifest</h3>
                </div>
                <div class="panel-body">
                    <p class="text-center">
                        <a href="javascript:window.label.print();" class="btn btn-primary btn-sm">
                            <i class="fa fa-print" aria-hidden="true"></i> Print
                        </a>
                    </p>
                    {% if real %}
                        <iframe name="label" class="pdf-label" src="{{ path('orderPdf', { participantId: participant.id, orderId: order.id }) }}#view=FitH&amp;toolbar=0&amp;navpanes=0"></iframe>
                        <p><strong>Attempted to load real label</strong> &bull; <a href="{{ path('order', { participantId: participant.id, orderId: order.id }) }}">Return to sample label</a></p>
                    {% else %}
                        <iframe name="label" class="pdf-label" src="{{ asset('OrderLabel.pdf') }}#view=FitH&amp;toolbar=0&amp;navpanes=0"></iframe>
                        <p><strong>Sample label</strong> &bull; <a href="{{ path('order', { participantId: participant.id, orderId: order.id, real: 1 }) }}">Request actual label</a></p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Label</h3>
                </div>
                <div class="panel-body">
                    <p class="text-center">
                        <a href="javascript:window.label.print();" class="btn btn-primary btn-sm">
                            <i class="fa fa-print" aria-hidden="true"></i> Print
                        </a>
                    </p>
                    {% if real %}
                        <iframe name="label" class="pdf-label" src="{{ path('orderPdf', { participantId: participant.id, orderId: order.id }) }}#view=FitH&amp;toolbar=0&amp;navpanes=0"></iframe>
                        <p><strong>Attempted to load real label</strong> &bull; <a href="{{ path('order', { participantId: participant.id, orderId: order.id }) }}">Return to sample label</a></p>
                    {% else %}
                        <iframe name="label" class="pdf-label" src="{{ asset('OrderLabel.pdf') }}#view=FitH&amp;toolbar=0&amp;navpanes=0"></iframe>
                        <p><strong>Sample label</strong> &bull; <a href="{{ path('order', { participantId: participant.id, orderId: order.id, real: 1 }) }}">Request actual label</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
