<h2>
    <i class="fa fa-medkit" aria-hidden="true"></i>
    {{ order.created_ts|date('n/j/Y g:ia') }}
    <small><a href="{{ path('participant', { id: participant.id }) }}">{{ participant.lastName }}, {{ participant.firstName }} #{{ participant.id }}</a></small>
</h2>
<p class="lead">MayoLINK ID: <strong>{{ order.mayo_id }}</strong></p>

{% set params = { participantId: participant.id, orderId: order.id } %}
{% set steps = {
    print: 'printed',
    collect: 'collected',
    process: 'processed',
    finalize: 'finalized'
} %}
<ul class="nav nav-tabs">
    <li role="presentation" class="disabled"><a href="#"><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Create</a></li>
    {% for step, column in steps %}
        <li role="presentation"{% if active == step %} class="active"{% endif %}>
            <a href="{{ path('order'~(step|capitalize), params) }}">
                {% if attribute(order, column~'_ts') %}
                    <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                {% endif %}
                {{ step|capitalize }}
            </a>
        </li>
    {% endfor %}
</ul>
<br />
