{% extends 'base.html.twig' %}
{% block title %}Participant {{ participant.id }} - {% endblock %}
{% block body %}
    <div class="page-header">
        <h2>{{ participant.lastName }}, {{ participant.firstName }} <small>{{ participant.shortId }}</small></h2>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd>{{ participant.lastName }}, {{ participant.firstName }}</dd>
                <dt>Participant ID</dt>
                <dd>{{ participant.id }}</dd>
                <dt>Biobank ID</dt>
                <dd>{{ participant.biobankId }}</dd>
                <dt>DOB</dt>
                <dd>{{ participant.dob|date('n/j/Y') }}</dd>
                <dt>Gender Identity</dt>
                <dd>{{ participant.genderIdentity }}</dd>
            </dl>
        </div>
        <div class="col-sm-6 text-center">
            <svg id="participant-barcode"></svg>
        </div>
    </div>
    {% if participant.consentComplete %}
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-clipboard" aria-hidden="true"></i> Physical Measurements</h3>
                    </div>
                    <div class="panel-body">
                        {% for evaluation in evaluations %}
                            {% if loop.index == 6 %}
                                <div id="evaluation-overflow">
                            {% endif %}
                            <a href="{{ path('evaluation', { participantId: participant.id, evalId: evaluation.id }) }}" class="btn btn-block btn-lg btn-default">
                                {{ evaluation.created_ts|date('D n/j/Y', app.userTimezone) }}<br />
                                <small class="text-muted">
                                    {% if evaluation.finalized_ts %}
                                        <span class="label label-success">Finalized</span> {{ evaluation.finalized_ts|date('n/j/Y g:ia', app.userTimezone) }}
                                    {% else %}
                                        <span class="label label-default">Updated</span> {{ evaluation.updated_ts|date('n/j/Y g:ia', app.userTimezone) }}
                                    {% endif %}
                                </small>
                            </a>
                        {% endfor %}
                        {% if evaluations|length > 5 %}
                            </div> {# close .evaluation-overflow div above #}
                            <a href="#" class="btn btn-block btn-lg btn-default" id="evaluation-overflow-show">
                                <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> Show all
                            </a>
                        {% endif %}
                        <a href="{{ path('evaluation', { participantId: participant.id }) }}" class="btn btn-block btn-lg btn-default">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            {% if evaluations|length > 0 %}
                                New
                            {% else %}
                                Start
                            {% endif %}
                            Physical Measurements
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-medkit" aria-hidden="true"></i> Biobank Orders</h3>
                    </div>
                    <div class="panel-body">
                        {% for order in orders %}
                            {% if loop.index == 6 %}
                                <div id="order-overflow">
                            {% endif %}
                            <a href="{{ path('order', { participantId: participant.id, orderId: order.id }) }}" class="btn btn-block btn-lg btn-default">
                                {{ order.created_ts|date('D n/j/Y', app.userTimezone) }} <small class="text-muted"><strong>{{ order.order_id }}</strong></small><br />
                                <small class="text-muted">
                                    {% if order.finalized_ts %}
                                        <span class="label label-success">Finalized</span> {{ order.finalized_ts|date('n/j/Y g:ia', app.userTimezone) }}</small>
                                    {% elseif order.processed_ts %}
                                        <span class="label label-info">Processed</span> {{ order.processed_ts|date('n/j/Y g:ia', app.userTimezone) }}</small>
                                    {% elseif order.collected_ts %}
                                        <span class="label label-default">Collected</span> {{ order.collected_ts|date('n/j/Y g:ia', app.userTimezone) }}</small>
                                    {% else %}
                                    {% endif %}                                    
                                </small>
                            </a>
                        {% endfor %}
                        {% if orders|length > 5 %}
                            </div> {# close .order-overflow div above #}
                            <a href="#" class="btn btn-block btn-lg btn-default" id="order-overflow-show">
                                <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> Show all
                            </a>
                        {% endif %}
                        <a href="{{ path('orderCheck', { participantId: participant.id }) }}" class="btn btn-block btn-lg btn-default"><i class="fa fa-plus-circle" aria-hidden="true"></i> New Order</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-times-circle" aria-hidden="true"></i> Consent not complete</h3>
                    </div>
                    <div class="panel-body">
                        This participant does not meet consent requirements. Please direct participant to the Participant Technologies Center resource.  For more information call <span class="text-muted">[call center phone number]</span>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block pagejs %}
<script>
$(document).ready(function() {
    $('#order-overflow-show').on('click', function(e) {
        $(this).hide();
        $('#order-overflow').show();
        e.preventDefault();
    });
    $('#evaluation-overflow-show').on('click', function(e) {
        $(this).hide();
        $('#evaluation-overflow').show();
        e.preventDefault();
    });
    JsBarcode("#participant-barcode", {{ participant.id|json_encode|raw }}, {
        width: 2,
        height: 50,
        displayValue: true
    });
});
</script>
{% endblock %}
