{% extends 'base.html.twig' %}
{% block title %}Participants - {% endblock %}
{% block body %}
    <div class="page-header">
        <h2>Participants</h2>
    </div>

    <p><a href="{{ path('participants') }}">Return to participant lookup</a></p>

    {% if participants %}
        <table class="table table-striped">
            <thead><tr><th>Last Name</th><th>First Name</th><th>Date of Birth</th><th>ZIP Code</th><th>Basics Complete</th><th></th></tr></thead>
            <tbody>
                {% for participant in participants %}
                    <tr>
                        <td><a href="{{ path('participant', { id: participant.id }) }}">{{ participant.lastName }}</a></td>
                        <td><a href="{{ path('participant', { id: participant.id }) }}">{{ participant.firstName }}</a></td>
                        <td><a href="{{ path('participant', { id: participant.id }) }}">{{ participant.dob ? participant.dob|date('n/j/Y') }}</a></td>
                        <td><a href="{{ path('participant', { id: participant.id }) }}">{{ participant.zipCode }}</a></td>
                        <td>
                            {% if not participant.status and participant.statusReason == 'basics' %}
                                <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                            {% endif %}
                        </td>
                        <td class="text-right">
                            {% if not participant.status and participant.statusReason == 'withdrawal' %}
                                <span class="label label-danger">Withdrawn</span>
                            {% endif %}
                            {% if not participant.status and participant.statusReason == 'consent' %}
                                <span class="label label-danger">Unconsented</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning">No participants found</div>
    {% endif %}
{% endblock %}
