{% extends 'base.html.twig' %}
{% block title %}Participant {{ participant.id }} - {% endblock %}
{% block body %}
{% if hasNoPaticipantAccess == true %}
    <div class="row">
        <div class="col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa" aria-hidden="true"></i>Warning</h3>
                </div>
                <div class="panel-body">
                    The participant you have selected is either unpaired or paired with another enrollment site. Please verify that this is the correct participant. By continuing, you acknowledge that you have a valid need to access this record. Access to this record will be audited and is subject to review. Unauthorized access to records may result in loss of access to HealthPro.
                </div>
                <div class="panel-footer">
                    <form action="#" method="post">
                        {{ form_widget(agreeForm) }}
                        <a href="{{ path('participants') }}" class="btn btn-default">Cancel</a>
                        <button type="submit" class="btn btn-success">Agree</button>
                    </form>
                </div>
            </div>
        </div>
    </div> 
{% else %}
    <div class="page-header">
        <h2>{{ participant.lastName }}, {{ participant.firstName }} <small>{{ participant.shortId }}</small></h2>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd>{{ participant.lastName }}, {{ participant.firstName }}</dd>
                <dt>Participant ID</dt>
                <dd>{{ participant.id }}</dd>
                <dt>Biobank ID</dt>
                <dd>{{ participant.biobankId }}</dd>
                <dt>DOB</dt>
                <dd>{{ participant.dob ? participant.dob|date('n/j/Y') }}</dd>
                <dt>Gender Identity</dt>
                <dd>{{ participant.genderIdentity }}</dd>
            </dl>
        </div>
        <div class="col-sm-6 text-center">
            <svg id="participant-barcode"></svg>
        </div>
    </div>
    {% if participant.status %}
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-clipboard" aria-hidden="true"></i> Physical Measurements</h3>
                    </div>
                    <div class="panel-body">
                        {% for evaluation in evaluations %}
                            {% if loop.index == 6 %}
                                <div id="evaluation-overflow">
                            {% endif %}
                            <a href="{{ path('evaluation', { participantId: participant.id, evalId: evaluation.id }) }}" class="btn btn-block btn-lg btn-default">
                                {{ evaluation.created_ts|date('D n/j/Y', app.userTimezone) }}<br />
                                <small class="text-muted">
                                    {% if evaluation.finalized_ts %}
                                        <span class="label label-success">Finalized</span> {{ evaluation.finalized_ts|date('n/j/Y g:ia', app.userTimezone) }}
                                    {% else %}
                                        <span class="label label-default">Updated</span> {{ evaluation.updated_ts|date('n/j/Y g:ia', app.userTimezone) }}
                                    {% endif %}
                                </small>
                            </a>
                        {% endfor %}
                        {% if evaluations|length > 5 %}
                            </div> {# close .evaluation-overflow div above #}
                            <a href="#" class="btn btn-block btn-lg btn-default" id="evaluation-overflow-show">
                                <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> Show all
                            </a>
                        {% endif %}
                        <a href="{{ path('evaluation', { participantId: participant.id }) }}" class="btn btn-block btn-lg btn-default">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            {% if evaluations|length > 0 %}
                                New
                            {% else %}
                                Start
                            {% endif %}
                            Physical Measurements
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-medkit" aria-hidden="true"></i> Biobank Orders</h3>
                    </div>
                    <div class="panel-body">
                        {% for order in orders %}
                            {% if loop.index == 6 %}
                                <div id="order-overflow">
                            {% endif %}
                            <a href="{{ path('order', { participantId: participant.id, orderId: order.id }) }}" class="btn btn-block btn-lg btn-default">
                                {{ order.created_ts|date('D n/j/Y', app.userTimezone) }} <small class="text-muted"><strong>{{ order.order_id }}</strong></small><br />
                                <small class="text-muted">
                                    {% if order.finalized_ts %}
                                        <span class="label label-success">Finalized</span> {{ order.finalized_ts|date('n/j/Y g:ia', app.userTimezone) }}</small>
                                    {% elseif order.processed_ts %}
                                        <span class="label label-info">Processed</span> {{ order.processed_ts|date('n/j/Y g:ia', app.userTimezone) }}</small>
                                    {% elseif order.collected_ts %}
                                        <span class="label label-default">Collected</span> {{ order.collected_ts|date('n/j/Y g:ia', app.userTimezone) }}</small>
                                    {% else %}
                                    {% endif %}                                    
                                </small>
                            </a>
                        {% endfor %}
                        {% if orders|length > 5 %}
                            </div> {# close .order-overflow div above #}
                            <a href="#" class="btn btn-block btn-lg btn-default" id="order-overflow-show">
                                <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> Show all
                            </a>
                        {% endif %}
                        <a href="{{ path('orderCheck', { participantId: participant.id }) }}" class="btn btn-block btn-lg btn-default"><i class="fa fa-plus-circle" aria-hidden="true"></i> New Order</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% if participant.statusReason == 'basics' %}
            {% set errorTitle = 'The Basics survey not complete' %}
            {% set errorMessage = 'This participant has consented but has not completed "The Basics" survey in the participant app and is therefore ineligible for physical measurements and biospecimen collection. Please direct the participant to complete "The Basics" survey in the participant application to enable in person enrollment or contact the help desk if needed.' %}
        {% elseif participant.statusReason == 'withdrawal' %}
            {% set errorTitle = 'Withdrawn participant' %}
            {% set errorMessage = 'This participant has withdrawn from the All of Us Research Program within the last 48 hours. No new data can be collected or sent for this participant. Staff must also follow all site-specific SOPs to ensure all All of Us Research Program data are removed from all local systems for this participant.' %}
        {% else %}
            {% set errorTitle = 'Consent not complete' %}
            {% set errorMessage = 'This participant has not completed consent for enrollment.' %}
        {% endif %}
        <div class="row">
            <div class="col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-times-circle" aria-hidden="true"></i> {{ errorTitle }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ errorMessage }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
{% endblock %}

{% block pagejs %}
<script>
$(document).ready(function() {
    $('#order-overflow-show').on('click', function(e) {
        $(this).hide();
        $('#order-overflow').show();
        e.preventDefault();
    });
    $('#evaluation-overflow-show').on('click', function(e) {
        $(this).hide();
        $('#evaluation-overflow').show();
        e.preventDefault();
    });
    JsBarcode("#participant-barcode", {{ participant.id|json_encode|raw }}, {
        width: 2,
        height: 50,
        displayValue: true
    });
});
</script>
{% endblock %}
