{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-header">
        <h2>Participant Lookup</h2>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3>Search</h3>
            {{ form_start(searchForm) }}
                {{ form_widget(searchForm) }}
                <p><button type="submit" class="btn btn-primary">Search</button></p>
            {{ form_end(searchForm) }}
        </div>

        <div class="col-sm-6">
            <hr class="visible-xs" />
            <h3>Find by ID</h3>
            {{ form_start(idForm) }}
                {{ form_widget(idForm) }}
                <p><button type="submit" class="btn btn-primary">Go</button></p>
            {{ form_end(idForm) }}
        </div>
    </div>
{% endblock %}
