{% extends 'base.html.twig' %}
{% block title %}Participant {{ participant.id }} - {% endblock %}
{% block body %}
{% if hasNoParticipantAccess %}
    <div class="row">
        <div class="col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa" aria-hidden="true"></i>Warning</h3>
                </div>
                <div class="panel-body">
                    The participant you have selected is either unpaired or paired with another enrollment site. Please verify that this is the correct participant. By continuing, you acknowledge that you have a valid need to access this record. Access to this record will be audited and is subject to review. Unauthorized access to records may result in loss of access to HealthPro.
                </div>
                <div class="modal-footer text-right">
                    <form action="" method="post">
                        {{ form_widget(agreeForm) }}
                        <button type="submit" class="btn btn-success">Acknowledge</button>
                        <a href="{{ path(cancelRoute) }}" class="btn btn-default">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div> 
{% else %}
    <div class="page-header">
        <h2>{{ participant.lastName }}, {{ participant.firstName }} <small>{{ participant.shortId }}</small></h2>
    </div>

    <div class="row">
        <div class="col-sm-6">
          {% include 'partials/participant-dl.html.twig' %}
        </div>
        <div class="col-sm-6 text-center">
            <svg id="participant-barcode"></svg>
        </div>
    </div>
    {% if cacheEnabled %}
        <div class="row">
            <div class="col-sm-12 text-center">
                <small>
                    Last updated: {{ participant.cacheTime ? participant.cacheTime|date('g:ia', app.userTimezone) }}
                    <a href="{{ path('participant', { id: participant.id, refresh: 1 }) }}" style="margin-left: 6px"><i class="fa fa-refresh" aria-hidden="true"></i> refresh</a>
                </small>
            </div>
        </div>
    {% endif %}

    {% if participant.status or canViewDetails %}
        <div id="participant-consent-status">
            <div class="status-block">
                <strong>General Consent</strong>
                {% if participant.consentForStudyEnrollment == 'SUBMITTED' %}
                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                    {{ participant.consentForStudyEnrollmentTime ? participant.consentForStudyEnrollmentTime|date('n/j/Y', app.userTimezone) }}
                {% else %}
                    <i class="fa fa-times text-danger" aria-hidden="true"></i>
                {% endif %}
                <br />
            </div>
            <div class="status-block">
                <strong>EHR Consent</strong>
                {% if participant.consentForElectronicHealthRecords == 'SUBMITTED' %}
                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                    {{ participant.consentForElectronicHealthRecordsTime ? participant.consentForElectronicHealthRecordsTime|date('n/j/Y', app.userTimezone) }}
                {% elseif participant.consentForElectronicHealthRecords == 'INVALID' %}
                    <i class="fa fa-times text-danger" aria-hidden="true"></i> (invalid)
                    {{ participant.consentForElectronicHealthRecordsTime ? participant.consentForElectronicHealthRecordsTime|date('n/j/Y', app.userTimezone) }}
                {% else %}
                    <i class="fa fa-times text-danger" aria-hidden="true"></i>
                    {{ participant.consentForElectronicHealthRecordsTime ? participant.consentForElectronicHealthRecordsTime|date('n/j/Y', app.userTimezone) : '(not completed)' }}
                {% endif %}
                <br />
            </div>
            <div class="status-block">
                <strong>DV-only EHR Sharing</strong> <span title="Direct Volunteer participants are not asked to consent to share EHR data, but are asked if they would be willing to in the future." data-toggle="tooltip"><span class="sr-only">What is DV EHR Sharing</span><i class="fa fa-question-circle text-info"></i></span>
                {% if participant.consentForDvElectronicHealthRecordsSharing == 'SUBMITTED' %}
                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                    {{ participant.consentForDvElectronicHealthRecordsSharingTime ? participant.consentForDvElectronicHealthRecordsSharingTime|date('n/j/Y', app.userTimezone) }}
                {% elseif participant.consentForDvElectronicHealthRecordsSharing == 'SUBMITTED_NOT_SURE' %}
                    <i class="fa fa-question text-warning" aria-hidden="true"></i>
                    {{ participant.consentForDvElectronicHealthRecordsSharingTime ? participant.consentForDvElectronicHealthRecordsSharingTime|date('n/j/Y', app.userTimezone) }}
                {% else %}
                    <i class="fa fa-times text-danger" aria-hidden="true"></i>
                    {{ participant.consentForDvElectronicHealthRecordsSharingTime ? participant.consentForDvElectronicHealthRecordsSharingTime|date('n/j/Y', app.userTimezone) : '(not completed)' }}
                {% endif %}
                <br />
            </div>
            <div class="status-block">
                <strong>CABoR Consent</strong> <span title="California Research Subjects' Bill of Rights is required for participants only by enrollment sites in California" data-toggle="tooltip"><span class="sr-only">What is CABoR?</span><i class="fa fa-question-circle text-info"></i></span>
                {% if participant.consentForCABoR == 'SUBMITTED' %}
                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                    {{ participant.consentForCABoRTime ? participant.consentForCABoRTime|date('n/j/Y', app.userTimezone) }}
                {% else %}
                    <i class="fa fa-times text-danger" aria-hidden="true"></i>
                    {{ participant.consentForCABoRTime ? participant.consentForCABoRTime|date('n/j/Y', app.userTimezone) : '(not completed)' }}
                {% endif %}
                <br />
            </div>
            {% if not isDVType %}
                <div class="status-block patient-status-block">
                <strong>Patient Status</strong>
                {% if orgPatientStatusData is not empty  %}
                    {% set displayStatus = orgPatientStatusData.display_status|split(':') %}
                    {% if orgPatientStatusData.status == 'YES' %}
                        <i class="fa fa-check text-success" aria-hidden="true"></i>
                        {{ displayStatus|first }}
                    {% elseif orgPatientStatusData.status == 'UNKNOWN' or orgPatientStatusData.status == 'NO_ACCESS'%}
                        <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>
                        {{ displayStatus|first }}
                    {% else %}
                        <i class="fa fa-times" aria-hidden="true"></i>
                        {{ displayStatus|first }}
                    {% endif %}
                {% else %}
                    <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>
                    (not complete)
                {% endif %}
                <br />
            </div>
            {% endif %}
        </div>
    {% endif %}

    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#inperson" aria-controls="inperson" role="tab" data-toggle="tab">In-Person Enrollment</a>
            </li>
            {% if canViewDetails %}
                <li role="presentation">
                    <a href="#details" aria-controls="tab" role="tab" data-toggle="tab">Participant Details</a>
                </li>
            {% else %}
                <li role="presentation" class="disabled">
                    <a href="#" title="Details not available because participant is either withdrawn, unpaired, or paired with another enrollment site" data-toggle="tooltip" data-placement="bottom">Participant Details</a>
                </li>
            {% endif %}
            {% if not isDVType %}
                {% if participant.statusReason != 'withdrawal' %}
                    <li role="presentation">
                        <a href="#patientstatus" aria-controls="patientstatus" role="tab" data-toggle="tab">Patient Status</a>
                    </li>
                {% else %}
                    <li role="presentation" class="disabled">
                        <a href="#" title="Patient Status not available because participant is withdrawn" data-toggle="tooltip" data-placement="bottom">Patient Status</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
        <br />
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="inperson">
                {% if participant.status and not app.isTestSite %}
                    <div class="row">
                        <div class="col-sm-6 {{ app.isDVType ? 'col-lg-4' : 'col-lg-6' }}">
                            {% include 'partials/participant-evaluation-list.html.twig' %}
                        </div>

                        <div class="col-sm-6 {{ app.isDVType ? 'col-lg-4' : 'col-lg-6' }}">
                            {% include 'partials/participant-orders-list.html.twig' %}
                        </div>
                        {% if app.isDVType %}
                            <div class="col-sm-6 col-lg-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Document Unanticipated Problems</h3>
                                    </div>
                                    <div class="panel-body">
                                        {% for problem in problems %}
                                            {% if loop.index == 6 %}
                                                <div id="problem-overflow">
                                            {% endif %}
                                            <a href="{{ path('problemForm', { participantId: participant.id, problemId: problem.id }) }}" class="btn btn-block btn-lg btn-default">
                                                {{ problem.updated_ts|date('D n/j/Y', app.userTimezone) }}
                                                <br />
                                                <small class="text-muted">
                                                    {% if problem.finalized_ts %}
                                                        <span class="label label-success">Finalized</span>
                                                        {{ problem.finalized_ts|date('n/j/Y g:ia', app.userTimezone) }}
                                                        <br />
                                                        {% if problem.comment_count > 0 %}
                                                            <span class="label label-default">{{ problem.comment_count }} comment{{ problem.comment_count > 1 ? 's' }}</span> {{ problem.last_comment_ts|date('n/j/Y g:ia', app.userTimezone) }}
                                                        {% endif %}
                                                    {% else %}
                                                        <span class="label label-danger">Draft</span>
                                                        {{ problem.updated_ts|date('n/j/Y g:ia', app.userTimezone) }}
                                                    {% endif %}
                                                </small>
                                            </a>
                                        {% endfor %}
                                        {% if problems|length > 5 %}
                                            </div>
                                            <a href="#" class="btn btn-block btn-lg btn-default" id="problem-overflow-show">
                                                <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> Show all
                                            </a>
                                        {% endif %}
                                        <a href="{{ path('problemForm', { participantId: participant.id }) }}" class="btn btn-block btn-lg btn-default">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                            New Unanticipated Problem
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    {% if app.isTestSite %}
                        {% set errorTitle = 'Test user' %}
                        {% set errorMessage = 'Data collection and entry for test users are prohibited in this environment.' %}
                    {% elseif participant.statusReason == 'test-participant' %}
                        {% set errorTitle = 'This is not a real participant' %}
                        {% set errorMessage = 'Data collection and entry for test participants are prohibited in this environment. You may not create a biobank order or collect physical measurements for this participant.' %}
                    {% elseif participant.statusReason == 'basics' %}
                        {% set errorTitle = 'The Basics survey not complete' %}
                        {% set errorMessage = 'This participant has consented but has not completed "The Basics" survey in the participant app and is therefore ineligible for physical measurements and biospecimen collection. Please direct the participant to complete "The Basics" survey in the participant application to enable in person enrollment or contact the help desk if needed.' %}
                    {% elseif participant.statusReason == 'withdrawal' %}
                        {% set errorTitle = 'Withdrawn participant' %}
                        {% set errorMessage = 'This participant has withdrawn from the All of Us Research Program. No new data can be collected or sent for this participant. Staff must also follow all site-specific SOPs to ensure all All of Us Research Program data are removed from all local systems for this participant.' %}
                    {% else %}
                        {% set errorTitle = 'Consent not complete' %}
                        {% set errorMessage = 'This participant has not completed consent for enrollment.' %}
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-times-circle" aria-hidden="true"></i> {{ errorTitle }}</h3>
                                </div>
                                <div class="panel-body">
                                    <p>{{ errorMessage }}</p>
                                    {% if participant.statusReason == 'withdrawal' and participant.withdrawalReason is not empty %}
                                        <p>
                                            <strong>Reason:</strong> {{ participant.withdrawalReason }}
                                            {% if participant.withdrawalReasonJustification is not empty %}
                                                <br /><strong>Justification:</strong> {{ participant.withdrawalReasonJustification }}
                                            {% endif %}
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if canViewDetails %}
                <div role="tabpanel" class="tab-pane" id="details">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Consent</h3>
                                </div>
                                <div class="panel-body">
                                    <dl class="dl-vertical">
                                        <dt>Language of General Consent</dt>
                                        <dd>{{ participant.primaryLanguage|default('--') }}</dd>
                                    </dl>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Contact</h3>
                                </div>
                                <div class="panel-body">
                                    <dl class="dl-vertical">
                                        <dt>Language</dt>
                                        <dd>{{ participant.language|default('--') }}</dd>
                                        <dt>Contact Method</dt>
                                        <dd>{{ participant.recontactMethod|default('--') }}</dd>
                                        <dt>Address</dt>
                                        <dd>{{ participant.getAddress(true)|default('--')|nl2br }}</dd>
                                        <dt>Email <span title="This is either the registration email or the email provided after consent if the participant registered with a phone number" data-toggle="tooltip"><span class="sr-only">What is Email?</span><i class="fa fa-question-circle text-info"></i></span></dt>
                                        <dd>{{ participant.email|default('--') }}</dd>
                                        <dt>Login Phone <span title="This is the verified SMS number used during registration" data-toggle="tooltip"><span class="sr-only">What is Login Phone?</span><i class="fa fa-question-circle text-info"></i></span></dt>
                                        <dd>{{ participant.loginPhoneNumber|default('--') }}</dd>
                                        <dt>Contact Phone <span title="This is the phone number provided after consent" data-toggle="tooltip"><span class="sr-only">What is Contact Phone?</span><i class="fa fa-question-circle text-info"></i></span></dt>
                                        <dd>{{ participant.phoneNumber|default('--') }}</dd>
                                    </dl>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Demographics</h3>
                                </div>
                                <div class="panel-body">
                                    <dl class="dl-vertical">
                                        <dt>Age</dt>
                                        <dd>{{ participant.getAge()|default('--') }}</dd>
                                        <dt>Sex</dt>
                                        <dd>{{ participant.sex|default('--') }}</dd>
                                        <dt>Gender Identity</dt>
                                        <dd>{{ participant.genderIdentity|default('--') }}</dd>
                                        <dt>Race/Ethnicity</dt>
                                        <dd>{{ participant.race|default('--') }}</dd>
                                        <dt>Education</dt>
                                        <dd>{{ participant.education|default('--') }}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">PPI Survey Completion</h3>
                                </div>
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        <dt>Required Complete?</dt>
                                        <dd>
                                            {% if participant.numCompletedBaselinePPIModules == 3 %}
                                                <i class="fa fa-check text-success" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fa fa-times text-danger" aria-hidden="true"></i>
                                            {% endif %}
                                        </dd>
                                        <dt>Number Complete</dt>
                                        <dd>{{ participant.numCompletedPPIModules }}</dd>
                                    </dl>
                                    <div class="text-center">
                                        {% for field, label in surveys %}
                                            <div class="participant-detail-status">
                                                <strong>{{ label }}</strong>
                                                {% if attribute(participant, 'questionnaireOn' ~ field) == 'SUBMITTED' %}
                                                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                                                    {% if attribute(participant, 'questionnaireOn' ~ field ~ 'Time') %}
                                                        <small>{{ attribute(participant, 'questionnaireOn' ~ field ~ 'Time')|date('m/d/Y', app.userTimezone) }}</small>
                                                    {% endif %}
                                                {% else %}
                                                    <i class="fa fa-times text-danger" aria-hidden="true"></i>
                                                    <small>(not completed)</small>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">In-Person Enrollment</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="text-center">
                                        <div class="participant-detail-status">
                                            <strong>Paired Awardee</strong>
                                            {% if participant.awardee %}
                                                <i class="fa fa-check text-success" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fa fa-times text-danger" aria-hidden="true"></i>
                                                <small>(not paired)</small>
                                            {% endif %}
                                        </div>
                                        <br/>
                                        {% if participant.awardee %}
                                            <samp>{{ app.getAwardeeDisplayName(participant.awardee) }}</samp>
                                        {% endif %}
                                    </div>
                                    <hr />
                                    <div class="text-center">
                                        <div class="participant-detail-status">
                                            <strong>Paired Organization</strong>
                                            {% if participant.organization %}
                                                <i class="fa fa-check text-success" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fa fa-times text-danger" aria-hidden="true"></i>
                                                <small>(not paired)</small>
                                            {% endif %}
                                        </div>
                                        <br/>
                                        {% if participant.organization %}
                                            <samp>{{ app.getOrganizationDisplayName(participant.organization) }}</samp>
                                        {% endif %}
                                    </div>
                                    <hr />
                                    <div class="text-center">
                                        <div class="participant-detail-status">
                                            <strong>Paired Site</strong>
                                            {% if participant.siteSuffix %}
                                                <i class="fa fa-check text-success" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fa fa-times text-danger" aria-hidden="true"></i>
                                                <small>(not paired)</small>
                                            {% endif %}
                                        </div>
                                        <br/>
                                        {% if participant.siteSuffix %}
                                            Location: <samp>{{ app.getSiteDisplayName(participant.siteSuffix) }}</samp>
                                        {% endif %}
                                    </div>
                                    <hr />
                                    <div class="text-center">
                                        <div class="participant-detail-status">
                                            <strong>Physical Measurements</strong>
                                            {% if participant.physicalMeasurementsStatus == 'COMPLETED' %}
                                                <i class="fa fa-check text-success" aria-hidden="true"></i>
                                                {% if participant.physicalMeasurementsFinalizedTime %}
                                                    <small>{{ participant.physicalMeasurementsFinalizedTime|date('m/d/Y', app.userTimezone) }}</small>
                                                {% endif %}
                                            {% else %}
                                                <i class="fa fa-times text-danger" aria-hidden="true"></i>
                                                <small>(not completed)</small>
                                            {% endif %}
                                        </div>
                                        <br />
                                        {% if participant.evaluationFinalizedSite %}
                                            Location: <samp>{{ app.getSiteDisplayName(participant.evaluationFinalizedSite) }}</samp>
                                        {% endif %}
                                    </div>
                                    <hr />
                                    <dl class="dl-horizontal dl-horizontal-lg">
                                        <dt>Biospecimens Received</dt>
                                        <dd>
                                            {% if participant.numBaselineSamplesArrived >= 7 %}
                                                <i class="fa fa-check text-success" aria-hidden="true"></i>
                                            {% endif %}
                                            {{ participant.numBaselineSamplesArrived }}
                                        </dd>
                                        <dt>Samples for DNA Received?</dt>
                                        <dd>
                                            {% if participant.samplesToIsolateDNA == 'RECEIVED' %}
                                                <i class="fa fa-check text-success" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fa fa-times text-danger" aria-hidden="true"></i>
                                            {% endif %}
                                        </dd>
                                    </dl>
                                    <div class="text-center">
                                        {% for field, label in samples %}
                                            {% set break = false %}
                                            {% for sampleAlias in samplesAlias if not break %}
                                                {% if attribute(sampleAlias, field) is defined  and attribute(participant, 'sampleStatus' ~ attribute(sampleAlias, field)) == 'RECEIVED' %}
                                                    {% set field = attribute(sampleAlias, field) %}
                                                    {% set break = true %}
                                                {% endif %}
                                            {% endfor %}
                                            <div class="participant-detail-status">
                                                <strong>{{ label }}</strong>
                                                {% if attribute(participant, 'sampleStatus' ~ field) == 'RECEIVED' %}
                                                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                                                    {% if attribute(participant, 'sampleStatus' ~ field ~ 'Time') %}
                                                        <small>{{ attribute(participant, 'sampleStatus' ~ field ~ 'Time')|date('m/d/Y', app.userTimezone) }}</small>
                                                    {% endif %}
                                                {% else %}
                                                    <i class="fa fa-times text-danger" aria-hidden="true"></i>
                                                    <small>(not received)</small>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                        <br />
                                        {% if participant.orderCreatedSite %}
                                            Location: <samp>{{ app.getSiteDisplayName(participant.orderCreatedSite) }}</samp>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if not isDVType and participant.statusReason != 'withdrawal' %}
                <div role="tabpanel" class="tab-pane" id="patientstatus">
                {% if orgPatientStatusData is empty %}
                    <div class="alert alert-warning">
                        Please complete the patient status information for your organization. User should have access to EHR system information for verification.
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Patient Status: {{ app.getSiteOrganizationDisplayName() }}</h3>
                            </div>
                            <div class="panel-body">
                                <div id="patient-status-data-box">
                                    {% if orgPatientStatusData is not empty %}
                                        <div>
                                            <dl class="dl-horizontal">
                                                <dt>Status</dt>
                                                <dd>{{ orgPatientStatusData.display_status }}</dd>
                                                <dt>Comments</dt>
                                                <dd>{{ orgPatientStatusData.comments }}</dd>
                                            </dl>
                                        </div>
                                        <div align="center">
                                            <button class="btn btn-primary btn-sm btn-patient-status-update">Update</button>
                                        </div>
                                    {% endif %}
                                </div>
                                <div id="patient-status-form-box">
                                    {{ form_start(patientStatusForm, { attr: { class: 'warn-unsaved disable-enter prevent-resubmit patient-status-form' } }) }}
                                    {{ form_errors(patientStatusForm) }}
                                    {{ form_rest(patientStatusForm) }}
                                    {{ form_widget(patientStatusForm.comments) }}
                                    {% if orgPatientStatusData is not empty %}
                                        <small class="text-warning">User must enter a reason for updating previous organization status.</small>
                                        <br><br>
                                    {% endif %}
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    {% if orgPatientStatusData is not empty %}
                                        <button type="button" class="btn btn-default btn-patient-status-cancel">Cancel</button>
                                    {% endif %}
                                    {{ form_end(patientStatusForm) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if orgPatientStatusHistoryData is not empty %}
                        <div class="col-md-7">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Patient Status History: {{ app.getSiteOrganizationDisplayName() }}</h3>
                            </div>
                            <div class="panel-body">
                                {% include 'partials/patient-status-history-dl.html.twig' %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% if awardeePatientStatusData is not empty %}
                    <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Patient Status Details: Other Organizations</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Awardee</th>
                                            <th>Organization</th>
                                            <th>Status</th>
                                            <th>User</th>
                                            <th>Site</th>
                                            <th>Date</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for field in awardeePatientStatusData %}
                                        <tr>
                                            <td>{{ field.awardee_name|default(field.awardee) }}</td>
                                            <td>{{ field.organization_name|default(field.organization) }}</td>
                                            <td>{{ field.display_status }}</td>
                                            <td>{{ field.user_email }}</td>
                                            <td>{{ field.site_name|default(field.site) }}</td>
                                            <td>{{ field.created_ts|date('n/j/Y g:ia', app.userTimezone) }}</td>
                                            <td>
                                                <small>
                                                    <a data-href="{{ path('patientStatus', { participantId: participant.id, patientStatusId: field.ps_id }) }}" class="patient-status-details">History</a>
                                                </small>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    {% if not isDVType %}
        {# Patient status history modal window #}
        <div id="patient-status-details-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
{% endblock %}

{% block pagejs %}
<script>
$(document).ready(function() {
    $('#order-overflow-show').on('click', function(e) {
        $(this).hide();
        $('#order-overflow').show();
        e.preventDefault();
    });
    $('#evaluation-overflow-show').on('click', function(e) {
        $(this).hide();
        $('#evaluation-overflow').show();
        e.preventDefault();
    });
    $('#problem-overflow-show').on('click', function(e) {
        $(this).hide();
        $('#problem-overflow').show();
        e.preventDefault();
    });
    JsBarcode("#participant-barcode", {{ participant.id|json_encode|raw }}, {
        width: 2,
        height: 50,
        displayValue: true
    });
});
</script>
{# Paient status tab #}
{% if not isDVType %}
<script>
$(document).ready(function() {
    var orgPatientStatusData = {{ orgPatientStatusData|json_encode|raw }};

    // Switch to default tab if empty
    if (!orgPatientStatusData) {
        $('[href="#patientstatus"]').tab('show');
    }

    // Switch to patient status tab if there is a form error
    if ($('.patient-status-form').find('div').hasClass('alert-danger')) {
        $('[href="#patientstatus"]').tab('show');
        // Display form
        setTimeout(function () {
            $('.btn-patient-status-update').trigger('click');
        }, 100);
    }

    $('.patient-status-block').on('click', function () {
        $('[href="#patientstatus"]').tab('show');
    });

    // Hide form by default if not empty
    if (orgPatientStatusData) {
        $('#patient-status-data-box').show();
        $('#patient-status-form-box').hide();
    }

    $('.btn-patient-status-update').on('click', function () {
        $('#patient-status-data-box').hide();
        $('#patient-status-form-box').show();
    });

    $('.btn-patient-status-cancel').on('click', function () {
        $('#patient-status-data-box').show();
        $('#patient-status-form-box').hide();
    });

    // Display history in modal window
    var psDetailsModal = $('#patient-status-details-modal');
    $(".patient-status-details").on('click', function (e) {
        e.preventDefault();
        $(psDetailsModal).removeData('bs.modal');
        // Load data from url
        $("#patient-status-details-modal .modal-content").load(
            $(this).attr('data-href')
        );
        $(psDetailsModal).modal('show');
    });

    $(psDetailsModal).on('hidden.bs.modal', function () {
        $("#patient-status-details-modal .modal-body").html('');
    });
});
</script>
{% endif %}
{% endblock %}
