<!doctype html>
<html lang="en">
<head>
    {% include 'base-head.html.twig' %}
    <title>Unanticipatd Problem Details</title>
</head>
<body>
    <div class="container-fluid" id="problem-details">
        <div class="row">
            <div class="col-sm-{{ comments ? '8' : '12' }}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-th-list" aria-hidden="true"></i>
                            Unanticipatd Problem Details
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <tr>
                                <th>Problem Type</th>
                                <td>{{ problem.problem_type }}</td>
                            </tr>
                            <tr>
                                <th>Enrollement Site</th>
                                <td>{{ problem.enrollment_site }}</td>
                            </tr>
                            <tr>
                                <th>Staff Name</th>
                                <td>{{ problem.staff_name }}</td>
                            </tr>
                            <tr>
                                <th>Problem Date</th>
                                <td>{{ problem.problem_date|date('n/j/Y g:ia', app.userTimezone) }}</td>
                            </tr>
                            <tr>
                                <th>Date provider became aware of problem</th>
                                <td>{{ problem.provider_aware_date|date('n/j/Y g:ia', app.userTimezone) }}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ problem.description }}</td>
                            </tr>
                            <tr>
                                <th>Action Taken</th>
                                <td>{{ problem.action_taken }}</td>
                            </tr>
                            <tr>
                                <th>Created</th>
                                <td>{{ problem.created_ts|date('n/j/Y g:ia', app.userTimezone) }}</td>
                            </tr>
                            <tr>
                                <th>Updated</th>
                                <td>{{ problem.updated_ts|date('n/j/Y g:ia', app.userTimezone) }}</td>
                            </tr>
                            <tr>
                                <th>Finalized</th>
                                <td>{{ problem.finalized_ts|date('n/j/Y g:ia', app.userTimezone) }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            {% if comments %}
            <div class="col-sm-4">
                <h4><i class="fa fa-comments" aria-hidden="true"></i> Comments</h4>
            {% for comment in comments %}
                {% if loop.index == 6 %}
                    <div id="comment-overflow">
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                    <strong>{{ comment.staff_name }}</strong> <small class="text-muted">Commented on {{ comment.created_ts|date('D n/j/Y g:ia', app.userTimezone) }}</small>
                    </div>
                    <div class="panel-body">
                    {{ comment.comment }}
                    </div>
                </div>
            {% endfor %}
            {% if comments|length > 5 %}
                </div>
                <a href="#" class="btn btn-block btn-lg btn-default" id="comment-overflow-show">
                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> Show all
                </a>
            {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
<script src="{{ asset('dist/js/all.min.js') }}?v={{ app.assetVer }}"></script>
<script>
$(document).ready(function() {
    $('#comment-overflow-show').on('click', function(e) {
        $(this).hide();
        $('#comment-overflow').show();
        e.preventDefault();
    });
});
</script>
</body>
</html>
