{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h2>Settings</h2>
            </div>
            {{ form_start(settingsForm) }}
                {{ form_errors(settingsForm) }}
                {{ form_widget(settingsForm) }}
                <p><button type="submit" class="btn btn-primary">Update Settings</button></p>
            {{ form_end(settingsForm) }}
        </div>
    </div>
{% endblock %}
{% block pagejs %}
<script>
$(document).ready(function() {
    var userTimeZone = '{{app.getUserTimezone(false)}}';
    if (userTimeZone != '') {
        var browserTimeZone = jstz.determine().name();
        if (userTimeZone != browserTimeZone) {
            var html = '<div class="alert alert-warning">Your computer\'s time zone "'+browserTimeZone+'" does not appear to match your HealthPro time zone preference "'+userTimeZone+'".</div>';
            $('#flash-notices').html(html);
        }
    }
});
</script>
{% endblock %}
