{% set bootstrapVersion = 5 %}
{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-header pb-1 my-5 border-bottom">
        <h2>Welcome!</h2>
    </div>
    <div class="row home-menu row-equal-height">
        {% if is_granted('ROLE_NPH_USER') and app.session.get('site') %}
            <div class="col-sm-6 col-md-4">
                <a href="{{ path('nph_participants') }}" class="btn btn-lg btn-default btn-block border w-100 text-dark">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Participant Lookup
                    <div class="description">Search for participants by first name, last name, and date of birth, PID, email, or phone number.</div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href="{{ path('nph_order_lookup') }}" class="btn btn-lg btn-default btn-block border w-100 text-dark">
                    <i class="fa fa-medkit" aria-hidden="true"></i>
                    Biospecimen Lookup
                    <div class="description">Search for a biospecimen by order ID, collection sample ID, or aliquot ID.</div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href="{{ path('nph_review_today') }}" class="btn btn-lg btn-default btn-block border w-100 text-dark">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    Daily Review
                    <div class="description">Review Biobank orders that were created today, are unfinalized, or were recently modified.</div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href="{{ path('nph_samples_aliquot') }}" class="btn btn-lg btn-default btn-block border w-100 text-dark">
                    <i class="fa fa-laptop-medical" aria-hidden="true"></i>
                    Aliquot Samples
                    <div class="description">Aliquot Biobank samples and enter sample processing information.</div>
                </a>
            </div>
        {% endif %}
        <div class="col-sm-6 col-md-4">
            <a href="{{ path('help_nph') }}" class="btn btn-lg btn-block border w-100 text-dark">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                Help and Training Resources
                <div class="description">Access support information, application resources, and program MOPs.</div>
            </a>
        </div>
    </div>
{% endblock %}
