<div class="modal fade" id="siteModal" tabindex="-1" aria-labelledby="siteModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" action="{{ path('site_select') }}">
                <div class="modal-header">
                    <h5 class="modal-title" id="siteModalLabel">Current site</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% set sites = isCurrentProgramHpo() ? app.user.sites : app.user.nphSites %}
                    {% if sites|length == 0 and app.user.awardees|length == 0 %}
                        <span class="text-danger">You do not belong to any HPO sites!</span>
                    {% else %}
                        <select class="form-select" name="site">
                            {% for site in sites %}
                                <option value="{{ site.email }}"{{ (app.session.get('site') and app.session.get('site').email == site.email) ? ' selected' : '' }} >
                                    {% if isCurrentProgramHpo() and not siteInfo.activeSite(site.id) %} (Inactive) {% endif %}
                                    {{ attribute(app.session.get('userSiteDisplayNames'), site.id)|default(site.name) }}
                                </option>
                            {% endfor %}
                            {% if isCurrentProgramHpo() %}
                                {% for awardee in app.user.awardees %}
                                    <option value="{{ awardee.email }}"{{ (app.session.get('awardee') and app.session.get('awardee').email == awardee.email) ? ' selected' : '' }} >{{ awardee.name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    {% endif %}
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token('siteSelect') }}"/>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    {% set userSites = app.session.get('program') == constant('App\\Entity\\User::PROGRAM_NPH') ? app.user.nphSites : app.user.sites %}
                    {% if userSites|length > 0 or app.user.awardees|length > 0 %}
                        <button type="submit" class="btn btn-primary">Switch</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
