{% extends 'render-base.html.twig' %}
{% block title %}Participants - {% endblock %}
{% block body %}
    <div class="page-header">
        <h2>Participants</h2>
    </div>
    {% set returnRoute = 'participants' %}
    {% if app.request.get('_route') starts with 'read_' %}
        {% set returnRoute = 'read_participants' %}
    {% endif %}
    <p><a href="{{ path(returnRoute) }}">Return to participant lookup</a></p>

    {% if participants %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Middle Initial</th>
                <th>Date of Birth</th>
                <th>ZIP Code</th>
                <th>Participant Paired Awardee</th>
                {% if app.session.get('siteType') == 'dv' %}
                    <th>Participant Origination</th>
                {% endif %}
                <th>PM&amp;B Eligible?</th>
                <th></th>
                {% if searchType is defined and searchType == 'phone' %}
                    <th>Matched Phone Number</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for participant in participants %}
                    <tr>
                        <td><a href="{{ path('participant', { id: participant.participantId }) }}">{{ participant.lastName }}</a></td>
                        <td><a href="{{ path('participant', { id: participant.participantId }) }}">{{ participant.firstName }}</a></td>
                        <td><a href="{{ path('participant', { id: participant.participantId }) }}">{{ participant.middleName }}</a></td>
                        <td><a href="{{ path('participant', { id: participant.participantId }) }}">{{ participant.dob ? participant.dob|date('n/j/Y') }}</a></td>
                        <td><a href="{{ path('participant', { id: participant.participantId }) }}">{{ participant.zipCode }}</a></td>
                        <td>
                            {% if participant.awardee %}
                                {% if participant.awardee != siteInfo.siteAwardee %}
                                    <i class="fa fa-info-circle text-warning" title="Participant paired awardee is different from your awardee" data-toggle="tooltip"></i>
                                {% endif %}
                                {{ siteInfo.awardeeDisplayName(participant.awardee) }}
                            {% else %}
                                <i class="fa fa-info-circle text-warning" title="Participant is unpaired" data-toggle="tooltip"></i>
                                <span class="text-muted">Unpaired</span>
                            {% endif %}
                        </td>
                        {% if app.session.get('siteType') == 'dv' %}
                            <td>{{ participant.participantOrigin }}</td>
                        {% endif %}
                        <td>
                            {% if participant.status and participant.activityStatus != 'deactivated' %}
                                <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
                            {% endif %}
                        </td>
                        <td class="text-right">
                            {% if not participant.status and participant.statusReason == 'withdrawal' %}
                                <span class="label label-danger">Withdrawn</span>
                            {% endif %}
                            {% if not participant.status and participant.statusReason == 'consent' %}
                                <span class="label label-danger">Unconsented</span>
                            {% endif %}
                            {% if not participant.status and participant.statusReason == 'deceased-approved' %}
                                <span class="label label-danger">Deceased</span>
                            {% endif %}
                            {% if participant.activityStatus == 'deactivated' %}
                                <span class="label label-danger">Deactivated</span>
                            {% endif %}
                        </td>
                        {% if searchType is defined and searchType == 'phone' %}
                            <td>
                                {% if participant.searchField is defined %}
                                    {% if participant.searchField == 'loginPhone' %}
                                        Login Phone <span title="This is the verified SMS number used during registration" data-toggle="tooltip"><span class="sr-only">What is Login Phone?</span><i class="fa fa-question-circle text-info"></i></span>
                                    {% else %}
                                        Contact Phone <span title="This is the phone number provided after consent" data-toggle="tooltip"><span class="sr-only">What is Contact Phone?</span><i class="fa fa-question-circle text-info"></i></span>
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning">No participants found</div>
    {% endif %}
{% endblock %}
