{% extends 'biobank/base.html.twig' %}
{% block title %}Participant {{ participant.biobankId }} - {% endblock %}
{% block body %}
    <div class="page-header">
        <h2><i class="fa fa-medkit" aria-hidden="true"></i> Order Details</h2>
    </div>
    <div class="row">
        <div class="display-none" id="currentStep" data-current-step="{{ currentStep }}"></div>
        <div class="display-none" id="collectedSamples" data-collected-samples="{{ collectedSamples|json_encode }}"></div>
        <div class="col-sm-6">
            <dl class="dl-horizontal">
                {% if is_granted('ROLE_SCRIPPS') or is_granted('ROLE_AWARDEE') %}
                    <dt>Participant ID</dt>
                    <dd>{{ participant.id }}</dd>
                {% endif %}
                <dt>Biobank ID</dt>
                <dd>
                    {% if is_granted('ROLE_SCRIPPS') or is_granted('ROLE_BIOBANK') %}
                        <a href="{{ path('biobank_participant', { biobankId: participant.biobankId }) }}">{{ participant.biobankId }}</a>
                    {% else %}
                        {{ participant.biobankId }}
                    {% endif %}
                </dd>
                <dt>Paired Organization</dt>
                <dd>{{ participant.organization ? siteInfo.getOrganizationDisplayName(participant.organization) : '(not paired)' }}</dd>
                <dt>AI/AN</dt>
                <dd>
                    {% if participant.isAIAN %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </dd>
            </dl>
        </div>
        <div class="col-sm-6">
            <p class="lead">
                Order ID: <strong>{{ order.orderId }}</strong>
            </p>
            <h3>
                <i class="fa fa-medkit" aria-hidden="true"></i>
                {{ order.createdTs|date('n/j/Y', app.user.timezone) }}
            </h3>
        </div>
    </div>

    {% if order.status == 'unlock' %}
        <div class="alert alert-warning well-sm">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <strong>
                Unlocked for editing by {{ order.history.user.email|default('Unknown') }} at {{ siteInfo.siteDisplayName(order.history.site) }} on {{ order.history.createdTs|date('F j, Y g:ia', app.user.timezone) }}
            </strong>
        </div>
    {% elseif order.status == 'cancel' %}
        <div class="alert alert-danger well-sm">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <strong>
                Cancelled by {{ order.history.user.email|default('Unknown') }} at {{ siteInfo.siteDisplayName(order.history.site) }} on {{ order.history.createdTs|date('F j, Y g:ia', app.user.timezone) }}
            </strong>
            {% if order.reasonDisplayText is not empty %}
                <br/><strong>Reason:</strong> {{ order.reasonDisplayText }}
            {% endif %}
        </div>
    {% endif %}

    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#collect" aria-controls="collect" role="tab" data-toggle="tab">
                    {% if order.collectedTs is not empty %}
                        <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                    {% endif %}
                    Collect
                </a>
            </li>
            {% if order.type != 'saliva' %}
                <li role="presentation">
                    <a href="#process" aria-controls="process" role="tab" data-toggle="tab">
                        {% if order.collectedTs is not empty and order.processedTs is not empty %}
                            <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                        {% endif %}
                        Process
                    </a>
                </li>
            {% endif %}
            <li role="presentation">
                <a href="#finalize" aria-controls="finalize" role="tab" data-toggle="tab">
                    {% if order.finalizedTs is not empty %}
                        <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                    {% endif %}
                    Finalize
                </a>
            </li>
        </ul>
        <br />
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="collect">
                {% include 'biobank/partials/biobank-order-details.html.twig' with { type: 'collected' } %}
            </div>
            {% if order.type != 'saliva' %}
                <div role="tabpanel" class="tab-pane" id="process">
                    {% include 'biobank/partials/biobank-order-details.html.twig' with { type: 'processed' } %}
                </div>
            {% endif %}
            <div role="tabpanel" class="tab-pane" id="finalize">
                {% include 'biobank/partials/biobank-order-details.html.twig' with { type: 'finalized' } %}
                {% if order.fedexTracking %}
                    <div class="row">
                        <div class="col-sm-12">
                            <h3><i class="fa fa-truck" aria-hidden="true"></i>Tracking Number</h3>
                            {{ order.fedexTracking }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block pagejs %}
    {{ encore_entry_script_tags('order-sub') }}
    {{ encore_entry_script_tags('biobank-order') }}
{% endblock %}
