{% extends 'biobank/base.html.twig' %}
{% block title %}Today - Daily Review - {% endblock %}
{% block bodycontainer %}container-fluid{% endblock %}
{% set missingName = '' %}

{% import 'macros/display-text.html.twig' as macros %}

{% block body %}
    {% include 'biobank/partials/participant-review-tabs.html.twig' %}
    {% if is_granted('ROLE_SCRIPPS') %}
        {% set orderCol = 4 %}
    {% else %}
        {% set orderCol = 3 %}
    {% endif %}
    <table class="table table-striped table-bordered table-small mt-2 datatable" id="table-today" data-table-page-length="25" data-table-order="desc" data-table-order-column="{{ orderCol }}">
        <thead>
        <tr>
            {% if is_granted('ROLE_SCRIPPS') %}
                <th>Participant ID</th>
            {% endif %}
            <th>Order ID</th>
            <th>Biobank ID</th>
            <th>Status</th>
            <th class="col-created">Created</th>
            <th>Created Site</th>
            <th>Collected</th>
            <th>Collected Site</th>
            <th>Processed</th>
            <th>Processed Site</th>
            <th>Finalized</th>
            <th>Finalized Site</th>
            <th>Finalized Samples</th>
        </tr>
        </thead>
        <tbody>
        {% for id, order in orders %}
            <tr>
                {% if is_granted('ROLE_SCRIPPS') %}
                    <td>
                        <a href="{{ path('biobank_participant', { biobankId: order.biobank_id }) }}">{{ order.participant_id }}</a>
                    </td>
                {% endif %}
                <td>
                    <a href="{{ path('biobank_order', { biobankId: order.biobank_id, orderId: order.id }) }}">{{ order.order_id }}</a>
                </td>
                <td>
                    <a href="{{ path('biobank_participant', { biobankId: order.biobank_id }) }}">{{ order.biobank_id }}</a>
                </td>
                <td>
                    <nobr>{{ order.orderStatus }}</nobr>
                </td>
                <td data-order="{{ order.created_ts }}">
                    {{ macros.displayDateAndTimezone(order, 'created') }}
                </td>
                <td>
                    {{ macros.displaySite(order.created_site_name, order.site) }}
                </td>
                <td data-order="{{ order.collected_ts }}">
                    {{ macros.displayDateAndTimezone(order, 'collected') }}
                </td>
                <td>
                    {{ macros.displaySite(order.collected_site_name, order.collected_site) }}
                </td>
                <td data-order="{{ order.processed_ts }}">
                    {{ order.type != 'saliva' ? macros.displayDateAndTimezone(order, 'processed') : '--'}}
                </td>
                <td>
                    {{ order.type != 'saliva' ? macros.displaySite(order.processed_site_name, order.processed_site) : '--' }}
                </td>
                <td data-order="{{ order.finalized_ts is defined }}">
                    {% set showOrderFinalizedTs = order.finalized_ts and order.h_type != 'unlock' and not (order.finalized_ts and order.rdr_id is empty) %}
                    {% if showOrderFinalizedTs %}
                        {{ macros.displayDateAndTimezone(order, 'finalized') }}
                    {% else %}
                        <i class="fa fa-times text-danger" aria-hidden="true"></i>
                    {% endif %}
                </td>
                <td>
                    {% if showOrderFinalizedTs %}
                        {{ macros.displaySite(order.finalized_site_name, order.finalized_site) }}
                    {% else %}
                        <i class="fa fa-times text-danger" aria-hidden="true"></i>
                    {% endif %}
                </td>
                <td>
                    {% if showOrderFinalizedTs and order.finalizedSamples is defined %}
                        {{ order.finalizedSamples }}
                    {% else %}
                        <i class="fa fa-times text-danger" aria-hidden="true"></i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('datatable') }}
{% endblock %}
