{% set bootstrapVersion = 5 %}
{% extends 'biobank/base.html.twig' %}
{% block title %}Participant {{ participant.biobankId }} - {% endblock %}
{% block body %}
    <div class="page-header border-bottom">
        <h2><i class="fa fa-user" aria-hidden="true"></i> Participant Details</h2>
    </div>
    <div class="row mt-2">
        <div class="col-sm-6">
            <dl class="row">
                {% if is_granted('ROLE_SCRIPPS') %}
                    <dt>Participant ID</dt>
                    <dd>{{ participant.id }}</dd>
                {% endif %}
                <dt class="col-sm-4">Biobank ID</dt>
                <dd class="col-sm-8">{{ participant.biobankId }}</dd>
                <dt class="col-sm-4">Paired Organization</dt>
                <dd class="col-sm-8">{{ participant.organization ? siteInfo.getOrganizationDisplayName(participant.organization) : '(not paired)' }}</dd>
            </dl>
        </div>
    </div>
    <div role="tabpanel" class="mb-4">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="nav-item">
                <button class="nav-link active" aria-controls="inperson" role="tab" data-bs-toggle="tab" data-bs-target="#inperson">
                    In-Person Enrollment
                </button>
            </li>
        </ul>
        <br>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="inperson">
                {% if canViewOrders %}
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3">
                            {% include 'partials/participant-orders-list.html.twig' %}
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3">
                            {% include 'partials/participant-notice.html.twig' %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('biobank-participant') }}
{% endblock %}
