{% macro displayDate(order, dateType) %}
    {% if order[dateType] %}
        {{ order[dateType]|date('n/j/Y g:ia', app.user.timezone) }}
    {% else %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
    {% endif %}
{% endmacro %}

{% macro displayDateAndTimezone(order, dateType) %}
    {% if order[dateType~'_ts'] %}
        {% set timezoneId = attribute(order, dateType~'_timezone_id') %}
        {% set timezone = timezoneId ? userTimezones[timezoneId] : app.user.timezone  %}
        {{ order[dateType~'_ts']|date('n/j/Y g:ia T', timezone) }}
    {% else %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
    {% endif %}
{% endmacro %}

{% macro displaySite(siteName, site) %}
    {% if siteName is empty and site is empty %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
    {% else %}
        {{ siteName ? siteName : site }}
    {% endif %}
{% endmacro %}

{% macro displayConsentStatus(type, value, time) %}
    {% set time = time ? time|date('n/j/Y', app.user.timezone) %}
    {% if value == 'SUBMITTED' %}
        <i class="fa fa-check text-success" aria-hidden="true"></i>
        <span role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="(Consented Yes)">
            <strong>{{ type }}</strong> {{ time }}
        </span>
    {% elseif value == 'SUBMITTED_NO_CONSENT' %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
        <span role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="(Refused Consent)">
            <strong>{{ type }}</strong> {{ time }}
        </span>
    {% elseif value == 'SUBMITTED_NOT_SURE' %}
        <i class="fa fa-question text-warning" aria-hidden="true"></i>
        <span role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="(Responded Not Sure)">
            <strong>{{ type }}</strong> {{ time }}
        </span>
    {% elseif value == 'SUBMITTED_INVALID' %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
        <span role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="(Invalid)">
            <strong>{{ type }}</strong> {{ time }}
        </span>
    {% else %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
        <span role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="(Consent Not Completed)">
            <strong>{{ type }}</strong> {{ time }}
        </span>
    {% endif %}
{% endmacro %}

{% macro displayEHRConsentStatus(value, time, ehrExpireStatus = '', ehrExpireDate = '') %}
    {% set type= 'EHR Consent' %}
    {% set time = time ? time|date('n/j/Y', app.user.timezone) %}
    {% if ehrExpireStatus == 'EXPIRED' %}
        <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>
        <span role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="(Expired on {{ ehrExpireDate ? ehrExpireDate|date('n/j/Y', app.user.timezone) }})">
            <strong>{{ type }}</strong> {{ time }}
        </span>
    {% elseif value == 'SUBMITTED' %}
        <i class="fa fa-check text-success" aria-hidden="true"></i>
        <span role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="(Consented Yes)">
            <strong>{{ type }}</strong> {{ time }}
        </span>
    {% elseif value == 'SUBMITTED_NO_CONSENT' %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
        <span role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="(Refused Consent)">
            <strong>{{ type }}</strong> {{ time }}
        </span>
    {% elseif value == 'SUBMITTED_NOT_SURE' %}
        <i class="fa fa-question text-warning" aria-hidden="true"></i>
        <span role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="(Responded Not Sure)">
            <strong>{{ type }}</strong> {{ time }}
        </span>
    {% elseif value == 'SUBMITTED_INVALID' %}
        <i class="fa fa-exclamation-circle text-danger" aria-hidden="true"></i>
        <span role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="(Invalid) An error has been identified with this EHR Consent and a ticket has been submitted to PTSC for review.">
            <strong>{{ type }}</strong> {{ time }}
        </span>
    {% elseif value == 'SUBMITTED_NOT_VALIDATED' %}
        <i class="fa fa-sync text-warning" aria-hidden="true"></i>
        <span role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="(Processing) The EHR Consent has been submitted and is currently undergoing validation. This process could take up to 24hrs to process.">
            <strong>{{ type }}</strong> {{ time }}
        </span>
    {% else %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
        <span role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="(Consent Not Completed)">
            <strong>{{ type }}</strong>
        </span>
    {% endif %}
{% endmacro %}

{% macro displayGenomicsConsentStatus(value, time) %}
    {% set type= 'gRoR Consent' %}
    {% set time = time ? time|date('n/j/Y', app.user.timezone) %}
    {% if value == 'SUBMITTED' %}
        <i class="fa fa-check text-success" aria-hidden="true"></i>
        <span role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="(Consented Yes)">
            <strong>{{ type }}</strong> {{ time }}
        </span>
    {% elseif value == 'SUBMITTED_NO_CONSENT' %}
        <i class="fa fa-check text-success" aria-hidden="true"></i>
        <span role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="(Refused Consent)">
            <strong>{{ type }}</strong> {{ time }}
        </span>
    {% elseif value == 'SUBMITTED_NOT_SURE' %}
        <i class="fa fa-check text-success" aria-hidden="true"></i>
        <span role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="(Responded Not Sure)">
            <strong>{{ type }}</strong> {{ time }}
        </span>
    {% elseif value == 'SUBMITTED_INVALID' %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
        <span role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="(Invalid)">
            <strong>{{ type }}</strong> {{ time }}
        </span>
    {% else %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
        <span role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="(Consent Not Completed)">
            <strong>{{ type }}</strong>
        </span>
    {% endif %}
{% endmacro %}

{% macro displayConsentPanelStatus(participant, field, showConsentPDFs = '') %}
    {% set consentValues = ['SUBMITTED', 'SUBMITTED_NO_CONSENT', 'SUBMITTED_NOT_SURE', 'SUBMITTED_INVALID'] %}
    {% if attribute(participant, field) in consentValues %}
        {% set time = attribute(participant, field ~ 'Authored') %}
        {{ time ? _self.displayConsent(time, attribute(participant, field ~ 'FilePath'), field, participant.id, showConsentPDFs) : '--' }}
    {% else %}
        (not completed)
    {% endif %}
{% endmacro %}

{% macro displayGrorConsentPanelStatus(participant, field, showConsentPDFs = '') %}
    {% set consentValues = ['SUBMITTED', 'SUBMITTED_NO_CONSENT', 'SUBMITTED_NOT_SURE'] %}
    {% if attribute(participant, field) in consentValues %}
        <i class="fa fa-check text-success" aria-hidden="true"></i>
    {% else %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
    {% endif %}
    {{ _self.displayConsentPanelStatus(participant, field, showConsentPDFs) }}
{% endmacro %}

{% macro displayProgramUpdate(consentCohort, programUpdate, time) %}
    {% if consentCohort != 'COHORT_2' %}
        (Not Applicable)
    {% elseif programUpdate == 'SUBMITTED' %}
        <i class="fa fa-check text-success" aria-hidden="true"></i>
        {{ time ? time|date('n/j/Y g:ia', app.user.timezone) : '--' }}
    {% else %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
        (review not completed)
    {% endif %}
{% endmacro %}

{% macro displayFirstConsentPanelStatus(participant, currentDateField, currentFilePathField, field, showConsentPDFs, type = 'primary') %}
    {% set consentValues = ['SUBMITTED', 'SUBMITTED_NO_CONSENT', 'SUBMITTED_NOT_SURE', 'SUBMITTED_NOT_VALIDATED', 'SUBMITTED_INVALID'] %}
    {% set value = attribute(participant, field) %}
    {% set currentTime = attribute(participant, currentDateField) %}
    {% set time = attribute(participant, field ~ 'Authored') %}
    {% set firstTime = attribute(participant, field ~ 'FirstYesAuthored') %}
    {% if value in consentValues %}
        {% if type == 'ehr' and value == 'SUBMITTED_NOT_VALIDATED' %}
            <i class="fa fa-sync text-warning" aria-hidden="true" title="The EHR Consent has been submitted and is currently undergoing validation. This process could take up to 24hrs to process." data-toggle="tooltip" data-container="body"></i>
        {% elseif type == 'ehr' and value == 'SUBMITTED_INVALID' %}
            <i class="fa fa-exclamation-circle text-danger" aria-hidden="true" title="An error has been identified with this EHR Consent and a ticket has been submitted to PTSC for review." data-toggle="tooltip" data-container="body"></i>
        {% elseif value == 'SUBMITTED' %}
            <i class="fa fa-check text-success" aria-hidden="true"></i>
        {% elseif value == 'SUBMITTED_NOT_VALIDATED' %}
            <i class="fa fa-sync text-warning" aria-hidden="true"></i>
        {% else %}
            <i class="fa fa-times text-danger" aria-hidden="true"></i>
        {% endif %}
        {% if currentTime %}
            {{ _self.displayConsent(currentTime, attribute(participant, currentFilePathField), currentDateField, participant.id, showConsentPDFs) }} (current status, re-consented)
            <br>
        {% endif %}
        {% if time %}
            {{ _self.displayConsent(time, attribute(participant, field ~ 'FilePath'), field, participant.id, showConsentPDFs) }} (updated)
            <br>
        {% endif %}
        {% if firstTime %}
            {{ _self.displayConsent(firstTime, attribute(participant, field ~ 'FilePath'), field, participant.id, showConsentPDFs) }}
            {{ type == 'primary' ? '(first agreed to participate)' : '(first agreed to share EHR)' }}
        {% endif %}
    {% else %}
        (not completed)
    {% endif %}
{% endmacro %}

{% macro displayRetentionEligibleStatus(value, time) %}
    {% if value == 'ELIGIBLE' %}
        <i class="fa fa-check text-success" aria-hidden="true"></i> (Yes)
        {{ time ? '(' ~ time|date('m/d/Y', app.user.timezone) ~ ')' }}
    {% elseif value == 'NOT_ELIGIBLE' %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i> (No)
    {% else %}
        (--)
    {% endif %}
{% endmacro %}

{% macro displayRetentionType(value) %}
    {% if value == 'ACTIVE' %}
        <i class="fa fa-check text-success" aria-hidden="true"></i> (Actively Retained)
    {% elseif value == 'PASSIVE' %}
        <i class="fa fa-times text-success" aria-hidden="true"></i> (Passively Retained)
    {% elseif value == 'ACTIVE_AND_PASSIVE' %}
        <i class="fa fa-times text-success" aria-hidden="true"></i> (Actively and Passively Retained)
    {% else %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i> (Not Retained)
    {% endif %}
{% endmacro %}

{% macro displayQuestSiteAddress(address) %}
    {% if address.line is defined %}
        {% for line in address.line %}
            {{ line }}<br />
        {% endfor %}
    {% endif %}
    {% if address.city|default(false) %}{{ address.city }},{% endif %}
    {{ address.state|default('') }}
    {{ address.postalCode|default('') }}
{% endmacro %}

{% macro displayEhrTransferStatus(value) %}
    {% if value %}
        <i class="fa fa-check text-success" aria-hidden="true"></i> (Yes)
    {% else %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i> (No)
    {% endif %}
{% endmacro %}

{% macro displayDigitalSharing(digitalHealthSharingStatus, type) %}
    {% if attribute(digitalHealthSharingStatus, type).status is defined %}
        {% set authoredDate = attribute(digitalHealthSharingStatus, type).history[0].authoredTime is defined ? attribute(digitalHealthSharingStatus, type).history[0].authoredTime : '' %}
        {% set authoredDate = authoredDate ? authoredDate|date('n/j/Y g:ia', app.user.timezone) %}
        {% if attribute(digitalHealthSharingStatus, type).status == 'YES' %}
            <i class="fa fa-check text-success" aria-hidden="true"></i> {{ authoredDate }}
        {% else %}
            <i class="fa fa-times text-danger" aria-hidden="true"></i> {{ authoredDate }}
        {% endif %}
    {% else %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
    {% endif %}
{% endmacro %}

{% macro displayConsent(time, filePath, consentType, participantId, showConsentPDFs, displayStatusText = '') %}
    {% set consentTime = time|date('n/j/Y g:ia', app.user.timezone) %}
    {% if filePath and showConsentPDFs %}
        <a href="{{ path('participant_consent', {id: participantId, consentType: consentType}) }}" target="_blank">{{ consentTime }}</a>
        {{ displayStatusText ? ' (current status)' : '' }}
    {% else %}
        {{ consentTime }}
        {{ displayStatusText ? ' (current status)' : '' }}
    {% endif %}
{% endmacro %}

{% macro displayChoiceText(choice, choices) %}
    {% for key, value in choices|filter(value => value == choice) %}
        {{ key }}
    {% endfor %}
{% endmacro %}

{% macro displayFlashMessage(type) %}
    {% for flashMessage in app.session.flashbag.get(type ~ '-error') %}
        <div class="alert alert-danger well-sm text-center">{{ flashMessage }}</div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get(type ~ '-success') %}
        <div class="alert alert-success well-sm text-center">{{ flashMessage }}</div>
    {% endfor %}
{% endmacro %}

{% macro displayInactiveSiteBanner(type, bootstrapVersion = null) %}
    {% if type == 'on_site' %}
        {% set message = 'You are currently logged into an inactive site. No additional On-Site Details records may be entered.' %}
    {% elseif type == 'in_person' %}
        {% set message = 'You are currently logged into an inactive site. No additional PM&B orders may be entered. Cancellations and amendments are still permitted.' %}
    {% elseif type == 'pmb' %}
        {% set message = 'You are currently logged into an inactive site. No additional PM&B orders may be entered. Cancellations and amendments are still permitted.' %}
    {% endif %}
    {% if bootstrapVersion == 3 %}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h6 class="panel-title"><i class="fa fa-times-circle" aria-hidden="true"></i> Inactive Site</h6>
            </div>
            <div class="panel-body">
                {{ message }}
            </div>
        </div>
    {% else %}
        <div class="card border-danger-subtle mb-4">
            <div class="card-header bg-danger-subtle">
                <h6 class="text-danger"><i class="fa fa-times-circle" aria-hidden="true"></i> Inactive Site</h6>
            </div>
            <div class="card-body">
                {{ message }}
            </div>
        </div>
    {% endif %}
{% endmacro %}
