{% macro displayDate(order, dateType) %}
    {% if order[dateType] %}
        {{ order[dateType]|date('n/j/Y g:ia', app.user.timezone) }}
    {% else %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
    {% endif %}
{% endmacro %}

{% macro displaySite(siteName, site) %}
    {% if siteName is empty and site is empty %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
    {% else %}
        {{ siteName ? siteName : site }}
    {% endif %}
{% endmacro %}

{% macro displayConsentStatus(value, time) %}
    {% set time = time ? time|date('n/j/Y', app.user.timezone) %}
    {% if value == 'SUBMITTED' %}
        <i class="fa fa-check text-success" aria-hidden="true"></i>
        {{ time }} <br/>
        (Consented Yes)
    {% elseif value == 'SUBMITTED_NO_CONSENT' %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
        {{ time }} <br/>
        (Refused Consent)
    {% elseif value == 'SUBMITTED_NOT_SURE' %}
        <i class="fa fa-question text-warning" aria-hidden="true"></i>
        {{ time }} <br/>
        (Responded Not Sure)
    {% elseif value == 'SUBMITTED_INVALID' %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
        {{ time }} <br/>
        (Invalid)
    {% else %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
        (Consent Not Completed) <br/>
    {% endif %}
{% endmacro %}

{% macro displayEHRConsentStatus(value, time, ehrExpireStatus = '', ehrExpireDate = '') %}
    {% set time = time ? time|date('n/j/Y', app.user.timezone) %}
    {% if ehrExpireStatus == 'EXPIRED' %}
        <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>
        {{ time }} <br/>
        (Expired on {{ ehrExpireDate ? ehrExpireDate|date('n/j/Y', app.user.timezone) }})
    {% elseif value == 'SUBMITTED' %}
        <i class="fa fa-check text-success" aria-hidden="true"></i>
        {{ time }} <br/>
        (Consented Yes)
    {% elseif value == 'SUBMITTED_NO_CONSENT' %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
        {{ time }} <br/>
        (Refused Consent)
    {% elseif value == 'SUBMITTED_NOT_SURE' %}
        <i class="fa fa-question text-warning" aria-hidden="true"></i>
        {{ time }} <br/>
        (Responded Not Sure)
    {% elseif value == 'SUBMITTED_INVALID' %}
        <i class="fa fa-exclamation-circle text-danger" aria-hidden="true"></i>
        {{ time }} <br/>
        <span title="An error has been identified with this EHR Consent and a ticket has been submitted to PTSC for review." data-toggle="tooltip" data-container="body">(Invalid)</span>
    {% elseif value == 'SUBMITTED_NOT_VALIDATED' %}
        <i class="fa fa-sync text-warning" aria-hidden="true"></i>
        {{ time }} <br/>
        <span title="The EHR Consent has been submitted and is currently undergoing validation. This process could take up to 24hrs to process." data-toggle="tooltip" data-container="body">(Processing)</span>
    {% else %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
        (Consent Not Completed) <br/>
    {% endif %}
{% endmacro %}

{% macro displayGenomicsConsentStatus(value, time) %}
    {% set time = time ? time|date('n/j/Y', app.user.timezone) %}
    {% if value == 'SUBMITTED' %}
        <i class="fa fa-check text-success" aria-hidden="true"></i>
        {{ time }} <br/>
        (Consented Yes)
    {% elseif value == 'SUBMITTED_NO_CONSENT' %}
        <i class="fa fa-check text-success" aria-hidden="true"></i>
        {{ time }} <br/>
        (Refused Consent)
    {% elseif value == 'SUBMITTED_NOT_SURE' %}
        <i class="fa fa-check text-success" aria-hidden="true"></i>
        {{ time }} <br/>
        (Responded Not Sure)
    {% elseif value == 'SUBMITTED_INVALID' %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
        {{ time }} <br/>
        (Invalid)
    {% else %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
        (Consent Not Completed) <br/>
    {% endif %}
{% endmacro %}

{% macro displayConsentPanelStatus(participant, field, showConsentPDFs = '') %}
    {% set consentValues = ['SUBMITTED', 'SUBMITTED_NO_CONSENT', 'SUBMITTED_NOT_SURE', 'SUBMITTED_INVALID'] %}
    {% if attribute(participant, field) in consentValues %}
        {% set time = attribute(participant, field ~ 'Authored') %}
        {{ time ? _self.displayConsent(time, attribute(participant, field ~ 'FilePath'), field, participant.id, showConsentPDFs) : '--' }}
    {% else %}
        (not completed)
    {% endif %}
{% endmacro %}

{% macro displayProgramUpdate(consentCohort, programUpdate, time) %}
    {% if consentCohort != 'COHORT_2' %}
        (Not Applicable)
    {% elseif programUpdate == 'SUBMITTED' %}
        <i class="fa fa-check text-success" aria-hidden="true"></i>
        {{ time ? time|date('n/j/Y g:ia', app.user.timezone) : '--' }}
    {% else %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
        (review not completed)
    {% endif %}
{% endmacro %}

{% macro displayFirstConsentPanelStatus(participant, currentDateField, currentFilePathField, field, showConsentPDFs, type = 'primary') %}
    {% set consentValues = ['SUBMITTED', 'SUBMITTED_NO_CONSENT', 'SUBMITTED_NOT_SURE', 'SUBMITTED_NOT_VALIDATED', 'SUBMITTED_INVALID'] %}
    {% set value = attribute(participant, field) %}
    {% set currentTime = attribute(participant, currentDateField) %}
    {% set time = attribute(participant, field ~ 'Authored') %}
    {% set firstTime = attribute(participant, field ~ 'FirstYesAuthored') %}
    {% if value in consentValues %}
        {% if type == 'ehr' and value == 'SUBMITTED_NOT_VALIDATED' %}
            <i class="fa fa-sync text-warning" aria-hidden="true" title="The EHR Consent has been submitted and is currently undergoing validation. This process could take up to 24hrs to process." data-toggle="tooltip" data-container="body"></i>
        {% elseif type == 'ehr' and value == 'SUBMITTED_INVALID' %}
            <i class="fa fa-exclamation-circle text-danger" aria-hidden="true" title="An error has been identified with this EHR Consent and a ticket has been submitted to PTSC for review." data-toggle="tooltip" data-container="body"></i>
        {% elseif value == 'SUBMITTED' %}
            <i class="fa fa-check text-success" aria-hidden="true"></i>
        {% elseif value == 'SUBMITTED_NOT_VALIDATED' %}
            <i class="fa fa-sync text-warning" aria-hidden="true"></i>
        {% else %}
            <i class="fa fa-times text-danger" aria-hidden="true"></i>
        {% endif %}
        {% if currentTime %}
            {{ _self.displayConsent(currentTime, attribute(participant, currentFilePathField), currentDateField, participant.id, showConsentPDFs) }} (current status, re-consented)
            <br>
        {% endif %}
        {% if time %}
            {{ _self.displayConsent(time, attribute(participant, field ~ 'FilePath'), field, participant.id, showConsentPDFs) }} (updated)
            <br>
        {% endif %}
        {% if firstTime %}
            {{ _self.displayConsent(firstTime, attribute(participant, field ~ 'FilePath'), field, participant.id, showConsentPDFs) }}
            {{ type == 'primary' ? '(first agreed to participate)' : '(first agreed to share EHR)' }} <br>
        {% endif %}
    {% else %}
        (not completed)
    {% endif %}
{% endmacro %}

{% macro displayRetentionEligibleStatus(value, time) %}
    {% if value == 'ELIGIBLE' %}
        <i class="fa fa-check text-success" aria-hidden="true"></i> (Yes)
        {{ time ? '(' ~ time|date('m/d/Y', app.user.timezone) ~ ')' }}
    {% elseif value == 'NOT_ELIGIBLE' %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i> (No)
    {% else %}
        (--)
    {% endif %}
{% endmacro %}

{% macro displayRetentionType(value) %}
    {% if value == 'ACTIVE' %}
        <i class="fa fa-check text-success" aria-hidden="true"></i> (Actively Retained)
    {% elseif value == 'PASSIVE' %}
        <i class="fa fa-times text-success" aria-hidden="true"></i> (Passively Retained)
    {% elseif value == 'ACTIVE_AND_PASSIVE' %}
        <i class="fa fa-times text-success" aria-hidden="true"></i> (Actively and Passively Retained)
    {% else %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i> (Not Retained)
    {% endif %}
{% endmacro %}

{% macro displayQuestSiteAddress(address) %}
    {% if address.line is defined %}
        {% for line in address.line %}
            {{ line }}<br />
        {% endfor %}
    {% endif %}
    {% if address.city|default(false) %}{{ address.city }},{% endif %}
    {{ address.state|default('') }}
    {{ address.postalCode|default('') }}
{% endmacro %}

{% macro displayEhrTransferStatus(value) %}
    {% if value %}
        <i class="fa fa-check text-success" aria-hidden="true"></i> (Yes)
    {% else %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i> (No)
    {% endif %}
{% endmacro %}

{% macro displayDigitalSharing(digitalHealthSharingStatus, type) %}
    {% if attribute(digitalHealthSharingStatus, type).status is defined %}
        {% set authoredDate = attribute(digitalHealthSharingStatus, type).history[0].authoredTime is defined ? attribute(digitalHealthSharingStatus, type).history[0].authoredTime : '' %}
        {% set authoredDate = authoredDate ? authoredDate|date('n/j/Y g:ia', app.user.timezone) %}
        {% if attribute(digitalHealthSharingStatus, type).status == 'YES' %}
            <i class="fa fa-check text-success" aria-hidden="true"></i> {{ authoredDate }}
        {% else %}
            <i class="fa fa-times text-danger" aria-hidden="true"></i> {{ authoredDate }}
        {% endif %}
    {% else %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
    {% endif %}
{% endmacro %}

{% macro displayConsent(time, filePath, consentType, participantId, showConsentPDFs, displayStatusText = '') %}
    {% set consentTime = time|date('n/j/Y g:ia', app.user.timezone) %}
    {% if filePath and showConsentPDFs %}
        <a href="{{ path('participant_consent', {id: participantId, consentType: consentType}) }}" target="_blank">{{ consentTime }}</a>
        {{ displayStatusText ? ' (current status)' : '' }}
    {% else %}
        {{ consentTime }}
        {{ displayStatusText ? ' (current status)' : '' }}
    {% endif %}
{% endmacro %}

{% macro displayChoiceText(choice, choices) %}
    {% for key, value in choices|filter(value => value == choice) -%}
        {{ key }}
    {% endfor %}
{% endmacro %}

{% macro displayFlashMessage(type) %}
    {% for flashMessage in app.session.flashbag.get(type ~ '-error') %}
        <div class="alert alert-danger well-sm text-center">{{ flashMessage }}</div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get(type ~ '-success') %}
        <div class="alert alert-success well-sm text-center">{{ flashMessage }}</div>
    {% endfor %}
{% endmacro %}

