{% extends 'base.html.twig' %}
{% block title %}Deceased Participant {{ participant.participantId }} - {% endblock %}
{% block body %}
    <div class="page-header">
        <h2><i class="fa fa-hourglass-o" aria-hidden="true"></i> Deceased Participant <small><a href="{{ path('participant', {id: participant.participantId} )}}">{{ participant.lastName }}, {{ participant.firstName }}</a></small></h2>
    </div>

    <a href="{{ path('deceased_reports_index') }}">Return to Deceased Participants</a>

    {% include 'deceasedreports/_review-details.html.twig' %}

    {% if report.reportStatus != 'preliminary' %}
    <div class="alert alert-info"><i class="fas fa-info-circle"></i> This report has been marked <strong>{{ report.reportStatusDisplay }}</strong>. No further action available.</div>
    {% endif %}

    <dl class="dl-horizontal">
      <dt>Status</dt>
      <dd><span class="label label-default">{{ report.reportStatusDisplay }}</span></dd>

      {% if report.reportStatus == 'cancelled' %}
      <dt>Denial Reason</dt>
      <dd>{{ report.denialReasonDisplay|default('Not Provided') }} {% if report.denialReason == 'OTHER' %}- {{ report.denialReasonOtherDescription }}{% endif %}</dd>

      {% else %}

      <hr />
      <dt>Date of Death</dt>
      <dd>{{ report.dateOfDeath ? report.dateOfDeath|date('n/j/Y') : '' }}</dd>

      <dt>Cause of Death</dt>
      <dd>{{ report.causeOfDeath }}</dd>

      <dt>Report Mechanism</dt>
      <dd>{{ report.reportMechanismDisplay }} {% if report.reportMechanism == 'OTHER' %}- {{ report.reportMechanismOtherDescription }}{% endif %}</dd>

      <dt>Next of Kin</dt>
      <dd>{{ report.nextOfKinName }}</dd>

      <dt>Relationship</dt>
      <dd>{{ report.nextOfKinRelationshipDisplay }}</dd>

      <dt>Telephone Number</dt>
      <dd>{{ report.nextOfKinTelephoneNumber }}</dd>

      <dt>Email</dt>
      <dd>{{ report.nextOfKinEmail }}</dd>

      {% endif %}

      <hr />
      <dt>Submitted</dt>
      <dd>{{ report.submittedOn|date('n/j/Y g:ia', app.user.timezone) }} ({{ report.submittedBy }})</dd>
      {% if report.reviewedBy %}
      <dt>Reviewed</dt>
      <dd>{{ report.reviewedOn|date('n/j/Y g:ia', app.user.timezone) }} ({{ report.reviewedBy }})</dd>
      {% endif %}
    </dl>

    {% if app.user.email != report.submittedBy and report.reportStatus == 'preliminary' %}
    {{ form_start(form) }}
    
    {{ form_row(form.reportStatus) }}
    <div class="denial_reason">
      {{ form_row(form.denialReason) }}
    </div>
    <div class="denial_reason_other">
      {{ form_row(form.denialReasonOtherDescription) }}
    </div>
    {{ form_widget(form.submit) }}
    <a class="btn btn-default" href="{{ path('deceased_reports_index') }}">Cancel</a>
    
    {{ form_rest(form) }}
    {{ form_end(form) }}
    {% endif %}

{% endblock %}

{% block pagejs %}
<script>
$(document).ready(function () {
  // Form error display/UX
  $('form[name="deceased_report_review"]').parsley({
      errorClass: "has-error",
      classHandler: function(el) {
          return el.$element.closest(".form-group");
      },
      errorsContainer: function(el) {
          return el.$element.closest(".form-group");
      },
      errorsWrapper: '<div class="deceased-report-review-errors help-block"></div>',
      errorTemplate: '<div></div>',
      trigger: "keyup change"
  });

  var reportStatus = $('input[name="deceased_report_review[reportStatus]"]')
  var reportStatusChecked = $('input[name="deceased_report_review[reportStatus]"]:checked')
  var denialReason = $('select[name="deceased_report_review[denialReason]"]')
  var denialReasonChecked = $('select[name="deceased_report_review[denialReason]"]:checked')
  var denialReasonOtherDescription = $('textarea[name="deceased_report_review[denialReasonOtherDescription]"]')

  // Set initial state of form on load
  if (reportStatusChecked.length == 0
    || reportStatusChecked.val() == 'final'
  ) {
    $('.denial_reason').addClass('collapse');
    $('.denial_reason_other').addClass('collapse')
  } else if (reportMechanismChecked.val() == 'OTHER') {
    $('.denial_reason_other').removeClass('collapse')
  }
  
  // Handle onChange event for Report Mechanism
  $(reportStatus).on('change', function (e) {
    switch ($(e.target).val()) {
      case 'cancelled':
        $('.denial_reason').removeClass('collapse');
        denialReason.attr('required', true);
        break;
      default:
        $('.denial_reason').addClass('collapse');
        $('.denial_reason_other').addClass('collapse');
        denialReason.attr('required', false);
        denialReasonOtherDescription.attr('required', false);
    }
  })

  // Handle onChange event for Denial Reason
  $(denialReason).on('change', function (e) {
    switch ($(e.target).val()) {
      case 'OTHER':
        console.log('OTHER DENIAL REASON')
        $('.denial_reason_other').removeClass('collapse');
        denialReasonOtherDescription.attr('required', true);
        break;
      default:
        $('.denial_reason_other').addClass('collapse');
        denialReasonOtherDescription.attr('required', false);
    }
  })
})
</script>
{% endblock %}
