{% extends 'program/nph/biobank/base.html.twig' %}
{% block title %}Audit - Biobank Orders - {% endblock %}
{% block bodycontainer %}container-fluid{% endblock %}
{% import 'program/nph/order/macros/display-text.html.twig' as macros %}

{% block body %}
    {% include 'program/nph/biobank/partials/review-page-heading.html.twig' %}
    <div class="well today-filter-well" data-title="Filter by Bypass Date">
        {{ form_start(todayFilterForm, { attr: { class: 'form-inline', autoComplete: 'off' } }) }}
        {{ form_errors(todayFilterForm) }}
        <div class="today-filter text-center">
            {{ form_rest(todayFilterForm) }}
            <div class="form-group">
                <a href="{{ path('nph_biobank_orders_downtime') }}" class="btn btn-default">Reset</a>
            </div>
        </div>
        {{ form_end(todayFilterForm) }}
    </div>
    <div class="text-center text-warning">
        <strong>{{ displayMessage }}</strong>
    </div>
    <table class="table table-bordered table-small" data-default-sort-column="3">
        <thead>
        <tr>
            <th>Site</th>
            <th>Biobank ID</th>
            <th>User</th>
            <th>Module Impacted</th>
            <th>Diet Period Impacted</th>
            <th>Bypass Type</th>
            <th>Bypass Time</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for sample in samples %}
            <tr>
                <td>{{ siteInfo.getNphSiteDisplayName(sample.site) }}</td>
                <td>{{ sample.biobankId }}</td>
                <td>{{ sample.user.email }}</td>
                <td>{{ sample.module }}</td>
                <td>{{ sample.period }}</td>
                <td>
                {% if sample.modifyType is not defined %}
                    Diet Period marked complete before all samples finalized or cancelled.
                {% elseif sample.modifyType == 'unfinalized' %}
                    Diet Period marked complete before all samples finalized or cancelled.
                {% else %}
                    Diet Period left incomplete and started next diet period.
                {% endif %}</td>
                <td data-order="{{ sample.modifiedTs ? sample.modifiedTs|date('Y-m-d H:i:s') : null }}" >
                    {{ macros.displayDateAndTimezone(sample.modifiedTs, sample.modifiedTimezoneId) }}
                </td>
                <td>{{ sample.IncompleteSamples }} Samples Incomplete
                    {% if sample.status is not defined %}
                        <label class="label label-danger">Bypassed</label>
                    {% elseif sample.status == 0 and sample.previousStatus == 1 %}
                        <label class="label label-success">Corrected</label>
                    {% else %}
                        <label class="label label-danger">Bypassed</label>
                    {% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block pagejs %}
    {{ encore_entry_script_tags('nph-biobank-review') }}
{% endblock %}
