{% set bootstrapVersion = 5 %}
{% extends 'program/nph/biobank/base.html.twig' %}
{% block title %}Downtime - Biobank Orders - {% endblock %}
{% block bodycontainer %}container-fluid{% endblock %}
{% import 'program/nph/order/macros/display-text.html.twig' as macros %}

{% block body %}
    {% form_theme todayFilterForm 'custom_bootstrap_5_layout.html.twig' %}
    {% include 'program/nph/biobank/partials/review-page-heading.html.twig' %}
    <div class="card today-filter-well" data-title="Filter by Downtime Created Date">
        <div class="card-body">
            {{ form_start(todayFilterForm, { attr: { class: 'form-inline', autoComplete: 'off' } }) }}
            {{ form_errors(todayFilterForm) }}
            <div class="today-filter text-center">
                <div class="row justify-content-center align-items-center gx-3">
                    <div class="col-auto d-flex align-items-center">
                        <label for="{{ todayFilterForm.start_date.vars.id }}" class="form-label mb-0 me-2 align-middle required fw-bold">Start Date</label>
                        <div>
                            {{ form_widget(todayFilterForm.start_date, { attr: { class: 'form-control' } }) }}
                        </div>
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        <label for="{{ todayFilterForm.end_date.vars.id }}" class="form-label mb-0 me-2 align-middle fw-bold">End Date</label>
                        <div>
                            {{ form_widget(todayFilterForm.end_date, { attr: { class: 'form-control' } }) }}
                        </div>
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        {{ form_widget(todayFilterForm.Submit, { attr: { class: 'btn btn-primary' } }) }}
                        <a href="{{ path('nph_biobank_orders_downtime') }}" class="btn btn-secondary ms-2">Reset</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_errors(todayFilterForm.start_date) }}
                        {{ form_errors(todayFilterForm.end_date) }}
                    </div>
                </div>
            </div>
            {{ form_end(todayFilterForm) }}
        </div>
    </div>
    <div class="text-center text-warning">
        <strong>{{ displayMessage }}</strong>
    </div>
    {% if samples is not empty %}
        <div class="row mt-2">
            <div class="col-sm-12">
                <div class="float-end">
                    <button data-export-type="DowntimeOrders" class="btn btn-xs btn-secondary" id="review_export">
                        <i class="fa fa-download" aria-hidden="true"></i> Export
                    </button>
                    <button class="btn btn-xs btn-secondary" id="review_export_all">
                        <i class="fa fa-download" aria-hidden="true"></i> Export All
                    </button>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="mt-2">
        <table class="table table-bordered table-small mt-2" data-default-sort-column="3" data-export-table-type="DownTimeOrders">
            <thead>
            <tr>
                <th data-header="Site">Site</th>
                <th data-header="Biobank ID">Biobank ID</th>
                <th data-header="User">User</th>
                <th data-header="Downtime Created">Downtime Created</th>
                <th data-header="Order Generation Time">Order Generation Time</th>
                <th data-header="Module">Module</th>
                <th data-header="Visit">Visit</th>
                <th data-header="Timepoint">Timepoint</th>
                <th data-header="Order ID">Order ID</th>
                <th data-header="Samples">Samples</th>
                <th data-header="Sample ID">Sample ID</th>
                <th data-header="Status">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for sample in samples %}
                <tr>
                    <td>{{ siteInfo.getNphSiteDisplayName(sample.site) }}</td>
                    <td>{{ sample.biobankId }}</td>
                    <td>{{ sample.email }}</td>
                    <td data-row="{{ sample.downtimeGeneratedTs ? sample.downtimeGeneratedTs|date('Y-m-d H:i:s') : null }}" >
                        {{ macros.displayDateAndTimezone(sample.downtimeGeneratedTs, sample.createdTimezoneId) }}
                    </td>
                    <td data-row="{{ sample.createdTs ? sample.createdTs|date('Y-m-d H:i:s') : null }}" >
                        {{ macros.displayDateAndTimezone(sample.createdTs, sample.createdTimezoneId) }}
                    </td>
                    <td>{{ sample.module }}</td>
                    <td>{{ constant('App\\Entity\\NphOrder::VISIT_DISPLAY_NAME_MAPPER')[sample.visitPeriod] }}</td>
                    <td>{{ sample.timepoint }}</td>
                    <td data-row="{{ sample.orderId }}">
                        <a href="{{ path('nph_biobank_order_collect', {biobankId: sample.biobankId, orderId: sample.hpoOrderId}) }}">{{ sample.orderId }}</a>
                    </td>
                    <td>{{ sample.sampleCode }}</td>
                    <td>{{ sample.sampleId }}</td>
                    <td data-row="{{ macros.displayBiobankSampleStatus(sample, true) }}">{{ macros.displayBiobankSampleStatus(sample) }} <label class="badge bg-primary">Downtime</label></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('nph-biobank-review') }}
{% endblock %}
