{% extends 'program/nph/biobank/base.html.twig' %}
{% block title %}Downtime - Biobank Orders - {% endblock %}
{% block bodycontainer %}container-fluid{% endblock %}
{% import 'program/nph/order/macros/display-text.html.twig' as macros %}

{% block body %}
    {% include 'program/nph/biobank/partials/review-page-heading.html.twig' %}
    <div class="well today-filter-well" data-title="Filter by Downtime Created Date">
        {{ form_start(todayFilterForm, { attr: { class: 'form-inline', autoComplete: 'off' } }) }}
        {{ form_errors(todayFilterForm) }}
        <div class="today-filter text-center">
            {{ form_rest(todayFilterForm) }}
            <div class="form-group">
                <a href="{{ path('nph_biobank_orders_downtime') }}" class="btn btn-default">Reset</a>
            </div>
        </div>
        {{ form_end(todayFilterForm) }}
    </div>
    <div class="text-center text-warning">
        <strong>{{ displayMessage }}</strong>
    </div>
    {% if samples is not empty %}
        <div class="text-right">
            <button data-export-type="DowntimeOrders" class="btn btn-xs btn-default" id="review_export">
                <i class="fa fa-download" aria-hidden="true"></i> Export
            </button>
            <button class="btn btn-xs btn-default" id="review_export_all">
                <i class="fa fa-download" aria-hidden="true"></i> Export All
            </button>
        </div>
        <br>
    {% endif %}
    <table class="table table-bordered table-small" data-default-sort-column="3" data-export-table-type="DownTimeOrders">
        <thead>
        <tr>
            <th data-header="Site">Site</th>
            <th data-header="Biobank ID">Biobank ID</th>
            <th data-header="User">User</th>
            <th data-header="Downtime Created">Downtime Created</th>
            <th data-header="Order Generation Time">Order Generation Time</th>
            <th data-header="Module">Module</th>
            <th data-header="Visit">Visit</th>
            <th data-header="Timepoint">Timepoint</th>
            <th data-header="Order ID">Order ID</th>
            <th data-header="Samples">Samples</th>
            <th data-header="Sample ID">Sample ID</th>
            <th data-header="Status">Status</th>
        </tr>
        </thead>
        <tbody>
        {% for sample in samples %}
            <tr>
                <td>{{ siteInfo.getNphSiteDisplayName(sample.site) }}</td>
                <td>{{ sample.biobankId }}</td>
                <td>{{ sample.email }}</td>
                <td data-order="{{ sample.downtimeGeneratedTs ? sample.downtimeGeneratedTs|date('Y-m-d H:i:s') : null }}" >
                    {{ macros.displayDateAndTimezone(sample.downtimeGeneratedTs, sample.createdTimezoneId) }}
                </td>
                <td data-order="{{ sample.createdTs ? sample.createdTs|date('Y-m-d H:i:s') : null }}" >
                    {{ macros.displayDateAndTimezone(sample.createdTs, sample.createdTimezoneId) }}
                </td>
                <td>{{ sample.module }}</td>
                <td>{{ constant('App\\Entity\\NphOrder::VISIT_DISPLAY_NAME_MAPPER')[sample.visitPeriod] }}</td>
                <td>{{ sample.timepoint }}</td>
                <td data-order-id="{{ sample.orderId }}">
                    <a href="{{ path('nph_biobank_order_collect', {biobankId: sample.biobankId, orderId: sample.hpoOrderId}) }}">{{ sample.orderId }}</a>
                </td>
                <td>{{ sample.sampleCode }}</td>
                <td>{{ sample.sampleId }}</td>
                <td>{{ macros.displayBiobankSampleStatus(sample) }} <label class="label label-primary">Downtime</label></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('nph-biobank-review') }}
{% endblock %}
