{% extends 'program/nph/biobank/base.html.twig' %}

{% import 'program/nph/order/macros/display-text.html.twig' as macros %}

{% block title %} Participant Details {% endblock %}

{% block body %}
    <div class="page-header row participant-name">
        <h2>
            <i class="fa fa-user" aria-hidden="true"></i> Participant Details
        </h2>
    </div>
    <div class="page-header row participant-information">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div><strong>Biobank ID</strong></div>
                    <div>{{ participant.biobankId }}</div>
                </div>
                <div class="col-md-4">
                    <div><strong>Site</strong></div>
                    <div>{{ participant.nphPairedSite ? siteInfo.getNphSiteDisplayName(participant.nphPairedSiteSuffix) : '(not paired)' }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            {% for moduleNumber, module in programSummaryAndOrderInfo if (moduleNumber == participant.module or moduleNumber == 1) %}
                {% if participant.module == moduleNumber %}
                    {% set tabActive = 'active' %}
                {% else %}
                    {% set tabActive = '' %}
                {% endif %}
                <li role="presentation" class="participant-module {{ tabActive }}"
                    data-moduleNumber="{{ moduleNumber }}"><a>NPH
                        Module {{ moduleNumber }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-2 participant-activity-div">
        <ul class="nav nav-pills">
            <li role="presentation" class="participant-activity active"><a>Collections</a></li>
        </ul>
    </div>
    <div class="col-sm-10 participant-modules">
        {% for moduleNumber, module in programSummaryAndOrderInfo if (moduleNumber == participant.module or moduleNumber == 1) %}
            {% if participant.module == moduleNumber %}
                {% set modulePanelDisplay = '' %}
            {% else %}
                {% set modulePanelDisplay = 'hidden' %}
            {% endif %}
            <div class="ModuleGroup {{ modulePanelDisplay }}" id="ModuleGroup{{ moduleNumber }}">
                {% if module.moduleCreationSite is not null %}
                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="col-md-12">Collection Site: {{ siteInfo.getNphSiteDisplayName(module.moduleCreationSite) }}</h4>
                        </div>
                    </div>
                {% endif %}
                <div>
                    <h4 class="col-md-12 participant-module-header">NPH Module {{ moduleNumber }} Collections</h4>
                </div>
                {% for VisitCode, visit in programSummaryAndOrderInfo[moduleNumber] %}
                    {% if VisitCode != 'sampleStatusCount' and VisitCode != 'moduleCreationSite' %}
                        <div>
                            <div class="col-md-12 well-sm well" data-toggle="collapse"
                                 data-target="#{{ moduleNumber }}Visit{{ VisitCode }}"
                                 role="button" style="font-weight: bold">
                                Visit {{ visit['visitDisplayName'] }}
                                <span class="caret" style="float: right; margin: 9px 0;"></span>
                            </div>
                            <div style="margin-bottom: 20px;" id="{{ moduleNumber }}Visit{{ VisitCode }}" class="collapse in">
                                <span style="display: inline-block"></span>
                                {% set displayedOrderIDS = [] %}
                                {% set displayedTimePointHeaders = [] %}
                                {% for timepointCode, timepoint in visit['visitInfo'] %}
                                    {% for sampleType, sampleInfo in timepoint['timePointInfo'] %}
                                        {% if sampleInfo['numberSamples'] is not empty %}
                                            {% for sampleCode, sample in sampleInfo %}
                                                {% for orderid, numberSamples in sampleInfo['numberSamples'] %}
                                                    {% if sample is iterable and sample[orderid] is defined and sample[orderid] is iterable and sample[orderid]['healthProOrderId'] not in displayedOrderIDS %}
                                                        {% if timepointCode not in displayedTimePointHeaders %}
                                                            {% set displayedTimePointHeaders = displayedTimePointHeaders|merge([timepointCode]) %}
                                                            <h4>Timepoint | {{ timepoint['timePointDisplayName'] }}</h4>
                                                        {% endif %}
                                                        {% set displayedOrderIDS = displayedOrderIDS|merge([sample[orderid]['healthProOrderId']]) %}
                                                        <div class="well well-sm order-row">
                                                            <div class="clearfix">
                                                                <div class="col-sm-2">{{ sample[orderid]['createDate'] }}</div>
                                                                <div class="col-sm-3">
                                                                    <a href="{{ path('nph_biobank_order_collect', {biobankId: participant.biobankId, orderId: sample[orderid]['healthProOrderId']}) }}">
                                                                        Order ID: {{ orderid }}
                                                                    </a>
                                                                </div>
                                                                <div class="col-sm-2">{{ sample[orderid]['sampleTypeDisplayName'] }}</div>
                                                                {{ macros.generateStatusLabel(sample[orderid]['orderStatus']) }}
                                                                {% for sampleStatus, sampleStatusCount in programSummaryAndOrderInfo[moduleNumber]['sampleStatusCount'][orderid]|sort %}
                                                                    {% if not loop.first %}
                                                                        <div class="col-sm-9"></div>
                                                                    {% endif %}
                                                                    <div class="col-sm-3 float-right">
                                                                        ({{ sampleStatusCount }}
                                                                        / {{ sampleInfo['numberSamples'][orderid] }}
                                                                        ) {{ sampleStatus }}
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                {% if displayedOrderIDS is empty %}
                                    <h4>No Orders Generated</h4>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block pagejs %}
    {{ encore_entry_script_tags('nph-participant-summary') }}
{% endblock %}
