{% extends app.session.get('ppscRequestId') is not empty ? 'program/hpo/ppsc/base.html.twig' : 'base.html.twig' %}
{% block title %}Settings - {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h2>Settings</h2>
            </div>
            {{ form_start(settingsForm, { attr: { class: 'warn-unsaved prevent-resubmit' } }) }}
                {{ form_errors(settingsForm) }}
                {{ form_widget(settingsForm) }}
                <p><button type="submit" class="btn btn-primary">Update Settings</button></p>
            {{ form_end(settingsForm) }}
        </div>
    </div>
{% endblock %}
{% block pagejs %}
    {{ encore_entry_script_tags('settings') }}
{% endblock %}
