{% extends app.session.get('ppscRequestId') is not empty ? 'program/hpo/ppsc/base.html.twig' : 'base.html.twig' %}
{% block title %}Settings - {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="page-header border-bottom mb-2">
                <h2>Settings</h2>
            </div>
            {{ form_start(settingsForm, { attr: { class: 'warn-unsaved prevent-resubmit' } }) }}
                {{ form_errors(settingsForm) }}
                {{ form_widget(settingsForm) }}
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary btn-small">
                        Update Settings
                        {% if app.session.get('ppscRequestId') is not empty %}
                            <span class="spinner-border spinner-border-sm-bs5 ms-2" style="display: none;"></span>
                        {% endif %}
                    </button>
                </div>
            {{ form_end(settingsForm) }}
        </div>
    </div>
{% endblock %}
{% block pagejs %}
    {{ encore_entry_script_tags('settings') }}
{% endblock %}
