{% extends 'base.html.twig' %}
{% block title %} {{ sop }} - {% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="{{ path('home') }}">Home</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="{{ path('help_nph') }}">Help</a></li>
            <li class="breadcrumb-item active">HealthPro Application SOP</li>
        </ol>
    </nav>
    <div class="page-header pb-1 mt-2 mb-4 border-bottom">
        <h2><i class="fa fa-file-text-o" aria-hidden="true"></i> NPH HealthPro Application SOP</h2>
    </div>
    <div class="float-end">
        <a class="pull-right text-decoration-none" href="{{ path('help_sopFile', { id: sop, language: language, documentGroup: 'nph' }) }}" target="_blank">
            <i class="fa fa-external-link" aria-hidden="true"></i> Open/Download
        </a>
    </div>
    <iframe class="pdf" name="pdf" src="{{ path('help_sopFile', { id: sop, language: language, documentGroup: 'nph' }) }}#view=FitH"></iframe>
    {% include 'help/nph/footer.html.twig' %}
{% endblock %}
