{% extends 'base.html.twig' %}
{% block title %}Biobank Orders - Missing RDR Data - {% endblock %}
{% block body %}
    <div class="page-header">
        <h2><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Missing Biobank Orders</h2>
    </div>
    <table class="table table-striped table-hover">
        <thead><tr><th>Finalized Time</th><th>Created Time</th><th>Site</th><th>Participant ID</th><th>Biobank ID</th><th>Order ID</th><th>MayoLINK ID</th></tr></thead>
        <tbody>
        {% for measurements in missing  %}
            <tr>
                <td data-order="{{ measurements.finalized_ts }}">{{ measurements.finalized_ts|date('n/j/Y g:ia') }}</td>
                <td data-order="{{ measurements.created_ts }}">{{ measurements.created_ts|date('n/j/Y g:ia') }}</td>
                <td>{{ measurements.site }}</td>
                <td>{{ measurements.participant_id }}</td>
                <td>{{ measurements.biobank_id }}</td>
                <td>{{ measurements.order_id }}</td>
                <td>{{ measurements.mayo_id }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pagejs %}
<script>
$(document).ready(function() {
    var table = $('table').DataTable({
        order: [[0, 'desc']],
        pageLength: 25
    });
});
</script>
{% endblock %}
