<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Blood Pressure</h3>
    </div>
    <div class="panel-body">
        <div class="well">
            <div class="row">
                <div class="col-sm-4">
                    <div data-field="blood-pressure-location" class="field field-blood-pressure-location form-group{% if not evaluationForm['blood-pressure-location'].vars.valid %} has-error{% endif %}">
                        {{ form_label(evaluationForm['blood-pressure-location']) }}
                        {{ form_widget(evaluationForm['blood-pressure-location']) }}
                        {{ form_errors(evaluationForm['blood-pressure-location']) }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div data-field="blood-pressure-arm-circumference" class="field field-blood-pressure-arm-circumference form-group{% if not evaluationForm['blood-pressure-arm-circumference'].vars.valid %} has-error{% endif %}">
                        {{ form_label(evaluationForm['blood-pressure-arm-circumference']) }}
                        <div class="input-group">
                            {{ form_widget(evaluationForm['blood-pressure-arm-circumference']) }}
                            <div class="input-group-addon">{{ schema.fields['blood-pressure-arm-circumference'].unit }}</div>
                        </div>
                        {{ form_errors(evaluationForm['blood-pressure-arm-circumference']) }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <strong>Recommended Cuff Size</strong>
                    <p class="lead" id="cuff-size">--</p>
                </div>
            </div>
        </div>
        <div class="row replicate">
            {% for i in 0..2 %}
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="text-right"><em>Reading #{{ i + 1 }}</em></p>
                        <div data-field="blood-pressure-systolic" class="field field-blood-pressure-systolic form-group{% if not evaluationForm['blood-pressure-systolic'][i].vars.valid %} has-error{% endif %}">
                            {{ form_label(evaluationForm['blood-pressure-systolic'][i]) }}
                            <div class="input-group">
                                {{ form_widget(evaluationForm['blood-pressure-systolic'][i]) }}
                                <div class="input-group-addon">{{ schema.fields['blood-pressure-systolic'].unit }}</div>
                            </div>
                            {{ form_errors(evaluationForm['blood-pressure-systolic'][i]) }}
                        </div>
                        <div data-field="blood-pressure-diastolic" class="field field-blood-pressure-diastolic form-group{% if not evaluationForm['blood-pressure-diastolic'][i].vars.valid %} has-error{% endif %}">
                            {{ form_label(evaluationForm['blood-pressure-diastolic'][i]) }}
                            <div class="input-group">
                                {{ form_widget(evaluationForm['blood-pressure-diastolic'][i]) }}
                                <div class="input-group-addon">{{ schema.fields['blood-pressure-diastolic'].unit }}</div>
                            </div>
                            {{ form_errors(evaluationForm['blood-pressure-diastolic'][i]) }}
                        </div>
                        <div data-field="heart-rate" class="field field-heart-rate form-group{% if not evaluationForm['heart-rate'][i].vars.valid %} has-error{% endif %}">
                            {{ form_label(evaluationForm['heart-rate'][i]) }}
                            <div class="input-group">
                                {{ form_widget(evaluationForm['heart-rate'][i]) }}
                                <div class="input-group-addon">{{ schema.fields['heart-rate'].unit }}</div>
                            </div>
                            {{ form_errors(evaluationForm['heart-rate'][i]) }}
                        </div>
                        <div data-field="irregular-heart-rate" class="field field-irregular-heart-rate form-group{% if not evaluationForm['irregular-heart-rate'][i].vars.valid %} has-error{% endif %}">
                            {{ form_label(evaluationForm['irregular-heart-rate'][i]) }}
                            {{ form_widget(evaluationForm['irregular-heart-rate'][i]) }}
                            {{ form_errors(evaluationForm['irregular-heart-rate'][i]) }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Average</h3>
            </div>
            <div class="panel-body">
                <p class="lead">
                    Blood pressure:
                    <span id="mean-blood-pressure-systolic"></span>
                    /
                    <span id="mean-blood-pressure-diastolic"></span>
                    {{ schema.fields['blood-pressure-systolic'].unit }}
                    <br />
                    Heart rate:
                    <span id="mean-heart-rate"></span>
                    {{ schema.fields['heart-rate'].unit }}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div data-field="pregnant" class="field field-pregnant form-group{% if not evaluationForm['pregnant'].vars.valid %} has-error{% endif %}">
            {{ form_label(evaluationForm['pregnant']) }}
            {{ form_widget(evaluationForm['pregnant']) }}
            {{ form_errors(evaluationForm['pregnant']) }}
        </div>
        <div id="pregnant-message"></div>
        <div data-field="wheelchair" class="field field-wheelchair form-group{% if not evaluationForm['wheelchair'].vars.valid %} has-error{% endif %}">
            {{ form_label(evaluationForm['wheelchair']) }}
            {{ form_widget(evaluationForm['wheelchair']) }}
            {{ form_errors(evaluationForm['wheelchair']) }}
        </div>
        <div id="wheelchair-message"></div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Height and Weight</h3>
    </div>
    <div class="panel-body">
        <div class="row row-equal-height">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div data-field="height" class="field field-height form-group{% if not evaluationForm['height'].vars.valid %} has-error{% endif %}">
                            {{ form_label(evaluationForm['height']) }}
                            <span id="convert-height" class="pull-right convert"></span>
                            <div class="input-group">
                                {{ form_widget(evaluationForm['height']) }}
                                <div class="input-group-addon">{{ schema.fields['height'].unit }}</div>
                            </div>
                            {{ form_errors(evaluationForm['height']) }}
                        </div>
                        <div data-field="height-protocol-modification" class="field field-height-protocol-modification form-group{% if not evaluationForm['height-protocol-modification'].vars.valid %} has-error{% endif %}">
                            {{ form_label(evaluationForm['height-protocol-modification']) }}
                            {{ form_widget(evaluationForm['height-protocol-modification']) }}
                            {{ form_errors(evaluationForm['height-protocol-modification']) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div data-field="weight" class="field field-weight form-group{% if not evaluationForm['weight'].vars.valid %} has-error{% endif %}">
                            {{ form_label(evaluationForm['weight']) }}
                            <span id="convert-weight" class="pull-right convert"></span>
                            <div class="input-group">
                                {{ form_widget(evaluationForm['weight']) }}
                                <div class="input-group-addon">{{ schema.fields['weight'].unit }}</div>
                            </div>
                            {{ form_errors(evaluationForm['weight']) }}
                        </div>
                        <div data-field="weight-protocol-modification" class="field field-weight-protocol-modification form-group{% if not evaluationForm['weight-protocol-modification'].vars.valid %} has-error{% endif %}">
                            {{ form_label(evaluationForm['weight-protocol-modification']) }}
                            {{ form_widget(evaluationForm['weight-protocol-modification']) }}
                            {{ form_errors(evaluationForm['weight-protocol-modification']) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">BMI</h3>
                    </div>
                    <div class="panel-body">
                        <p class="text-center lead" id="bmi"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default" id="panel-hip-waist">
    <div class="panel-heading">
        <div class="pull-right" id="hip-waist-skip"></div>
        <h3 class="panel-title">Hip and Waist Circumference</h3>
    </div>
    <div class="panel-body">
        <div class="row replicate">
            {% for i in 0..2 %}
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="text-right"><em>Reading #{{ i + 1 }}</em></p>
                        <div data-field="hip-circumference" class="field field-hip-circumference form-group{% if not evaluationForm['hip-circumference'][i].vars.valid %} has-error{% endif %}">
                            {{ form_label(evaluationForm['hip-circumference'][i]) }}
                            <div class="input-group">
                                {{ form_widget(evaluationForm['hip-circumference'][i]) }}
                                <div class="input-group-addon">{{ schema.fields['hip-circumference'].unit }}</div>
                            </div>
                            {{ form_errors(evaluationForm['hip-circumference'][i]) }}
                        </div>
                        <div data-field="waist-circumference" class="field field-waist-circumference form-group{% if not evaluationForm['waist-circumference'][i].vars.valid %} has-error{% endif %}">
                            {{ form_label(evaluationForm['waist-circumference'][i]) }}
                            <div class="input-group">
                                {{ form_widget(evaluationForm['waist-circumference'][i]) }}
                                <div class="input-group-addon">{{ schema.fields['waist-circumference'].unit }}</div>
                            </div>
                            {{ form_errors(evaluationForm['waist-circumference'][i]) }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="well">
            <div data-field="waist-circumference-protocol-modification" class="field field-waist-circumference-protocol-modification form-group{% if not evaluationForm['waist-circumference-protocol-modification'].vars.valid %} has-error{% endif %}">
                {{ form_label(evaluationForm['waist-circumference-protocol-modification']) }}
                {{ form_widget(evaluationForm['waist-circumference-protocol-modification']) }}
                {{ form_errors(evaluationForm['waist-circumference-protocol-modification']) }}
            </div>
            <div data-field="waist-circumference-location" class="field field-waist-circumference-location form-group{% if not evaluationForm['waist-circumference-location'].vars.valid %} has-error{% endif %}">
                {{ form_label(evaluationForm['waist-circumference-location']) }}
                {{ form_widget(evaluationForm['waist-circumference-location']) }}
                {{ form_errors(evaluationForm['waist-circumference-location']) }}
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Average</h3>
            </div>
            <div class="panel-body">
                <p class="lead">
                    Hip Circumference:
                    <span id="mean-hip-circumference"></span>
                    {{ schema.fields['hip-circumference'].unit }}
                    <span id="convert-hip-circumference"></span>

                    <br />
                    Waist Circumference:
                    <span id="mean-waist-circumference"></span>
                    {{ schema.fields['waist-circumference'].unit }}
                    <span id="convert-waist-circumference"></span>
                </p>
            </div>
        </div>
    </div>
</div>
