<div class="page-header mb-4 border-bottom">
  <h2><i class="fas fa-list"></i> PM&B Summary</h2>
</div>
{% set current_route = app.request.get('_route') %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link{% if current_route == 'review_today' %} active{% endif %}" href="{{ path('review_today') }}">Today's Participants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if current_route == 'participant_review_unfinalized_orders' %} active{% endif %}" href="{{ path('participant_review_unfinalized_orders') }}">Unfinalized Biobank Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if current_route == 'participant_review_unfinalized_measurements' %} active{% endif %}" href="{{ path('participant_review_unfinalized_measurements') }}">Unfinalized Physical Measurements</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if current_route == 'participant_review_modified_orders' %} active{% endif %}" href="{{ path('participant_review_modified_orders') }}">Recently Modified Biobank Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if current_route == 'participant_review_modified_measurements' %} active{% endif %}" href="{{ path('participant_review_modified_measurements') }}">Recently Modified Physical Measurements</a>
  </li>
</ul>
<br />
