{% extends 'program/hpo/ppsc/base.html.twig' %}
{% block title %}Today - Daily Review - {% endblock %}
{% block bodycontainer %}container-fluid{% endblock %}
{% set missingName = '' %}
{% import 'review/_macros.html.twig' as today %}

{% block body %}
    {% form_theme todayFilterForm 'custom_bootstrap_5_layout.html.twig' %}
    {% include 'review/_page_heading.html.twig' %}

    <div class="card today-filter-well" data-title="Filter">
        <div class="card-body">
            {{ form_start(todayFilterForm, { attr: { class: 'w-100', autoComplete: 'off' } }) }}
            {{ form_errors(todayFilterForm) }}
            <div class="today-filter text-center">
                <div class="row justify-content-center align-items-center gx-3">
                    <div class="col-auto d-flex align-items-center">
                        <label for="{{ todayFilterForm.start_date.vars.id }}" class="form-label mb-0 me-2 align-middle required fw-bold">Start Date</label>
                        <div>
                            {{ form_widget(todayFilterForm.start_date, { attr: { class: 'form-control' } }) }}
                        </div>
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        <label for="{{ todayFilterForm.end_date.vars.id }}" class="form-label mb-0 me-2 align-middle fw-bold">End Date</label>
                        <div>
                            {{ form_widget(todayFilterForm.end_date, { attr: { class: 'form-control' } }) }}
                        </div>
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        {{ form_widget(todayFilterForm.Submit, { attr: { class: 'btn btn-primary' } }) }}
                        <a href="{{ path('review_today') }}" class="btn btn-secondary ms-2">Reset</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_errors(todayFilterForm.start_date) }}
                        {{ form_errors(todayFilterForm.end_date) }}
                    </div>
                </div>
            </div>
            {{ form_end(todayFilterForm) }}
        </div>
    </div>
    <div class="text-end mt-2">
        <button data-href="" class="btn btn-sm btn-outline-secondary export" id="export_btn">
            <i class="fas fa-download"></i> Export
        </button>
    </div>
    <div class="text-center text-warning mt-2">
        <strong>{{ displayMessage }}</strong>
    </div>
    <table class="table table-bordered table-sm table-review" id="table-today" data-name-lookup-url="{{ path('participant_review_name_lookup', { csrf_token: csrf_token('review'), id: '' }) }}" data-missing-name="{{ missingName }}">
        <thead>
        <tr>
            <th rowspan="2">Participant ID</th>
            <th rowspan="2">Name</th>
            <th colspan="3" class="text-center border-start" style="background-color: #f9f9f9">Physical Measurement</th>
            <th colspan="9" class="text-center border-start" style="background-color: #f9f9f9">Biobank Order</th>
        </tr>
        <tr>
            <th class="border-start">Status</th>
            <th>Created <span class="badge bg-secondary" id="measurement_created_ts"></span></th>
            <th>Finalized <span class="badge bg-success" id="measurement_finalized_ts"></span></th>
            <th class="border-start">Status</th>
            <th>Biobank ID</th>
            <th>Order ID</th>
            <th>Created By</th>
            <th>Created <span class="badge bg-secondary" id="order_created_ts"></span></th>
            <th>Collected <span class="badge bg-warning" id="order_collected_ts"></span></th>
            <th>Processed <span class="badge bg-info" id="order_processed_ts"></span></th>
            <th>Finalized <span class="badge bg-success" id="order_finalized_ts"></span></th>
            <th>Finalized Samples</th>
        </tr>
        </thead>
        <tbody>
        {% for id, participant in participants %}
            {% set maxCount = max(participant.ordersCount, participant.physicalMeasurementsCount, participant.incentivesCount, participant.idVerificationsCount) %}
            {% set rowSpan = 'rowspan=' ~ maxCount %}
            {% for i in 0..maxCount - 1 %}
                {% set isPediatricParticipant = participant.participant is defined and participant.participant is not empty and participant.participant.isPediatric ? true : false %}
                <tr>
                    {% if i == 0 %}
                        <td {{ rowSpan }} class="align-middle" data-participant-id="{{ id }}">
                            {{ id }}
                            {% if isPediatricParticipant %}
                                <i class="fas fa-child"></i>
                            {% endif %}
                        </td>
                        {% if participant.participant is defined %}
                            <td {{ rowSpan }} class="align-middle">
                                {% if participant.participant %}
                                    {{ participant.participant.lastName|default('') }}, {{ participant.participant.firstName|default('') }}
                                {% else %}
                                    {{ missingName }}
                                {% endif %}
                            </td>
                        {% else %}
                            <td {{ rowSpan }} data-participant-id="{{ id }}" data-href="{{ path('participant', { id: id }) }}" class="load-name align-middle">
                                <i class="fas fa-spinner fa-spin"></i>
                                <span class="visually-hidden">Loading...</span>
                            </td>
                        {% endif %}
                    {% endif %}
                    {% set physicalMeasurement = participant.physicalMeasurements[i] is defined ? participant.physicalMeasurements[i] : '' %}
                    <td class="border-start">
                        {{ today.displayLink(physicalMeasurement, 'status', id) }}
                    </td>
                    <td>
                        {{ today.displayDate(physicalMeasurement, 'created_ts') }}
                    </td>
                    <td>
                        {% if physicalMeasurement %}
                            {% if physicalMeasurement.h_type != 'unlock' and not (physicalMeasurement.finalized_ts and physicalMeasurement.rdr_id is empty) %}
                                {{ today.displayDate(physicalMeasurement, 'finalized_ts') }}
                            {% else %}
                                <i class="fas fa-times text-danger"></i>
                            {% endif %}
                        {% endif %}
                    </td>
                    {% set order = participant.orders[i] is defined ? participant.orders[i] : '' %}
                    <td class="border-start">
                        {{ today.displayLink(order, 'status', id) }}
                    </td>
                    <td>
                        {{ today.displayLink(order, 'biobank_id', id) }}
                    </td>
                    <td>
                        {{ today.displayLink(order, 'order_id', id) }}
                    </td>
                    <td>
                        {% if order %}
                            {{ order.created_by }}
                        {% endif %}
                    </td>
                    <td>
                        {{ today.displayDate(order, 'created_ts') }}
                    </td>
                    <td>
                        {{ today.displayDate(order, 'collected_ts') }}
                    </td>
                    <td>
                        {{ order and order.order_type != 'saliva' and not isPediatricParticipant ? today.displayDate(order, 'processed_ts') : '--'}}
                    </td>
                    <td>
                        {% if order %}
                            {% set showOrderFinalizedTs = order.h_type != 'unlock' and not (order.finalized_ts and order.rdr_id is empty) %}
                            {% if showOrderFinalizedTs %}
                                {% set orderFinalizedTimeField = order.h_type == 'edit' ? 'h_created_ts' : 'finalized_ts' %}
                                {{ today.displayDate(order, orderFinalizedTimeField) }}
                            {% else %}
                                <i class="fas fa-times text-danger"></i>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if order %}
                            {% if showOrderFinalizedTs and order.finalizedSamplesCount is defined %}
                                {{ order.finalizedSamplesCount }}
                            {% else %}
                                <i class="fas fa-times text-danger"></i>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="99" class="text-center">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('today') }}
    {{ encore_entry_script_tags('review') }}
{% endblock %}
