{% set bootstrapVersion = 5 %}
{% extends 'base.html.twig' %}
{% block title %}Edit Notice - {% endblock %}
{% block body %}
    {% form_theme form 'bootstrap_5_layout.html.twig' %}
    <nav class="mt-4" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path(routePrefix ~ 'home') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path(routePrefix ~ 'admin_home') }}">Admin</a></li>
            <li class="breadcrumb-item"><a href="{{ path(routePrefix ~ 'admin_notices') }}">Page Notices</a></li>
            <li class="breadcrumb-item active">{{ notice.id ? 'Edit' : 'Create' }} Page Notice</li>
        </ol>
    </nav>
    <div class="page-header pb-1 mb-3 border-bottom">
        <h2><i class="fa fa-info-circle" aria-hidden="true"></i> {{ notice.id ? 'Edit' : 'Create' }} Page Notice</h2>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            {{ form_start(form, { attr: { class: 'warn-unsaved prevent-resubmit page-notice-form', 'data-route': routePrefix } }) }}
            {{ form_errors(form) }}

            {{ form_row(form.status) }}
            {{ form_row(form.url) }}
            {{ form_row(form.message) }}
            {{ form_row(form.full_page) }}
            <div class="alert alert-info">
                <ul>
                    <li><strong>No</strong>: Notice will be displayed at the top of the page, but otherwise, functionality continues as usual.</li>
                    <li><strong>Yes</strong>: The page will only render the notice. <span class="text-danger">Use this to disable parts or all of the application.</span></li>
                </ul>
            </div>

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Timing</h5>
                </div>
                <div class="card-body">
                    <p><strong>Your time zone</strong>: {{ timezone_display(app.user.info.timezone)|default('Not set!') }} <a href="{{ path('settings', { return: settings_return_url }) }}" class="small">change</a></p>
                    {{ form_rest(form) }}
                    <div class="alert alert-info">
                        <ul>
                            <li><strong>No start or end time</strong>: Notice will be displayed unless until it is disabled or deleted.</li>
                            <li><strong>Start time only</strong>: Notice will display from the start time indefinitely into the future.</li>
                            <li><strong>End time only</strong>: Notice will display starting now until the end time is reached.</li>
                            <li><strong>Start and end time</strong>: Notice will display between the start and end times.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <p class="my-3">
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-secondary" href="{{ path(routePrefix ~ 'admin_notices') }}">Cancel</a>
                {% if notice.id is defined and notice.id is not empty %}
                    <button type="submit" name="delete" class="btn btn-danger float-end confirm">Delete</button>
                {% endif %}
            </p>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('notice-edit') }}
{% endblock %}
