{% extends 'base.html.twig' %}
{% block title %}Page Notices - {% endblock %}
{% block body %}
    <nav class="mt-4" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path(routePrefix ~ 'home') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path(routePrefix ~ 'admin_home') }}">Admin</a></li>
            <li class="breadcrumb-item active">Page Notices</li>
        </ol>
    </nav>
    <div class="page-header pb-1 mb-3 border-bottom">
        <h2><i class="fa fa-info-circle" aria-hidden="true"></i> Page Notices</h2>
    </div>
    <p>
        <a href="{{ path(routePrefix ~ 'admin_notice') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add Notice</a>
    </p>
    <table class="table table-striped table-hover dataTable" data-table-order="asc">
        <thead><tr><th>URL Pattern</th><th>Message</th><th>Take Down?</th><th>Start</th><th>End</th><th>Status</th></tr></thead>
        <tbody>
        {% for notice in notices %}
            <tr>
                <td><a href="{{ path(routePrefix ~ 'admin_notice', { id: notice.id }) }}">{{ notice.url }}</a></td>
                <td>{{ notice.message|length > 100 ? notice.message|slice(0, 100) ~ '...' : notice.message  }}</td>
                <td>{{ notice.fullPage ? 'Yes' : 'No' }}</td>
                <td>{{ notice.startTs ? notice.startTs|date('n/j/Y g:ia', app.user.timezone) }}</td>
                <td>{{ notice.endTs ? notice.endTs|date('n/j/Y g:ia', app.user.timezone) }}</td>
                <td>
                    {% if notice.status %}
                        <span class="badge bg-success">Enabled</span>
                    {% else %}
                        <span class="badge bg-secondary">Disabled</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('datatable') }}
{% endblock %}
