{% extends 'base.html.twig' %}
{% import 'program/nph/order/macros/display-text.html.twig' as macros %}
{% block title %} Order Collect - {% endblock %}
{% block body %}
    {% form_theme orderCollectForm 'custom_bootstrap_5_layout.html.twig' %}
    {% include 'program/nph/order/partials/order-header.html.twig' %}
    <div class="alert bg-light py-2">
        <span class="font-bold">{{ timePoints[order.timepoint] }} {{ order.orderTypeDisplayName }}</span>
        <div class="float-end">
            <a href="{{ path('nph_order_label_print', {'participantId': order.participantId, 'module': order.module, 'visit': order.visitPeriod, 'sampleGroup': order.nphSamples[0].sampleGroup}) }}">
                View Order Summary/Reprint Labels
            </a>
        </div>
    </div>
    {% if order.downtimeGenerated() %}
    <div class="alert alert alert-success mt-2">
        <span>This sample was generated as part of a downtime order initiated by: {{ order.downtimeGeneratedUser.getEmail }} on {{ order.downtimeGeneratedTs|date('n/j/Y', app.user.timezone) }}.</span>
    </div>
    {% endif %}
    {% if isParticipantDeactivated %}
        {% include 'program/nph/order/partials/form-participant-deactivated-banner.html.twig' %}
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            {{ form_start(orderCollectForm, { attr: { class: 'disable-enter prevent-resubmit nph-order-collect-form'} }) }}
            {{ form_errors(orderCollectForm) }}
            <div class="row">
                <div class="col-sm-6">
                    {% if order.orderType == constant('TYPE_STOOL', order) or order.orderType == constant('TYPE_STOOL_2', order) %}
                        <div class="form-group {% if not orderCollectForm[order.orderType ~ 'CollectedTs'].vars.valid %} has-error {% endif %}">
                            {{ form_label(orderCollectForm[order.orderType ~ 'CollectedTs']) }}
                            {{ form_widget(orderCollectForm[order.orderType ~ 'CollectedTs']) }}
                            {{ form_errors(orderCollectForm[order.orderType ~ 'CollectedTs']) }}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label class="form-label">Scan or manually check all successfully collected samples:</label>
                        <input type="text" class="form-control" id="scan_barcode" placeholder="scan barcode or enter collection sample ID" {% if disableOrderCollectForm %} disabled {% endif %}>
                        <span class="text-danger" id="sample_scan_error" style="display: none">Sample not found</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="form-label" data-toggle="tooltip" title="Order generation time can only be edited by a HealthPro admin within Management Tools.">Order Generation Time</label>
                        <input type="text" class="form-control" value="{{ order.createdTs|date('n/j/Y g:ia', app.user.getInfo.timezone) }}" disabled>
                    </div>
                </div>
            </div>
            <table class="table table-samples table-borderless">
                <thead class="border-bottom">
                <tr>
                    <th>Collection Sample</th>
                    {% if order.orderType != constant('TYPE_STOOL', order) and order.orderType != constant('TYPE_STOOL_2', order) %}
                        <th>Collection Time</th>
                    {% endif %}
                    {% if order.orderType == constant('TYPE_24URINE', order) %}
                        <th>Total Collection Volume</th>
                    {% endif %}
                    <th>Notes <i class="fa fa-question-circle text-primary" aria-hidden="true" id="collection_notes_help" role="button"></i></th>
                    <th>
                        {% if not isParticipantDeactivated %}
                            {% if order.canCancel %}
                                <a href="{{ path('nph_samples_modify', { participantId: participant.id, orderId: order.id,
                                    type: 'cancel' }) }}" class="btn btn-xs btn-danger">
                                    Cancel
                                </a>
                            {% endif %}
                            {% if order.canRestore(activeSamples) %}
                                <a href="{{ path('nph_samples_modify', { participantId: participant.id, orderId: order.id,
                                    type: 'restore' }) }}" class="btn btn-xs btn-success">
                                    Restore
                                </a>
                            {% endif %}
                        {% endif %}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for index, nphSample in order.nphSamples %}
                    {% if nphSample.modifyType in [constant('CANCEL', nphSample), constant('UNLOCK', nphSample)] %}
                        <tr>
                            <td colspan="4">{{ macros.displayModifyBannerMessageBs5(nphSample) }}</td>
                        </tr>
                    {% endif %}
                    {% if order.orderType == constant('TYPE_24URINE', order) %}
                        {% include 'program/nph/order/partials/order-collect-urine24.html.twig' %}
                    {% else %}
                    <tr class="row-samples">
                        <td {% if not orderCollectForm[nphSample.sampleCode].vars.valid %}
                            class="has-error"{% endif %}>
                            {{ form_widget(orderCollectForm[nphSample.sampleCode]) }}
                            {{ form_errors(orderCollectForm[nphSample.sampleCode]) }}
                            {% if nphSample.modifyType == constant('UNLOCK', nphSample) %}
                                <p class="text-warning"><i class="fa fa-exclamation-triangle"></i> Unlocked for editing</p>
                            {% elseif nphSample.modifyType == constant('CANCEL', nphSample) %}
                                <p class="text-danger"><i class="fa fa-times"></i> Cancelled</p>
                            {% elseif nphSample.finalizedTs is not empty %}
                                <p class="text-success"><i class="fa fa-check-circle"></i>
                                    {{ macros.displayCollectAliquotStatus(nphSample) }}
                                </p>
                            {% endif %}
                        </td>
                        {% if orderCollectForm[nphSample.sampleCode ~ 'CollectedTs'] is defined %}
                            <td style="position: relative" {% if not orderCollectForm[nphSample.sampleCode ~ 'CollectedTs'].vars.valid %}
                                class="has-error"{% endif %}>
                                {{ form_widget(orderCollectForm[nphSample.sampleCode ~ 'CollectedTs']) }}
                                {{ form_errors(orderCollectForm[nphSample.sampleCode ~ 'CollectedTs']) }}
                            </td>
                        {% endif %}
                        <td {% if not orderCollectForm[nphSample.sampleCode ~ 'Notes'].vars.valid %}
                            class="has-error"{% endif %}>
                            {{ form_widget(orderCollectForm[nphSample.sampleCode ~ 'Notes']) }}
                            {{ form_errors(orderCollectForm[nphSample.sampleCode ~ 'Notes']) }}
                            {% if nphSample.finalizedNotes %}
                                <a class="text-primary" data-bs-toggle="popover" data-bs-trigger="hover" title="Finalization Notes" data-bs-content="{{ nphSample.finalizedNotes }}">
                                    Finalization Notes
                                </a>
                            {% endif %}
                            {% if index == order.nphSamples|length - 1 %}
                                <small class="text-warning">
                                    Comments entered in this field are transmitted to the Biobank via reconciliation
                                    reporting.
                                    <br>
                                    Do not enter any participant identifying information here.
                                </small>
                            {% endif %}
                        </td>
                        <td>
                            {% if nphSample.finalizedTs is not empty %}
                                <p>
                                    <a href="{{ path('nph_sample_finalize', { participantId: participant.id, orderId:
                                        order.id, sampleId: nphSample.id}) }}" class="btn btn-primary btn-xs">
                                        View
                                    </a>
                                </p>
                                {% if not disableOrderCollectForm and nphSample.canUnlock %}
                                    <a href="{{ path('nph_sample_finalize', { participantId: participant.id, orderId:
                                        order.id, sampleId: nphSample.id, modifyType: 'unlock'}) }}" class="btn
                                        btn-warning btn-xs">
                                        Edit
                                    </a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td colspan="3" {% if not orderCollectForm['samplesCheckAll'].vars.valid %}
                        class="has-error"{% endif %}>{{ form_errors(orderCollectForm['samplesCheckAll']) }}</td>
                </tr>
                </tbody>
            </table>
            <div style="display: none">{{ form_widget(orderCollectForm['samplesCheckAll']) }}</div>
            {% if order.orderType == constant('TYPE_URINE', order) or order.orderType == constant('TYPE_24URINE', order)  %}
                <hr>
                <h4>
                    Color and Clarity
                    <span class="toggle-chart-image text-primary" role="button" data-img="{{ asset('img/nph/urine_color_clarity_chart.png') }}">
                            <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
                        </span>
                </h4>
                <div class="row">
                    <div class="form-group col-sm-3">
                        {{ form_label(orderCollectForm['urineColor']) }}
                        {{ form_widget(orderCollectForm['urineColor']) }}
                        {{ form_errors(orderCollectForm['urineColor']) }}
                    </div>
                    <div class="form-group col-sm-3">
                        {{ form_label(orderCollectForm['urineClarity']) }}
                        {{ form_widget(orderCollectForm['urineClarity']) }}
                        {{ form_errors(orderCollectForm['urineClarity']) }}
                    </div>
                </div>
            {% endif %}
            {% if order.orderType == constant('TYPE_STOOL', order) or order.orderType == constant('TYPE_STOOL_2', order) %}
                <hr>
                <h4>
                    Bristol Stool Chart Questions
                    <span class="toggle-chart-image text-primary" role="button" data-img="{{ asset('img/nph/bristol_stool_chart.png') }}">
                        <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
                    </span>
                </h4>
                <p>Enter the participant provided answers to the following questions:</p>
                <div class="form-group">
                    {{ form_label(orderCollectForm['bowelType']) }}
                    {{ form_widget(orderCollectForm['bowelType']) }}
                </div>
                <div class="form-group mt-2">
                    {{ form_label(orderCollectForm['bowelQuality']) }}
                    {{ form_widget(orderCollectForm['bowelQuality']) }}
                </div>
                <div class="alert alert-reminder mt-2">
                    <i class="fa fa-lg fa-thumbtack text-reminder"></i> Reminder: Stool tubes must be finalized via the Aliquot Samples page.
                </div>
            {% endif %}
            {{ form_rest(orderCollectForm) }}
            <div class="form-group my-4">
                {% if not disableOrderCollectForm and not order.isDisabled %}
                    <button type="submit" class="btn btn-primary" id="order_next_btn" formnovalidate>Save</button>
                {% endif %}
                <a href="{{ path('nph_participant_summary', { participantId: participant.id }) }}"
                   class="btn btn-secondary">Exit</a>
            </div>
            {{ form_end(orderCollectForm) }}
        </div>
    </div>
    {% include 'program/nph/order/partials/modals/collection-notes-help-modal.html.twig' %}
    {% include 'program/nph/order/partials/modals/chart-image-modal.html.twig' %}
{% endblock %}
{% block pagejs %}
    {{ encore_entry_script_tags('nph-order') }}
{% endblock %}
