{% set bootstrapVersion = 5 %}
{% extends 'base.html.twig' %}
{% block title %} DLW Collect - {% endblock %}
{% block body %}
    {% form_theme form 'custom_bootstrap_5_layout.html.twig' %}
    <div class="page-header border-bottom mb-2">
        {% if disabled %}
        <div class="alert alert-success">
            <strong>
                Finalized
                by {{ dlwInfo.User.email|default('Unknown') }}
                on {{ dlwInfo.modifiedTs|date('n/j/Y g:ia', app.user.timezone) }}
            </strong>
        </div>
        {% endif %}
        <h2>
            DLW Dosage
            <small>
                <a href="{{ path('nph_participant_summary', { participantId: participant.id }) }}">
                    {{ participant.lastName }}, {{ participant.firstName }}
                </a>
            </small>
        </h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <div><strong>Name</strong></div>
                    <div>{{ participant.lastName }}, {{ participant.firstName }}</div>
                </div>
                <div class="col-md-4">
                    <div><strong>Participant ID</strong></div>
                    <div>{{ participant.id }}</div>
                </div>
                <div class="col-md-4">
                    <div><strong>Biobank ID</strong></div>
                    <div>{{ participant.biobankId }}</div>
                </div>
                <div class="col-md-4">
                    <div><strong>DOB</strong></div>
                    <div>{{ participant.dob|date('n/j/Y') }}</div>
                </div>
                <div class="col-md-4">
                    <div><strong>Site</strong></div>
                    <div>{{ participant.nphPairedSite ? siteInfo.getNphSiteDisplayName(participant.nphPairedSiteSuffix) : '(not paired)' }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <strong class="text-primary right-float">
                Module {{ module }} | {{ modulePeriodVisitMapper[module~'_'~visit]|default(visitDisplayName) }} | DLW
            </strong>
        </div>
    </div>
    <div class="row mt-2">
        <div class="alert bg-light py-2">
            <span class="font-bold">DLW Dosage</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ form_start(form, { attr: { class: 'disable-enter prevent-resubmit'} }) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-4 {% if not form['doseBatchId'].vars.valid%}has-error{% endif %}">
                    {{ form_label(form['doseBatchId'])}}
                    <div class="input-group">
                        <span class="input-group-text">NPHDLW</span>
                        {{ form_widget(form['doseBatchId'], {attr: {readonly: disabled}})}}
                    </div>
                    {{ form_errors(form['doseBatchId'])}}
                </div>
                <div class="col-md-3 {% if not form['participantWeight'].vars.valid%}has-error{% endif %}">
                    {{ form_label(form['participantWeight'])}}
                    {{ form_widget(form['participantWeight'], {attr: {readonly: disabled}})}}
                    {{ form_errors(form['participantWeight'])}}
                    <span class="clickable_underline" id="enter_pound">Enter weight in pounds</span>
                </div>
                <div class="col-md-1">
                    <p style="margin-top: 2em; font-weight: bold">X 1.5 = </p>
                </div>
                <div class="col-md-4 {% if not form['calculatedDose'].vars.valid%}has-error{% endif %}">
                    {{ form_label(form['calculatedDose']) }}
                    {{ form_widget(form['calculatedDose'], {attr: {readonly: disabled}}) }}
                    {{ form_errors(form['calculatedDose']) }}
                </div>
            </div>
            <div class="row margin-top-30">
                <div class="col-md-4 {% if not form['actualDose'].vars.valid%}has-error{% endif %}">
                    {{ form_label(form['actualDose']) }}
                    {{ form_widget(form['actualDose'], {attr: {readonly: disabled}}) }}
                    {{ form_errors(form['actualDose']) }}
                </div>
                <div class="col-md-4 {% if not form['doseAdministered'].vars.valid%}has-error{% endif %}">
                    {{ form_label(form['doseAdministered']) }}
                    {{ form_widget(form['doseAdministered'], {attr: {readonly: disabled}}) }}
                    {{ form_errors(form['doseAdministered']) }}
                </div>
            </div>
            {{ form_rest(form) }}
            <div class="form-group margin-top-15">
                {% if disabled %}
                    <button type="button" class="btn btn-warning" id="form_edit" formnovalidate>Edit</button>
                {% else %}
                    <button type="submit" class="btn btn-primary" id="form_submit">Save</button>
                {% endif %}
                <a href="{{ path('nph_participant_summary', { participantId: participant.id }) }}"
                   class="btn btn-secondary">Return to Participant</a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    {% include 'program/nph/order/partials/pound-modal.html.twig' %}
{% endblock %}
{% block pagejs %}
    {{ encore_entry_script_tags('nph-dlw') }}
    {{ encore_entry_script_tags('nph-order') }}
{% endblock %}
