{% extends 'base.html.twig' %}
{% import 'program/nph/order/samples.html.twig' as samples %}
{% block title %} Generate Orders - {% endblock %}
{% block body %}
    <div class="page-header">
        <h2>
            <i class="fa fa-medkit" aria-hidden="true"></i>
            Generate Order and Print Labels
        </h2>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {% include 'program/nph/order/partials/participant-dl.html.twig' %}
        </div>
        <div class="col-sm-6">
            <div class="alert well-sm bg-warning-new">Module | NPH Module {{ module }}</div>
            <div class="alert well-sm bg-primary">Visit | {{ visit }}</div>
        </div>
    </div>

    <div class="row" id="order_create"
         data-samples="{{ samples|json_encode() }}"
         data-time-points="{{ timePoints|json_encode() }}"
         data-nail-samples="{{ nailSamples|json_encode() }}"
         data-stool-samples="{{ stoolSamples|json_encode() }}">
        <div class="col-sm-12">
            {{ form_start(orderForm, { attr: { class: 'disable-enter prevent-resubmit', id:
                'order_create_form' } }) }}
            {{ form_errors(orderForm) }}
            <div>
                <label>Select the sample and timepoints:</label>
                <span class="well-sm bg-primary">
                    <input type="checkbox">
                    Check All Timepoints and Samples
                </span>
            </div>
            <br>
            {% for timePoint, orderSamples in timePointSamples %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <input type="checkbox"> {{ form_label(orderForm[timePoint]) }}
                    </div>
                    <div class="panel-body timepoint-samples" data-timepoint="{{ timePoint }}">
                        {{ samples.form_widget(orderForm[timePoint], orderForm, nailSamples, stoolSamples) }}
                    </div>
                </div>
            {% endfor %}
            {{ form_rest(orderForm) }}
            <a class="btn btn-default" href="#">Cancel</a>
            <button type="button" class="btn btn-primary" id="order_next_btn">Next</button>
            {{ form_end(orderForm) }}
            <br>
        </div>
    </div>

    <div class="row" id="order_review" style="display: none">
        <div class="col-sm-12">
            <div>
                <label>Review Timepoints/Samples</label>
                <span class="alert well-sm bg-secondary pull-right text-white">
                    Total # of Samples
                    <span class="badge badge-light" id="samples_count">0</span>
                </span>
            </div>
            <table class="table table-bordered" id="order_review_table">
                <thead>
                    <tr>
                        <th>Timepoint</th>
                        <th>Samples</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <button type="button" class="btn btn-default" id="order_review_back_btn">Back</button>
            <button type="button" class="btn btn-primary" id="order_generate_btn">
                Generate Orders and Print Labels
            </button>
        </div>
    </div>
    <br>
{% endblock %}
{% block pagejs %}
    {{ encore_entry_script_tags('nph-order-create') }}
{% endblock %}
