{% extends 'base.html.twig' %}
{% import 'program/nph/order/samples.html.twig' as samples %}
{% block title %} Generate Orders - {% endblock %}
{% form_theme orderForm 'form/simple_checkbox.html.twig' %}
{% block body %}
    <div class="page-header">
        <h2>
            <i class="fa fa-medkit" aria-hidden="true"></i>
            Generate Orders and Print Labels
        </h2>
    </div>

    {% include 'program/nph/order/partials/generate-orders-header.html.twig' %}

    <div class="row" id="order_create" {% if showPreview %} style="display: none" {% endif %}
         data-samples="{{ samples|json_encode() }}"
         data-time-points="{{ timePoints|json_encode() }}"
         data-nail-samples="{{ nailSamples|json_encode() }}"
         data-stool-samples="{{ stoolSamples|json_encode() }}"
         data-blood-samples="{{ bloodSamples|json_encode() }}"
         data-show-preview="{{ showPreview }}">
        <div class="col-sm-12">
            {{ form_start(orderForm, { attr: { class: 'disable-enter prevent-resubmit', id:
                'order_create_form' } }) }}
            {{ form_errors(orderForm) }}
            <div class="row">
                <div style="margin-bottom: 25px">
                <span class="well-sm" style="background-color: #343A40; color: white">
                    Check if the order occurred during a system downtime.
                    {{ form_widget(orderForm['downtime_generated']) }}
                </span>
                    <div >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3{% if not orderForm['downtime_generated'].vars.valid %} has-error {% endif %}" style="margin-bottom: 25px"  hidden="hidden" id="downtime-created-ts">
                    {{ form_errors(orderForm['downtime_generated']) }}
                    <label>Order Generation Time<sup>{{ downtimeOrders['orderInfo']|length + 1 }}</sup></label>
                    {{ form_widget(orderForm['createdTs']) }}
                    <sub class="text-success"><i class="fa fa-history"></i> Downtime order initiated by:
                        {{app.user.email}}</sub>
                </div>
                {% for orderNumber, order in downtimeOrders['orderInfo'] %}
                    <div class="col-sm-3" style="margin-bottom: 25px">
                        <label>Order Generation Time<sup>{{ orderNumber }}</sup></label>
                        <input type="text" disabled class="order-ts form-control" style="" value="{{ order['orderCreatedTime']|date('n/j/Y g:ia', app.user.timezone) }}">
                        <sub class="text-success"><i class="fa fa-history"></i> Downtime order initiated by:
                            {{order['orderUser']}}</sub>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div>
                    <label>Select the collection sample and timepoints:</label>
                    <span class="well-sm bg-primary">
                    {{ form_widget(orderForm['checkAll']) }}
                    Check All
                </span>
                </div>
                <div {% if not orderForm['checkAll'].vars.valid %} class="has-error" {% endif %}>
                    {{ form_errors(orderForm['checkAll']) }}
                </div>
            </div>

            <br>
            <div class="row">
            {% for timePoint, orderSamples in timePointSamples %}
                <div class="col-sm-4">
                    <div class="panel panel-default timepoint-panel">
                        <div class="panel-heading">
                            <input type="checkbox" class="timepointCheckAll" id="timepoint_{{ timePoint }}" data-timepoint="{{ timePoint }}">
                            {{ form_label(orderForm[timePoint]) }}
                        </div>
                        {% if module == 1 and constant('App\\Entity\\NphSample::SAMPLE_STOOL') in orderSamples|keys %}
                            {% if participant.module1TissueConsentStatus == constant('OPTIN_DENY', participant) %}
                                <div id="hair-nail-warning" class="navbar-warning alert alert-warning">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    The participant has <u>not</u> opted into hair and nail collections.
                                </div>
                            {% elseif participant.module1TissueConsentStatus == constant('OPTIN_NAIL', participant) %}
                                <div id="hair-nail-warning" class="navbar-warning alert alert-warning">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    The participant has opted into <u>nail collection only.</u>
                                </div>
                            {% elseif participant.module1TissueConsentStatus == constant('OPTIN_HAIR', participant) %}
                                <div id="hair-nail-warning" class="navbar-warning alert alert-warning">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    The participant has opted into <u>hair collection only.</u>
                                </div>
                            {% endif %}
                        {% endif %}
                        <div class="panel-body timepoint-samples" id="timepoint_samples_{{ timePoint }}"
                             data-timepoint="{{ timePoint }}">
                            {{ samples.form_widget(orderForm, timePoint, nailSamples, stoolSamples, samplesOrderIds,
                                participant.id, module, visit, samplesStatus, downtimeOrders) }}
                        </div>
                    </div>
                </div>
            {% endfor %}
                <div class="col-sm-12">
                    <a class="btn btn-default" href="{{ path('nph_participant_summary', {participantId: participant.id}) }}">Cancel</a>
                    {{ form_widget(orderForm.validate) }}
                </div>
            </div>
            {{ form_rest(orderForm) }}
            {{ form_end(orderForm) }}
            <br>
        </div>
    </div>

    <div class="row" id="order_review" style="display: none">
        <div class="col-sm-12">
            <div>
                <label>Review Timepoints and Collection Samples</label>
                <span class="alert well-sm nph-samples-badge pull-right text-white">
                    Total # of Samples
                    <span class="badge badge-light" id="samples_count">0</span>
                </span>
            </div>
            <table class="table table-bordered" id="order_review_table">
                <thead>
                    <tr>
                        <th>Timepoint</th>
                        <th>Collection Samples</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <button type="button" class="btn btn-default" id="order_review_back_btn">Back</button>
            <button type="button" class="btn btn-primary" id="order_generate_btn">
                Generate Orders and Print Labels
            </button>
        </div>
    </div>
    <br>
    {% include 'program/nph/order/partials/modals/downtime-warning-modal.html.twig' %}
    {% include 'program/nph/order/partials/modals/optional-stool-kit-warning-modal.html.twig' %}
{% endblock %}
{% block pagejs %}
    {{ encore_entry_script_tags('nph-order-create') }}
{% endblock %}
