{% extends 'base.html.twig' %}

{% block title %}NPH Print Label{% endblock %}

{% block body %}
    <div class="page-header border-bottom mb-2">
        <h2>
            <i class="fa fa-medkit" aria-hidden="true"></i>
            Generate Orders and Print Labels
        </h2>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {% include 'program/nph/order/partials/participant-details-with-name.html.twig' %}
        </div>
        <div class="col-sm-6">
            <div class="alert text-white nph-module-badge nph-module-{{ module }}">Module | NPH Module {{ module }}</div>
            <div class="alert text-white nph-visit nph-visit-badge">Visit | {{ modulePeriodVisitMapper[module~'_'~visit]|default(visitDisplayName) }}</div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-sm-6">
            <div class="clearfix">
                    <label class="font-bold">Order Summary</label>
                    <span class="badge nph-samples-badge float-end text-white fs-6 mb-2 p-2">
                        Total # of Samples
                        <span class="badge badge-light" id="samples_count">{{ sampleCount }}</span>
                    </span>
            </div>
            <table class="table table-small table-striped table-bordered">
                <tr class="">
                    <th>Order ID</th>
                    <th>Timepoint</th>
                    <th>Sample Type</th>
                    <th>Collection Samples</th>
                    <th>Collection Sample ID</th>
                </tr>
                {% set lastSampleType = '' %}
                {% for timepointName,timepoint in orderSummary %}
                    {% for sampleType, sampleInfo in timepoint %}
                        {% if sampleType != lastSampleType %}
                            {% set printSampleTd = true %}
                        {% else %}
                            {% set printSampleTd = false %}
                        {% endif %}
                        {% for sampleCode,sampleCodeInfo in sampleInfo %}
                            {% for orderId, orderInfo in sampleCodeInfo %}
                            <tr>
                                {% if printSampleTd %}
                                    <td rowspan="{{ sampleInfo|length }}"><a href="{{ path('nph_order_collect', {'participantId': participant.id, 'orderId': orderInfo.healthProOrderId}) }}">{{ orderInfo.orderId }}</a></td>
                                    <td rowspan="{{ sampleInfo|length }}">{{ orderInfo.timepointDisplayName }}</td>
                                    <td rowspan="{{ sampleInfo|length }}">{{ orderInfo.sampleTypeDisplayName }}</td>
                                    {% set printSampleTd = false %}
                                {% endif %}
                                <td>{{ orderInfo.sampleName }}</td>
                                <td>{{ orderInfo.sampleId }}</td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </table>
            <a class="btn btn-primary" role="button" href="{{ path('nph_participant_summary', {participantId: participant.id}) }}">Return to Participant</a>
        </div>
        <div class="col-sm-6" style="height: 600px">
            <div class="card">
                <div class="card-header">
                        <a class="float-end" href="{{ path('nph_render_pdf_sample_group', {'participantId': participant.id,'module': module,'visit': visit, 'sampleGroup': sampleGroup}) }}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> Open/Download</a>
                    <h5 class="card-title">Labels</h5>
                </div>
                <div class="card-body">
                    <div id="labels-loading-widget" class="text-center hidden-ie">
                        <p id="labels-loading"><i class="fa fa-spinner fa-spin fa-fw"></i> Loading</p>
                        <p id="labels-loaded">
                            <a href="javascript:window.labels.print();" class="btn btn-primary btn-sm">
                                <i class="fa fa-print" aria-hidden="true"></i> Print
                            </a>
                        </p>
                    </div>
                    <iframe name="labels" class="pdf pdf-labels" src="{{ path('nph_render_pdf_sample_group', {'participantId': participant.id,'module': module,'visit': visit, 'sampleGroup': sampleGroup}) }}"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('order-print-labels') }}
{% endblock %}
