{% extends 'render-base.html.twig' %}
{% block title %}Orders - {% endblock %}
{% block body %}
    <div class="page-header">
        <h2><i class="fa fa-medkit" aria-hidden="true"></i> Order Lookup</h2>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-5">
            <h3><i class="fa fa-barcode" aria-hidden="true"></i> Find by ID</h3>
            {{ form_start(idForm, { attr: { class: 'disable-enter prevent-resubmit' } }) }}
            <div class="form-group {% if not idForm.orderId.vars.valid %} has-error{% endif %}">
                <div class="pull-right">
                    {{ form_widget(idForm.checkKitId) }}
                </div>
                {{ form_label(idForm.orderId) }}
                {{ form_widget(idForm.orderId) }}
                {{ form_errors(idForm.orderId) }}
            </div>
            <p>
                <button type="submit" class="btn btn-primary">Go</button>
            </p>
            {{ form_end(idForm) }}
        </div>
            <div class="col-sm-6 col-md-7">
                <hr class="visible-xs"/>
                <h3><i class="fa fa-clock-o" aria-hidden="true"></i> Recent orders</h3>
                {% if recentOrders|length > 0 %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Date (Created)</th>
                            <th>Order ID</th>
                            <th>Participant</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in recentOrders %}
                            <tr>
                                <td><a href="{{ path('nph_order_collect', { participantId: order.participantId, orderId: order.id }) }}">{{ order.createdTs|date('n/j/Y g:ia', app.user.getInfo.timezone) }}</a></td>
                                <td><a href="{{ path('nph_order_collect', { participantId: order.participantId, orderId: order.id }) }}">{{ order.orderId }}</a></td>
                                <td><a href="{{ path('nph_participant_summary', { participantId: order.participantId }) }}">{{ order.participant.lastName|default('') }}, {{ order.participant.firstName|default('') }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-warning">No recent orders for this site</div>
            </div>
        {% endif %}
    </div>
{% endblock %}
