{% macro form_widget(orderForm, timePoint, nailSamples, stoolSamples, samplesOrderIds, participantId, module, visit, samplesStatus) %}
    {% set formField = orderForm[timePoint] %}
    {% for sample in formField.children %}
        {% if sample.vars.value in nailSamples %}
            <div class="sub-samples nail-sub-samples">
                <div class="checkbox"><label for="{{ sample.vars.id }}">{{ form_widget(sample) }} {{ sample.vars.label }}</label></div>
                {% if samplesOrderIds[timePoint][sample.vars.value] is defined %}
                    {{ _self.displayReprintButton(samplesOrderIds[timePoint][sample.vars.value], participantId, module, visit, samplesStatus[timePoint][sample.vars.value]) }}
                {% endif %}
            </div>
        {% elseif sample.vars.value == 'STOOL' %}
            <div class="checkbox"><label for="{{ sample.vars.id }}">{{ form_widget(sample) }} {{ sample.vars.label }}</label></div>
            {{ form_label(orderForm.stoolKit) }}
            {{ form_widget(orderForm.stoolKit) }}
            <br>
            {% for stoolSample in stoolSamples %}
                {{ form_label(orderForm[stoolSample]) }}
                {% if samplesOrderIds[timePoint][stoolSample] is defined %}
                    {{ _self.displayReprintButton(samplesOrderIds[timePoint][stoolSample], participantId, module, visit, samplesStatus[timePoint][sample.vars.value]) }}
                {% endif %}
                {{ form_widget(orderForm[stoolSample]) }}
                <br>
            {% endfor %}
        {% else %}
            {% if samplesOrderIds[timePoint][sample.vars.value] is defined %}
                <div class="checkbox">
                    <label for="{{ sample.vars.id }}">{{ form_widget(sample) }} <a href="{{ path('nph_order_collect', {'participantId': participantId, 'orderId': samplesOrderIds[timePoint][sample.vars.value]['id']}) }}">{{ sample.vars.label }}</a>
                    </label>
                    {{ _self.displayReprintButton(samplesOrderIds[timePoint][sample.vars.value], participantId, module, visit, samplesStatus[timePoint][sample.vars.value]) }}
                </div>
            {% else %}
                <div class="checkbox"><label for="{{ sample.vars.id }}">{{ form_widget(sample) }} {{ sample.vars.label }}</label></div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro displayReprintButton(order, participantId, module, visit, sampleStatus) %}
        {% if sampleStatus == 'Created' %}
            <a href="{{ path('nph_order_label_print', {'participantId': participantId, 'module': module, 'visit': visit, 'sampleGroup': order.sampleGroup}) }}"
               class="btn btn-primary btn-xs right">
                Reprint Labels
            </a>
        {% endif %}
{% endmacro %}


