{% macro form_widget(orderForm, timePoint, nailSamples, stoolSamples, samplesOrderIds, participantId, module, visit, samplesStatus) %}
    {% set formField = orderForm[timePoint] %}
    {% for sample in formField.children %}
        {% if sample.vars.value == 'STOOL' %}
            <div class="checkbox"><label for="{{ sample.vars.id }}">{{ form_widget(sample, {'attr': {'class': 'stool-checkbox'}}) }} {{ sample.vars.label }}</label></div>
            <div class="stool-text-fields">
                <div {% if not orderForm.stoolKit.vars.valid %} class="has-error" {% endif %}>
                    {{ form_label(orderForm.stoolKit) }}
                    {{ form_widget(orderForm.stoolKit) }}
                    {{ form_errors(orderForm.stoolKit) }}
                </div>
                <br>
                {% for stoolSample in stoolSamples %}
                    <div {% if not orderForm[stoolSample].vars.valid %} class="has-error" {% endif %}>
                        {{ form_label(orderForm[stoolSample]) }}
                        {% if samplesOrderIds[timePoint][stoolSample] is defined %}
                            {{ _self.displayReprintButton(samplesOrderIds[timePoint][stoolSample], participantId, module, visit, samplesStatus[timePoint][stoolSample]) }}
                        {% endif %}
                        {{ form_widget(orderForm[stoolSample]) }}
                        {{ form_errors(orderForm[stoolSample]) }}
                    </div>
                    <br>
                {% endfor %}
            </div>
        {% else %}
            {% if samplesOrderIds[timePoint][sample.vars.value] is defined %}
                <div class="checkbox">
                    <label for="{{ sample.vars.id }}">
                        {{ form_widget(sample) }}
                        {{ _self.displaySampleLink(participantId, sample, samplesOrderIds, timePoint) }}
                    </label>
                    {{ _self.displayReprintButton(samplesOrderIds[timePoint][sample.vars.value], participantId, module, visit, samplesStatus[timePoint][sample.vars.value]) }}
                </div>
            {% else %}
                <div class="checkbox"><label for="{{ sample.vars.id }}">{{ form_widget(sample) }} {{ sample.vars.label }}</label></div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro displayReprintButton(order, participantId, module, visit, sampleStatus) %}
    {% if sampleStatus == 'Created' %}
        <a href="{{ path('nph_order_label_print', {'participantId': participantId, 'module': module, 'visit': visit, 'sampleGroup': order.sampleGroup}) }}"
           class="btn btn-primary btn-xs right">
            Reprint Labels
        </a>
    {% endif %}
{% endmacro %}

{% macro displaySampleLink(participantId, sample, samplesOrderIds, timePoint) %}
    {% if samplesOrderIds[timePoint][sample.vars.value] is defined %}
        <a href="{{ path('nph_order_collect', {'participantId': participantId, 'orderId': samplesOrderIds[timePoint][sample.vars.value]['id']}) }}">
            {{ sample.vars.label }}
        </a>
    {% else %}
        {{ sample.vars.label }}
    {% endif %}
{% endmacro %}


