{% set bootstrapVersion = 5 %}
{% extends 'base.html.twig' %}
{% block title %}Sample - Modify - {% endblock %}
{% block body %}
    {% form_theme sampleModifyForm 'custom_bootstrap_5_layout.html.twig' %}
    <h2 class="{% if type == 'cancel' %} text-danger {% elseif type == 'restore' %} text-success {% endif %}">
        <i class="fa fa-medkit" aria-hidden="true"></i> {{ type|capitalize }} Samples
        <small>
            <a href="{{ path('nph_participant_summary', { participantId: participant.id }) }}">
                {{ participant.lastName }}, {{ participant.firstName }}
            </a>
        </small>
    </h2>
    <hr>

    {% include 'program/nph/order/partials/order-participant-details-barcode.html.twig' %}

    <div class="alert bg-light py-2">
        {{ timePoints[order.timepoint] }} {{ order.orderType|capitalize }}
    </div>
    {% if type == constant('App\\Entity\\NphSample::CANCEL') %}
        <p class="text-danger">Select samples to be cancelled</p>
    {% else %}
        <p class="text-success">Select samples to be restored</p>
    {% endif %}
    {{ form_start(sampleModifyForm, { attr: { class: 'warn-unsaved disable-enter prevent-resubmit nph-modify-form' } }) }}
    {{ form_errors(sampleModifyForm) }}
    <table class="table table-samples table-borderless">
        <thead>
        <tr class="border-bottom">
            <th>
                <input type="checkbox" id="order_modify_check_all"> {{ type == constant('App\\Entity\\NphSample::CANCEL') ? 'Cancel' : 'Restore'}}
            </th>
            <th>Sample</th>
            <th>Collected</th>
            <th>Aliquoted and Finalized</th>
        </tr>
        </thead>
        <tbody class="modify-samples">
        {% for index, nphSample in order.nphSamples %}
            {% if nphSample.modifyType == constant('App\\Entity\\NphSample::CANCEL') and nphSample.sampleCode in activeSamples %}
                {% set sampleClass = 'no-restore' %}
            {% else %}
                {% set sampleClass = '' %}
            {% endif %}
            <tr class="row-samples {{ sampleClass }}">
                <td>
                    {{ form_widget(sampleModifyForm[nphSample.sampleCode]) }}
                </td>
                <td>
                    <p>({{ index + 1 }}) {{ samples[nphSample.sampleCode] }} ({{ nphSample.sampleId }})
                    {% if nphSample.modifyType == constant('App\\Entity\\NphSample::CANCEL')%}
                        <span class="text-danger">Cancelled</span>
                    {% else %}
                        <span class="text-success">Active</span>
                    {% endif %}
                    </p>
                </td>
                <td>
                    <p>
                    {% if nphSample.collectedTs is not empty %}
                        <i class="fa fa-check text-success" aria-hidden="true"></i>
                        {{ nphSample.collectedTs|date('n/j/Y g:ia', app.user.timezone) }}
                        {{ nphSample.collectedUser.email }}
                    {% else %}
                        <i class="fa fa-times text-danger"></i>
                    {% endif %}
                    </p>
                </td>
                <td>
                    <p>
                    {% if nphSample.finalizedTs is not empty %}
                        <i class="fa fa-check text-success" aria-hidden="true"></i>
                        {{ nphSample.finalizedTs|date('n/j/Y g:ia', app.user.timezone) }}
                        {{ nphSample.finalizedUser.email }}
                    {% else %}
                        <i class="fa fa-times text-danger"></i>
                    {% endif %}
                    </p>
                </td>
            </tr>
            {% if nphSample.modifyType == constant('App\\Entity\\NphSample::CANCEL') and nphSample.sampleCode in activeSamples %}
            <tr class="row-message"><td></td><td colspan="3"><span class="text-warning">An active order already exists for this timepoint/sample. To restore this sample, cancel the active order.</span></td></tr>
            {% endif %}
        {% endfor %}
        <tr>
            <td colspan="3" {% if not sampleModifyForm['samplesCheckAll'].vars.valid %}
                class="has-error"{% endif %}>{{ form_errors(sampleModifyForm['samplesCheckAll']) }}</td>
        </tr>
        </tbody>
    </table>
    <div style="display: none">{{ form_widget(sampleModifyForm['samplesCheckAll']) }}</div>
    {% if order.orderType == constant('App\\Entity\\NphOrder::TYPE_URINE') or order.orderType == constant('App\\Entity\\NphOrder::TYPE_24URINE') %}
        <hr>
        <h5>
            Color and Clarity
            <span class="toggle-chart-image text-primary" role="button" data-img="{{ asset('img/nph/urine_color_clarity_chart.png') }}">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                <span class="sr-only">Help</span>
            </span>
        </h5>
        <div class="row">
            <div class="form-group col-sm-3">
                <label class="font-bold">Urine Color:</label>
                {{ samplesMetadata ? samplesMetadata['urineColor'] : '-' }}
            </div>
            <div class="form-group col-sm-3">
                <label class="font-bold">Urine Clarity:</label>
                {{ samplesMetadata ? samplesMetadata['urineClarity'] : '-' }}
            </div>
        </div>
    {% endif %}
    {% if order.orderType == constant('App\\Entity\\NphOrder::TYPE_STOOL') or order.orderType == constant('App\\Entity\\NphOrder::TYPE_STOOL_2') %}
        <hr>
        <h5>
            Bristol Stool Chart Questions
            <span class="toggle-chart-image text-primary" role="button" data-img="{{ asset('img/nph/bristol_stool_chart.png') }}">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                <span class="sr-only">Help</span>
            </span>
        </h5>
        <div class="form-group pb-2">
            <label class="font-bold">Bowel Type:</label>
            {{ samplesMetadata ? samplesMetadata['bowelType'] : '-' }}
        </div>
        <div class="form-group">
            <label class="font-bold">Bowel Quality:</label>
            {{ samplesMetadata ? samplesMetadata['bowelQuality'] : '-' }}
        </div>
    {% endif %}
    <div class="row mt-2">
        <div class="col-sm-12">
            {{ form_rest(sampleModifyForm) }}
            <p>
                <button type="submit" name="reportable" class="btn btn-{{ type == constant('App\\Entity\\NphSample::RESTORE') ? 'success' : 'danger' }}">{{ type|capitalize }}</button>
                <a href="{{ path('nph_participant_summary', { participantId: participant.id }) }}"
                   class="btn btn-secondary">Exit</a>
            </p>
        </div>
    </div>
    {{ form_end(sampleModifyForm) }}
    {% include 'program/nph/order/partials/modals/chart-image-modal.html.twig' %}
{% endblock %}
{% block pagejs %}
    {{ encore_entry_script_tags('nph-order-modify') }}
    {{ encore_entry_script_tags('nph-order') }}
{% endblock %}
