{% extends 'base.html.twig' %}
{% block title %}Sample - Modify - {% endblock %}
{% block body %}
    <h2 class="text-danger">
        <i class="fa fa-medkit" aria-hidden="true"></i>
        {{ type|capitalize }} Samples
        <small>
            <a href="{{ path('participant', { id: participant.id }) }}">
                {{ participant.lastName }}, {{ participant.firstName }}
            </a>
        </small>
    </h2>
    <hr>

    {% include 'program/nph/order/partials/order-participant-details-barcode.html.twig' %}

    <div class="alert bg-light well-sm">
        {{ timePoints[order.timepoint] }} {{ order.orderType|capitalize }}
    </div>
    {% if type == 'cancel' %}
        <p class="text-danger">Select all samples to be cancelled</p>
    {% else %}
        <p class="text-success">Select all samples to be restored</p>
    {% endif %}
    {{ form_start(sampleModifyForm, { attr: { class: 'warn-unsaved disable-enter prevent-resubmit' } }) }}
    <table class="table table-samples">
        <thead>
        <tr>
            <th>Cancel</th>
            <th>Sample</th>
            <th>Collected</th>
            <th>Aliquoted and Finalized</th>
        </tr>
        </thead>
        <tbody>
        {% for index, nphSample in order.nphSamples %}
            <tr class="row-samples">
                <td>
                    {{ form_widget(sampleModifyForm[nphSample.sampleCode]) }}
                </td>
                <td>{{ samples[nphSample.sampleCode] }} ({{ nphSample.sampleId }})</td>
                <td>
                    {% if nphSample.collectedTs is not empty %}
                        <i class="fa fa-check text-success" aria-hidden="true"></i>
                        {{ nphSample.collectedTs|date('n/j/Y g:ia', app.user.timezone) }}
                        {{ nphSample.collectedUser.email }}
                    {% endif %}
                </td>
                <td>
                    {% if nphSample.finalizedTs is not empty %}
                        <i class="fa fa-check text-success" aria-hidden="true"></i>
                        {{ nphSample.finalizedTs|date('n/j/Y g:ia', app.user.timezone) }}
                        {{ nphSample.finalizedUser.email }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if order.orderType == 'urine' %}
        <hr>
        <h4>
            Color and Clarity
            <span class="toggle-help-image" data-img="{{ asset('img/nph/urine_color_clarity_chart.png') }}">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                <span class="sr-only">Help</span>
            </span>
        </h4>
        <div class="row">
            <div class="form-group col-sm-3">
                <label>Urine Color:</label>
                {{ samplesMetadata ? samplesMetadata['urineColor'] : '-' }}
            </div>
            <div class="form-group col-sm-3">
                <label>Urine Clarity:</label>
                {{ samplesMetadata ? samplesMetadata['urineClarity'] : '-' }}
            </div>
        </div>
    {% endif %}
    {% if order.orderType == 'stool' %}
        <hr>
        <h4>
            Bristol Stool Chart Questions
            <span class="toggle-help-image" data-img="{{ asset('img/nph/bristol_stool_chart.png') }}">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                <span class="sr-only">Help</span>
            </span>
        </h4>
        <div class="form-group">
            <label>Bowel Type:</label>
            {{ samplesMetadata ? samplesMetadata['bowelType'] : '-' }}
        </div>
        <div class="form-group">
            <label>Bowel Quality:</label>
            {{ samplesMetadata ? samplesMetadata['bowelQuality'] : '-' }}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            {{ form_errors(sampleModifyForm) }}
            {{ form_rest(sampleModifyForm) }}
            <p>
                <button type="submit" name="reportable" class="btn btn-danger">{{ type|capitalize }}</button>
                <a href="{{ path('nph_participant_summary', { participantId: participant.id }) }}"
                   class="btn btn-default">Exit</a>
            </p>
        </div>
    </div>
    {{ form_end(sampleModifyForm) }}
{% endblock %}
{% block pagejs %}
    {{ encore_entry_script_tags('nph-order-modify') }}
    {{ encore_entry_script_tags('nph-order') }}
{% endblock %}
