{% macro form_widget(form, orderForm, nailSamples, stoolSamples) %}
    {% for sample in form.children %}
        {% if sample.vars.value in nailSamples %}
            <div class="sub-samples" id="nail_sub_samples">{{ form_widget(sample) }}</div>
        {% elseif sample.vars.value == 'stool' %}
            {{ form_widget(sample) }}
            {{ form_label(orderForm.stoolKit) }}
            {{ form_widget(orderForm.stoolKit) }}
            {% for stoolSample in stoolSamples %}
                {{ form_label(orderForm[stoolSample]) }}
                {{ form_widget(orderForm[stoolSample]) }}
            {% endfor %}
        {% else %}
            {{ form_widget(sample) }}
        {% endif %}
    {% endfor %}
{% endmacro %}
