{% extends biobankView ?? false ? 'program/nph/biobank/base.html.twig' : 'base.html.twig' %}
{% import 'program/nph/order/macros/display-text.html.twig' as macros %}
{% block title %}Sample Aliquot Lookup - {% endblock %}
{% macro module3SalivaGlycerolDisplay(aliquotCode, aliquot, sample, form, i, disabled) %}
    {{ _self.displayAliquotRow(aliquotCode, aliquot, sample, form, i, disabled, true) }}
    {% if aliquot['collectMetadata'] is defined and aliquot['collectMetadata'] == true %}
        {% if sample.unlocked %}
            {% set colspan = 2 %}
        {% else %}
            {% set colspan = 1 %}
        {% endif %}
        {% if i == 0 %}
            {% set firstIteration = true %}
        {% else %}
            {% set firstIteration = false %}
        {% endif %}
        {% for metadataField in aliquot['metadataFields'] %}
            <tr class="aliquots-row-{{ aliquotCode }}{% if firstIteration %} duplicate-target-{{ aliquotCode }} {% endif %}" id="aliquots_{{ aliquotCode }}_{{ i }}" data-sample-index="{{ i }}">
                <td colspan="1">
                    <p style="font-weight: bold;">{{ metadataField['label'] }}</p><span>(1ml = 1000uL)</span>
                </td>
                <td colspan="{{ colspan }}">
                    <label style="position: absolute; display: block; font-weight: normal">Saliva Volume</label>
                    <div class="input-group {% if not form[aliquotCode ~ 'Volume'][i].vars.valid%}has-error{% endif %}" style="width: 45%; float: left; top: 20px; position: relative">
                        {{ form_widget(form[aliquotCode ~ 'Volume'][i], {'attr': {'class': 'form-control aliquot-volume glycerol-volume sample', 'data-warning-target': aliquotCode ~ '-warning-target' ~ i}}) }}
                        <span class="input-group-addon">{{ aliquot['units'] }}</span>
                    </div>
                    <span style="top: 25px; left: 10px; position: relative">+</span>
                    <label style="position: relative; display: block; font-weight: normal; float: right">Glycerol Volume</label>
                    <div class="input-group {% if not form[aliquotCode~metadataField['identifier']][i].vars.valid%}has-error{% endif %}" style="width: 45%; float: right; position: relative; top: -5px">
                    {{ form_widget(form[aliquotCode~metadataField['identifier']][i], {'attr': {'class': 'form-control glycerol-volume aliquot-volume additive',
                        'data-warning-target': aliquotCode ~ '-warning-target-glycerol' ~ i, 'data-warning-max-volume': metadataField['warningMaxVolume'], 'data-warning-min-volume': metadataField['warningMinVolume']}}) }}
                    <span class="input-group-addon">{{ metadataField['units'] }}</span>
                    </div>
                </td>
                <td colspan="2" style="position: relative">
                    <label style="position: relative; display: block; font-weight: normal">Total Volume</label>
                    <span style="top: 35px; left: -5px; position: absolute">=</span>
                    <div class="input-group" style="float: left; position: relative; top: -5px; width: 65%">
                        <input type="text" readonly="readonly" id="totalVol{{ i }}" class="form-control totalVol aliquot-volume" data-warning-min-volume="{{ metadataField['warningMinTotalVolume'] }}"
                        data-warning-max-volume="{{ metadataField['warningMaxTotalVolume'] }}" data-warning-target="{{ aliquotCode }}-warning-target-total{{ i }}">
                        <span class="input-group-addon">mL</span>
                    </div>
                    {% if not sample.disabled %}
                    <i class="fa fa-eraser text-danger clear-aliquot-widget sample-metadata-eraser" style="font-size: 22px" role="button"></i>
                    {% endif %}
                </td>
            </tr>
            <tr class="{% if firstIteration %} duplicate-target-{{ aliquotCode }} {% endif %}">
                <td colspan="3" class="has-error">
                    {{ form_errors(form[aliquotCode ~ 'Volume'][i]) }}
                    {{ form_errors(form[aliquotCode ~ 'glycerolAdditiveVolume'][i]) }}
                    <span class="text-warning aliquot-volume-warning" id="{{ aliquotCode }}-warning-target{{ i }}" style="display: none">
                    Please verify the Saliva Volume unit of measurement is correct.  (Expected volume is in {{ aliquot['units'] }}).<br>
                    </span>
                    <span class="text-warning aliquot-volume-warning" id="{{ aliquotCode }}-warning-target-glycerol{{ i }}" style="display: none">
                    Please verify the Glycerol Volume unit of measurement is correct.  (Expected volume is in {{ metadataField['units'] }}).<br>
                    </span>
                    <span class="text-warning aliquot-volume-warning" id="{{ aliquotCode }}-warning-target-total{{ i }}" style="display: none">
                    Please verify the Total Volume unit of measurement is correct.  (Expected volume is in {{ aliquot['units'] }}).<br>
                    </span>
                </td>
            </tr>
            {% set firstIteration = false %}
        {% endfor %}
    {% endif %}
{% endmacro %}
{% macro displayAliquotRow(aliquotCode, aliquot, sample, form, i, disabled, skipVolume = false) %}
    {% if i == 0 %}
        {% set firstIteration = true %}
    {% else %}
        {% set firstIteration = false %}
    {% endif %}
    {% set aliquotId = form[aliquotCode][i].vars.data %}
    {% set disableTimeVolume = form['cancel_' ~ aliquotCode ~ '_' ~ aliquotId] is defined and form['cancel_' ~ aliquotCode ~ '_' ~ aliquotId].vars.disabled %}
    <tr class="aliquots-row-{{ aliquotCode }}{% if firstIteration %} duplicate-target-{{ aliquotCode }} {% endif %}" id="aliquots_{{ aliquotCode }}_{{ i }}">
        <td {% if not form[aliquotCode][i].vars.valid %}
            class="has-error"{% endif %}>
            {{ form_widget(form[aliquotCode][i], {
                'attr':{'readonly':disabled}}) }}
            {{ form_errors(form[aliquotCode][i]) }}
        </td>
        <td {% if not form[aliquotCode ~ 'AliquotTs'][i].vars.valid %}
            class="has-error"{% endif %} style="position: relative;">
            {{ form_widget(form[aliquotCode ~ 'AliquotTs'][i], {'attr':{'readonly':disableTimeVolume}}) }}
            {{ form_errors(form[aliquotCode ~ 'AliquotTs'][i]) }}
        </td>
        {% if not skipVolume %}
            {{ _self.displayVolumeTD(aliquotCode, aliquot, sample, form, i, disableTimeVolume) }}
        {% elseif skipVolume and sample.unlocked %}
            <td colspan="2"></td>
        {% endif %}
        {% if form['cancel_' ~ aliquotCode ~ '_' ~ aliquotId] is defined %}
            <td class="row">
                <div class="col-md-6">
                    {{ form_widget(form['cancel_' ~ aliquotCode ~ '_' ~ aliquotId]) }}
                </div>
                <div class="col-md-6">
                    {{ form_widget(form['restore_' ~ aliquotCode ~ '_' ~ aliquotId]) }}
                </div>
            </td>
        {% endif %}
    </tr>
{% endmacro %}
{% macro displayVolumeTD(aliquotCode, aliquot, sample, form, i, disable) %}
<td {% if not form[aliquotCode ~ 'Volume'][i].vars.valid %}
    class="has-error"{% endif %}>
    {{ form_widget(form[aliquotCode ~ 'Volume'][i], {'attr':{'readonly':disable}}) }}
    {{ form_errors(form[aliquotCode ~ 'Volume'][i]) }}
    <span class="text-warning aliquot-volume-warning" style="display: none">
        Please verify the volume unit of measurement is correct.  (Expected volume is in {{ aliquot['units'] }}).
    </span>
</td>
<td class="aliquot volume nopadleft" style="position: relative">
    <span style="position: absolute; bottom: 7px; left: 0;">{{ aliquot['units'] }}</span>
    {% if not sample.disabled %}
        <i class="fa fa-eraser text-danger clear-aliquot-widget sample-finalize-eraser" role="button"></i>
    {% endif %}
</td>

{% endmacro %}
{% block body %}
    {% set order = sample.nphOrder %}
    {% set sampleCode =  sample.sampleCode %}
    <div class="page-header">
        <h2><i class="fa fa-medkit" aria-hidden="true"></i> Aliquot Samples</h2>
    </div>
    {{ macros.displayModifyBannerMessage(sample) }}
    {% if sampleModifyForm is not empty %}
        <div>
            <h3>Unlock Sample For Editing</h3>
            {{ form_start(sampleModifyForm, { attr: { class: 'disable-enter prevent-resubmit' } }) }}
            {{ form_errors(sampleModifyForm) }}
            {{ form_rest(sampleModifyForm) }}
            <p>
                <button type="submit" class="btn btn-primary">
                    Unlock Sample
                </button>
                {% if biobankView %}
                    <a href="{{ path('nph_biobank_participant', { biobankId: participant.biobankid }) }}"
                       class="btn btn-default">Exit</a>
                {% else %}
                    <a href="{{ path('nph_participant_summary', { participantId: participant.id }) }}"
                       class="btn btn-default">Exit</a>
                {% endif %}
            </p>
            {{ form_end(sampleModifyForm) }}
            <hr>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-5">
            {% if biobankView %}
                {{ form_start(sampleIdForm, { attr: { action: path('nph_biobank_samples_aliquot') } }) }}
            {% else %}
                {{ form_start(sampleIdForm, { attr: { action: path('nph_samples_aliquot') } }) }}
            {% endif %}
            {{ form_widget(sampleIdForm) }}
            <p>
                <button type="submit" class="btn btn-primary">Go</button>
            </p>
            {{ form_end(sampleIdForm) }}
            <div class="well bg-white">
                <div class="text-center">
                    {% if aliquots %}
                        <p><u>Expected Tubes and Volumes for {{ samples[sampleCode] }}</u></p>
                        {% for aliquot in aliquots %}
                            <p>
                                {{ aliquot.container }}: {{ aliquot.expectedAliquots }}
                                {% if aliquot.expectedVolume %}
                                    <span style="padding: 1em"></span>
                                    Volume: {{ aliquot.expectedVolume|default('--') }} {{ aliquot.units }}
                                {% endif %}
                            </p>
                        {% endfor %}
                    {% endif %}
                    {% if aliquots %}
                        <p><strong>Aliquot Instructions for {{ samples[sampleCode]}}</strong></p>
                    {% else %}
                        <p><strong>Instructions for Stool Kit</strong></p>
                    {% endif %}
                    <a role="button" class="expand-pdf" data-toggle="collapse" data-target="#aliquot_instructions" aria-expanded="true" aria-controls="aliquot_instructions">
                        Aliquot PDF
                    </a>
                    <div class="collapse in" id="aliquot_instructions">
                        <div class="text-right">
                            {% set sampleOrderType = order.orderType %}
                            {% if sampleOrderType == 'stool2' %}
                                {% set sampleOrderType = 'stool' %}
                            {% endif %}
                            <a class="pull-right" href="{{ path('aliquot_instructions_file', { id: sampleOrderType}) }}" target="_blank">
                                <i class="fa fa-external-link" aria-hidden="true"></i> Open/Download
                            </a>
                        </div>
                        <iframe class="pdf" name="pdf" src="{{ path('aliquot_instructions_file', { id: sampleOrderType  }) }}#view=FitH"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            {% include 'program/nph/order/partials/sample-finalize-banner-message.html.twig' %}
            <div class="panel panel-default">
                {% if biobankView %}
                    {% include 'program/nph/order/partials/sample-finalize-participant-details-biobank.html.twig' %}
                {% else %}
                    {% include 'program/nph/order/partials/sample-finalize-participant-details.html.twig' %}
                {% endif %}
                <div class="panel-body">
                    {% if order.downtimeGenerated() %}
                        <div class="alert bg-success well-sm margin-top-15 text-success">
                            <span>This sample was generated as part of a downtime order initiated by: {{ order.downtimeGeneratedUser.getEmail }} on {{ order.downtimeGeneratedTs|date('n/j/Y', app.user.timezone) }}. [Order generation time: {{ order.createdTs|date('n/j/Y g:ia', app.user.timezone)}}] </span>
                        </div>
                    {% endif %}
                    {% if isFormDisabled %}
                        {% set formClasses = 'sample-finalize-form disable-enter prevent-resumbit' %}
                    {% else  %}
                        {% set formClasses = 'sample-finalize-form warn-unsaved disable-enter prevent-resubmit' %}
                    {% endif %}
                    {{ form_start(sampleFinalizeForm, { attr: { class: formClasses} }) }}
                    {{ form_errors(sampleFinalizeForm) }}
                    <div class="form-group {% if not sampleFinalizeForm[sampleCode ~'CollectedTs'].vars.valid %}
                            has-error{% endif %}">
                        {{ form_label(sampleFinalizeForm[sampleCode ~ 'CollectedTs'], null, {'label_attr': {'class': 'required'}}) }}
                        {{ form_widget(sampleFinalizeForm[sampleCode ~'CollectedTs']) }}
                        {{ form_errors(sampleFinalizeForm[sampleCode ~'CollectedTs']) }}
                        {% if order.orderType == constant('App\\Entity\\NphOrder::TYPE_STOOL') or order.orderType == constant('App\\Entity\\NphOrder::TYPE_STOOL_2') %}
                            <span class="text-warning">
                                <i class="fa fa-exclamation-triangle"></i>
                                Changing the collection time for this stool sample will update the collection time for all other associated stool samples within the order.
                            </span>
                        {% endif %}
                    </div>
                    <hr>
                    {% if order.orderType == constant('App\\Entity\\NphOrder::TYPE_24URINE') %}
                        <div class="row">
                            <div class="form-group col-sm-12 {% if not sampleFinalizeForm['totalCollectionVolume'].vars.valid %} has-error{% endif %}">
                                {{ form_label(sampleFinalizeForm['totalCollectionVolume'], null, {'label_attr': {'class': 'required'}}) }}
                                <div class="input-group">
                                    {{ form_widget(sampleFinalizeForm['totalCollectionVolume']) }}
                                    <span class="input-group-addon">mL</span>
                                </div>
                                <span class="text-warning total-collection-volume-warning" style="display: none">
                                    Please verify unit of measure is correct.  (Expected volume is measured mL, for reference 1L = 1000mL).
                                </span>
                                {{ form_errors(sampleFinalizeForm['totalCollectionVolume']) }}
                            </div>
                        </div>
                        <hr>
                    {% endif %}
                    {% if order.orderType == constant('App\\Entity\\NphOrder::TYPE_URINE') or order.orderType == constant('App\\Entity\\NphOrder::TYPE_24URINE')  %}
                        <label>
                            Color and Clarity
                            <span class="toggle-help-image" data-img="{{ asset('img/nph/urine_color_clarity_chart.png') }}">
                            <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
                        </span>
                        </label>
                        <div class="row">
                            <div class="form-group col-sm-6 {% if not sampleFinalizeForm['urineColor'].vars.valid %} has-error{% endif %}">
                                {{ form_label(sampleFinalizeForm['urineColor'], null, {'label_attr': {'class': 'required'}}) }}
                                {{ form_widget(sampleFinalizeForm['urineColor']) }}
                                {{ form_errors(sampleFinalizeForm['urineColor']) }}
                            </div>
                            <div class="form-group col-sm-6 {% if not sampleFinalizeForm['urineClarity'].vars.valid %} has-error{% endif %}">
                                {{ form_label(sampleFinalizeForm['urineClarity'], null, {'label_attr': {'class': 'required'}}) }}
                                {{ form_widget(sampleFinalizeForm['urineClarity']) }}
                                {{ form_errors(sampleFinalizeForm['urineClarity']) }}
                            </div>
                        </div>
                        <hr>
                    {% endif %}
                    {% if order.orderType == constant('App\\Entity\\NphOrder::TYPE_STOOL') or order.orderType == constant('App\\Entity\\NphOrder::TYPE_STOOL_2') %}
                        <label>
                            Bristol Stool Chart Questions
                            <span class="toggle-help-image" data-img="{{ asset('img/nph/bristol_stool_chart.png') }}">
                            <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
                        </span>
                        </label>
                        <div class="form-group {% if not sampleFinalizeForm['bowelType'].vars.valid %} has-error{% endif %}">
                            {{ form_label(sampleFinalizeForm['bowelType']) }}
                            {{ form_widget(sampleFinalizeForm['bowelType']) }}
                            {{ form_errors(sampleFinalizeForm['bowelType']) }}
                        </div>
                        <div class="form-group {% if not sampleFinalizeForm['bowelQuality'].vars.valid %} has-error{% endif %}">
                            {{ form_label(sampleFinalizeForm['bowelQuality']) }}
                            {{ form_widget(sampleFinalizeForm['bowelQuality']) }}
                            {{ form_errors(sampleFinalizeForm['bowelQuality']) }}
                        </div>
                        <span class="text-warning">
                            <i class="fa fa-exclamation-triangle"></i>
                            Changing the questions for this stool sample will update the questions for all other associated stool samples within the order.
                        </span>
                        <hr>
                        <div class="form-group {% if not sampleFinalizeForm['freezedTs'].vars.valid %} has-error{% endif %}">
                            {{ form_label(sampleFinalizeForm['freezedTs']) }}
                            {% if isFreezeTsDisabled %}
                                <i class="fas fa-exclamation-circle text-danger"
                                   title="This sample was collected prior to the Freeze Time implementation. Freeze Time may not be entered for this sample."
                                   data-toggle="tooltip" data-container="body"></i>
                            {% endif %}
                            {{ form_widget(sampleFinalizeForm['freezedTs']) }}
                            {{ form_errors(sampleFinalizeForm['freezedTs']) }}
                        </div>
                        <div class="text-warning">
                            <i class="fa fa-exclamation-triangle"></i>
                            Changing the freeze time for this stool sample will update the freeze time for all other associated stool samples within the order.
                        </div>
                        <hr>
                    {% endif %}
                    <div class="panel-heading text-warning bg-warning" id="aliquotTimeWarning" hidden="hidden">
                        <p><i class="fa fa-warning"></i> Please ensure collection and aliquot times are correct.</p>
                        <ul>
                            <li>As a general guideline, samples should be aliquoted within 2 hours of collection.</li>
                            <li>Double check the AM/PM selection for each time.</li>
                            <li>If the times entered are correct, you may continue with finalization.</li>
                        </ul>
                    </div>
                    <div class="panel-heading text-warning bg-warning" id="freezeTimeWarning" hidden="hidden">
                        <p><i class="fa fa-warning"></i> Please ensure the Collection Time and Freeze Time are correct.</p>
                        <ul>
                            <li>As a general guideline, the Freeze Time should be less than 72 hours after Collection Time.</li>
                            <li>Double check the AM/PM selection for each time.</li>
                            <li>If the times entered are correct, please enter the reason why the Freeze Time is greater than 72 hours from collection in the notes below. You may continue with finalization.</li>
                        </ul>
                    </div>
                    <span></span>
                    <label>Aliquot</label>
                    {% if aliquots is not empty %}
                        <table class="table table-samples">
                            <thead>
                            <tr>
                                <td class="col-md-4 required aliquot-tube-td" id="aliquot-tube">Matrix Aliquot Tube/Aliquot Container</td>
                                <td class="col-md-4 required">Aliquot Time</td>
                                <td class="col-md-2 required">Volume</td>
                                <td class="col-md-1"></td>
                                {% if sample.modifyType == constant('UNLOCK', sample) %}
                                    <td class="col-md-1">Remove&nbsp;&nbsp;Restore</td>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                                <tr><td colspan="4" class="aliquot-barcode-error text-danger"></td></tr>
                                {% for aliquotCode, aliquot in aliquots %}
                                    <tr id="aliquots_fields_list_{{ aliquotCode }}"
                                        data-aliquot-id="{{ aliquotCode }}"
                                        data-aliquot-units="{{ aliquot['units'] }}"
                                        data-code-prototype="{{ form_widget(sampleFinalizeForm[aliquotCode].vars
                                        .prototype)|e }}"
                                        data-ts-prototype="{{ form_widget(sampleFinalizeForm[aliquotCode ~ 'AliquotTs'].vars
                                        .prototype)|e }}"
                                        data-volume-prototype="{{ form_widget(sampleFinalizeForm[aliquotCode ~ 'Volume'].vars
                                        .prototype)|e }}"
                                        data-widget-tags='<tr class="aliquots-row-{{ aliquotCode }}"></tr>'
                                        data-widget-counter="{{ sampleFinalizeForm[aliquotCode]|length }}">
                                        <td colspan="4" class="font-it">
                                            <em>{{ aliquot['container'] }}</em>
                                        </td>
                                    </tr>
                                    {% set aliquotCount = sampleData[aliquotCode] is defined ?
                                        sampleData[aliquotCode]|length : aliquot['expectedAliquots'] %}
                                    {% for i in range(0, aliquotCount - 1) %}
                                        {% if sampleFinalizeForm[aliquotCode][i] is defined %}
                                            {% set aliquotId = sampleFinalizeForm[aliquotCode][i].vars.data %}
                                            {% set disabled = sampleFinalizeForm['cancel_' ~ aliquotCode ~ '_' ~ aliquotId] is defined ? true : false %}
                                            {% if sample.nphAliquotsStatus[sampleFinalizeForm[aliquotCode][i]
                                            .vars.data] is defined %}
                                                <tr>
                                                    <td colspan="5">
                                                        {{ macros.displayAliquotStatus(sample.nphAliquotsStatus[sampleFinalizeForm[aliquotCode][i]
                                                        .vars.data]) }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if aliquotCode == 'SALIVAA2' %}
                                                {{ _self.module3SalivaGlycerolDisplay(aliquotCode, aliquot, sample, sampleFinalizeForm, i, disabled) }}
                                            {% else %}
                                                {{ _self.displayAliquotRow(aliquotCode, aliquot, sample, sampleFinalizeForm, i, disabled) }}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if not sample.disabled and (aliquot['addNew'] or sample.unlocked) %}
                                        <tr>
                                            <td>
                                                <a type="button" class="add-aliquot-widget"
                                                   data-list-selector="#aliquots_fields_list_{{ aliquotCode }}" data-aliquot-code="{{ aliquotCode }}">+ Add Line</a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                <tr>
                                    <td colspan="4" {% if not sampleFinalizeForm['aliquotError'].vars.valid %}
                                        class="has-error"{% endif %}>{{ form_errors(sampleFinalizeForm['aliquotError']) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    {% else %}
                        <p class="text-danger">
                            Stool samples will not be aliquoted. Enter the collection information and then finalize
                            the sample.
                        </p>
                    {% endif %}
                    <div style="display: none">{{ form_widget(sampleFinalizeForm['aliquotError']) }}</div>
                    <hr>
                    <div class="form-group">
                        {{ form_label(sampleFinalizeForm[sampleCode ~ 'Notes']) }}
                        {{ form_widget(sampleFinalizeForm[sampleCode ~ 'Notes']) }}
                        {{ form_errors(sampleFinalizeForm[sampleCode ~ 'Notes']) }}
                    </div>
                    <p>
                        <button type="submit" class="btn btn-primary" id="sample_finalize_btn"
                                {% if (not (order.orderType == constant('App\\Entity\\NphOrder::TYPE_STOOL')) and biobankView) or isFormDisabled %}
                                    disabled
                                {% endif %}>
                            Mark as Finalized
                        </button>
                        {% if biobankView %}
                            <a href="{{ path('nph_biobank_samples_aliquot') }}" class="btn btn-default">Cancel</a>
                        {% else %}
                            <a href="{{ path('nph_samples_aliquot') }}" class="btn btn-default">Cancel</a>
                        {% endif %}
                    </p>
                    {{ form_end(sampleFinalizeForm) }}
                    {% if sample.modifyType == 'unlock' %}
                        <div class="pull-right">
                            {{ form_start(revertForm, { 'action': path('nph_sample_revert', { participantId: participant.id, orderId: order.id, sampleId: sample.id }), 'method': 'POST', attr: { class: 'revert-form disable-enter prevent-resubmit' }}) }}
                            {{ form_errors(revertForm) }}
                            {{ form_end(revertForm) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'program/nph/order/partials/sample-finalize-confirmation-modal.html.twig' %}
{% endblock %}
{% block pagejs %}
    {{ encore_entry_script_tags('nph-order') }}
    {{ encore_entry_script_tags('nph-sample-finalize') }}
    {{ encore_entry_script_tags('nph-order-modify') }}
{% endblock %}
