{% macro form_widget(orderForm, timePoint, nailSamples, stoolSamples, samplesOrderIds, participantId, module, visit) %}
    {% set formField = orderForm[timePoint] %}
    {% for sample in formField.children %}
        {% if sample.vars.value in nailSamples %}
            <div class="sub-samples nail-sub-samples">
                {{ form_widget(sample) }}
                {% if samplesOrderIds[timePoint][sample.vars.value] is defined %}
                    {{ _self.displayOrderId(samplesOrderIds[timePoint][sample.vars.value], participantId, module, visit) }}
                {% endif %}
            </div>
        {% elseif sample.vars.value == 'STOOL' %}
            {{ form_widget(sample) }}
            {{ form_label(orderForm.stoolKit) }}
            {{ form_widget(orderForm.stoolKit) }}
            <br>
            {% for stoolSample in stoolSamples %}
                {{ form_label(orderForm[stoolSample]) }}
                {% if samplesOrderIds[timePoint][stoolSample] is defined %}
                    {{ _self.displayOrderId(samplesOrderIds[timePoint][stoolSample], participantId, module, visit) }}
                {% endif %}
                {{ form_widget(orderForm[stoolSample]) }}
                <br>
            {% endfor %}
        {% else %}
            {{ form_widget(sample) }}
            {% if samplesOrderIds[timePoint][sample.vars.value] is defined %}
                {{ _self.displayOrderId(samplesOrderIds[timePoint][sample.vars.value], participantId, module, visit) }}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro displayOrderId(order, participantId, module, visit) %}
    <div>
        Order ID:
        <a href="{{ path('nph_order_collect', {'participantId': participantId, 'orderId': order['id']}) }}">
            {{ order['orderId'] }}
        </a>
        <a href="{{ path('nph_order_label_print', {'participantId': participantId, 'module': module, 'visit': visit}) }}"
           class="btn btn-primary btn-xs">
            Reprint Labels
        </a>
    </div>
{% endmacro %}
