{% set currentRoleNav = 'problem_reports' %}
{% extends 'base.html.twig' %}
{% block title %}Unanticipated Problem Reports - {% endblock %}
{% block bodycontainer %}container-fluid{% endblock %}
{% block body %}
    <div class="page-header">
        <h2><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Unanticipated Problem Reports</h2>
    </div>
    <table class="table table-striped table-bordered table-small" id="problem_reports" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Participant Id</th>
                <th>Problem Type</th>
                <th>Enrollment Site</th>
                <th>Staff Name</th>
                <th>Problem Date</th>
                <th>Created</th>
                <th>Finalized</th>
                <th>Comments</th>
                <th>Last Updated</th>
                <th class="no-sort"></th>
            </tr>
        </thead>
        <tbody>
            {% for problemRow in problems %}
                {% set problem = problemRow[0] %}
                <tr>
                    <td><a href="{{ path('problem_details', {problemId: problem.id }) }}">{{ problem.id }}</a></td>
                    <td>{{ problem.participantId }}</td>
                    <td>
                        {% if problem.problemType == optionsValue[0] %}
                            {{ optionsText[0] }}
                        {% elseif problem.problemType == optionsValue[1] %}
                            {{ optionsText[1] }}
                        {% else %}
                            {{ optionsText[2] }}
                        {% endif %}
                    </td>
                    <td>{{ problem.enrollmentSite }}</td>
                    <td>{{ problem.staffName }}</td>
                    <td>{{ problem.problemDate ? problem.problemDate|date('m/d/Y') }}</td>
                    <td>{{ problem.createdTs ? problem.createdTs|date('m/d/Y') }}</td>
                    <td>
                        {% if problem.finalizedTs %}
                            {{ problem.finalizedTs|date('m/d/Y') }}
                        {% else %}
                            <span class="label label-danger">Draft</span>
                        {% endif %}
                    </td>
                    <td>{{ problemRow.commentCount }}</td>
                    <td>{{ problemRow.lastUpdateTs ? problemRow.lastUpdateTs|date('m/d/Y') }}</td>
                    <td><a href="{{ path('problem_details', {problemId: problem.id }) }}">View Details</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('problem-reports') }}
{% endblock %}
