{% set currentRoleNav = 'problem_reports' %}
{% extends 'base.html.twig' %}
{% block title %}Unanticipated Problem Details - {% endblock %}
{% block bodycontainer %}container-fluid{% endblock %}
{% block body %}
    <div class="container-fluid" id="problem-details">
        <div class="row">
            <div class="col-sm-{{ comments ? '8' : '12' }}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            Unanticipated Problem Details
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <tr>
                                <th>Problem Type</th>
                                <td>{{ problem.problemType }}</td>
                            </tr>
                            <tr>
                                <th>Enrollment Site</th>
                                <td>{{ problem.enrollmentSite }}</td>
                            </tr>
                            <tr>
                                <th>Staff Name</th>
                                <td>{{ problem.staffName }}</td>
                            </tr>
                            <tr>
                                <th>Problem Date</th>
                                <td>{{ problem.problemDate ? problem.problemDate|date('n/j/Y g:ia', app.user.timezone) }}</td>
                            </tr>
                            <tr>
                                <th>Date provider became aware of problem</th>
                                <td>{{ problem.providerAwareDate ? problem.providerAwareDate|date('n/j/Y g:ia', app.user.timezone) }}</td>
                            </tr>
                            <tr>
                                <th>Problem Description</th>
                                <td>{{ problem.description|nl2br }}</td>
                            </tr>
                            <tr>
                                <th>Action Taken</th>
                                <td>{{ problem.actionTaken|nl2br }}</td>
                            </tr>
                            <tr>
                                <th>Created</th>
                                <td>{{ problem.createdTs ? problem.createdTs|date('n/j/Y g:ia', app.user.timezone) }}</td>
                            </tr>
                            <tr>
                                <th>Updated</th>
                                <td>{{ problem.updatedTs ? problem.updatedTs|date('n/j/Y g:ia', app.user.timezone) }}</td>
                            </tr>
                            <tr>
                                <th>Finalized</th>
                                <td>{{ problem.finalizedTs ? problem.finalizedTs|date('n/j/Y g:ia', app.user.timezone) }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            {% if comments %}
            <div class="col-sm-4">
                <h4><i class="fa fa-comments" aria-hidden="true"></i> Comments</h4>
            {% for comment in comments %}
                {% if loop.index == 6 %}
                    <div id="comment-overflow">
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                    <strong>{{ comment.staffName }}</strong> <small class="text-muted">Commented on {{ comment.createdTs|date('D n/j/Y g:ia', app.user.timezone) }}</small>
                    </div>
                    <div class="panel-body">
                    {{ comment.comment|nl2br }}
                    </div>
                </div>
            {% endfor %}
            {% if comments|length > 5 %}
                </div>
                <a href="#" class="btn btn-block btn-lg btn-default" id="comment-overflow-show">
                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> Show all
                </a>
            {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block pagejs %}
<script>
$(document).ready(function() {
    $('#comment-overflow-show').on('click', function(e) {
        $(this).hide();
        $('#comment-overflow').show();
        e.preventDefault();
    });
});
</script>
{% endblock %}
