{% extends 'base.html.twig' %}
{% block title %}Participant Work Queue - {% endblock %}
{% block bodycontainer %}container-fluid{% endblock %}
{% block body %}
    {% include 'workqueue/_page_heading.html.twig' %}

    {% if isRdrError %}
        <div class="alert alert-danger">
            There was a problem with your request. Please refresh the page to try again.
        </div>
    {% endif %}
    <div id="workqueue_consents_row">
        <form id="filters" class="disable-enter">
            <div class="well">
                {% if filters.awardee is defined %}
                    <p><strong>Awardee</strong></p>
                    <div class="form-inline">
                        <select name="awardee" class="form-control input-sm">
                            {% for label, value in filters.awardee.options %}
                                <option value="{{ value }}"{% if awardee == value %} selected="selected"{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br/>
                {% endif %}
                <p><strong>Filters</strong>
                    <small><a href="{{ path('workqueue_consents', { reset: 'all' }) }}">Reset All</a></small>
                </p>
                <div class="form-inline">
                    {% include 'partials/workqueue-advance-filters.html.twig' %}
                </div>
            </div>
            {# Not using siteAwardeeDisplayName field from session as the awardee/organization is variable for STSI users #}
            <h4 id="heading-count" style="display:none"><span class="count"></span> {{ params|length > 0 ? ' matching' }} participant<span class="plural">s</span> ({{ awardee == 'salivary_pilot' ? 'Salivary Pilot' : siteInfo.awardeeDisplayName(awardee) }})</h4>
            {% include 'partials/workqueue-consents-columns.html.twig' %}
            {% include 'partials/workqueue-page-export.html.twig' %}
            <table class="table table-striped table-bordered table-small workqueue-table" id="workqueue_consents" width="100%" data-columns-def="{{ columnsDef|json_encode() }}" data-wq-columns="{{ consentColumns|json_encode() }}">
                <thead>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Middle Initial</th>
                    <th>Date of Birth</th>
                    <th>PMI ID</th>
                    <th class="col-consent">Primary Consent</th>
                    <th class="col-consent">Program Update</th>
                    <th class="col-consent">EHR Consent</th>
                    <th class="col-consent">EHR Expiration Status</th>
                    <th class="col-consent">gRoR Consent</th>
                    <th class="col-consent">DV-only EHR Sharing <span title="Direct Volunteer participants are not asked to consent to share EHR data, but are asked if they would be willing to in the future." data-toggle="tooltip" data-container="body"><i class="fa fa-info-circle"></i></span></th>
                    <th class="col-consent">CABoR Consent <span title="California Research Subjects' Bill of Rights is required for participants only by enrollment sites in California" data-toggle="tooltip" data-container="body"><i class="fa fa-info-circle"></i></span></th>
                    {% for type, label in digitalHealthSharingTypes %}
                        <th class="col-consent">{{ label }}</th>
                    {% endfor %}
                    <th class="col-consent">Consent Cohort</th>
                    <th class="col-consent">Language of Primary Consent</th>
                </tr>
                </thead>
                <tbody id="participant_info"></tbody>
            </table>
            {% include 'partials/workqueue-page-export.html.twig' %}
            <br>
        </form>
    </div>
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('workqueue-consents') }}
    {{ encore_entry_script_tags('workqueue-filters') }}
{% endblock %}
