{% extends 'base.html.twig' %}
{% block title %}Participant Work Queue - {% endblock %}
{% block bodycontainer %}container-fluid{% endblock %}
{% block body %}
    {% set viewType = app.request.get('viewId') ? 'custom' : 'main' %}
    {% set viewId = app.request.get('viewId') %}
    {% set currentUrl = app.request.requesturi %}
    {% include 'workqueue/_page_heading.html.twig' %}

    {% if isRdrError %}
        <div class="alert alert-danger">
            There was a problem with your request. Please refresh the page to try again.
        </div>
    {% endif %}

    <form id="filters">
        <div class="well">
            {% if filters.awardee is defined %}
                <p><strong>Awardee</strong></p>
                <div class="form-inline">
                    <select name="awardee" class="form-control input-sm">
                        {% for label, value in filters.awardee.options %}
                            <option value="{{ value }}"{% if awardee == value %} selected="selected"{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <br/>
            {% endif %}
            <p><strong>Filters</strong>
                {% if workQueueView %}
                    {% set queryParams = workQueueView.filtersArray|merge({ 'viewId': workQueueView.id }) %}
                    {% set resetPath = path('workqueue_customized_view', queryParams) %}
                {% else %}
                    {% set resetPath = path('workqueue_main', { reset: 'all' }) %}
                {% endif %}
                <small><a href="{{ resetPath }}">Reset All</a></small>
            </p>
            <div class="form-inline">
                {% include 'partials/workqueue-advance-filters.html.twig' %}
            </div>
        </div>

        {# Not using siteAwardeeDisplayName field from session as the awardee/organization is variable for STSI users #}
        <h4 id="heading-count" style="display:none"><span class="count"></span> {{ params|length > 0 ? ' matching' }} participant<span class="plural">s</span> ({{ awardee == 'salivary_pilot' ? 'Salivary Pilot' : siteInfo.awardeeDisplayName(awardee) }})</h4>
        {% include 'partials/workqueue-columns.html.twig' %}
        {% set exportType = 'main' %}
        {% include 'partials/workqueue-page-export.html.twig' %}
    </form>

    <table class="table table-striped table-bordered table-small workqueue-table" id="workqueue" width="100%"
           data-export-limit="{{ exportConfiguration.limit }}" data-dv-type="{{ app.session.get('siteType') }}"
           data-columns-def="{{ columnsDef|json_encode() }}" data-wq-columns="{{ columns|json_encode() }}"
           data-view-id="{{ viewId }}">
        <thead>
        <tr>
            <th rowspan="2" class="col-group-name">Last Name</th>
            <th rowspan="2" class="col-group-name">First Name</th>
            <th rowspan="2" class="col-group-name">Middle Initial</th>

            <th rowspan="2" class="col-group-default col-group-consent">Date of Birth</th>
            <th rowspan="2" class="col-group-default col-group-info">PMI ID</th>
            <th rowspan="2" class="col-group-info">Biobank ID</th>
            <th rowspan="2" class="col-group-default col-group-consent">Participant Status</th>
            <th rowspan="2" class="col-group-info">Core Data Status</th>
            <th rowspan="2" class="col-group-default col-group-info col-group-consent">Activity Status</th>
            <th rowspan="2" class="col-group-info col-group-consent">Withdrawal Reason</th>
            <th rowspan="2" class="col-group-default col-group-pediatric">Pediatric Status <i class="fa fa-child child-icon"></i> </th>
            <th rowspan="2" class="{{ app.session.get('siteType') == 'dv' ? 'col-group-default' : 'col-group-info' }}">Participant Origination</th>

            <th colspan="13" class="topheader multiheader-consent">Consent</th>

            <th colspan="5" class="topheader multiheader-metrics">Metrics</th>

            <th colspan="4" class="topheader multiheader-patient-status">Patient Status</th>

            <th colspan="10" class="topheader multiheader-contact">Contact</th>

            <th colspan="{{ (surveys|length) + 2 }}" class="topheader multiheader-survey">PPI Survey Completion</th>

            <th colspan="{{ (samples|length) + 11 }}" class="topheader multiheader-inperson">In-Person Enrollment</th>

            <th colspan="5" class="topheader multiheader-demographics">Demographics</th>
            <th colspan="1" class="topheader multiheader-ancillary">Ancillary Studies</th>
        </tr>
        <tr>
            <th class="secondaryheader col-group-default col-group-info col-group-consent-cohort col-group-consent multiheader-consent">Consent Cohort</th>
            <th class="secondaryheader col-group-default col-group-info col-group-consent multiheader-consent">Primary Consent</th>
            <th class="secondaryheader col-group-default col-group-info col-group-program-update col-group-consent multiheader-consent">Program Update</th>
            <th class="secondaryheader col-group-default col-group-info col-group-consent multiheader-consent">EHR Consent</th>
            <th class="secondaryheader col-group-info col-group-ehr-expire-status col-group-consent multiheader-consent">EHR Expiration Status</th>
            <th class="secondaryheader col-group-default col-group-info col-group-consent multiheader-consent">gRoR Consent</th>
            <th class="secondaryheader col-group-default col-group-info col-group-language-primary-consent col-group-consent multiheader-consent">Language of Primary Consent</th>
            <th class="secondaryheader col-group-info col-group-consent multiheader-consent">DV-only EHR Sharing <span title="Direct Volunteer participants are not asked to consent to share EHR data, but are asked if they would be willing to in the future." data-toggle="tooltip" data-container="body"><i class="fa fa-info-circle"></i></span></th>
            <th class="secondaryheader col-group-info col-group-consent multiheader-consent">CABoR Consent <span title="California Research Subjects' Bill of Rights is required for participants only by enrollment sites in California" data-toggle="tooltip" data-container="body"><i class="fa fa-info-circle"></i></span></th>
            {% for type, label in digitalHealthSharingTypes %}
                <th class="secondaryheader col-group-info col-group-consent multiheader-consent">{{ label }}</th>
            {% endfor %}
            <th class="secondaryheader col-group-info col-group-consent multiheader-consent">Exploring the Mind Consent</th>

            <th class="secondaryheader col-group-metrics col-group-retention multiheader-metrics">Retention Eligibile</th>
            <th class="secondaryheader col-group-metrics col-group-retention multiheader-metrics">Retention Status</th>
            <th class="secondaryheader col-group-metrics col-group-metrics-ehr multiheader-metrics">EHR Data Transfer</th>
            <th class="secondaryheader col-group-metrics col-group-metrics-ehr multiheader-metrics">Most Recent EHR Receipt</th>
            <th class="secondaryheader col-group-metrics multiheader-metrics">Health Data Stream</th>

            <th class="secondaryheader col-group-patient-status multiheader-patient-status">Yes</th>
            <th class="secondaryheader col-group-patient-status multiheader-patient-status">No</th>
            <th class="secondaryheader col-group-patient-status multiheader-patient-status">No Access</th>
            <th class="secondaryheader col-group-patient-status multiheader-patient-status">Unknown</th>

            <th class="secondaryheader col-group-contact multiheader-contact">Contact Method</th>
            <th class="secondaryheader col-group-contact multiheader-contact">Street Address</th>
            <th class="secondaryheader col-group-contact multiheader-contact">Street Address 2</th>
            <th class="secondaryheader col-group-contact multiheader-contact">City</th>
            <th class="secondaryheader col-group-contact multiheader-contact">State</th>
            <th class="secondaryheader col-group-contact multiheader-contact">Zip</th>
            <th class="secondaryheader col-group-contact multiheader-contact">Email <span title="This is either the registration email or the email provided after consent if the participant registered with a phone number" data-toggle="tooltip" data-container="body"><i class="fa fa-info-circle" aria-hidden="true"></i></span></th>
            <th class="secondaryheader col-group-contact multiheader-contact">Login Phone <span title="This is the verified SMS number used during registration" data-toggle="tooltip" data-container="body"><i class="fa fa-info-circle" aria-hidden="true"></i></span></th>
            <th class="secondaryheader col-group-contact multiheader-contact">Contact Phone <span title="This is the phone number provided after consent" data-toggle="tooltip" data-container="body"><i class="fa fa-info-circle" aria-hidden="true"></i></span></th>
            <th class="secondaryheader col-group-contact multiheader-contact">Related Participants <i class="fa fa-child child-icon"></i> </th>

            <th class="secondaryheader col-group-ppi col-group-default multiheader-survey">Required Complete?</th>
            <th class="secondaryheader col-group-ppi col-group-default multiheader-survey">Completed Surveys</th>
            {% for field, label in surveys %}
                <th class="secondaryheader col-group-ppi multiheader-survey">{{ label }}{% if field in pedsFields %} <i class="fa fa-child child-icon"></i> {% endif %}</th>
            {% endfor %}

            <th class="secondaryheader col-group-inperson col-group-default multiheader-inperson">Enrollment Site</th>
            <th class="secondaryheader col-group-inperson col-group-default multiheader-inperson">Paired Site {{ display_message('pairing_info', 'tooltip')|raw }}</th>
            <th class="secondaryheader col-group-inperson col-group-default multiheader-inperson">Paired Organization {{ display_message('pairing_info', 'tooltip')|raw }}</th>
            <th class="secondaryheader col-group-inperson multiheader-inperson">ID Verification</th>
            <th class="secondaryheader col-group-inperson multiheader-inperson">Incentive</th>
            <th class="secondaryheader col-group-inperson multiheader-inperson">Remote Phys Measurements</th>
            <th class="secondaryheader col-group-inperson col-group-default multiheader-inperson">Phys Measurements</th>
            <th class="secondaryheader col-group-inperson multiheader-inperson">Phys Meas Site</th>
            <th class="secondaryheader col-group-inperson col-group-default multiheader-inperson">Samples to Isolate DNA? <span title="This is a count of all biospecimens received by the Biobank from which DNA could be extracted. This includes EDTA tube samples and saliva samples." data-toggle="tooltip" data-container="body"><i class="fa fa-info-circle"></i></span></th>
            <th class="secondaryheader col-group-inperson col-group-default multiheader-inperson">Baseline Samples <span title="The count of baseline biospecimens which have been received by the Biobank does NOT include saliva samples, as these are collected as an alternative to blood samples for DNA extraction." data-toggle="tooltip" data-container="body"><i class="fa fa-info-circle"></i></span></th>
            <th class="secondaryheader col-group-inperson multiheader-inperson">Bio&shy;specimens Site</th>
            {% for field, label in samples %}
                <th class="secondaryheader col-group-inperson multiheader-inperson">{{ label }}{% if field in pedsFields %} <i class="fa fa-child child-icon"></i> {% endif %}</th>
            {% endfor %}

            <th class="secondaryheader col-group-demographics multiheader-demographics">Age</th>
            <th class="secondaryheader col-group-demographics multiheader-demographics">Sex</th>
            <th class="secondaryheader col-group-demographics multiheader-demographics">Gender Identity</th>
            <th class="secondaryheader col-group-demographics multiheader-demographics">Race/Ethnicity</th>
            <th class="secondaryheader col-group-demographics multiheader-demographics">Education</th>
            <th class="secondaryheader col-group-ancillarystudies multiheader-ancillary">Nutrition for Precision Health</th>
        </tr>
        </thead>
        <tbody id="participant_info"></tbody>
    </table>
    {% include 'partials/workqueue-page-export.html.twig' %}
    <br>
    {% include 'workqueue/partials/consent-modal-placeholder.html.twig' %}
    {% include 'workqueue/partials/save-view-modal-placeholder.html.twig' %}
    {% include 'workqueue/partials/edit-view-modal-placeholder.html.twig' %}
    {% include 'workqueue/partials/manage-views-modal.html.twig' %}
    {% include 'workqueue/partials/delete-view-modal.html.twig' %}
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('workqueue') }}
    {{ encore_entry_script_tags('workqueue-filters') }}
    {{ encore_entry_script_tags('workqueue-views') }}
    {{ encore_entry_script_tags('export-warning-modal') }}
{% endblock %}
