{% extends 'base.html.twig' %}
{% block title %}Participant {{ participant.id }} - {% endblock %}
{% block body %}
    <div class="page-header">
        <h2>{{ participant.lastName }}, {{ participant.firstName }} {{ participant.middleName }}
            <small>{{ participant.shortId }}</small>
        </h2>
    </div>

    <div class="row">
        <div class="col-sm-6">
            {% include 'partials/participant-dl.html.twig' %}
        </div>
        <div class="col-sm-6 text-center">
            <svg id="participant-barcode"></svg>
        </div>
    </div>

    {% if cacheEnabled %}
        <div class="row">
            <div class="col-sm-12 text-center">
                <small>
                    Last updated: {{ participant.cacheTime ? participant.cacheTime|date('g:ia', app.user.timezone) }}
                    <a href="{{ path('workqueue_participant', { id: participant.id, refresh: 1 }) }}" style="margin-left: 6px"><i class="fa fa-refresh" aria-hidden="true"></i> refresh</a>
                </small>
            </div>
        </div>
    {% endif %}

    {% include 'partials/participant-consent.html.twig' %}

    {% if participant.status and not siteInfo.isTestSite %}
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                {% include 'partials/participant-measurement-list.html.twig' %}
            </div>
            <div class="col-sm-6 col-lg-4">
                {% include 'partials/participant-orders-list.html.twig' %}
            </div>
            <div class="col-sm-6 col-lg-4">
                {% include 'partials/participant-unanticipated-problems-list.html.twig' %}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3">
                {% include 'partials/participant-notice.html.twig' %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('workqueue-participant') }}
{% endblock %}
