{% extends 'program/hpo/ppsc/base.html.twig' %}
{% block title %}Physical Measurements Blood Donor Check- {% endblock %}
{% block body %}
    <div>
        <div class="page-header">
            <h2>
                <i class="fa fa-clipboard" aria-hidden="true"></i> New Physical Measurements
            </h2>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    Blood Donor Check
                </h3>
            </div>
            <div class="panel-body">
                {{ form_start(bloodDonorCheckForm, { attr: {
                    class: 'disable-enter prevent-resubmit',
                    novalidate: 'novalidate'
                } }) }}
                {{ form_errors(bloodDonorCheckForm) }}

                {{ form_row(bloodDonorCheckForm.bloodDonor) }}

                <div id="blood-donor-type" class="hidden">
                    {{ form_row(bloodDonorCheckForm.bloodDonorType) }}
                </div>

                <a href="{{ path('participant', { id: participant.id }) }}" class="btn btn-default blood-donor-cancel" type="button">Cancel</a>

                <div class="pull-left">
                    <button type="submit" class="btn btn-primary">Continue</button>
                </div>

                {{ form_end(bloodDonorCheckForm) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block pagejs %}
    {{ encore_entry_script_tags('measurement-blood-donor-check') }}
{% endblock %}
