{% extends 'program/hpo/ppsc/base.html.twig' %}
{% block title %}Physical Measurements Blood Donor Check- {% endblock %}
{% block bodycontainer %}container-fluid{% endblock %}
{% block body %}
    <div>
        <div class="page-header pb-1 mb-3 border-bottom">
            <h2>
                <i class="fa fa-clipboard" aria-hidden="true"></i> New Physical Measurements
            </h2>
        </div>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title h5 mb-0">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    Blood Donor Check
                </h3>
            </div>
            <div class="card-body">
                {{ form_start(bloodDonorCheckForm, { attr: {
                    class: 'disable-enter prevent-resubmit',
                    novalidate: 'novalidate'
                } }) }}
                {{ form_errors(bloodDonorCheckForm) }}

                {{ form_row(bloodDonorCheckForm.bloodDonor) }}

                <div id="blood-donor-type" class="d-none">
                    {{ form_row(bloodDonorCheckForm.bloodDonorType) }}
                </div>

                <a href="{{ path('participant', { id: participant.id }) }}" class="btn btn-secondary blood-donor-cancel" type="button">Cancel</a>

                <div class="float-start">
                    <button type="submit" class="btn btn-primary">
                        Continue
                        <span id="spinner" class="spinner-border spinner-border-sm-bs5" style="display: none;"></span>
                    </button>
                </div>

                {{ form_end(bloodDonorCheckForm) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block pagejs %}
    {{ encore_entry_script_tags('measurement-blood-donor-check') }}
{% endblock %}
