{% extends 'program/hpo/ppsc/base.html.twig' %}
{% block title %}Physical Measurements - {% endblock %}
{% block body %}
    {% import 'macros/display-text.html.twig' as macros %}
    {% set participantRoute = readOnlyView ? 'read_participant' : 'participant' %}
    <div id="physicalEvaluation"
         data-schema-template="{{ schema.template is defined ? schema.template : '0.1' }}"
         data-warnings="{{ warnings|json_encode|escape('html_attr') }}"
         data-conversions="{{ conversions|json_encode|escape('html_attr') }}"
         data-finalized="{{ (measurement and (measurement.finalizedTs or measurement.isEvaluationCancelled)) or (readOnlyView or inactiveSiteFormDisabled ? 1 : 0) }}"
         data-age-in-months="{{ participant.ageInMonths }}"
         data-sex-at-birth="{{ participant.sexAtBirth }}"
         data-age-in-years="{{ participant.age }}"
         data-weight-for-age-charts="{{ weightForAgeCharts|json_encode }}"
         data-weight-for-length-charts="{{ weightForLengthCharts|json_encode }}"
         data-height-for-age-charts="{{ heightForAgeCharts|json_encode }}"
         data-head-circumference-for-age-charts="{{ headCircumferenceForAgeCharts|json_encode }}"
         data-bmi-for-age-charts="{{ bmiForAgeCharts|json_encode }}"
         data-bp-systolic-height-percentile-charts="{{ bpSystolicHeightPercentileChart|json_encode }}"
         data-bp-diastolic-height-percentile-charts="{{ bpDiastolicHeightPercentileChart|json_encode }}"
         data-heart-rate-age-charts="{{ heartRateAgeCharts|json_encode }}"
         data-z-score-charts="{{ zScoreCharts|json_encode }}"
         data-record-user-values="{{ recordUserValues|json_encode|escape('html_attr') }}">
        {{ form_start(measurementForm, { attr: { class: 'warn-unsaved disable-enter prevent-resubmit' } }) }}
        {% if displayEhrBannerMessage and ehrProtocolBannerMessage is not empty %}
            <div class="alert alert-warning">{{ ehrProtocolBannerMessage }}</div>
        {% endif %}
        <div class="page-header">
            <h2>
                <i class="fa fa-clipboard" aria-hidden="true"></i>
                {% if measurement.id %}
                    {{ measurement.createdTs|date('n/j/Y', app.user.timezone) }}
                {% else %}
                    New Physical Measurements
                {% endif %}
                <small>
                    {% if participant.isPediatric %}
                        <i class="fa fa-child child-icon" title="Pediatric Participant" data-toggle="tooltip"></i>
                    {% endif %}
                </small>
                {% if measurement.id and not readOnlyView%}
                    {% if measurement.rdrId and (measurement.history is empty or measurement.history.type != 'cancel') %}
                        <button type="submit" class="btn btn-sm btn-warning" name="copy" onclick="return confirm('Are you sure you want to amend these physical measurements?');">Amend</button>
                    {% endif %}
                    {% if measurement.canCancel %}
                        <a href="{{ path('measurement_modify', { participantId: participant.id, measurementId: measurement.id, type: 'cancel' }) }}" class="btn btn-sm btn-danger">Cancel Form</a>
                    {% elseif measurement.canRestore %}
                        <a href="{{ path('measurement_modify', { participantId: participant.id, measurementId: measurement.id, type: 'restore' }) }}" class="btn btn-sm btn-success">Restore</a>
                    {% endif %}
                {% endif %}
            </h2>
        </div>
        {% if displayInactiveSiteBanner %}
            {{ macros.displayInactiveSiteBanner('pmb', 3) }}
        {% endif %}
        {% if measurement.id and measurement.history and measurement.history.type == 'cancel' %}
            <div class="alert alert-danger">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                <strong>Cancelled by {{ measurement.history.user.email|default('Unknown') }} at {{ siteInfo.siteDisplayName(measurement.history.site) }} on {{ measurement.history.createdTs|date('n/j/Y \\a\\t g:ia', app.user.timezone) }}</strong>
                {% if measurement.reasonDisplayText is not empty %}
                    <br/><strong>Reason:</strong> {{ measurement.reasonDisplayText }}
                {% endif %}
            </div>
        {% endif %}
        {% if measurement and measurement.parentId is not empty and measurement.rdrId is empty %}
            <div class="alert alert-warning">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <strong>Unlocked for editing by {{ measurement.user.email|default('Unknown') }} at {{ siteInfo.siteDisplayName(measurement.site) }} on {{ measurement.createdTs|date('n/j/Y \\a\\t g:ia', app.user.timezone) }}</strong>
            </div>
        {% endif %}
        {% if measurement %}
            {% if measurement.rdrId %}
                <div class="alert alert-success">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <strong>Finalized by {{ measurement.finalizedUser.email|default('Unknown') }} at {{ siteInfo.siteDisplayName(measurement.finalizedSite) }} on {{ measurement.finalizedTs|date('n/j/Y \\a\\t g:ia', app.user.timezone) }}</strong>
                    {% set summaryRoute = readOnlyView ? 'read_measurement_summary' : 'measurement_summary' %}
                    <a class="btn btn-success btn-sm pull-right" href="{{ path(summaryRoute, { participantId: participant.id, measurementId: measurement.id }) }}" target="_blank">View Summary</a>
                </div>
            {% elseif measurement.finalizedTs and measurement.rdrId is empty %}
                <div class="alert alert-danger well-sm">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    <strong>An error occurred while finalizing this physical measurements. Please try again.</strong>
                </div>
            {% endif %}
        {% endif %}

        {{ form_errors(measurementForm) }}
        {% if not participant.isPediatric and showAutoModification %}
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-forward" aria-hidden="true"></i>
                                Or, auto-fill modifications and finalize
                            </h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                If physical measurements are incomplete due to refusal or a medical emergency, auto-fill missing fields with protocol modifications and finalize.
                            </p>
                            <p>
                                <strong>Finalize physical measurements early due to:</strong>
                            </p>
                            <div class="row">
                                <div class="col-xs-6">
                                    <button type="submit" name="finalize" class="autofill-protocol-modification btn btn-block btn-default" data-reason="refusal" onclick="return confirm('Are you sure you want to finalize these physical measurements?');">Refusal</button>
                                </div>
                                <div class="col-xs-6">
                                    <button type="submit" name="finalize" class="autofill-protocol-modification btn btn-block btn-default" data-reason="emergency" onclick="return confirm('Are you sure you want to finalize these physical measurements?');">Urgent/Emergent Event</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if (not measurement or not measurement.rdrId) and not readOnlyView and not inactiveSiteFormDisabled %}
            <div id="evaluationAffixSave">
                {% if not measurement or not measurement.finalizedTs %}
                    <button type="submit" class="btn btn-primary btn-xs" name="save">Save</button>
                {% endif %}
                <button type="submit" class="btn btn-success btn-xs" name="finalize" onclick="return confirm('Are you sure you want to finalize these physical measurements?');">Save and Finalize</button>
            </div>
        {% endif %}

        {% if schema.template is defined %}
            {% include 'measurementform/' ~ schema.template ~ '.html.twig' %}
        {% else %}
            {% include 'measurementform/0.1.html.twig' %}
        {% endif %}

        {{ form_rest(measurementForm) }}

        {% if measurement and measurement.rdrId %}
            <p>
                <a href="{{ path(participantRoute, { id: participant.id }) }}" class="btn btn-default">Return to In-Person Enrollment</a>
            </p>
        {% else %}
            <p>
                <a href="{{ path(participantRoute, { id: participant.id }) }}" class="btn btn-default">Cancel</a>
                {% if not readOnlyView and not inactiveSiteFormDisabled %}
                    {% if not measurement or not measurement.finalizedTs %}
                        <button type="submit" class="btn btn-primary" name="save">Save</button>
                    {% endif %}
                    <button type="submit" class="btn btn-success pull-right" name="finalize" onclick="return confirm('Are you sure you want to finalize these physical measurements?');">Save and Finalize</button>
                {% endif %}
            </p>
        {% endif %}
        {{ form_end(measurementForm) }}
        {% if measurement.id and measurement.parentId and measurement.finalizedTs is empty and not readOnlyView %}
            {{ form_start(revertForm, { 'action': path('measurement_revert', { participantId: participant.id, measurementId: measurement.id }), 'method': 'POST', attr: { class: 'eval-revert-form disable-enter prevent-resubmit' }}) }}
            {{ form_errors(revertForm) }}
            {{ form_end(revertForm) }}
        {% endif %}
    </div>
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('physical-measurements-' ~ (schema.template|default('-0.1'))) }}
    {{ encore_entry_script_tags('measurements') }}
{% endblock %}
