{% extends 'base.html.twig' %}
{% block title %}Physical Measurements Blood Donor Check- {% endblock %}
{% block body %}
    <div>
        <div class="page-header">
            <h2>
                <i class="fa fa-clipboard" aria-hidden="true"></i> New Physical Measurements
                <small><a href="{{ path('participant', { id: participant.id }) }}">{{ participant.lastName }}, {{ participant.firstName }}</a></small>
            </h2>
        </div>

        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>{{ participant.lastName }}, {{ participant.firstName }}</dd>
            <dt>Participant ID</dt>
            <dd>{{ participant.id }}</dd>
            <dt>DOB</dt>
            <dd>{{ participant.dob ? participant.dob|date('n/j/Y') }}</dd>
            <dt>Gender Identity</dt>
            <dd>{{ participant.genderIdentity }}</dd>
            <dt>Paired Awardee</dt>
            <dd>{{ participant.awardee ? siteInfo.awardeeDisplayName(participant.awardee) : '(not paired)' }}</dd>
        </dl>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    Blood Donor Check
                </h3>
            </div>
            <div class="panel-body">
                {{ form_start(bloodDonorCheckForm, { attr: {
                    class: 'disable-enter prevent-resubmit',
                    novalidate: 'novalidate'
                } }) }}
                {{ form_errors(bloodDonorCheckForm) }}

                {{ form_row(bloodDonorCheckForm.bloodDonor) }}

                <div id="blood-donor-type" class="hidden">
                    {{ form_row(bloodDonorCheckForm.bloodDonorType) }}
                </div>

                {{ form_rest(bloodDonorCheckForm) }}
                {{ form_end(bloodDonorCheckForm) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block pagejs %}
    <script>
        $(document).ready(function() {
            var toggleDonorType = function() {
                if ($('input[name="form[bloodDonor]"]:checked').val() !== 'yes') {
                    $('#blood-donor-type').addClass('hidden');
                } else {
                    $('#blood-donor-type').removeClass('hidden');
                }
            };
            toggleDonorType();
            $('input[name="form[bloodDonor]"]').on('change', toggleDonorType);
        });
    </script>
{% endblock %}
