<div class="row" id="{{ id }}-filters">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4><a href="#{{ id }}-filters-content" data-toggle="collapse">Advanced Filters <span class='fa fa-plus toggle-glyph'></span></a></h4>
                </div>
            </div>
            <div id="{{ id }}-filters-content" class="panel-collapse collapse">
                <div class="panel-body center-filter-panel">
                   <div class="row">
                        <div class="col-xs-12">
                            <p class="text-center"><a href="javascript:void(0);" class="redraw-plotly btn btn-primary"><span class="fa fa-filter"></span> Filter Results</a></p>
                            {% if show_enrollment_status == true %}
                            <hr class="divider" />
                            <h4>Enrollment Status <a href="javascript:void(0);" class="toggle-all-enrollment-filters label label-primary pull-right">All <span class="fa fa-toggle-on"></span></a></h4>
                            <!-- TODO: After more facets are supported in Metrics API 2, use passed values instead of hard-coding -->
                            <ul class="list-group enrollment-status-filters">
                                <li class="list-group-item">
                                    <label><input type="checkbox" name="enrollment_statuses[]" value="INTERESTED" class="enrollment-status-filter" checked> Registered</label>
                                </li>
                                <li class="list-group-item">
                                    <label><input type="checkbox" name="enrollment_statuses[]" value="MEMBER" class="enrollment-status-filter" checked> Consented</label>
                                </li>
                                <li class="list-group-item">
                                    <label><input type="checkbox" name="enrollment_statuses[]" value="FULL_PARTICIPANT" class="enrollment-status-filter" checked> Core Participant</label>
                                </li>
                            </ul>
                            <hr class="divider" />
                            {% endif %}
                            {% if show_recruitment_centers == true %}
                            <h4>Recruitment Origin <a href="javascript:void(0);" class="toggle-all-center-filters label label-primary pull-right">All <span class="fa fa-toggle-on"></span></a></h4>
                            {% for group, centers in recruitment_centers %}
                                {% set group_id = group|lower|split(' ')|join('-') %}
                                <ul class="list-group {{ group_id }}-center-filters">
                                    <li class="list-group-item"><h4 class="list-group-item-heading">{{ group }}
                                            {% if centers|length > 1 %}
                                                <a href="javascript:void(0);" class="toggle-center-filters label label-primary pull-right" data-identifier="{{ group_id }}-center-filters"><span class="fa fa-toggle-on"></span></a>
                                            {% endif %}
                                        </h4>
                                    </li>
                                    {% for center in centers %}
                                        <li class="list-group-item">
                                            {% if center['code'] is defined %}
                                                {% set identifier = center['code'] %}
                                            {% endif %}
                                            <label><input type="checkbox" name="recruitment_centers[]" value="{{ identifier }}" class="center-filter" checked> {{ center['label'] }}</label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                            <hr class="divider" />
                            {% endif %}
                            <p class="text-center"><a href="javascript:void(0);" class="redraw-plotly btn btn-primary"><span class="fa fa-filter"></span> Filter Results</a></p>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
var centerFilterStatuses = {};
function updateCenterFiltersStatuses() {
  $('.center-filter').each(function(index, element) {
    var centerFilter = $(element);
    var center = centerFilter.val();
    var isChecked = centerFilter.is(':checked') ? 1 : 0;
    centerFilterStatuses[center] = isChecked;
  });
}
$(document).on('change', '.center-filter', function() {
  updateCenterFiltersStatuses();
});

// toggle subgroup
$('#{{ id }}').find('.toggle-center-filters').on('click', function(e) {
  var listGroup = $(e.currentTarget).data('identifier');
  console.log('toggling ' + listGroup);
  var cb = $('#{{ id }}').find('.' + listGroup).find('input');
  cb.prop('checked', !cb.prop('checked'));
  var toggleClass = cb.is(':checked') ? 'fa-toggle-on' : 'fa-toggle-off';
  $(e.currentTarget).find('span').attr('class', "fa " + toggleClass);
});

// toggle all recruitment origin filters
$('#{{ id }}').find('.toggle-all-center-filters').on('click', function(e) {
  var cb = $('#{{ id }}').find('.center-filter');
  cb.prop('checked', !cb.prop('checked'));
  // check first element to determine whether toggle switch should be on or off
  var toggleClass = cb.is(':checked') ? 'fa-toggle-on' : 'fa-toggle-off';
  $(e.currentTarget).find('span').attr('class', "fa " + toggleClass);
});

// toggle all enrollment status filters
$('#{{ id }}').find('.toggle-all-enrollment-filters').on('click', function(e) {
  var cb = $('#{{ id }}').find('.enrollment-status-filter');
  cb.prop('checked', !cb.prop('checked'));
  // check first element to determine whether toggle switch should be on or off
  var toggleClass = cb.is(':checked') ? 'fa-toggle-on' : 'fa-toggle-off';
  $(e.currentTarget).find('span').attr('class', "fa " + toggleClass);
});
</script>
