{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Imports</li>
        <li class="active">Incentive Tracking Import</li>
        <li class="active">Incentive Tracking Import Confirmation</li>
    </ol>
    <div class="page-header">
        <h2><i class="fa fa-check-circle" aria-hidden="true"></i> Incentive Tracking Import Confirmation</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if rowsCount > 100 %}
                <p class="alert-info well-sm text-center">Displaying first 100 rows from {{ rowsCount }} rows</p>
            {% endif %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Participant ID</th>
                    <th>User</th>
                    <th>Date</th>
                    <th>Occurrence</th>
                    <th>Occurrence, Other</th>
                    <th>Type</th>
                    <th>Type of Gift Card</th>
                    <th>Type, Other</th>
                    <th>Amount</th>
                    <th>Declined?</th>
                    <th>Notes</th>
                </tr>
                </thead>
                <tbody>
                {% for importIncentive in importIncentives %}
                    <tr>
                        <td>{{ importIncentive.participantId }}</td>
                        <td>{{ importIncentive.userEmail }}</td>
                        <td>{{ importIncentive.incentiveDateGiven|date('m/d/Y') }}</td>
                        <td>{{ importIncentive.incentiveOccurrence }}</td>
                        <td>{{ importIncentive.otherIncentiveOccurrence }}</td>
                        <td>{{ importIncentive.incentiveType }}</td>
                        <td>{{ importIncentive.giftCardType }}</td>
                        <td>{{ importIncentive.otherIncentiveType }}</td>
                        <td>{{ importIncentive.incentiveAmount }}</td>
                        <td>{{ importIncentive.declined ? 'yes' : 'no' }}</td>
                        <td>{{ importIncentive.notes }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_start(importConfirmForm, { attr: { class: 'warn-unsaved disable-enter prevent-resubmit' } }) }}
            {{ form_errors(importConfirmForm) }}
            {{ form_widget(importConfirmForm.Confirm) }} {{ form_widget(importConfirmForm.Cancel) }}
            {{ form_rest(importConfirmForm) }}
            {{ form_end(importConfirmForm) }}
        </div>
    </div>
{% endblock %}
