{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Incentive Tracking Import</li>
    </ol>
    <div class="page-header">
        <h2><i class="fa fa-upload" aria-hidden="true"></i> Import</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="pull-left"><i class="fas fa-hand-holding-usd fa-lg"></i></h3>
            <div>
                <h4>Incentive Tracking Import</h4>
                <p class="text-muted">Upload csv files of participant incentive Tracking history in bulk.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-3">
            {{ form_start(importForm, { attr: { class: 'warn-unsaved disable-enter prevent-resubmit' } }) }}
            {{ form_errors(importForm) }}
            {{ form_rest(importForm) }}
            {{ form_end(importForm) }}
        </div>
        <div class="col-sm-8 col-md-9">
            {% if imports is not empty %}
                <h3>Import Status</h3>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Created</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for import in imports %}
                        <tr>
                            <td>{{ import.fileName }}</td>
                            <td>{{ import.createdTs|date('n/j/Y g:ia', app.user.timezone) }}</td>
                            <td>
                                {% if import.importStatus == 1 %}
                                    <i class="fa fa-check text-success" aria-hidden="true"></i> Complete
                                {% elseif import.importStatus == 2 %}
                                    <i class="fa fa-check text-success" aria-hidden="true"></i> Complete <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>
                                {% else %}
                                    <i class="fa fa-tasks" aria-hidden="true"></i> In Progress
                                {% endif %}
                            </td>
                            <td><a href="{{ path('incentiveImportDetails', { id: import.id }) }}">Details</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="alert bg-light">
                <h4>CSV Format: Incentive Tracking</h4>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Participant ID</th>
                        <th>User</th>
                        <th>Date</th>
                        <th>Occurrence</th>
                        <th>Occurrence, Other</th>
                        <th>Type</th>
                        <th>Type of Gift Card</th>
                        <th>Type, Other</th>
                        <th>Amount</th>
                        <th>Amount, Other</th>
                        <th>Declined?</th>
                        <th>Notes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>P000000000</td>
                        <td>test.user1@pmi-ops.org</td>
                        <td>4/1/2022</td>
                        <td>One-time Incentive</td>
                        <td></td>
                        <td>cash</td>
                        <td></td>
                        <td></td>
                        <td>25</td>
                        <td></td>
                        <td>No</td>
                        <td>Test Notes 1</td>
                    </tr>
                    <tr>
                        <td>P000000000</td>
                        <td>test.user1@pmi-ops.org</td>
                        <td>4/1/2022</td>
                        <td>Other</td>
                        <td>Adverse Event</td>
                        <td>Gift Card</td>
                        <td>Walmart</td>
                        <td></td>
                        <td>15</td>
                        <td></td>
                        <td>Yes</td>
                        <td>Test Notes 2</td>
                    </tr>
                    <tr>
                        <td>P000000000</td>
                        <td>test.user1@pmi-ops.org</td>
                        <td>4/1/2022</td>
                        <td>Redraw</td>
                        <td></td>
                        <td>Other</td>
                        <td></td>
                        <td>Certificate</td>
                        <td>Other</td>
                        <td>50</td>
                        <td>No</td>
                        <td>Test Notes 3</td>
                    </tr>
                    </tbody>
                </table>
                <p><u>Participant ID:<span class="text-danger">*</span></u> <strong>Must be 10 digits ex: P000000000</strong></p>
                <p><u>User:</u> Include the <strong>pmi-ops account</strong> for the user who provided the incentive. <strong>If no user was recorded, enter "no data"</strong></p>
                <p><u>Date:<span class="text-danger">*</span></u> Enter the <strong>date the incentive was given in mm/dd/yyyy format.</strong></p>
                <p><u>Occurrence:</u> Enter the <strong>incentive occurrence</strong> from the provided options. <strong>Allowed values are: One-time Incentive, Redraw, Other, No Data</strong></p>
                <p class="sub-text"><u>Occurrence, Other:</u>  If the value for <strong>Occurrence = Other, specify other in this field (free text).</strong> If other was not entered for occurence, leave the field blank.</p>
                <p><u>Type:</u> Enter the <strong>type of incentive</strong> from the provided options. <strong>Allowed values are: Cash, Gift Card, Voucher, Promotional Item, Other, No Data</strong></p>
                <p class="sub-text"><u>Type of Gift Card:</u>  If the value for <strong>Type = Gift Card, specify the type of gift card in this field (free text).</strong> If Gift Card was not entered for Type, leave the field blank.</p>
                <p class="sub-text"><u>Type, Other:</u> If the value for <strong>Type = Other, specify other in this field (free text).</strong> If Other was not entered for Type, leave the field blank.</p>
                <p><u>Amount:</u> Enter the <strong>incentive amount</strong> from the provided options. <strong>Allowed values are: 25, 15, Other, No Data</strong> <em>(Note: If Promotional Item was entered for Type, Amount field is not required.)</em></p>
                <p class="sub-text"><u>Amount, Other:</u> If the value for <strong>Amount = Other, specify other in this field (free text)</strong> If other was not entered for an amount, leave the field blank. </p>
                <p><u>Declined?:</u> Enter <strong>Yes if the participant declined the incentive.</strong> Enter <strong>No if the participant <u>did not</u> decline the incentive.</strong> If unknown, enter No Data.</u></p>
                <p><u>Notes:</u> <strong>Free text (optional)</strong></p>
            </div>
        </div>
    </div>
{% endblock %}
