{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('help_home') }}">Help</a></li>
        <li class="active">All of Us℠ Research Program SOPs</li>
    </ol>
    <div class="page-header">
        <h2><i class="fa fa-file-text-o" aria-hidden="true"></i> All of Us℠ Research Program SOPs</h2>
    </div>
    {% for group in documentGroups %}
        <h3><em>All of Us</em> {{ group.title }}</h3>
        <ul>
            {% for document in group.documents %}
                <li><a href="{{ path('help_sopPdf', { filename: document.filename }) }}">{{ document.title }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
