{% extends 'base.html.twig' %}
{% block title %}Videos - {% endblock %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('help_home') }}">Help</a></li>
        <li class="active">Training Videos</li>
    </ol>
    <div class="page-header">
        <h2><i class="fa fa-film" aria-hidden="true"></i> Training Videos</h2>
    </div>
    <style>
    div.embed-responsive {
        min-width: 600px;
    }
    </style>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://cdnapisec.kaltura.com/p/1825021/sp/182502100/embedIframeJs/uiconf_id/26524131/partner_id/1825021/widget_id/0_7biqpuyo?iframeembed=true&amp;playerId=kaltura_player_5d13d51bcc56d&amp;flashvars[playlistAPI.kpl0Id]=0_j87i59jj&amp;flashvars[playlistAPI.autoContinue]=true&amp;flashvars[playlistAPI.autoInsert]=true&amp;flashvars[ks]=&amp;flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en" allowfullscreen webkitallowfullscreen mozAllowFullScreen allow="autoplay *; fullscreen *; encrypted-media *" title="Kaltura Player"></iframe>
    </div>

    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://cdnapisec.kaltura.com/p/1825021/sp/182502100/embedIframeJs/uiconf_id/26524131/partner_id/1825021/widget_id/0_6rm30l9d?iframeembed=true&amp;playerId=kaltura_player_5d13dbf851c3b&amp;flashvars[playlistAPI.kpl0Id]=0_7mrmfvqa&amp;flashvars[playlistAPI.autoContinue]=true&amp;flashvars[playlistAPI.autoInsert]=true&amp;flashvars[ks]=&amp;flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en" allowfullscreen webkitallowfullscreen mozAllowFullScreen allow="autoplay *; fullscreen *; encrypted-media *" title="Kaltura Player"></iframe>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-push-4">
            <div class="panel panel-default" id="video-panel">
                <div class="panel-heading">
                    <h3 class="panel-title" id="video-title"></h3>
                </div>
                <div class="panel-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        {% if type == 'file' %}
                            <video id="video-file" controls>
                                <source src="" type="video/mp4">
                                Your browser does not support the video tag, consider upgrading to a web browser that supports HTML5 video tag.
                            </video>
                        {% else %}
                            <iframe id="video-embed" class="embed-responsive-item" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        {% endif %}
                    </div>
                </div>
            </div>
            <p class="text-right">
                {% if type == 'file' %}
                    Switch back to the <a href="{{ path('help_videos') }}">primary video source</a>.
                {% else %}
                    Problem loading videos? Try using the <a href="{{ path('help_videos', { type: 'file' }) }}">alternate video source</a>.
                {% endif %}
            </p>
        </div>
        <div class="col-sm-4 col-sm-pull-8 help-videos-nav">
            {% for group in videoGroups %}
                <h4>{{ group.title }}</h4>
                <div class="list-group">
                    {% for video in group.videos %}
                        {% if video.youtube_id %}
                            <a href="#" class="list-group-item load-video" data-embed-src="{{ video.youtube_id }}" data-file-src="{{ video.filename }}">{{ video.title }}</a>
                        {% else %}
                            <div class="list-group-item disabled">{{ video.title }} <em><small>(Coming Soon!)</small></em></div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% include 'help/footer.html.twig' %}
{% endblock %}

{% block pagejs %}
<script>
$(document).ready(function() {
    var type = {{ type|json_encode|raw }};
    var youTubePath = "https://www.youtube.com/embed";
    var helpVideosPath = {{ helpVideosPath|json_encode|raw }};
    var loadVideo = function (src) {
        $('#video-title').html(src.html());
        if (type === 'file') {
            $('#video-file source').attr('src', helpVideosPath + '/' + src.data('file-src'));
            $("#video-file")[0].load();
        } else {
            $('iframe#video-embed').attr('src', youTubePath + '/' + src.data('embed-src') + '?modestbranding=1&rel=0');
        }
        $('a.load-video').removeClass('active');
        src.addClass('active');
    };
    $('a.load-video').on('click', function () {
        loadVideo($(this));
        $('html').scrollTop($('#video-panel').offset().top);
        return false;
    });
    loadVideo($('a.load-video:first'));
});
</script>
{% endblock %}
