{% extends 'base.html.twig' %}
{% block title %}Videos - {% endblock %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('help_home') }}">Help</a></li>
        <li class="active">All of Us℠ Research Program Training Videos</li>
    </ol>
    <div class="page-header">
        <h2><i class="fa fa-film" aria-hidden="true"></i> All of Us℠ Research Program Training Videos</h2>
    </div>
    {% for group in videoGroups %}
        <h3><em>All of Us</em> {{ group.title }}</h3>
        <ul>
            {% for chapter, video in group.videos %}
                <li>
                    {{ chapter }}:
                    {% if video.link is not empty %}
                        <a data-href="{{ video.link }}" class="external-link">{{ video.title }}</a>
                    {% else %}
                        {{ video.title }} | <em>Coming Soon!</em>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
    {% include 'help/footer.html.twig' %}
{% endblock %}
