<div class="page-header">
    <h2>
        <i class="fa fa-medkit" aria-hidden="true"></i>
        {{ order.createdTs|date('n/j/Y', app.user.timezone) }}
        <small>
            <a href="{{ path('nph_participant_summary', { participantId: participant.id }) }}">
                {{ participant.lastName }}, {{ participant.firstName }}
            </a>
        </small>
    </h2>
</div>
{% if order.modifyType == 'cancel' %}
    <div class="alert alert-danger well-sm">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        <strong>
            Cancelled by {{ order.modifiedUser.email|default('Unknown') }} at {{ siteInfo.siteDisplayName(order
            .modifiedSite) }} on {{ order.modifiedTs|date('F j, Y g:ia', app.user.timezone) }}
        </strong>
    </div>
{% else %}
    <p class="lead">
        Order ID: <strong>{{ order.orderId }}</strong>
        <a href="{{ path('nph_order_modify', { participantId: participant.id, orderId: order.id, type: 'cancel' }) }}"
           class="btn btn-sm btn-danger">
            Cancel Order
        </a>
    </p>
{% endif %}
{% include 'program/nph/order/partials/order-participant-details-barcode.html.twig' %}
