<div class="page-header">
    <h2>
        <i class="fa fa-medkit" aria-hidden="true"></i>
        {{ order.createdTs|date('n/j/Y', app.user.timezone) }}
        <small><a href="">{{ participant.lastName }}, {{ participant.firstName }}</a></small>
    </h2>
</div>
<div class="row">
    <div class="col-sm-6">
        {% include 'program/nph/order/partials/participant-dl.html.twig' %}
    </div>
    <div class="col-sm-6">
        <strong class="text-primary">
            Module {{ order.module }} | Visit {{ order.visitType }} | {{ order.timepoint }} | {{ sampleType }}
        </strong>
        <p>{{ order.orderId }}</p>
    </div>
</div>