<div class="row" id="order_info" data-order-id="{{ order.orderId }}">
    <div class="col-sm-6">
        {% include 'program/nph/order/partials/participant-details.html.twig' %}
    </div>
    <div class="col-sm-6 text-center">
        <strong class="text-primary">
            Module {{ order.module }} | {{ modulePeriodVisitMapper[order.module~'_'~order.visitPeriod]|default(order.visitDisplayName) }} | {{ timePoints[order.timepoint] }} | {{ order
            .getOrderTypeDisplayName() }}
        </strong>
        <div><svg id="order-barcode"></svg></div>
    </div>
</div>
