{% extends 'render-base.html.twig' %}
{% block title %} On-Site Details Incentive Tracking {% endblock %}
{% block body %}
    {% include 'onsite/partials/_page_heading.html.twig' %}
    <div class="row">
        <div class="col-md-4 dropdown on-site-filters" id="incentive_tracking_filters">
            {% set participantId = params['participantId']|default('') %}
            {% set startDate = params['startDate']|default('') %}
            {% set endDate = params['endDate']|default('') %}
            <form>
                <ul class="nav navbar-nav">
                    <li class="columns-filter-group">
                        {% include 'onsite/partials/participant-id-filter.html.twig' %}
                    </li>
                    <li class="columns-filter-group">
                        <button href="#"
                                class="dropdown-toggle btn btn-default {{ startDate or endDate ? 'btn-primary' : 'btn-default' }}"
                                data-toggle="dropdown">
                            <i class="far fa-calendar" aria-hidden="true"></i> Select Dates <b class="caret"></b>
                        </button>
                        <ul class="dropdown-menu on-site-date-filter-dropdown">
                            <li>
                                <div class="list-group-item bg-light">
                                    <b>Select Date(s)</b>
                                    <small class="pull-right">
                                        <a class="date-filter-reset" id="date_filter_reset">
                                            Reset
                                        </a>
                                    </small>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="control-label" for="startDate">Start Date</label>
                                        <input type="text" name="startDate" class="form-control date-filter"
                                               id="startDate"
                                               value="{{ startDate }}" placeholder="MM/DD/YYYY"
                                               autocomplete="off" data-parsley-date-mdy>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="endDate">End Date</label>
                                        <input type="text" name="endDate" class="form-control date-filter" id="endDate"
                                               value="{{ endDate }}" placeholder="MM/DD/YYYY"
                                               autocomplete="off" data-parsley-date-mdy>
                                    </div>
                                    <p class="text-center">
                                        <button type="button" class="btn btn-primary" id="date_filter_apply">Apply
                                        </button>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </form>
        </div>
        <div class="col-md-1 on-site-reset-all">
            <a href="{{ path('on_site_incentive_tracking') }}">Reset All</a>
        </div>
        <div class="col-md-1 col-md-offset-6">
            <a href="" class="btn btn-xs btn-default export"><i
                    class="fa fa-download" aria-hidden="true"></i> Export</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered" id="on_site_incentive_tracking" style="width:100%">
                <thead>
                <tr>
                    <th>Date Created</th>
                    <th>Participant ID</th>
                    <th>User</th>
                    <th>Site</th>
                    <th>Date of Service</th>
                    <th>Occurrence</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Declined?</th>
                    <th>Notes</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('on-site-incentive-tracking') }}
{% endblock %}
