{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="{{ path('imports_home') }}">Imports</a></li>
        <li class="active">ID Verification Import</li>
    </ol>
    <div class="page-header">
        <h2><i class="fa fa-upload" aria-hidden="true"></i> Imports</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="pull-left import-sub-header-icon"><i class="fas fa-id-card fa-lg"></i></h3>
            <div>
                <h4>ID Verification Import</h4>
                <p class="text-muted">Upload csv files of participant ID verification history in bulk.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-3">
            {{ form_start(idVerificationForm, { attr: { class: 'warn-unsaved disable-enter prevent-resubmit' } }) }}
            {{ form_errors(idVerificationForm) }}
            {{ form_rest(idVerificationForm) }}
            {{ form_end(idVerificationForm) }}
        </div>
        <div class="col-sm-8 col-md-9">
            {% if idVerifications is not empty %}
                <h4>Import Status</h4>
                <table class="table table-striped table-bordered id-verification-import-status">
                    <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Created</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for idVerification in idVerifications %}
                        <tr>
                            <td>{{ idVerification.fileName }}</td>
                            <td>{{ idVerification.createdTs|date('n/j/Y g:ia', app.user.timezone) }}</td>
                            <td>
                                {% if idVerification.importStatus == 1 %}
                                    <i class="fa fa-check text-success" aria-hidden="true"></i> Complete
                                {% elseif idVerification.importStatus == 2 %}
                                    <i class="fa fa-check text-success" aria-hidden="true"></i> Complete <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>
                                {% else %}
                                    <i class="fa fa-tasks" aria-hidden="true"></i> In Progress
                                {% endif %}
                            </td>
                            <td><a href="{{ path('idVerificationImportDetails', { id: idVerification.id }) }}">Details</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <div class="alert bg-light">
                <h4>CSV Format: ID Verification</h4>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Participant ID</th>
                        <th>User</th>
                        <th>Date</th>
                        <th>Verification Type</th>
                        <th>Visit Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>P000000000</td>
                        <td>test.user1@pmi-ops.org</td>
                        <td>4/1/2022</td>
                        <td>PHOTO_AND_ONE_OF_PII</td>
                        <td>PMB_INITIAL_VISIT</td>
                    </tr>
                    <tr>
                        <td>P000000001</td>
                        <td>test.user2@pmi-ops.org</td>
                        <td>4/1/2022</td>
                        <td>TWO_OF_PII</td>
                        <td>BIOSPECIMEN_REDRAW_ONLY</td>
                    </tr>
                    </tbody>
                </table>
                <p class="pull-right text-danger">* Required</p>
                <p><u>Participant ID:<span class="text-danger">*</span></u> <strong>Must be 10 digits ex: P000000000</strong></p>
                <p><u>User:</u> Include the <strong>pmi-ops account</strong> for the user who provided the incentive. <strong>If no user was recorded, leave blank.</strong></p>
                <p><u>Date:<span class="text-danger">*</span></u> Enter the <strong>date the ID was verified in mm/dd/yyyy format.</strong></p>
                <p><u>Verification Type:</u> Enter the verification type from the provided options. Allowed values are: <strong>PHOTO_AND_ONE_OF_PII or TWO_OF_PII.</strong> If no verification type was recorded, leave blank.</p>
                <p><u>Visit Type:</u> Enter the visit type from the provided options. Allowed values are: <strong>PMB_INITIAL_VISIT, PHYSICAL_MEASUREMENTS_ONLY, BIOSPECIMEN_COLLECTION_ONLY, BIOSPECIMEN_REDRAW_ONLY, RETENTION_ACTIVITIES. </strong> If no visit type was recorded, leave blank.</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block pagejs %}
    {{ encore_entry_script_tags('id-verification-import') }}
{% endblock %}
