<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseOne">
                    <i class="fa fa-columns" aria-hidden="true"></i> Columns
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <input type="checkbox" checked class="toggle-vis" data-column="5"/> Primary Consent
                    </li>
                    <li class="list-group-item">
                        <input type="checkbox" checked class="toggle-vis" data-column="6"/> Program Update
                    </li>
                    <li class="list-group-item">
                        <input type="checkbox" checked class="toggle-vis" data-column="7"/> EHR Consent
                    </li>
                    <li class="list-group-item">
                        <input type="checkbox" checked class="toggle-vis" data-column="8"/> EHR Expiration
                    </li>
                    <li class="list-group-item">
                        <input type="checkbox" checked class="toggle-vis" data-column="9"/> gRoR Consent
                    </li>
                    <li class="list-group-item">
                        <input type="checkbox" checked class="toggle-vis" data-column="10"/> DV-Only EHR Sharing
                    </li>
                    <li class="list-group-item">
                        <input type="checkbox" checked class="toggle-vis" data-column="11"/> CaBoR Consent
                    </li>
                    <li class="list-group-item">
                        <input type="checkbox" checked class="toggle-vis" data-column="12"/> Fitbit Consent
                    </li>
                    <li class="list-group-item">
                        <input type="checkbox" checked class="toggle-vis" data-column="13"/> Apple HealthKit Consent
                    </li>
                    <li class="list-group-item">
                        <input type="checkbox" checked class="toggle-vis" data-column="14"/> Apple EHR Cohort
                    </li>
                    <li class="list-group-item">
                        <input type="checkbox" checked class="toggle-vis" data-column="15"/> Consent Cohort
                    </li>
                    <li class="list-group-item">
                        <input type="checkbox" checked class="toggle-vis" data-column="16"/> Language of Primary Consent
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseTwo">
                    <i class="fa fa-search" aria-hidden="true"></i> Participant Lookup
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>Search by Name</h4>
                <div class="form-group">
                    <label class="control-label required" for="lastName">Last name</label>
                    <input type="text" name="lastName" required="required" class="form-control" value="{{ params['lastName']|default('') }}">
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName">First name</label>
                    <input type="text" name="firstName" required="required" class="form-control" value="{{ params['firstName']|default('') }}">
                </div>
                <div class="form-group">
                    <label class="control-label required" for="lastName">Date of Birth</label>
                    <input type="text" name="dateOfBirth" required="required" class="form-control" value="{{ params['dateOfBirth']|default('') }}">
                </div>
                <p>
                    <button type="button" class="btn btn-primary" id="participant_search">Search</button>
                </p>
                <h4>Find by ID</h4>
                <div class="form-group">
                    <label class="control-label required" for="lastName">Participant Id</label>
                    <input type="text" name="participantId" required="required" class="form-control" value="{{ params['participantId']|default('') }}">
                </div>
                <p>
                    <button type="button" class="btn btn-primary" id="participant_id_search">Go</button>
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseThree">
                    <i class="fa fa-filter" aria-hidden="true"></i> Filter by Status &amp; Date
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                {% for name, advancedFilter in advancedFilters %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse{{ name }}">
                                    {{ advancedFilter.label }}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{ name }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <b>Select Status</b>
                                    </li>
                                    {% for label, value in advancedFilter.options %}
                                        <li class="list-group-item">
                                            <input type="radio" {% if params[name]|default('') == value %} checked {% endif %} name="{{ name }}" value="{{ value }}"/> {{ label }}
                                        </li>
                                    {% endfor %}
                                    {% if advancedFilter.dateField is defined %}
                                        <li class="list-group-item">
                                            <b>Select Date(s)</b>
                                        </li>
                                        <li class="list-group-item">
                                            Start Date <input type="text" name="{{ advancedFilter.dateField }}StartDate" value="{{ params[advancedFilter.dateField ~ 'StartDate']|default('') }}">
                                        </li>
                                        <li class="list-group-item">
                                            End Date <input type="text" name="{{ advancedFilter.dateField }}EndDate" value="{{ params[advancedFilter.dateField ~ 'EndDate']|default('') }}">
                                        </li>
                                        <li class="list-group-item text-center">
                                            <button type="button" class="btn btn-primary btn-small apply-date-filter" data-consent-date-field-name="{{ advancedFilter.dateField }}">Apply</button>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>