{% import 'measurementform/metrics.html.twig' as metrics %}
{% import 'measurementform/macros/growth-percentile.html.twig' as growthMacros %}

<div class="well">
    <div class="row">
        <div class="col-sm-4">
            {{ metrics.form_row(measurementForm, schema.fields['wheelchair']) }}
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <h4>Weight</h4>
        <div class="row replicate row-equal-height">
            {% for i in 0..2 %}
                <div class="col-sm-4">
                    <div class="panel panel-default panel-weight-{{ i + 1 }}">
                        <div class="panel-body">
                            <p class="text-right"><em>Reading #{{ i + 1 }}</em></p>
                            <div class="modification-block">
                                <div class="modification-affected">
                                    {{ metrics.form_row_replicate(measurementForm, schema.fields['weight'], i) }}
                                    {% if i == 2 %}
                                        <p class="text-info">Third measurement is required when first two differ by more than 0.1 kg</p>
                                    {% endif %}
                                </div>
                                <div class="modification-toggle text-right">
                                    <a class="small weight-modification-toggle">Add protocol modification</a>
                                </div>
                                <div class="modification-select weight-modification-select" data-modification-type=".weight-modification" style="display:none">
                                    {{ metrics.form_row_replicate(measurementForm, schema.fields['weight-protocol-modification'], i) }}
                                    <div class="modification-notes" style="display:none">
                                        {{ metrics.form_row_replicate(measurementForm, schema.fields['weight-protocol-modification-notes'], i) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Average</h3>
                    </div>
                    <div class="panel-body">
                        <p class="lead">
                            Weight
                            <span id="mean-weight"></span>
                            {{ schema.fields['weight'].unit }}
                            <span id="convert-weight"></span>
                            <small class="text-muted">(average of two closest measures)</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Growth Percentile</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row row-no-gutters lead">
                            <div>Weight</div>
                            <div>
                                {{ growthMacros.displayGrowthPercentile('weight-for-age', participant.sexAtBirth) }}
                            </div>
                        </div>
                        <div id="weight-warning" class="metric-warnings text-warning"></div>
                        <div id="weight-length-percentile-warning" class="text-warning" style="display: none;">
                            Growth percentile cannot be calculated because the measurement(s) are out of percentile ranges.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
