{% import 'measurementform/metrics.html.twig' as metrics %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Blood Pressure
            <span class="toggle-help-image" data-id="bloodPressureModal">
                <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
            </span>
        </h3>
    </div>
    <div class="panel-body">
        {% if schema.fields['blood-pressure-location'] is defined %}
            <div class="well">
                <div class="row">
                    <div class="col-sm-4">
                        {{ metrics.form_row(measurementForm, schema.fields['blood-pressure-location']) }}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row replicate row-equal-height">
            {% for i in 0..2 %}
                <div class="col-sm-4 blood-pressure" id="blood-pressure_{{ i }}" {% if i != 0 %} style="display: none" {% endif %}>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p class="text-right"><em>Reading #{{ i + 1 }}</em></p>
                            <div class="modification-block">
                                <div class="modification-affected">
                                    {{ metrics.form_row_replicate(measurementForm, schema.fields['blood-pressure-systolic'], i) }}
                                    {{ metrics.form_row_replicate(measurementForm, schema.fields['blood-pressure-diastolic'], i) }}
                                    {{ metrics.form_row_replicate(measurementForm, schema.fields['heart-rate'], i) }}
                                    {{ metrics.form_row_replicate(measurementForm, schema.fields['irregular-heart-rate'], i) }}
                                </div>
                                <div class="modification-toggle text-right">
                                    <a class="small">Add protocol modification</a>
                                </div>
                                <div class="modification-select" style="display:none">
                                    {{ metrics.form_row_replicate(measurementForm, schema.fields['blood-pressure-protocol-modification'], i) }}
                                    <div class="modification-notes" style="display:none">
                                        {{ metrics.form_row_replicate(measurementForm, schema.fields['blood-pressure-protocol-modification-notes'], i) }}
                                    </div>
                                    {% if schema.fields['manual-blood-pressure'] is defined %}
                                        <div class="modification-manual">
                                            {{ metrics.form_row_replicate(measurementForm, schema.fields['manual-blood-pressure'], i) }}
                                            {{ metrics.form_row_replicate(measurementForm, schema.fields['manual-heart-rate'], i) }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-sm-4 blood-pressure-second-reading-warning" style="display:none">
                <div class="alert alert-info">
                    <p>A second reading is required if any of the measurements in the first reading fall outside of the ranges below</p>
                    <ul>
                        <li><strong>Systolic:</strong> 90-180 mmHg</li>
                        <li><strong>Diastolic:</strong> 50-100 mmHg</li>
                        <li><strong>Heart Rate:</strong> 50-100 bpm</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div{% if attribute(measurementForm.vars.value, 'weight-protocol-modification') == 'whole-blood-donor' %} style="display:none"{% endif %}>
    <div class="panel panel-default">
        <div class="panel-body">
            {{ metrics.form_row(measurementForm, schema.fields['pregnant']) }}
            {{ metrics.form_row(measurementForm, schema.fields['wheelchair']) }}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Weight
                <span class="toggle-help-image" data-id="heightWeightModal">
                    <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
                </span>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row row-equal-height">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{ metrics.form_row(measurementForm, schema.fields['weight']) }}
                            {{ metrics.form_row(measurementForm, schema.fields['weight-prepregnancy']) }}
                            {{ metrics.form_row(measurementForm, schema.fields['weight-protocol-modification']) }}
                            <div class="modification-notes" style="display:none">
                                {{ metrics.form_row(measurementForm, schema.fields['weight-protocol-modification-notes']) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Help placeholder contents -->

<div id="bloodPressureModal" style="display:none">
    <h4 class="help-header-text">Heart Rate &amp; Blood Pressure</h4>
    <ul>
        <li>Participant should relax for five minutes before measurement.</li>
        <li>Ask participant to sit upright with legs uncrossed and feet flat on the floor for measurement.</li>
        <li>Perform measurement using the right arm. If right arm cannot be used, the left arm may be used.</li>
        <li>Participant should breathe in and out slowly.</li>
        <li>Provider and participant should not talk during measurement.</li>
        <li>Take measurements three times, one minute apart.</li>
    </ul>
    <i>See SOP for special considerations.</i>
    <ul>
        <li>{{ sopDocumentTitles['SOP-012'] }}</li>
        <li>{{ sopDocumentTitles['SOP-013'] }}</li>
    </ul>
</div>

<div id="heightWeightModal" style="display:none">
    <h4 class="help-header-text">Weight</h4>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h5>Weight</h5>
            <ul>
                <li>Ask participant to remove heavy outer layers and shoes.</li>
                <li>Scale should be on firm level ground.</li>
                <li>Ensure participant stands tall, eyes looking straight ahead.</li>
            </ul>
            <i>See SOP for special considerations.</i>
            <ul>
                <li>{{ sopDocumentTitles['SOP-014'] }}</li>
            </ul>
            <ul>
                <li>If the participant is NOT an apheresis donor, please select a protocol modification of Whole Blood Donor.</li>
            </ul>
        </div>
    </div>
</div>
