{% import 'measurementform/metrics.html.twig' as metrics %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Blood Pressure
            <span class="toggle-help-image" data-id="bloodPressureModal">
                <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
            </span>
        </h3>
    </div>
    <div class="panel-body">
        {% if schema.fields['blood-pressure-location'] is defined %}
            <div class="well">
                <div class="row">
                    <div class="col-sm-4">
                        {{ metrics.form_row(measurementForm, schema.fields['blood-pressure-location']) }}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row replicate row-equal-height">
            {% for i in 0..2 %}
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p class="text-right"><em>Reading #{{ i + 1 }}</em></p>
                            <div class="modification-block">
                                <div class="modification-affected">
                                    {{ metrics.form_row_replicate(measurementForm, schema.fields['blood-pressure-systolic'], i) }}
                                    {{ metrics.form_row_replicate(measurementForm, schema.fields['blood-pressure-diastolic'], i) }}
                                    {{ metrics.form_row_replicate(measurementForm, schema.fields['heart-rate'], i) }}
                                    {{ metrics.form_row_replicate(measurementForm, schema.fields['irregular-heart-rate'], i) }}
                                </div>
                                <div class="modification-toggle text-right">
                                    <a class="small">Add protocol modification</a>
                                </div>
                                <div class="modification-select" style="display:none">
                                    {{ metrics.form_row_replicate(measurementForm, schema.fields['blood-pressure-protocol-modification'], i) }}
                                    <div class="modification-notes" style="display:none">
                                        {{ metrics.form_row_replicate(measurementForm, schema.fields['blood-pressure-protocol-modification-notes'], i) }}
                                    </div>
                                    {% if schema.fields['manual-blood-pressure'] is defined %}
                                        <div class="modification-manual">
                                            {{ metrics.form_row_replicate(measurementForm, schema.fields['manual-blood-pressure'], i) }}
                                            {{ metrics.form_row_replicate(measurementForm, schema.fields['manual-heart-rate'], i) }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Average</h3>
            </div>
            <div class="panel-body">
                <div class="lead bp-warnings">
                    Blood pressure:
                    <span id="mean-blood-pressure-systolic"></span>
                    /
                    <span id="mean-blood-pressure-diastolic"></span>
                    {{ schema.fields['blood-pressure-systolic'].unit }}
                    <small class="text-muted">(average of 2nd and 3rd measures)</small>
                    <br/>

                    Heart rate:
                    <span id="mean-heart-rate"></span>
                    {{ schema.fields['heart-rate'].unit }}
                    <small class="text-muted">(average of 2nd and 3rd measures)</small>

                    <div id="blood-pressure-systolic-warning"></div>
                    <div id="blood-pressure-diastolic-warning"></div>
                    <div id="heart-rate-warning"></div>
                    <div id="irregular-heart-rate-warning"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        {{ metrics.form_row(measurementForm, schema.fields['pregnant']) }}
        {{ metrics.form_row(measurementForm, schema.fields['wheelchair']) }}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Height and Weight
            <span class="toggle-help-image" data-id="heightWeightModal">
                <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
            </span>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row row-equal-height">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ metrics.form_row(measurementForm, schema.fields['height']) }}
                        {{ metrics.form_row(measurementForm, schema.fields['height-protocol-modification']) }}
                        <div class="modification-notes" style="display:none">
                            {{ metrics.form_row(measurementForm, schema.fields['height-protocol-modification-notes']) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ metrics.form_row(measurementForm, schema.fields['weight']) }}
                        {{ metrics.form_row(measurementForm, schema.fields['weight-prepregnancy']) }}
                        {{ metrics.form_row(measurementForm, schema.fields['weight-protocol-modification']) }}
                        <div class="modification-notes" style="display:none">
                            {{ metrics.form_row(measurementForm, schema.fields['weight-protocol-modification-notes']) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            BMI
                            <span class="toggle-help-image" data-id="bmiModal" style="color:white">
                                <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
                            </span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p class="text-center lead" id="bmi"></p>
                        <div id="bmi-warning" class="metric-warnings text-warning"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default" id="panel-hip-waist">
    <div class="panel-heading">
        <div class="pull-right" id="hip-waist-skip"></div>
        <h3 class="panel-title">
            Waist and Hip Circumference
            <span class="toggle-help-image" data-id="waistHipModal">
                <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
            </span>
        </h3>
    </div>
    <div class="panel-body">
        <h4>Waist</h4>
        <div class="well">
            <div class="row">
                <div class="col-sm-4">
                    {{ metrics.form_row(measurementForm, schema.fields['waist-circumference-location']) }}
                </div>
            </div>
        </div>
        <div class="row replicate row-equal-height">
            {% for i in 0..2 %}
                <div class="col-sm-4">
                    <div class="panel panel-default panel-waist-circumference-{{ i + 1 }}">
                        <div class="panel-body">
                            <p class="text-right"><em>Reading #{{ i + 1 }}</em></p>
                            <div class="modification-block">
                                <div class="modification-affected">
                                    {{ metrics.form_row_replicate(measurementForm, schema.fields['waist-circumference'], i) }}
                                    {% if i == 2 %}
                                        <p class="text-info">Third measurement is required when first two differ by more than 1 cm</p>
                                    {% endif %}
                                </div>
                                <div class="modification-toggle text-right">
                                    <a class="small">Add protocol modification</a>
                                </div>
                                <div class="modification-select" style="display:none">
                                    {{ metrics.form_row_replicate(measurementForm, schema.fields['waist-circumference-protocol-modification'], i) }}
                                    <div class="modification-notes" style="display:none">
                                        {{ metrics.form_row_replicate(measurementForm, schema.fields['waist-circumference-protocol-modification-notes'], i) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr/>
        <h4>Hip</h4>
        <div class="row replicate row-equal-height">
            {% for i in 0..2 %}
                <div class="col-sm-4">
                    <div class="panel panel-default panel-hip-circumference-{{ i + 1 }}">
                        <div class="panel-body">
                            <p class="text-right"><em>Reading #{{ i + 1 }}</em></p>
                            <div class="modification-block">
                                <div class="modification-affected">
                                    {{ metrics.form_row_replicate(measurementForm, schema.fields['hip-circumference'], i) }}
                                    {% if i == 2 %}
                                        <p class="text-info">Third measurement is required when first two differ by more than 1 cm</p>
                                    {% endif %}
                                </div>
                                <div class="modification-toggle text-right">
                                    <a class="small">Add protocol modification</a>
                                </div>
                                <div class="modification-select" style="display:none">
                                    {{ metrics.form_row_replicate(measurementForm, schema.fields['hip-circumference-protocol-modification'], i) }}
                                    <div class="modification-notes" style="display:none">
                                        {{ metrics.form_row_replicate(measurementForm, schema.fields['hip-circumference-protocol-modification-notes'], i) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr/>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Average</h3>
            </div>
            <div class="panel-body">
                <p class="lead">
                    Waist Circumference:
                    <span id="mean-waist-circumference"></span>
                    {{ schema.fields['waist-circumference'].unit }}
                    <span id="convert-waist-circumference"></span>
                    <small class="text-muted">(average of two closest measures)</small>
                    <br/>

                    Hip Circumference:
                    <span id="mean-hip-circumference"></span>
                    {{ schema.fields['hip-circumference'].unit }}
                    <span id="convert-hip-circumference"></span>
                    <small class="text-muted">(average of two closest measures)</small>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Help placeholder contents -->

<div id="bloodPressureModal" style="display:none">
    <h4 class="help-header-text">Heart Rate &amp; Blood Pressure</h4>
    <ul>
        <li>Participant should relax for five minutes before measurement.</li>
        <li>Ask participant to sit upright with legs uncrossed and feet flat on the floor for measurement.</li>
        <li>Perform measurement using the right arm. If right arm cannot be used, the left arm may be used.</li>
        <li>Participant should breathe in and out slowly.</li>
        <li>Provider and participant should not talk during measurement.</li>
        <li>Take measurements three times, one minute apart.</li>
    </ul>
    <i>See SOP for special considerations.</i>
    <ul>
        <li>{{ sopDocumentTitles['SOP-012'] }}</li>
        <li>{{ sopDocumentTitles['SOP-013'] }}</li>
    </ul>
</div>

<div id="heightWeightModal" style="display:none">
    <h4 class="help-header-text">Height &amp; Weight</h4>
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <img src="{{ asset('img/eval/height.png') }}" class="img-responsive"/>
        </div>
        <div class="col-sm-8 col-md-9">
            <h5>Height</h5>
            <ul>
                <li>Ask participant to remove shoes and stand tall, heels against the wall, with feet positioned close together.</li>
                <li>Lower the stadiometer headplate so it rests firmly on top of participant’s head.</li>
            </ul>
            <h5>Weight</h5>
            <ul>
                <li>Ask participant to remove heavy outer layers and shoes.</li>
                <li>Scale should be on firm level ground.</li>
                <li>Ensure participant stands tall, eyes looking straight ahead.</li>
            </ul>
            <i>See SOP for special considerations.</i>
            <ul>
                <li>{{ sopDocumentTitles['SOP-014'] }}</li>
            </ul>
        </div>
    </div>
</div>

<div id="waistHipModal" style="display:none">
    <h4 class="help-header-text">Waist &amp; Hip Measurements</h4>
    <div class="row">
        <div class="col-sm-4">
            <img src="{{ asset('img/eval/waist.png') }}" class="img-responsive"/>
        </div>
        <div class="col-sm-8">
            <ul>
                <li>Inform participant it is not necessary to undress, but it would help if any bulky clothing could be lifted up, to allow their waist to be located.</li>
                <li>Ensure participant stands with feet positioned close together.</li>
                <li>Ask participant to relax and take a few deep breaths.</li>
                <li>The tape should fit snugly around the body, but not pulled so tight that it is constricting.</li>
                <li>Two consecutive waist measurements should be obtained.</li>
                <li>Two consecutive hip measurements should be obtained.</li>
            </ul>
            <i>See SOP for special considerations.</i>
            <ul>
                <li>{{ sopDocumentTitles['SOP-015'] }}</li>
            </ul>
        </div>
    </div>
</div>

<div id="bmiModal" style="display:none">
    <h4 class="help-header-text">BMI</h4>
    <table class="table">
        <thead>
        <tr>
            <th>Weight Category</th>
            <th>BMI (kg/m<sup>2</sup>)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-danger"><strong>Error</strong></td>
            <td>&lt; 5</td>
        </tr>
        <tr>
            <td class="text-warning"><strong>Warning</strong></td>
            <td>&lt; 15</td>
        </tr>
        <tr>
            <td>Underweight</td>
            <td>&lt; 18.5</td>
        </tr>
        <tr>
            <td>Healthy Weight</td>
            <td>18.5 - 24.9</td>
        </tr>
        <tr>
            <td>Overweight</td>
            <td>25 - 29.9</td>
        </tr>
        <tr>
            <td>Obese Class I</td>
            <td>30 - 34.9</td>
        </tr>
        <tr>
            <td>Obese Class II</td>
            <td>35 - 39.9</td>
        </tr>
        <tr>
            <td>Obese Class III</td>
            <td>&gt; 40</td>
        </tr>
        <tr>
            <td class="text-warning"><strong>Warning</strong></td>
            <td>&gt; 50</td>
        </tr>
        <tr>
            <td class="text-danger"><strong>Error</strong></td>
            <td>&gt; 125</td>
        </tr>
        </tbody>
    </table>
</div>
