{% macro form_row(form, definition) %}
    {% import _self as self %}
    {% set name = definition.name %}
    <div data-field="{{ name }}" class="field field-{{ name }} mb-3">
        <label for="{{ form[name].vars.id }}" class="form-label">
            {{ form[name].vars.label }}
        </label>
        {% if definition.showHelpModel is defined %}
            <span class="toggle-help-image" data-id="measurementSourceModal">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                <span class="visually-hidden">Help</span>
            </span>
        {% endif %}
        {% if definition.helpText is defined %}
            <br>
            <small class="text-info">{{ definition.helpText }}</small>
        {% endif %}
        {% if definition.convert is defined %}
            <span id="convert-{{ name }}" class="float-end convert"></span>
        {% endif %}
        {% if definition.unit is defined %}
            <div class="input-group">
                {{ form_widget(form[name]) }}
                <span class="input-group-text">{{ definition.unit }}</span>
            </div>
        {% else %}
            {{ form_widget(form[name]) }}
        {% endif %}
        {{ form_errors(form[name]) }}
    </div>

    {% if definition.alternateunits is defined and definition.alternateunits %}
        {{ self.form_row_alternate_units(definition, name, form) }}
    {% endif %}
{% endmacro %}

{% macro form_row_replicate(form, definition, i) %}
    {% import _self as self %}
    {% set name = definition.name %}
    <div data-field="{{ name }}" data-replicate="{{ i + 1 }}" class="field field-{{ name }} mb-3">
        {{ form_label(form[name][i]) }}
        {% if definition.convert is defined %}
            <span id="convert-{{ name ~ '_' ~ i }}" class="float-end convert"></span>
        {% endif %}
        {% if definition.unit is defined %}
            <div class="input-group">
                {% if definition.secondMax is defined and i == 1 %}
                    {{ form_widget(form[name][i], {'attr': {'data-parsley-max': definition.secondMax, 'data-parsley-min': definition.secondMin}}) }}
                {% else %}
                    {{ form_widget(form[name][i]) }}
                {% endif %}
                <span class="input-group-text">{{ definition.unit }}</span>
            </div>
        {% else %}
            {{ form_widget(form[name][i]) }}
        {% endif %}
        {{ form_errors(form[name][i]) }}
    </div>

    {% if definition.alternateunits is defined and definition.alternateunits %}
        {{ self.form_row_alternate_units(definition, name, form, i) }}
    {% endif %}
{% endmacro %}

{% macro form_row_alternate_units(definition, name, form, i = -1) %}
    {% if definition.convert in ['in', 'lb', 'ftin'] %}
        {% if definition.convert == 'in' %}
            {% set label = 'inches' %}
        {% elseif definition.convert == 'lb' %}
            {% set label = 'pounds' %}
        {% elseif definition.convert == 'ftin' %}
            {% set label = 'feet & inches' %}
        {% endif %}
        <div class="alt-units-block">
            <div class="alt-units-toggle mt-n3">
                <p class="text-end"><a class="small">Click here to enter in {{ label }}</a></p>
            </div>
            <div class="alt-units-field mb-3" style="display:none; margin-top:15px;">
                {% if definition.convert == 'ftin' %}
                    <label for="alt-units-{{ name }}-ftin">Enter in {{ label }} (value will be stored in {{ definition.unit }})</label>
                    {% if definition.captureusersupplied is defined and definition.captureusersupplied %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    {% if i > -1 %}
                                        {{ form_widget(form[name ~ '-ft-user-entered'][i]) }}
                                    {% else %}
                                        {{ form_widget(form[name ~ '-ft-user-entered']) }}
                                    {% endif %}
                                    <span class="input-group-text">ft</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    {% if i > -1 %}
                                        {{ form_widget(form[name ~ '-in-user-entered'][i]) }}
                                    {% else %}
                                        {{ form_widget(form[name ~ '-in-user-entered']) }}
                                    {% endif %}
                                    <span class="input-group-text">in</span>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <label for="alt-units-{{ name }}">Enter in {{ label }} (value will be stored in {{ definition.unit }})</label>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" id="alt-units-{{ name }}-ft" class="form-control alt-units-{{ name }}-ft">
                                    <span class="input-group-text">ft</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" id="alt-units-{{ name }}-in" class="form-control alt-units-{{ name }}-in">
                                    <span class="input-group-text">in</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    {% if definition.captureusersupplied is defined and definition.captureusersupplied %}
                        <div class="input-group">
                            {% if i > -1 %}
                                {{ form_widget(form[name ~ '-user-entered'][i]) }}
                            {% else %}
                                {{ form_widget(form[name ~ '-user-entered']) }}
                            {% endif %}
                            <span class="input-group-text">{{ definition.convert }}</span>
                        </div>
                    {% else %}
                        <div class="input-group">
                            <input type="text" id="alt-units-{{ name }}" name="alt-units-{{ name }}" class="form-control">
                            <span class="input-group-text">{{ definition.convert }}</span>
                        </div>
                    {% endif %}
                {% endif %}
                <p class="text-end"><a class="small">Cancel</a></p>
            </div>
        </div>
    {% endif %}
{% endmacro %}
