<nav class="navbar navbar-expand-lg navbar-inverse {% if isTraining %} navbar-warning-below {% endif %}">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}" {% if siteInfo.canSwitchProgram %}
            data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" {% endif %}>
            <img src="{{ asset('img/all-of-us-logo-stacked-inverted.svg') }}" alt="All of Us logo"/>
        </a>
        {% if siteInfo.canSwitchProgram %}
            <ul class="dropdown-menu dropdown-menu-role navbar-program">
                <li>
                    <a class="dropdown-item ms-2" href="{{ path('program_select', { program: 'nph' }) }}">
                        <img src="{{ asset('img/nph-logo-green.svg') }}" alt="NPH logo"/>
                        Nutrition for Precision Health
                    </a>
                </li>
            </ul>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#pmi-navbar-collapse" aria-controls="pmi-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="pmi-navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if not showRoleDropdown %}
                    <li class="nav-item">
                        <a class="nav-link navbar-brand " href="{{ path('home') }}">
                            HealthPro
                            {% if isTraining %}
                                <div class="navbar-brand-subtitle single-subtitle">training</div>
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
                {% if showRoleDropdown %}
                    <li class="nav-item dropdown">
                        <a class="nav-link navbar-brand dropdown-toggle" href="{{ path('home') }}" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            HealthPro
                            {% if currentRoleNav and roleNavs[currentRoleNav] is defined %}
                                <span class="navbar-brand-role">{{ roleNavs[currentRoleNav].title }}</span>
                            {% endif %}
                            {% if isTraining %}
                                <span class="navbar-brand-subtitle" style="margin-left: 0">training</span>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-role">
                            {% if is_granted('ROLE_USER') or is_granted('ROLE_AWARDEE') %}
                                <li>
                                    <a class="dropdown-item" href="{{ path('home') }}">
                                        <i class="fas fa-arrow-circle-right"></i>
                                        {% if not currentRoleNav %}
                                            <strong>HealthPro</strong>
                                        {% else %}
                                            HealthPro
                                        {% endif %}
                                    </a>
                                </li>
                            {% endif %}
                            {% for key, roleNav in roleNavs|filter((roleNav, key) => is_granted(roleNav.role) and
                                not (key == 'biobank' and is_granted('ROLE_SCRIPPS')) and key != 'nph_biobank' and key != 'nph_admin') %}
                                {# Scripps and biobank roles point to the same route, so only display one if user has both roles #}
                                <li>
                                    <a class="dropdown-item" href="{{ path(roleNav.path) }}">
                                        <i class="fas fa-arrow-circle-right"></i>
                                        {% if key == currentRoleNav %}
                                            <strong>{{ roleNav.title }}</strong>
                                        {% else %}
                                            {{ roleNav.title }}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
                {% if not currentRoleNav %}
                    {% if is_granted('ROLE_USER') and app.session.get('site') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lookup</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path('participants') }}"><i class="fa fa-user" aria-hidden="true"></i> Participant Lookup</a></li>
                                <li><a class="dropdown-item" href="{{ path('orders') }}"><i class="fa fa-medkit" aria-hidden="true"></i> Biobank Order Lookup</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Review</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path('review_today') }}"><i class="fa fa-list" aria-hidden="true"></i> Daily Review</a></li>
                                <li><a class="dropdown-item" href="{{ path('deceased_reports_index') }}"><i class="fa fa-hourglass-o" aria-hidden="true"></i> Deceased Participants</a></li>
                                <li><a class="dropdown-item" href="{{ path('on_site_id_verification') }}"><i class="fa fa-clipboard-list" aria-hidden="true"></i> On-Site Details Reporting</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') and app.session.get('site') and app.session.get('orderType') == 'dv' and reportKitUrl %}
                        <li class="nav-item"><a data-href="{{ reportKitUrl }}" class="nav-link external-link">Report Kit Problem</a></li>
                    {% endif %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if not currentRoleNav %}
                        {% if app.session.get('site') %}
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#siteModal" title="Current site">
                                    <i class="fa fa-hospital-o" aria-hidden="true"></i>
                                    {% if isCurrentProgramHpo() and not siteInfo.activeSite(app.session.get('site').id) %} (Inactive) {% endif %}
                                    {{ app.session.get('siteEntity').name|default(app.session.get('site').name) }}
                                </a>
                            </li>
                        {% endif %}
                        {% if app.session.get('awardee') %}
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#siteModal" title="Current site">
                                    <i class="fa fa-hospital-o" aria-hidden="true"></i>
                                    {{ app.session.get('awardee').name }}
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a href="{{ path('settings') }}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> {{ app.user.email|default('') }}</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('settings') }}"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li>
                            <li><a class="dropdown-item" href="{{ path('logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
