{% macro displayModifyBannerMessage(obj, displayTimezone = false) %}
    {% if obj.modifyType == 'cancel' %}
        <div class="alert alert-danger well-sm">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <strong>
                Cancelled by {{ _self.displayModifiedInfo(obj, displayTimezone) }}
            </strong>
            <p><strong>Reason:</strong> {{ obj.modifyReasonDisplayText }}</p>
        </div>
    {% elseif obj.modifyType == 'unlock' %}
        <div class="alert alert-warning well-sm">
            <strong>
                Unlocked for editing by {{ _self.displayModifiedInfo(obj, displayTimezone) }}
            </strong>
            <p><strong>Reason:</strong> {{ obj.modifyReasonDisplayText }}</p>
        </div>
    {% endif %}
{% endmacro %}

{% macro displayModifiedInfo(obj, displayTimezone = false) %}
    {{ obj.modifiedUser.email|default('Unknown') }} at {{ siteInfo.siteDisplayName(obj.modifiedSite) }} on
    {% if displayTimezone %}
        {{ _self.displayDateAndTimezone(obj.modifiedTs, obj.modifiedTimezoneId) }}
    {% else %}
        {{ obj.modifiedTs|date('F j, Y g:ia', app.user.timezone) }}
    {% endif %}
{% endmacro %}

{% macro displayAliquotStatus(status) %}
    {% if status == 'cancel' %}
        <span class="text-danger">Removed</span>
    {% else %}
        <span class="text-success">Active</span>
    {% endif %}
{% endmacro %}

{% macro generateStatusLabel(status) %}
    {% if status == 'Collected' %}
        {% set labelClass = 'bg-primary' %}
    {% elseif status == 'Finalized' %}
        {% set labelClass = 'bg-success' %}
    {% elseif status == 'In Progress' %}
        {% set labelClass = 'bg-warning' %}
    {% elseif status == 'Canceled' %}
        {% set labelClass = 'bg-danger' %}
    {% else %}
        {% set labelClass = 'bg-secondary' %}
    {% endif %}
    <span><span class="badge rounded-1 {{ labelClass }}">{{ status }}</span></span>
{% endmacro %}

{% macro displayDateAndTimezone(time, timezoneId, displayIcon = true) %}
    {% if time %}
        {% if timezoneId %}
            {{ time|date('n/j/Y g:ia T', userTimezones[timezoneId]) }}
        {% else %}
            {{ time|date('n/j/Y g:ia', app.user.timezone) }}
        {% endif %}
    {% elseif displayIcon %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
    {% endif %}
{% endmacro %}

{% macro displayCollectAliquotStatus(nphSample) %}
    {% if nphSample is not null %}
        {% if nphSample.getBiobankFinalized %}
            {% set biobank = 'Biobank ' %}
        {% else %}
            {% set biobank = '' %}
        {% endif %}
        {% if nphSample.modifyType == constant('App\\Entity\\NphSample::EDITED') %}
            {{ 'Edited and ' ~ biobank ~'Finalized' }}
            {{ _self.displayDateAndTimezone(nphSample.modifiedTs, nphSample.modifiedTimezoneId) }}
        {% else %}
            {{ 'Aliquoted and ' ~ biobank ~' Finalized' }}
            {{ _self.displayDateAndTimezone(nphSample.finalizedTs, nphSample.finalizedTimezoneId) }}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro displayBiobankSampleStatus(nphSample, downtimeGenerated = null) %}
    {% set type = nphSample.modifyType %}
    {% set status = '' %}
    {% if type == constant('App\\Entity\\NphSample::CANCEL') %}
        {% set status = 'Cancelled' %}
    {% elseif type == constant('App\\Entity\\NphSample::UNLOCK') %}
        {% set status = 'Unlocked' %}
    {% elseif type == constant('App\\Entity\\NphSample::EDITED') %}
        {% set status = 'Edited & Finalized' %}
    {% elseif nphSample.finalizedTs %}
        {% set status = nphSample.biobankFinalized ? 'Biobank Finalized' : 'Finalized' %}
    {% elseif nphSample.collectedTs %}
        {% set status = 'Collected' %}
    {% elseif nphSample.createdTs %}
        {% set status = 'Created' %}
    {% endif %}
    {{ status }} {% if downtimeGenerated %} (Downtime) {% endif %}
{% endmacro %}

{% macro displayModuleConsents(programSummaryAndOrderInfo, participant) %}
    {% for moduleNumber, module in programSummaryAndOrderInfo|filter((m, num) => num == 1) %}
        <ul class="list-group mb-2">
            {% if participant.module %}
                <span class="nph-module-badge nph-module-{{ moduleNumber }}">NPH Module {{ moduleNumber }}</span>
            {% endif %}
            {% if moduleNumber == 1 %}
                <li class="list-group-item">{{ _self.displayHairNailOptin(participant) }}</li>
            {% endif %}
        </ul>
    {% endfor %}
{% endmacro %}

{% macro displayConsentCheck(consentStatus, participant) %}
    {% if consentStatus['value'] == constant('OPTIN_PERMIT', participant) %}
        <i class="fa fa-check text-success" aria-hidden="true"></i>
    {% else %}
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
    {% endif %}
{% endmacro %}

{% macro displayHairNailOptin(participant) %}
        {% if participant.module1TissueConsentStatus == constant('OPTIN_PERMIT', participant) %}
            <i class="fa fa-check text-success" title="The participant has opted into hair and nail collections" data-bs-toggle="tooltip" data-bs-container="body" aria-hidden="true"></i>
            <strong>Hair & Nail Opt-In</strong>
        {% elseif participant.module1TissueConsentStatus == constant('OPTIN_NAIL', participant) %}
            <i class="fa fa-check text-warning" title="The participant has opted into nail collections only" data-bs-toggle="tooltip" data-bs-container="body" aria-hidden="true"></i>
            <strong>Nail Only Opt-In</strong>
        {% elseif participant.module1TissueConsentStatus == constant('OPTIN_HAIR', participant) %}
            <i class="fa fa-check text-warning" title="The participant has opted into hair collections only" data-bs-toggle="tooltip" data-bs-container="body" aria-hidden="true"></i>
            <strong>Hair Only Opt-In</strong>
        {% else %}
            <i class="fa fa-times text-danger"  title="The participant has <u>not</u> opted into hair and nail collections" data-bs-html="true" data-bs-toggle="tooltip" data-bs-container="body" aria-hidden="true"></i>
            <strong>Hair & Nail Opt-In</strong>
        {% endif %}
        {{ participant.module1TissueConsentTime ? participant.module1TissueConsentTime|date('m/d/Y') : '--' }}
{% endmacro %}
