{% set bootstrapVersion = bootstrapVersion|default(3) %}
{% set isTraining = isStable %}
{% set roleNavs = {
    admin: {
        role: 'ROLE_ADMIN',
        title: 'Admin',
        path: 'admin_home'
    },
    problem_reports: {
        role: 'ROLE_DV_ADMIN',
        title: 'Problem Reports',
        path: 'problem_reports'
    },
    scripps: {
        role: 'ROLE_SCRIPPS',
        title: 'Scripps',
        path: 'biobank_home'
    },
    biobank: {
        role: 'ROLE_BIOBANK',
        title: 'Biobank',
        path: 'biobank_home'
    },
    nph_biobank: {
        role: 'ROLE_NPH_BIOBANK',
        title: 'Biobank',
        path: 'nph_biobank_home'
    },
    read_only: {
        role: 'ROLE_READ_ONLY',
        title: 'Support Center',
        path: 'read_home'
    }
} %}
{% set showRoleDropdown = false %}
{% for roleNav in roleNavs %}
    {% set showRoleDropdown = showRoleDropdown or is_granted(roleNav.role) %}
{% endfor %}
{% set currentRoleNav = currentRoleNav|default(false) %}
<!doctype html>
<html lang="en">
<head>
    {% include 'base-head.html.twig' %}
    <title>{% block title %}{% endblock %}HealthPro</title>
</head>
<body>
{% include LoadProgramTemplate(bootstrapVersion == 5 ? 'navbar-bs5.html.twig' : 'navbar.html.twig') %}
{% if isTraining %}
    <div class="navbar-warning alert alert-warning">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        This portal is to be used for training with fake data only. <strong>No real participant data should ever be entered into this system.</strong>
    </div>
{% endif %}
<div class="{% block bodycontainer %}container{% endblock %}">
    {% if global_notices is defined and global_notices|length > 0 %}
        {% for notice in global_notices %}
            <div class="alert alert-warning">
                {{ notice.message|raw }}
            </div>
        {% endfor %}
    {% endif %}
    <div id="flash-notices">
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ flashMessage }}</div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-info"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ flashMessage }}</div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ flashMessage }}</div>
        {% endfor %}
    </div>

    {% block body %}{% endblock %}
</div>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="modal fade" id="siteModal" tabindex="-1" role="dialog" aria-labelledby="siteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="POST" action="{{ path('site_select') }}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="siteModalLabel">Current site</h4>
                    </div>
                    <div class="modal-body">
                        {% set sites = isCurrentProgramHpo() ? app.user.sites : app.user.nphSites %}
                        {% if sites|length == 0 and app.user.awardees|length == 0 %}
                            <span class="text-danger">You do not belong to any HPO sites!</span>
                        {% else %}
                            <select class="form-control" name="site">
                                {% for site in sites %}
                                    <option value="{{ site.email }}"{{ (app.session.get('site') and app.session.get('site').email == site.email) ? ' selected' : ''}} >{{ attribute(app.session.get('userSiteDisplayNames'), site.id)|default(site.name) }}</option>
                                {% endfor %}
                                {% if isCurrentProgramHpo() %}
                                    {% for awardee in app.user.awardees %}
                                        <option value="{{ awardee.email }}"{{ (app.session.get('awardee') and app.session.get('awardee').email == awardee.email) ? ' selected' : ''}} >{{ awardee.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        {% endif %}
                    </div>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token('siteSelect') }}"/>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        {% if app.user.sites|length > 0 or app.user.awardees|length > 0 %}
                            <button type="submit" class="btn btn-primary">Switch</button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="modal fade" id="notificationsModal" tabindex="-1" role="dialog" aria-labelledby="notificationsModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

{% include 'base-body.html.twig' %}

{{ encore_entry_script_tags(bootstrapVersion == 5 ? 'app5' : 'app') }}

{% block pagejs %}{% endblock %}
</body>
</html>
