{% set bootstrapVersion = bootstrapVersion|default(3) %}
{% set isTraining = isStable %}
{% set roleNavs = {
    admin: {
        role: 'ROLE_ADMIN',
        title: 'Admin',
        path: 'admin_home'
    },
    problem_reports: {
        role: 'ROLE_DV_ADMIN',
        title: 'Problem Reports',
        path: 'problem_reports'
    },
    scripps: {
        role: 'ROLE_SCRIPPS',
        title: 'Scripps',
        path: 'biobank_home'
    },
    biobank: {
        role: 'ROLE_BIOBANK',
        title: 'Biobank',
        path: 'biobank_home'
    },
    nph_biobank: {
        role: 'ROLE_NPH_BIOBANK',
        title: 'Biobank',
        path: 'nph_biobank_home'
    },
    nph_admin: {
        role: 'ROLE_NPH_ADMIN',
        title: 'Admin',
        path: 'nph_admin_home'
    },
    read_only: {
        role: 'ROLE_READ_ONLY',
        title: 'Support Center',
        path: 'read_home'
    }
} %}
{% set showRoleDropdown = false %}
{% for roleNav in roleNavs %}
    {% set showRoleDropdown = showRoleDropdown or is_granted(roleNav.role) %}
{% endfor %}
{% set currentRoleNav = currentRoleNav|default(false) %}
{% set isActiveSite = app.session.get('siteEntity') ? app.session.get('siteEntity').status : 0 %}
{% set readOnlyRoute = app.request.attributes.get('_route') starts with 'read_' %}
{% set displayInactiveSiteBanner = not readOnlyRoute and not isActiveSite  %}
<!doctype html>
<html lang="en">
<head>
    {% include 'base-head.html.twig' %}
    <title>{% block title %}{% endblock %}HealthPro</title>
</head>
<body>
{% include LoadProgramTemplate(bootstrapVersion == 5 ? 'navbar-bs5.html.twig' : 'navbar.html.twig') %}
{% if isTraining %}
    <div class="navbar-warning alert alert-warning">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        This portal is to be used for training with fake data only. <strong>No real participant data should ever be entered into this system.</strong>
    </div>
{% endif %}
<div class="{% block bodycontainer %}container{% endblock %}">
    {% if bootstrapVersion == 5 %} <br> {% endif %}
    {% if global_notices is defined and global_notices|length > 0 %}
        {% for notice in global_notices %}
            <div class="alert alert-warning">
                {{ notice.message|raw }}
            </div>
        {% endfor %}
    {% endif %}
    {% if bootstrapVersion == 5 %}
        <div>
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                    <strong>{{ flashMessage }}</strong><button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
                    <strong>{{ flashMessage }}</strong><button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                    <strong>{{ flashMessage }}</strong><button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div id="flash-notices">
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ flashMessage }}</div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-info"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ flashMessage }}</div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ flashMessage }}</div>
            {% endfor %}
        </div>
    {% endif %}

    {% block body %}{% endblock %}
</div>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% include bootstrapVersion == 5 ? 'partials/modals/site-select-bs5.html.twig' : 'partials/modals/site-select.html.twig' %}
    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" id="helpModalBs5">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="modal fade" id="notificationsModal" tabindex="-1" role="dialog" aria-labelledby="notificationsModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

{#The hidden-* and visible-* classes no longer exist in Bootstrap 5 so using display classes accordingly#}
<div id="is-xs" class="visible-xs d-block d-sm-none"></div>
{% include 'base-body.html.twig' %}

{{ encore_entry_script_tags(bootstrapVersion == 5 ? 'app5' : 'app') }}

{% block pagejs %}{% endblock %}
</body>
</html>
