<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>HealthPro Login</title>
{% include 'base-head.html.twig' %}
{{ encore_entry_link_tags('login') }}
</head>
<body>
    <div id="login-aou-banner">
        <img src="/assets/img/login/aou-horizontal-logo.jpg" alt="All of Us Research Program" class="img-responsive" />
    </div>
    <div id="login-container" class="container">
        <div class="row">
            <div id="login-action-box" class="col-md-5">
                <div id="login-logo">
                    <img src="/assets/img/login/healthpro-logo.svg" alt="HealthPro" class="img-responsive" />
                </div>
                <div id="login-action">
                    {% if loginForm is not defined %}
                        <div>
                            <a href="{{ path('login_start') }}">
                                <img src="/assets/img/login/sign-in-with-google.svg" alt="Sign in with Google" />
                            </a>
                        </div>
                    {% else %}
                        <div class="text-left">
                            <h4><i class="fa fa-sign-in" aria-hidden="true"></i> Mock Login</h4>
                            {{ form_start(loginForm, { attr: { class: 'prevent-resubmit' } }) }}
                            {{ form_widget(loginForm) }}
                            <p>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </p>
                            {{ form_end(loginForm) }}
                        </div>
                    {% endif %}

                    {% if dashboardUrl %}
                        <hr />
                        <div class="links">
                            <i class="fas fa-chart-line fa-fw"></i> <a href="{{ dashboardUrl }}">HealthPro Dashboards</a>
                        </div>
                    {% endif %}
                </div>
                <div id="login-help">
                    For immediate assistance or technical support, please contact the AoU Support Center at 844-842-2854 or <a href="mailto:help@joinallofus.org">help@joinallofus.org</a>.
                </div>
            </div>
        </div>
    </div>
    <div id="login-copyright">
        <em>All of Us</em> and the <em>All of Us</em> logo are service marks of the U.S. Department of Health and Human Services.
    </div>
</body>
</html>
