<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>HealthPro Login</title>
{% include 'base-head.html.twig' %}
{{ encore_entry_link_tags('login') }}
</head>
<body>
    <div id="login-container" class="container">
        <div class="row">
            <div id="login-action-box" class="col-md-5">
                <div id="login-logo">
                    <img src="/assets/img/login/healthpro-logo.svg" alt="HealthPro" class="img-responsive" />
                </div>
                <div id="login-action">
                    {% if loginForm is not defined %}
                        <div>
                            <a href="{{ path('login_start') }}">
                                <img src="/assets/img/login/sign-in-with-google.svg" alt="Sign in with Google" />
                            </a>
                        </div>
                    {% else %}
                        <div class="text-left">
                            <h4><i class="fa fa-sign-in" aria-hidden="true"></i> Mock Login</h4>
                            {{ form_start(loginForm, { attr: { class: 'prevent-resubmit' } }) }}
                            {{ form_widget(loginForm) }}
                            <p>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </p>
                            {{ form_end(loginForm) }}
                        </div>
                    {% endif %}

                    <hr />
                    <div class="links">
                        <i class="fas fa-exclamation-triangle fa-fw"></i> <a href="{{ report_technical_issue_url }}" target="_blank">Report a Technical Issue</a>
                    </div>
                </div>
                <div id="login-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="{{ asset('img/login/nph-new-logo.jpg') }}" alt="Nutrition for Precision Health">
                        </div>
                    </div>
                </div>
                <div id="login-help">
                    <h4>NPH Support</h4>
                    <p><a href="https://redcapedc.rti.org/nph/surveys/?s=ED7KXY7DRF4JTFP3">NPH Help Desk</a> <br>Or<br>
                        <a href="mailto:NPH-Helpdesk@nutritionforprecisionhealth.org">NPH-Helpdesk@nutritionforprecisionhealth.org</a></p>
                </div>
            </div>
        </div>
    </div>
    <div id="login-copyright">
        <img src="{{ asset('img/login/logo-aou.svg') }}" width="150" height="100" alt="HealthPro">
        <br>
        <em>All of Us</em> and the <em>All of Us</em> logo are service marks of the U.S. Department of Health and Human Services.
    </div>
    {% block pagejs %}
        {{ encore_entry_script_tags('login') }}
    {% endblock %}
</body>
</html>
