{% if consentType == 'primary' %}
    {% set consentTypeText = 'Primary' %}
    {% set currentDateField = 'reconsentForStudyEnrollmentAuthored' %}
    {% set updatedStatusField = 'consentForStudyEnrollment' %}
    {% set updatedDateField = 'consentForStudyEnrollmentAuthored' %}
    {% set firstAgreedDateField = 'consentForStudyEnrollmentFirstYesAuthored' %}
    {% set currentFilePathField = 'reconsentForStudyEnrollementFilePath' %}
    {% set updatedFilePathField = 'consentForStudyEnrollmentFilePath' %}
{% else %}
    {% set consentTypeText = 'EHR' %}
    {% set currentDateField = 'reconsentForElectronicHealthRecordsAuthored' %}
    {% set updatedStatusField = 'consentForElectronicHealthRecords' %}
    {% set updatedDateField = 'consentForElectronicHealthRecordsAuthored' %}
    {% set firstAgreedDateField = 'consentForElectronicHealthRecordsFirstYesAuthored' %}
    {% set currentFilePathField = 'rconsentForElectronicHealthRecordsFilePath' %}
    {% set updatedFilePathField = 'consentForElectronicHealthRecordsFilePath' %}
{% endif %}
<div class="modal-header">
    <button type="button" class="close pmi-x-out hidden"><span>&times;</span></button>
    <h4 class="modal-title"><i class="fa fa-file-pdf"></i> View Historical {{ consentTypeText }} Consent</h4>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{ participant.lastName }}, {{ participant.firstName }} {{ participant.middleName }}</dd>
        <dt>DOB</dt>
        <dd>{{ participant.dob ? participant.dob|date('n/j/Y') : '--' }}</dd>
        <dt>Participant ID</dt>
        <dd>{{ participant.id }}</dd>
    </dl>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ consentTypeText }} Consent History</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% if attribute(participant, currentDateField) %}
            <tr>
                <td>
                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                    {{ _self.displayConsent(attribute(participant, currentDateField), attribute(participant, currentFilePathField), currentDateField, participant.id) }}
                    (Consented Yes)
                </td>
                <td>Current Status, Re-consented</td>
            </tr>
        {% endif %}
        {% if attribute(participant, updatedDateField) %}
            <tr>
                <td>
                    {{ _self.displayConsent(attribute(participant, updatedDateField), attribute(participant, updatedFilePathField), updatedStatusField, participant.id) }}
                    {{ attribute(participant, updatedStatusField) ? consentStatusDisplayText[attribute(participant, updatedStatusField)] : '(Consent Not Completed)' }}
                </td>
                <td>Updated</td>
            </tr>
        {% endif %}
        {% if attribute(participant, firstAgreedDateField) %}
            <tr>
                <td>
                    {{ _self.displayConsent(attribute(participant, firstAgreedDateField), attribute(participant, updatedFilePathField), updatedStatusField, participant.id) }}
                    (Consented Yes)
                </td>
                <td>First Agree to Participate</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
</div>
{% macro displayConsent(time, filePath, consentType, participantId) %}
    {% set consentTime = time|date('n/j/Y g:ia', app.user.timezone) %}
    {% if filePath %}
        <a href="{{ path('participant_consent', {id: participantId, consentType: consentType}) }}"
           target="_blank">{{ consentTime }}</a>
    {% else %}
        {{ consentTime }}
    {% endif %}
{% endmacro %}
