<div class="modal fade" id="manage_views_modal" tabindex="-1" role="dialog" aria-labelledby="manage_views_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pmi-x-out hidden"><span>&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-save"></i> Manage Views</h4>
            </div>
            <div class="modal-body">
                <table class="table table-manage-views">
                    <thead>
                    <tr>
                        <td><strong>My Views</strong></td>
                        <td>Edit</td>
                        <td>Delete</td>
                        <td>Default</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for workQueueView in workQueueViews %}
                        <tr>
                            <td>
                                {{ workQueueView.name }}
                            </td>
                            <td>
                                <i class="fa fa-edit wq-view-edit" aria-hidden="true"
                                   data-href="{{ path('workqueue_view', { id: workQueueView.id, viewType: viewType,
                                       currentUrl: currentUrl }) }}" data-type="edit" role="button"></i>
                            </td>
                            <td>
                                {% if viewId != workQueueView.id %}
                                    <i class="fa fa-trash wq-view-delete" aria-hidden="true"
                                       data-id="{{ workQueueView.id }}" data-type="delete" role="button"></i>
                                {% endif %}
                            </td>
                            <td>
                                <input type="checkbox" id="default_view_status_{{ workQueueView.id }}"
                                       class="default-view-status" name="default_view_status"
                                       data-toggle="toggle" data-onstyle="success" data-size="mini"
                                       data-id="{{ workQueueView.id }}"
                                       data-url="{{ path('workqueue_view_change_default', {id: workQueueView.id}) }}"
                                       value="1" {% if workQueueView.defaultView %} checked="checked" {% endif %}>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <table class="table table-manage-views">
                    <thead>
                    <tr>
                        <td><strong>Present Views</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Participant Work Queue</td>
                    </tr>
                    <tr>
                        <td>Participant Consents</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
