<div class="modal-header">
    <button type="button" class="close pmi-x-out hidden"><span>&times;</span></button>
    <h4 class="modal-title"><i class="fa fa-save"></i> {{ workQueueViewId is defined ? 'Rename View' : 'Save View' }}</h4>
</div>
<div class="modal-body">
    {% set queryParams = params is defined ? params : '' %}
    {% if workQueueViewId is defined %}
        {% set actionUrl = path('workqueue_view', { id: workQueueViewId, params: queryParams, viewType: viewType,
            currentUrl: currentUrl }) %}
        {% set nameCheckUrl = path('workqueue_view_check_name', { id: workQueueViewId }) %}
        {% set formId = 'workqueue_view_form_' ~ workQueueViewId %}
    {% else %}
        {% set actionUrl = path('workqueue_view', { params: queryParams, viewType: viewType }) %}
        {% set nameCheckUrl = path('workqueue_view_check_name') %}
        {% set formId = 'workqueue_view_form' %}
    {% endif %}
    {{ form_start(workQueueViewForm, { attr: { action: actionUrl, id: formId, class: 'workqueue-view-form' } }) }}
    {{ form_rest(workQueueViewForm) }}
    <button type="button" class="btn btn-primary save-view-btn" data-url="{{ nameCheckUrl }}"
            data-form-id="{{ formId }}">Save</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    {{ form_end(workQueueViewForm) }}
</div>
