<div style="width: 100%; height: 15%; font-size: 20px; margin-bottom: 5px">
    <div align="left" style="width: 65%; float: left">{{ PatientName }}</div>
    <div align="left" style="float: right; width: 35%">{{ dob }}</div>
</div>
<div style="height: 15%; font-size: 20px; margin-bottom: 15px" align="center">
    <div align="left" style="width: 25%; float: left;">M{{ ModuleNum }}</div>
    <div align="right" style="width: 25%; float: left">{{ VisitType }}</div>
    <div align="right" style="width: 30%; float: right">{{ TimePoint }}</div>
</div>
<div align="center" style="margin-bottom: 10px;">
    <barcode style="float: left; width: 60%" code="{{ SpecimenID }}" size="1.2" height="0.9" type="C128B"/>
</div>
<div style="height: 15%; width: 100%; font-size: 20px; margin-bottom: 5px">
    <div align="center" >{{ SpecimenID }}</div>
</div>
<div>
    <div align="left" style="font-size: 20px; height: 15%; width: 100%; float: left">Date/Time:________________</div>
</div>
<div align="right" style="width: 100%; justify-content: right;position: absolute; font-size: 20px; font-weight: bold; left: 290px; bottom: 15px;">{{ SampleCode }}</div>
