{% set bootstrapVersion = 5 %}
{% extends 'base.html.twig' %}
{% block title %}Today - Daily Review - {% endblock %}
{% block bodycontainer %}container-fluid{% endblock %}
{% set missingName = '' %}
{% import 'review/_macros.html.twig' as today %}

{% block body %}
    {% form_theme todayFilterForm 'custom_bootstrap_5_layout.html.twig' %}
    {% include 'program/nph/review/page_heading.html.twig' %}
    <div class="card today-filter-well" data-title="Filter">
        <div class="card-body">
            {{ form_start(todayFilterForm, { attr: { class: 'w-100', autoComplete: 'off' } }) }}
            {{ form_errors(todayFilterForm) }}
            <div class="today-filter text-center">
                <div class="row justify-content-center align-items-center gx-3">
                    <div class="col-auto d-flex align-items-center">
                        <label for="{{ todayFilterForm.start_date.vars.id }}" class="form-label mb-0 me-2 align-middle required fw-bold">Start Date</label>
                        <div>
                            {{ form_widget(todayFilterForm.start_date, { attr: { class: 'form-control' } }) }}
                        </div>
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        <label for="{{ todayFilterForm.end_date.vars.id }}" class="form-label mb-0 me-2 align-middle fw-bold">End Date</label>
                        <div>
                            {{ form_widget(todayFilterForm.end_date, { attr: { class: 'form-control' } }) }}
                        </div>
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        {{ form_widget(todayFilterForm.Submit, { attr: { class: 'btn btn-primary' } }) }}
                        <a href="{{ path('nph_review_today') }}" class="btn btn-secondary ms-2">Reset</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_errors(todayFilterForm.start_date) }}
                        {{ form_errors(todayFilterForm.end_date) }}
                    </div>
                </div>
            </div>
            {{ form_end(todayFilterForm) }}
        </div>
    </div>
    <div class="text-center text-warning mt-3">
        <strong>{{ displayMessage }}</strong>
    </div>

    <table class="table table-bordered table-small table-review" id="table-today" data-name-lookup-url="{{ path('nph_review_participant_lookup', { csrf_token: csrf_token('review'), id: '' }) }}" data-missing-name="{{ missingName }}">
        <thead>
        <tr>
            <th rowspan="2">Participant ID</th>
            <th rowspan="2">Name</th>
            <th>Biobank ID</th>
            <th>Module</th>
            <th>Visit</th>
            <th>Timepoint</th>
            <th>Order ID</th>
            <th>Samples</th>
            <th>Sample ID</th>
            <th>Created By</th>
            <th>Created <span class="badge bg-secondary">{{ createdCount }}</span></th>
            <th>Collected <span class="badge bg-warning">{{ collectedCount }}</span></th>
            <th>Aliquoted and Finalized <span class="badge bg-success">{{ finalizedCount }}</span></th>
        </tr>
        </thead>
        <tbody>
        {% set participantId = 0 %}
        {% set lastModule = 0 %}
        {% set lastVisit = '' %}
        {% for id, sample in samples %}
            {% set sampleLength = sample.sampleId|length %}
            {% set rowSpanLength = sampleLength + 1 %}
            {% set rowSpan = 'rowspan =' ~ rowSpanLength %}
            {% set participantRowSpawn = 'rowspan =' ~ rowCounts[sample.participantId]['participantRow'] %}
            {% set moduleRowSpan = 'rowspan =' ~ rowCounts[sample.participantId]['module'~sample.module] %}
            {% if participantId != sample.participantId %}
                <td {{ participantRowSpawn }}>{{ sample.participantId }}</td>
                {% if sample.participant is defined %}
                    <td {{ participantRowSpawn }}>
                        <a href="{{ path('nph_participant_summary', { participantId: sample.participantId }) }}">{{ sample.participant.lastName }}, {{ sample.participant.firstName }}</a>
                    </td>
                    <td {{ participantRowSpawn }}>{{ sample.participant.biobankId }}</td>
                {% else %}
                    <td {{ participantRowSpawn }} data-participant-id="{{ sample.participantId }}" data-href="{{ path('nph_participant_summary', { participantId: sample.participantId }) }}" class="load-name">
                        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                        <span class="sr-only">Loading...</span>
                    </td>
                    <td {{ participantRowSpawn }} data-participant-id="{{ sample.participantId }}"  class="load-biobankid">
                        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                        <span class="sr-only">Loading...</span>
                    </td>
                {% endif %}
            {% endif %}
            {% if lastModule != sample.module or participantId != sample.participantId %}
                <td {{ moduleRowSpan }}>
                    {{ sample.module }}
                </td>
                <td {{ moduleRowSpan }}>{{ constant('App\\Entity\\NphOrder::VISIT_DISPLAY_NAME_MAPPER')[sample.visitPeriod] }}</td>
            {% endif %}
            <td {{ rowSpan }}>{{ sample.timepoint }}</td>
            <td {{ rowSpan }}><a href="{{ path('nph_order_collect', {participantId: sample.participantId, orderId: sample.hpoOrderId}) }}">{{ sample.orderId }}</a></td>
            {% for i in 0..sampleLength - 1 %}
                <tr>
                    <td>{{ sample.sampleCode[i] }}</td>
                    <td>{{ sample.sampleId[i] }}</td>
                    <td>{{ sample.email[i] }}</td>
                    {% if sample.createdTs[i] != '' %}
                        <td>{{ sample.createdTs[i]|date("m/d/Y h:i A", timezone) }}</td>
                    {% else %}
                        <td><i class="fa fa-times text-danger" aria-hidden="true"></i></td>
                    {% endif %}
                    {% if sample.collectedTs[i] != '' %}
                        <td>{{ sample.collectedTs[i]|date("m/d/Y h:i A", timezone) }}</td>
                    {% else %}
                        <td><i class="fa fa-times text-danger" aria-hidden="true"></i></td>
                    {% endif %}
                    {% if sample.finalizedTs[i] != '' %}
                        <td>{{ sample.finalizedTs[i]|date("m/d/Y h:i A", timezone) }}</td>
                    {% else %}
                        <td><i class="fa fa-times text-danger" aria-hidden="true"></i></td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% set participantId = sample.participantId %}
            {% set lastModule = sample.module %}
        {% else %}
            <tr>
                <td colspan="99" align="center">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('today') }}
    {{ encore_entry_script_tags('nph-review') }}
{% endblock %}
