{% extends 'base.html.twig' %}
{% block title %}Today - Participant Review - {% endblock %}
{% block bodycontainer %}container-fluid{% endblock %}
{% set missingName = '' %}
{% import 'review/_macros.html.twig' as today %}

{% block body %}
    {% include 'program/nph/review/page_heading.html.twig' %}
    <div class="well today-filter-well" data-title="Filter">
        {{ form_start(todayFilterForm, { attr: { class: 'form-inline', autoComplete: 'off' } }) }}
        {{ form_errors(todayFilterForm) }}
        <div class="today-filter" align="center">
            {{ form_rest(todayFilterForm) }}
            <div class="form-group">
                <a href="{{ path('review_today') }}" class="btn btn-default">Reset</a>
            </div>
        </div>
        {{ form_end(todayFilterForm) }}
    </div>
    <div class="text-center text-warning">
        <strong>{{ displayMessage }}</strong>
    </div>
    <table class="table table-bordered table-small table-review" id="table-today" data-name-lookup-url="{{ path('nph_review_participant_lookup', { csrf_token: csrf_token('review'), id: '' }) }}" data-missing-name="{{ missingName }}">
        <thead>
        <tr>
            <th rowspan="2">Participant ID</th>
            <th rowspan="2">Name</th>
            <th>Biobank ID</th>
            <th>Timepoint</th>
            <th>Order ID</th>
            <th>Samples</th>
            <th>Sample ID</th>
            <th>Created By</th>
            <th>Created <span class="badge">{{ createdCount }}</span></th>
            <th>Collected <span class="badge badge-warning">{{ collectedCount }}</span></th>
            <th>Aliquoted and Finalized <span class="badge badge-success">{{ finalizedCount }}</span></th>
        </tr>
        </thead>
        <tbody>
        {% for id, sample in samples %}
            {% set sampleLength = sample.sampleId|length %}
            {% set rowSpanLength = sampleLength + 1 %}
            {% set rowSpan = 'rowspan =' ~ rowSpanLength %}
            <td {{ rowSpan }}>{{ sample.participantId }}</td>
            {% if sample.participant is defined %}
            <td {{ rowSpan }}>
                <a href="{{ path('participant', { id: sample.participantId }) }}">{{ sample.participant.lastName }}, {{ sample.participant.firstName }}</a>
            </td>
            <td {{ rowSpan }}>{{ sample.participant.biobankId }}</td>
            {% else %}
                <td {{ rowSpan }} data-participant-id="{{ sample.participantId }}" data-href="{{ path('participant', { id: sample.participantId }) }}" class="load-name">
                    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                    <span class="sr-only">Loading...</span>
                </td>
                <td {{ rowSpan }} data-participant-id="{{ sample.participantId }}"  class="load-biobankid">
                    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                    <span class="sr-only">Loading...</span>
                </td>
            {% endif %}
            <td {{ rowSpan }}>{{ sample.timepoint }}</td>
            <td {{ rowSpan }}><a href="{{ path('nph_order_collect', {participantId: sample.participantId, orderId: sample.hpoOrderId}) }}">{{ sample.orderId }}</a></td>
            {% for i in 0..sampleLength - 1 %}
                <tr>
                    <td>{{ sample.sampleCode[i] }}</td>
                    <td>{{ sample.sampleId[i] }}</td>
                    <td>{{ sample.email[i] }}</td>
                    {% if sample.createdTs[i] != '' %}
                        <td>{{ sample.createdTs[i]|date("m/d/Y h:i:s A", timezone) }}</td>
                    {% else %}
                        <td><i class="fa fa-times text-danger" aria-hidden="true"></i></td>
                    {% endif %}
                    {% if sample.collectedTs[i] != '' %}
                        <td>{{ sample.collectedTs[i]|date("m/d/Y h:i:s A", timezone) }}</td>
                    {% else %}
                        <td><i class="fa fa-times text-danger" aria-hidden="true"></i></td>
                    {% endif %}
                    {% if sample.finalizedTs[i] != '' %}
                        <td>{{ sample.finalizedTs[i]|date("m/d/Y h:i:s A", timezone) }}</td>
                    {% else %}
                        <td><i class="fa fa-times text-danger" aria-hidden="true"></i></td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="99" align="center">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('today') }}
    {{ encore_entry_script_tags('nph-review') }}
{% endblock %}
