{% extends 'program/hpo/ppsc/base.html.twig' %}
{% block title %}Order Assent - {% endblock %}
{% block bodycontainer %}container-fluid{% endblock %}
{% block body %}
    <div class="page-header mb-4 border-bottom">
        <h2>
            <i class="fa fa-medkit" aria-hidden="true"></i>
            New Biobank order
        </h2>
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation" class="nav-item"><a class="nav-link disabled" href="#"><i class="fa fa-check-circle" aria-hidden="true"></i> Safety Check</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link disabled" href="#"><i class="fa fa-check-circle" aria-hidden="true"></i> Create</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link active" href="#">Assent</a></li>
        {% if selection == 'blood' %}
            {% set steps = ['Print Labels', 'Collect', 'Process', 'Finalize', 'Print Requisition'] %}
        {% else %}
            {% set steps = ['Print Labels', 'Collect', 'Finalize', 'Print Requisition'] %}
        {% endif %}
        {% for step in steps %}
            <li role="presentation" class="nav-item"><a class="nav-link disabled" href="#">{{ step }}</a></li>
        {% endfor %}
    </ul>
    <div class="card border-success mt-4">
        <div class="card-header bg-success text-white">
            Pediatric Assent
        </div>
        <div class="card-body">
            <form method="post" class="prevent-resubmit" id="pediatricAssentForm">
                <div>
                    <label class="form-label" for="pediatricAssent">
                        {{ assentQuestion }}
                    </label>
                    <select class="form-select" id="pediatricAssent" name="pediatricAssent">
                        <option value="" selected>Select</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                        <option value="unable">Participant is unable to provide assent</option>
                    </select>
                    {% if validationErrorMessage %}
                        <div id="assentErrorMessage" class="text-danger mt-2">
                            <i class="fa fa-exclamation-circle"></i> {{ validationErrorMessage }}
                        </div>
                    {% endif %}
                </div>
                <input type="hidden" name="_token" value="{{ csrf_token('pediatricOrderAssent') }}"/>
                <input type="hidden" name="acknowledgeNoAssent" id="acknowledgeNoAssent" value="0"/>
                <div class="mt-4">
                    <a href="{{ path('order_check_pediatric', { participantId: participant.id }) }}" class="btn btn-secondary" id="cancelBtn">Cancel</a>
                    <button type="submit" class="btn btn-primary" id="continueBtn" disabled>
                        Continue
                        <span id="spinner" class="spinner-border spinner-border-sm-bs5" style="display: none;"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    {% include 'partials/modals/pediatric-assent-warning-modal.html.twig' %}
{% endblock %}
{% block pagejs %}
    {{ encore_entry_script_tags('pediatric-assent') }}
{% endblock %}
