{% extends 'program/hpo/ppsc/base.html.twig' %}
{% block title %}Order - {% endblock %}
{% block body %}
    <div class="page-header">
        <h2>
            <i class="fa fa-medkit" aria-hidden="true"></i>
            New Biobank order
        </h2>
    </div>

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Safety Check</a></li>
        {% if siteType == 'dv' %}
            {% set steps = ['Create', 'Collect', 'Process', 'Finalize'] %}
        {% else %}
            {% set steps = ['Create', 'Print Labels', 'Collect', 'Process', 'Finalize', 'Print Requisition'] %}
        {% endif %}
        {% for step in steps %}
            <li role="presentation" class="disabled"><a href="#">{{ step }}</a></li>
        {% endfor %}
    </ul>
    <br/>

    <h3>In the past week has the participant donated blood (e.g. Blood Bank, Red Cross), platelets, or plasma?</h3>
    <form method="post" action="{{ path('order_create', { participantId: participant.id }) }}" id="safety-checks" class="prevent-resubmit">
        <div class="radio">
            <label><input type="radio" name="donate" value="yes"/> Yes</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="donate" value="no"/> No</label>
        </div>

        <div id="transfusion">
            <div>
                <h3>In the past 6 months, has the participant had a blood transfusion?</h3>
                <div class="radio">
                    <label><input type="radio" name="transfusion" value="yes"/> Yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="transfusion" value="no"/> No</label>
                </div>
            </div>
            <div style="display:none;" id="transfusion-qn">
                <h3>Please select the specific type of blood transfusion:</h3>
                <div class="checkbox">
                    <label><input type="checkbox" name="transfusion_wb" value="whole"/> Whole blood transfusion</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="transfusion_rbc" value="red"/> Red Blood Cells (RBC)</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="transfusion_ppc" value="red"/> Plasma, Platelet, or Cryoprecipitate transfusion</label>
                </div>
            </div>
            <div style="display:none;" id="rbc-qn">
                <h3>Has it been at least 2 months since participant's RBC transfusion?</h3>
                <div class="radio">
                    <label><input type="radio" name="rbc_qn" value="yes"/> Yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="rbc_qn" value="no"/> No</label>
                </div>
            </div>
            <div style="display:none;" id="ppc-qn">
                <h3>Has it been at least a week since the participant received Plasma, Platelet, or Cryoprecipitate transfusion?</h3>
                <div class="radio">
                    <label><input type="radio" name="ppc_qn" value="yes"/> Yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="ppc_qn" value="no"/> No</label>
                </div>
            </div>
            <div style="display:none;" id="syncope-qn">
                <h3>Has the participant ever felt dizzy, nauseous, or lost consciousness when having blood drawn?</h3>
                <div class="radio">
                    <label><input type="radio" name="syncope" value="yes"/> Yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="syncope" value="no"/> No</label>
                </div>
                <div style="display:none;" id="syncope-sub-qn">
                    <h3>Would the participant like to continue with a full Biobank order or a modified order with {{ siteType == 'dv' ? 'urine only?' : 'urine only and a saliva order?' }}</h3>
                    <div class="radio">
                        <label><input type="radio" name="syncope_sub" value="yes"/> Full Biobank Order</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="syncope_sub" value="no"/> Modified Order - {{ siteType == 'dv' ? 'Urine Only' : 'Urine Only and Saliva Order' }}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-danger" style="display:none;" id="order-info-text">
            {% set displayText = siteType == 'dv' ? 'Urine' : 'Saliva and urine ' %}
            <span id="info-text-1">
                Participants may not have blood drawn if they have donated blood, platelets, or plasma in the past week.
                <strong>{{ displayText }} collection is permissible, and can be initiated by selecting Continue.</strong>
            </span>
            <span id="info-text-2">
                Participants may not have blood drawn if they have received RBC transfusion in the past 2 months.
                <strong>{{ displayText }} collection is permissible, and can be initiated by selecting Continue.</strong>
            </span>
            <span id="info-text-3">
                Participants may not have blood drawn if they have received Plasma, Platelet, Cryoprecipitate transfusion in the past week.
                <strong>{{ displayText }} collection is permissible, and can be initiated by selecting Continue.</strong>
            </span>
            <span id="info-text-4">
                Participants may not have blood drawn {% if siteType != 'dv' %} and/or saliva collected {% endif %} if they have received Whole Blood Transfusion previously.
                <strong>Urine collection is permissible, and can be initiated by selecting Continue.</strong>
            </span>
            <span id="info-text-5">
                Caution! In order to minimize risk to participants, those who experience syncope should be offered {{ siteType == 'dv' ? 'a urine collection' : 'saliva and urine collections' }} as an alternative.
                <strong>Please select whether the participant would like to continue with a full Biobank order or a modified order with {{ siteType == 'dv' ? 'urine only' : 'urine only and a saliva order' }}.</strong>
            </span>
        </div>
        <div id="continue" style="display:none;">
            <br/>
            <p>
                <button type="submit" class="btn btn-primary">Continue</button>
            </p>
        </div>
        <input type="hidden" name="show-blood-tubes" value="no"/>
        <input type="hidden" name="show-saliva-tubes" value="no"/>
        <input type="hidden" name="csrf_token" value="{{ csrf_token('orderCheck') }}"/>
    </form>
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('order-check') }}
{% endblock %}
