{% set bootstrapVersion = 5 %}
{% extends 'program/hpo/ppsc/base.html.twig' %}
{% import 'order/samples.html.twig' as samples %}
{% if order.type != 'saliva' %}
    {% form_theme collectForm 'form/simple_checkbox.html.twig' %}
{% endif %}
{% block title %}Collect - Order {{ order.orderId }} - {% endblock %}
{% block bodycontainer %}container-fluid{% endblock %}
{% block body %}
    {% include 'order/header.html.twig' with { active: 'collect' } %}
    {{ form_start(collectForm, { attr: { class: 'warn-unsaved disable-enter prevent-resubmit' } }) }}
    {% if updatedTubes == true %}
        <input type="hidden" hidden="hidden" id="tubesChanged" name="tubesChanged" value="true">
    {% endif %}
    {% if order.type == constant('ORDER_TYPE_SALIVA', order) and order.pediatricOrder %}
        {% set salivaTubeSelect = true %}
    {% else %}
        {% set salivaTubeSelect = false %}
    {% endif %}
    {{ form_errors(collectForm) }}
    <div class="form-group{% if not collectForm.collectedTs.vars.valid %} has-error{% endif %}">
        {{ form_label(collectForm.collectedTs) }}
        {{ form_widget(collectForm.collectedTs) }}
        {{ form_errors(collectForm.collectedTs) }}
    </div>

    {% if salivaTubeSelect %}
        <div class="form-group{% if not collectForm.salivaTubeSelection.vars.valid %} has-error{% endif %}">
        {{ form_label(collectForm.salivaTubeSelection) }}
        <span class="help-icon">
            <i class="fa fa-question-circle" aria-hidden="true" id="show_saliva_tube_help_modal"></i><span class="sr-only">Help</span>
        </span>
        {{ form_widget(collectForm.salivaTubeSelection) }}
        {{ form_errors(collectForm.salivaTubeSelection) }}
        </div>
    {% endif %}
    {% if collectForm.orderVersion is defined %}
        <div class="form-group{% if not collectForm.orderVersion.vars.valid %} has-error{% endif %}">
            {{ form_label(collectForm.orderVersion) }} <span class="toggle-help-text" data-id="tube_help_modal"><i id="tube_help_modal_toggle" class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
            {{ form_widget(collectForm.orderVersion, { attr: {class: 'ignore-unsaved' } }) }}
            {{ form_errors(collectForm.orderVersion) }}
        </div>
    {% endif %}

    {% if collectForm.collectedSamples is defined %}
    <div id="collectedSamplesFormGroup" {% if salivaTubeSelect %} hidden="hidden" {% endif %} class="form-group{% if not collectForm.collectedSamples.vars.valid %} has-error{% endif %}">
        {{ form_label(collectForm.collectedSamples) }}
        {% if order.type == 'saliva' %}
            {{ form_widget(collectForm.collectedSamples) }}
        {% else %}
            {{ samples.form_widget(collectForm.collectedSamples, order.formDisabled or inactiveSiteFormDisabled ? false : true, samplesInfo, version) }}
        {% endif %}
        {{ form_errors(collectForm.collectedSamples) }}
    </div>
    {% endif %}

    {% if collectForm.collectedNotes is defined %}
    <div id="collectedNotesFormGroup" {% if salivaTubeSelect %} hidden="hidden" {% endif %} class="form-group{% if not collectForm.collectedNotes.vars.valid %} has-error{% endif %}">
        {{ form_label(collectForm.collectedNotes) }}
        <span class="toggle-help-image">
            <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
        </span>
        {{ form_widget(collectForm.collectedNotes) }}
        <small class="text-warning">Comments entered in this field are transmitted to the Biobank via reconciliation reporting. Do not enter any participant identifying information here.</small>
        {{ form_errors(collectForm.collectedNotes) }}
    </div>
    {% endif %}
    {{ form_rest(collectForm) }}
    {% set routePrefix = readOnlyView ? 'read_' : '' %}
    {% if not order.formDisabled and not readOnlyView and not inactiveSiteFormDisabled and order.type != constant('TUBE_SELECTION_TYPE', order) %}
        <p class="mt-2 mb-4">
            <button type="submit" class="btn btn-primary" name="save">
                {% if order.collectedTs %}
                    Update
                {% else %}
                    Save and mark as collected
                {% endif %}
                <span class="spinner-border spinner-border-sm-bs5" style="display: none;"></span>
            </button>
            <a href="{{ path(routePrefix ~ 'participant', { id: participant.id }) }}" class="btn btn-secondary">Cancel</a>
        </p>
    {% else %}
        <a href="{{ path(routePrefix ~ 'participant', { id: participant.id }) }}" class="btn btn-secondary mt-2 mb-4">Cancel</a>
    {% endif %}
    {{ form_end(collectForm) }}
    {% if order.status == 'unlock' %}
        {{ form_start(revertForm, { 'action': path('order_revert', { participantId: participant.id, orderId: order.id }), 'method': 'POST', attr: { class: 'revert-form disable-enter prevent-resubmit' }}) }}
        {{ form_errors(revertForm) }}
        {{ form_end(revertForm) }}
    {% endif %}

    <div class="modal fade" id="tube_help_modal" tabindex="-1" role="dialog" aria-labelledby="tube_help_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>DV KIT: PST Tube Selection</h4>
                    <p>Select the PST tube type(s) used to collect the PST sample.</p>
                    <h4>8 mL PST (1 Tube)</h4>
                    <img src="{{ asset('img/aou/order/8ml PST.png') }}" style="height: 80px" alt="8mL PST Tube">
                    <h4>4.5 mL PST (2 Tubes)</h4>
                    <img src="{{ asset('img/aou/order/4ml PST.png') }}" style="height: 80px" alt="4.5mL PST Tube">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="tube_change_warning_modal" tabindex="-1" role="dialog" aria-labelledby="tube_change_warning_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="text-danger">Warning!</h4>
                    <p>Changing the PST tube type will remove the previously collected PST tube(s) and replace them with the other PST tube type option. Ensure the new PST tube type selected is checked off in the list below. Click the “update” button to save your changes.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Go Back</button>
                    <button id="modal_trigger_update" type="button" class="btn btn-primary">Continue</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saliva_tube_change_warning_modal" tabindex="-1" role="dialog" aria-labelledby="tube_change_warning_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="text-danger">Warning!</h4>
                    <p>Changing the Saliva tube type will remove the previously collected saliva tube and replace it with the other saliva tube type option. Ensure the new saliva tube type selected is checked off in the list below if collected. Click the “update” button to save your changes.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" id="rollback_saliva_selection">Go Back</button>
                    <button id="saliva_tube_modal_trigger_update" type="button" class="btn btn-primary">Continue</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saliva_tube_help_modal" tabindex="-1" role="dialog" aria-labelledby="tube_help_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>Pediatric Saliva Selection</h4>
                    <h5>Select which saliva kit will be used to collect the saliva sample.</h5>
                    <p>When selecting the appropriate saliva collection kit (OGD-500 or OCD-100 sponge assisted device) to collect pediatric participant saliva use best clinical judgment on which kit fits each individual participant needs. Multiple factors (participant age, ability, etc…) will factor into saliva kit decision.</p>
                    <h4>Saliva [1SAL2] - OGD-500</h4>
                    <img src="{{ asset('img/aou/order/OGD-500.jpg') }}" style="height: 180px" alt="OGD-500 Tube">
                    <h4>Saliva [2SAL0] - OCD-100 Sponge Assisted Device</h4>
                    <img src="{{ asset('img/aou/order/OCD-100.jpg') }}" style="height: 50px" alt="OCD-100 Tube">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('order-sub-bs5') }}
    {{ encore_entry_script_tags('order-collect') }}
{% endblock %}
