{% set bootstrapVersion = 5 %}
{% extends 'program/hpo/ppsc/base.html.twig' %}
{% import 'order/samples.html.twig' as samples %}
{% form_theme createForm 'form/simple_checkbox.html.twig' %}
{% block title %}Order Create - {% endblock %}
{% block bodycontainer %}container-fluid{% endblock %}
{% block body %}
    <div class="page-header mb-4 border-bottom">
        <h2>
            <i class="fa fa-medkit" aria-hidden="true"></i>
            New Biobank order
        </h2>
    </div>

    <ul class="nav nav-tabs">
        <li role="presentation" class="nav-item"><a class="nav-link disabled" href="#"><i class="fa fa-check-circle" aria-hidden="true"></i> Safety Check</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link active" href="#">Create</a></li>
        {% if app.session.get('orderType')  == 'dv' %}
            {% set steps = ['Collect', 'Process', 'Finalize'] %}
        {% elseif isPediatricOrder %}
            {% set steps = ['Print Labels', 'Collect', 'Finalize', 'Print Requisition'] %}
        {% else %}
            {% set steps = ['Print Labels', 'Collect', 'Process', 'Finalize', 'Print Requisition'] %}
        {% endif %}
        {% for step in steps %}
            <li role="presentation" class="nav-item"><a class="nav-link disabled" href="#">{{ step }}</a></li>
        {% endfor %}
    </ul>
    <br />

    <div id="createOrder">
        {{ form_start(createForm, { attr: { class: 'warn-unsaved disable-enter prevent-resubmit' } }) }}
        {{ form_errors(createForm) }}
        <div class="row row-equal-height">
            {% if app.session.get('orderType') == 'hpo' and not isPediatricOrder %}
                <div class="col-sm-6 col-md-6 {% if app.session.get('siteType') == 'dv' %} col-sm-offset-3 col-md-offset-3 {% endif %}">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title text-center">HPO Biobank Order</h5>
                        </div>
                        <div class="card-body">
                            <div class="text-center">
                                <div id="customize-off" {% if showCustom %} style="display:none"{% endif %}>
                                    <p>Create an order for all {{ samplesInfo|length }} All of Us℠ biospecimens</p>
                                    <p>
                                        <button type="submit" name="standard" class="btn btn-primary">
                                            Create
                                            <span class="spinner-border spinner-border-sm" style="display: none;"></span>
                                        </button>
                                    </p>
                                    {% if participant.isPediatric == false %}
                                    <p>
                                        <a href="#" id="customize-enable">Customize order</a>
                                    </p>
                                    {% endif %}
                                </div>
                            </div>
                            <div{% if not showCustom %} style="display:none"{% endif %} id="customize-on">
                                {% if not showBloodTubes %}
                                    <p class="text-center text-warning">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i> Biobank orders for blood draws cannot be created at this moment due to safety checks. Only urine sample can be created.
                                    </p>
                                {% else %}
                                    <p class="text-center">Customize your All of Us℠ biobank order</p>
                                {% endif %}
                                {% if not participant.isPediatric %}
                                <div class="form-group{% if not createForm.samples.vars.valid %} has-error{% endif %}">
                                    {{ form_label(createForm.samples) }}
                                    {{ samples.form_widget(createForm.samples, false, samplesInfo, version, null, true) }}
                                    {{ form_errors(createForm.samples) }}
                                </div>
                                {% endif %}
                                <div class="text-center">
                                    <p>
                                        <button type="submit" name="custom" class="btn btn-primary">
                                            Create {% if showBloodTubes %} custom {% endif %} order
                                            <span class="spinner-border spinner-border-sm" style="display: none;"></span>
                                        </button>
                                    </p>
                                    {% if showBloodTubes %}
                                        <p>
                                            <a href="#" id="customize-disable">Revert to standard order</a>
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if app.session.get('orderType') == 'dv' %}
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title text-center">DV Biobank Order</h5>
                        </div>
                        <div class="card-body">
                            <p class="text-center">Register an All of Us℠ Biospecimen Kit</p>
                            {% if not showBloodTubes %}
                                <p class="text-center text-warning">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i> Biobank orders for blood draws cannot be created at this moment due to safety checks. Only urine sample can be created.
                                </p>
                            {% endif %}
                            <br />
                            {{ form_row(createForm.kitId) }}
                            <p class="text-center">
                                <button type="submit" name="existing" class="btn btn-primary">
                                    Create
                                    <span class="spinner-border spinner-border-sm" style="display: none;"></span>
                                </button>
                            </p>
                            {% if reportKitUrl %}
                                <p class="text-center">
                                    <a data-href="{{ reportKitUrl }}" class="external-link text-danger">Report Kit Problem</a>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if app.session.get('siteType') != 'dv' and not isPediatricOrder %}
                <div class="col-sm-6 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title text-center">Saliva Biobank Order</h5>
                        </div>
                        <div class="card-body text-center">
                            {% if showSalivaTubes %}
                                <p>
                                    {{ salivaInstructions }}
                                </p>
                                <p>
                                    <button type="submit" name="saliva" class="btn btn-primary">
                                        Create
                                        <span class="spinner-border spinner-border-sm" style="display: none;"></span>
                                    </button>
                                </p>
                            {% else %}
                                <p class="text-center text-warning">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i> Saliva order cannot be created at this moment due to safety checks.
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if app.session.get('orderType') == 'hpo' and isPediatricOrder %}
                {% include 'order/partials/create-pediatric.html.twig' %}
            {% endif %}
        </div>
        <p class="text-center mt-2">
            <a href="{{ path('participant', { id: participant.id }) }}" class="btn btn-secondary">Cancel</a>
        </p>
        {{ form_rest(createForm) }}
        <input type="hidden" name="show-blood-tubes" value="{{ showBloodTubes ? 'yes' : 'no' }}" />
        <input type="hidden" name="show-saliva-tubes" value="{{ showSalivaTubes ? 'yes' : 'no' }}" />
        {{ form_end(createForm) }}
    </div>
{% endblock %}
{% block pagejs %}
    {{ encore_entry_script_tags('order-create') }}
{% endblock %}
