{% extends 'program/hpo/ppsc/base.html.twig' %}
{% import 'order/samples.html.twig' as samples %}
{% if order.type != 'saliva' %}
    {% form_theme finalizeForm 'form/simple_checkbox.html.twig' %}
{% endif %}
{% block title %}Finalize - Order {{ order.orderId }} - {% endblock %}
{% block body %}
    {% include 'order/header.html.twig' with { active: 'finalize' } %}
    {{ form_start(finalizeForm, { attr: { class: 'warn-unsaved disable-enter prevent-resubmit finalize-form' } }) }}
    {{ form_errors(finalizeForm) }}

    <div class="form-group{% if not finalizeForm.finalizedTs.vars.valid %} has-error{% endif %}" id="order_finalize"
         data-order-type="{{ order.type }}"
         data-order-site="{{ order.site }}"
         data-order-collect-time="{{ order.collectedTs.format('n/j/Y g:ia') }}"
         data-user-site="{{ siteInfo.siteId }}">
        {{ form_label(finalizeForm.finalizedTs) }}
        {{ form_widget(finalizeForm.finalizedTs) }}
        {{ form_errors(finalizeForm.finalizedTs) }}
    </div>

    <div class="form-group{% if not finalizeForm.finalizedSamples.vars.valid %} has-error{% endif %}">
        {{ form_label(finalizeForm.finalizedSamples) }}
        {% if order.type == 'saliva' %}
            {{ form_widget(finalizeForm.finalizedSamples) }}
        {% else %}
            {{ samples.form_widget(finalizeForm.finalizedSamples, order.disabled or inactiveSiteFormDisabled ? false : true, samplesInfo, version, order) }}
        {% endif %}
        {{ form_errors(finalizeForm.finalizedSamples) }}
        {% if finalizeForm.sampleShippingMethod is defined %}
            {{ form_label(finalizeForm.sampleShippingMethod) }}
            <span class="toggle-help-text" id="toggleShippingHelpModal">
                <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
            </span>
            {{ form_widget(finalizeForm.sampleShippingMethod) }}
            <div class="alert alert-warning well-sm" id="courier_warning" style="display:none;">
                <i class="fa fa-exclamation-triangle"></i>
                You have indicated the biospecimen kit will be shipped via a <strong>courier service</strong>. If this option
                was selected by error, please switch to the FedEx or UPS shipping method.
            </div>
        {% endif %}
    </div>

    {% if finalizeForm.fedexTracking is defined %}
        {% if order.type != constant('App\\Entity\\Order::ORDER_TYPE_KIT') %}
            <label>Enter tracking number (optional)</label>
        {% endif %}
        <div id="shipping_fields" {% if order.hideTrackingFieldByDefault %} style="display:none;" {% endif %}>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#" id="enable-number">
                        <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                        Enter tracking number
                    </a></li>
                <li role="presentation"><a href="#" id="enable-barcode">
                        <i class="fa fa-barcode" aria-hidden="true"></i>
                        Scan barcode
                    </a></li>
            </ul>
            <br />
            <div class="row">
                <div class="col-xs-6" id="fedex-barcode" style="display:none">
                    <div class="form-group">
                        <label class="control-label" for="fedex_barcode_first">FedEx or UPS barcode</label>
                        <input type="text" id="fedex_barcode_first" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="fedex_barcode_second">Verify barcode</label>
                        <input type="text" id="fedex_barcode_second" class="form-control">
                    </div>
                </div>
                <div class="col-xs-12" id="fedex-number">
                    {{ form_row(finalizeForm.fedexTracking) }}
                </div>
            </div>
        </div>
        <hr />
    {% endif %}

    <div class="form-group{% if not finalizeForm.finalizedNotes.vars.valid %} has-error{% endif %}">
        {{ form_label(finalizeForm.finalizedNotes) }}
        <span class="toggle-help-image">
            <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
        </span>
        {{ form_widget(finalizeForm.finalizedNotes) }}
        <small class="text-warning">Comments entered in this field are transmitted to the Biobank via reconciliation reporting. Do not enter any participant identifying information here.</small>
        {{ form_errors(finalizeForm.finalizedNotes) }}
    </div>
    {{ form_rest(finalizeForm) }}
    {% set routePrefix = readOnlyView ? 'read_' : '' %}
    {% if not order.disabled and not readOnlyView and not inactiveSiteFormDisabled  %}
        <p>
            <button type="submit" {% if hasErrors %} class="btn btn-default" disabled="disabled" {% else %} class="btn btn-primary" {% endif %}>
                Save and mark as finalized
            </button>
            <a href="{{ path(routePrefix ~ 'participant', { id: participant.id }) }}" class="btn btn-default">Cancel</a>
        </p>
    {% else %}
        <a href="{{ path(routePrefix ~ 'participant', { id: participant.id }) }}" class="btn btn-default">Return to In-Person Enrollment</a>
    {% endif %}
    {{ form_end(finalizeForm) }}
    {% if order.status == 'unlock' %}
        {{ form_start(revertForm, { 'action': path('order_revert', { participantId: participant.id, orderId: order.id }), 'method': 'POST', attr: { class: 'revert-form disable-enter prevent-resubmit' }}) }}
        {{ form_errors(revertForm) }}
        {{ form_end(revertForm) }}
    {% endif %}
    <div class="modal fade" id="shipping_method_help_modal" tabindex="-1" role="dialog" aria-labelledby="shipping_method_help_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>FedEx or UPS Tracking Number</h4>
                    <p>Sites who use FedEx or UPS to ship biospecimen kits to the Biobank are <u>required</u> to enter a tracking number.</p>
                    <h4>Courier Service</h4>
                    <p>A tracking number is not required for sites who use a courier service to ship biospecimen kits to the Biobank.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('order-sub') }}
    {{ encore_entry_script_tags('order-finalize') }}
{% endblock %}
