{% import 'macros/display-text.html.twig' as macros %}
{% set routePrefix = readOnlyView ? 'read_' : '' %}
{% if order.expired %}
    <div class="alert alert-danger custom-alert">
        This order has expired and can no longer be updated. Please create a new order to collect or send samples.
    </div>
{% endif %}
{% if order.finalizedTs and order.version is empty %}
    <div class="alert alert-danger custom-alert">
        This order has expired and can no longer be updated.
    </div>
{% endif %}
<div class="mb-4 border-bottom">
    <h2>
        <i class="fa fa-medkit" aria-hidden="true"></i>
        {{ order.createdTs|date('n/j/Y', app.user.timezone) }}
    </h2>
</div>
<p class="lead">
    Order ID: <strong>{{ order.orderId }}</strong>
    {% set params = { participantId: participant.id, orderId: order.id } %}
    {% set route = app.request.get('_route') %}
    {% set return = path(route, params) %}
    {% if not readOnlyView %}
        {% if order.canUnlock %}
            {% if order.type == 'kit' %}
                <a href="{{ path('order_modify', { participantId: participant.id, orderId: order.id, type: 'unlock', return: return }) }}" class="btn btn-sm btn-primary">Unlock for Editing</a>
            {% else %}
                <a data-href="{{ path('order_modify', { participantId: participant.id, orderId: order.id, type: 'unlock', return: return }) }}" class="btn btn-sm btn-primary" id="unlock-order">Unlock for Editing</a>
            {% endif %}
        {% endif %}
        {% if order.canCancel %}
            <a href="{{ path('order_modify', { participantId: participant.id, orderId: order.id, type: 'cancel' }) }}" class="btn btn-sm btn-danger">Cancel Order</a>
        {% elseif order.canRestore %}
            <a href="{{ path('order_modify', { participantId: participant.id, orderId: order.id, type: 'restore' }) }}" class="btn btn-sm btn-success">Restore Order</a>
        {% endif %}
        {% if order.status == 'unlock' %}
        <div class="alert alert-warning well-sm">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <strong>
                Unlocked for editing by {{ order.history.user.email|default('Unknown') }} at {{ siteInfo.siteDisplayName(order.history.site) }} on {{ order.history.createdTs|date('F j, Y g:ia', app.user.timezone) }}
            </strong>
        </div>
    {% elseif order.status == 'cancel' %}
        <div class="alert alert-danger well-sm">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <strong>
                Cancelled by {{ order.history.user.email|default('Unknown') }} at {{ siteInfo.siteDisplayName(order.history.site) }} on {{ order.history.createdTs|date('F j, Y g:ia', app.user.timezone) }}
            </strong>
            {% if order.history.reasonDisplayText is not empty %}
                <br/><strong>Reason:</strong> {{ order.history.reasonDisplayText }}
            {% endif %}
        </div>
        {% endif %}
        {% if app.session.get('orderType') == 'dv'and reportKitUrl and order.type == 'kit' %}
            <button type="button" data-href="{{ reportKitUrl }}" class="btn btn-danger float-end external-link">Report Kit Problem</button>
        {% endif %}
    {% endif %}
</p>

{% if order.type == 'kit' or order.type == constant('TUBE_SELECTION_TYPE', order) %}
    {% set steps = {
        collect: ['collect', 'collected'],
        process: ['process', 'processed'],
        finalize: ['finalize', 'finalized']
    } %}
{% else %}
    {% set steps = {
        print_labels: ['print labels', 'printed'],
        collect: ['collect', 'collected'],
        process: ['process', 'processed'],
        finalize: ['finalize', 'finalized'],
        print_requisition: ['print requisition', 'finalized']
    } %}
    {% if order.type == 'saliva' or isPediatricOrder %}
        {% set steps = steps|filter((label,step) => step != 'process') %}
    {% endif %}
{% endif %}
{% if displayInactiveSiteBanner %}
    {{ macros.displayInactiveSiteBanner('pmb', 3) }}
{% endif %}
{% set stepNeedDetails = ['collect', 'process', 'finalize'] %}
{% if active in stepNeedDetails %}
    {% set activeStep = attribute(steps, active)[1] %}
    {% if attribute(order, activeStep~'Ts') is not empty %}
        {% if activeStep == 'finalized' and order.failedToReachRDR %}
            <div class="alert alert-danger well-sm">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                <strong>An error occurred while finalizing this order. {% if order.status != 'cancel' %} Please try again. {% endif %}</strong>
            </div>
        {% else %}
            <div class="{% if order.rdrId is empty %} alert alert-secondary {% else %} alert alert-success well-sm {% endif %}">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                <strong {% if attribute(order, 'biobankFinalized') and attribute(order, activeStep~'User') is empty %} class="text-danger" {% endif %}>{{ activeStep|capitalize }} by {{ attribute(order, activeStep~'User').id is defined and attribute(order, activeStep~'User').id is not empty ? attribute(order, activeStep~'User').email|default('Unknown') : 'Biobank user' }} at {{ siteInfo.siteDisplayName(attribute(order, activeStep~'Site')) }}</strong>
                {% if order.biobankFinalized and attribute(order, activeStep~'User') is empty %}
                    <a class="btn btn-success btn-xs pull-right" href="{{ path(routePrefix ~ 'biobank_summary', { participantId: participant.id, orderId: order.id }) }}" target="_blank">Summary</a>
                {% endif %}
                {# TODO: Replace with class constants #}
                {% if activeStep == 'finalized' and order.submissionTs %}
                    <h5 class="float-end">
                        <span class="badge badge-success">Order Submitted: {{ order.submissionTs|date('n/j/Y g:ia', app.user.timezone) }}</span>
                    </h5>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
    {% if activeStep == 'finalized' %}
        {% if siteInfo.siteId != order.site and not readOnlyView %}
            <div class="alert alert-danger well-sm">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                <strong>
                    Warning! The site you are logged into [{{ app.session.get('siteEntity').name }}] does not
                    match the site of order creation [{{ siteInfo.siteDisplayName(order.site) }}]. If you logged into
                    a different site by error, please switch to the correct site.
                </strong>
            </div>
        {% endif %}
        {% if showUnfinalizeMsg and finalizeForm.vars.valid %}
            <div class="alert alert-danger well-sm">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                <strong>Order saved but not finalized. Please finalize the order.</strong>
            </div>
        {% endif %}
    {% endif %}
{% endif %}
<ul class="nav nav-tabs">
    <li role="presentation" class="nav-item"><a class="nav-link disabled" href="#"><i class="fa fa-check-circle" aria-hidden="true"></i> Safety Check</a></li>
    <li role="presentation" class="nav-item"><a class="nav-link disabled" href="#"><i class="fa fa-check-circle" aria-hidden="true"></i> Create</a></li>
    {% set nextEnabled = true %}
    {% set previousStep = false %}
    {% for step, column in steps %}
        {% set path = column[0]|replace({' ' : '_'}) %}
        {% if (step == 'print_labels' and (order.disabled or order.status == 'unlock')) or (step == 'print_requisition' and order.status == 'cancel') %}
            <li role="presentation" class="nav-item">
                <a class="nav-link disabled" href="#">
                    {% if step == 'print_labels' %}
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                    {% endif %}
                    {{ column[0]|title }}
                </a>
            </li>
        {% elseif nextEnabled %}
            <li role="presentation" class="nav-item">
                <a class="nav-link {% if active == step %} active {% endif %}" href="{{ path(routePrefix ~ 'order_' ~ path, params) }}">
                    {% if attribute(order, column[1]~'Ts') %}
                        {% if step == 'process' and processTabClass is defined %}
                            <i class="{{ processTabClass }}" aria-hidden="true"></i>
                        {% elseif step != 'print_requisition' %}
                            <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                        {% endif %}
                    {% else %} {# since the printed_ts is set automatically after the first page load, don't disable to next tab #}
                        {% set nextEnabled = false %}
                    {% endif %}
                    {{ column[0]|title }}
                </a>
            </li>
        {% else %}
            {% set title = previousStep|capitalize ~ " time must be set to continue" %}
            <li role="presentation" class="nav-item"><a class="nav-link disabled" href="#" title="{{ title }}" data-toggle="tooltip" data-placement="bottom">{{ column[0]|title }}</a></li>
        {% endif %}
        {% set previousStep = column[1] %}
    {% endfor %}
</ul>
<br />
{% if active in ['collect', 'process', 'finalize'] %}
    <p><strong>Your time zone</strong>: {{ timezone_display(app.user.timezone) }} <a href="{{ path('settings', { return: return}) }}" class="small">change</a></p>
{% endif %}

<div class="modal fade" id="unlockWarningModal" tabindex="-1" role="dialog" aria-labelledby="unlockWarningModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Unlocking this order will result in the loss of the test requisition. If you wish to <strong>continue</strong>, the requisition cannot be regenerated for edited and finalized orders. Click <strong>cancel</strong> if you do not wish to continue or need to print the test requisition.
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" id="unlock-continue">Continue</a>
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="orderHelpModal" tabindex="-1" role="dialog" aria-labelledby="orderHelpModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>The additional notes fields are designated to record events or deviations in the Biobank process.</p>
                <p>Include the following in a note, if applicable: </p>
                <ul>
                    <li>A description of “what happened”. Examples of events include: a) which tubes were not collected, b) which tubes were partially filled, and c) whether there was a deviation in the collection order.</li>
                    <li>An explanation of “why it happened”. Examples of reasons to explain the events described include: a) Difficult Draw, b) Faulty tubes or equipment, c) Incorrect technique.</li>
                    <li>You may describe any medical conditions or health information of the participant affecting the blood collection or the processing of specimens.</li>
                </ul>
                <p class="text-danger">NOTE: Do not include any personal identifiers of the participant, including name, DOB, phone number, etc.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
