{% set bootstrapVersion = 5 %}
{% extends 'program/hpo/ppsc/base.html.twig' %}
{% block title %}Order - Cancel - {% endblock %}
{% block bodycontainer %}container-fluid{% endblock %}
{% block body %}
    {% form_theme sampleModifyForm 'bootstrap_5_layout.html.twig' %}
    <h2 class="border-bottom {% if type == 'cancel' %} text-danger {% elseif type == 'restore' %} text-success {% endif %}">
        <i class="fa fa-medkit" aria-hidden="true"></i>
        {{ type|capitalize }} Biobank Order
    </h2>

    <div class="row">
        <div class="col-md-8 col-sm-7">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Samples</th>
                    <th scope="col">
                        Collected
                        {% if order.collectedTs is not empty %}
                            <br> {{ order.collectedTs|date('n/j/Y g:ia', app.user.timezone) }}
                        {% endif %}
                    </th>
                    {% if not order.pediatricOrder %}
                        <th scope="col">Processed</th>
                    {% endif %}
                    <th scope="col">
                        Finalized
                        {% if order.finalizedTs is not empty %}
                            <br> {{ order.finalizedTs|date('n/j/Y g:ia', app.user.timezone) }}
                        {% endif %}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for sample in samplesInfo %}
                    {% set skipSample = false %}
                    {% if sample.sampleId not in order.getCollectedSamples and order.isPediatricOrder and '3.2' in order.getVersion %}
                        {% set skipSample = true %}
                    {% endif %}
                    {% if not skipSample %}
                    <tr>
                        {% if order.getCollectedSamples and order.isPediatricOrder and '3.2' in order.getVersion %}
                            <td>{{ sample.label }}</td>
                        {% else %}
                            <td>
                                {% if order.type != constant('App\\Entity\\Order::ORDER_TYPE_SALIVA') %}
                                    ({{ sample.number }}) {{ sample.label }} [{{ sample.sampleId }}]
                                {% else %}
                                    {{ sample.label }}
                            {% endif %}
                            </td>
                        {% endif %}
                        <td>
                            {% if sample.collected_checked is defined and sample.collected_ts is defined and sample.collected_ts is not empty %}
                                <i class="fa fa-check text-success" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-times text-danger" aria-hidden="true"></i>
                            {% endif %}
                        </td>
                    {% if not order.pediatricOrder %}
                        <td>
                            {% if order.type != 'saliva' and sample.process is defined %}
                                {% if sample.processed_checked is defined and sample.processed_ts is defined and sample.processed_ts is not empty %}
                                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                                    {{ sample.processed_ts|date('n/j/Y g:ia', app.user.timezone) }}
                                {% else %}
                                    <i class="fa fa-times text-danger" aria-hidden="true"></i>
                                {% endif %}
                            {% else %}
                                --
                            {% endif %}
                        </td>
                        {% endif %}
                        <td>
                            {% if sample.finalized_checked is defined and sample.finalized_ts is defined and sample.finalized_ts is not empty %}
                                <i class="fa fa-check text-success" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-times text-danger" aria-hidden="true"></i>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-sm-5">
            {% include 'program/hpo/ppsc/partials/participant-orders-list.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ form_start(sampleModifyForm, { attr: { class: 'warn-unsaved disable-enter prevent-resubmit' } }) }}
            {{ form_errors(sampleModifyForm) }}
            {{ form_rest(sampleModifyForm) }}
            <p>
                <button type="submit" name="reportable" class="btn {% if type == 'cancel' %} btn-danger {% elseif type == 'restore' %} btn-success {% else %} btn-primary {% endif %}">
                    {{ type|capitalize }} Order
                    <span class="spinner-border spinner-border-sm-bs5" style="display: none;"></span>
                </button>
                <a href="{{ path('participant', { id: participant.id }) }}" class="btn btn-secondary">Exit</a>
            </p>
            {{ form_end(sampleModifyForm) }}
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('order-modify') }}
{% endblock %}
