{% extends 'program/hpo/ppsc/base.html.twig' %}
{% block title %}Print Labels - Order {{ order.orderId }} - {% endblock %}
{% block bodycontainer %}container-fluid{% endblock %}
{% block body %}
    {% include 'order/header.html.twig' with { active: 'print_labels' } %}
    {% set orderRoute = readOnlyView ? 'read_order_' : 'order_' %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            {% if order.printedTs and errorMessage is empty %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% if not readOnlyView  %}
                            <a class="pull-right" href="{{ path(orderRoute ~ 'labels_pdf', { participantId: participant.id, orderId: order.id }) }}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> Open/Download</a>
                        {% endif %}
                        <h3 class="panel-title">Labels</h3>
                    </div>
                    <div class="panel-body">
                        <div id="labels-loading-widget" class="text-center hidden-ie">
                            <p id="labels-loading"><i class="fa fa-spinner fa-spin fa-fw"></i> Loading</p>
                            <p id="labels-loaded">
                                {% if not readOnlyView  %}
                                    <a href="javascript:window.labels.print();" class="btn btn-primary btn-sm">
                                        <i class="fa fa-print" aria-hidden="true"></i> Print
                                    </a>
                                {% endif %}
                            </p>
                        </div>
                        <iframe name="labels" class="pdf pdf-labels" src="{{ path(orderRoute ~ 'labels_pdf', { participantId: participant.id, orderId: order.id }) }}#view=FitH"></iframe>
                    </div>
                </div>
                <div class="text-center">
                    <a href="{{ path(orderRoute ~ 'collect', { participantId: participant.id, orderId: order.id }) }}" class="btn btn-primary">Next</a>
                    {% set routePrefix = readOnlyView ? 'read_' : '' %}
                    <a href="{{ path(routePrefix ~ 'participant', { id: participant.id }) }}" class="btn btn-default">Cancel</a>
                    <br><br>
                </div>
            {% else %}
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-times-circle" aria-hidden="true"></i> Error</h3>
                    </div>
                    <div class="panel-body">
                        {{ errorMessage|default('Error loading labels.') }}
                    </div>
                </div>
                <a href="{{ path('participant', { id: participant.id }) }}" class="btn btn-default">Cancel</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('order-print-labels') }}
{% endblock %}
