{% extends 'program/hpo/ppsc/base.html.twig' %}
{% block title %}Print Requisition - Order {{ order.orderId }} - {% endblock %}
{% block bodycontainer %}container-fluid{% endblock %}
{% block body %}
    {% include 'order/header.html.twig' with { active: 'print_requisition' } %}
    {% set orderRoute = readOnlyView ? 'read_order_' : 'order_' %}
    <div class="row">
        <div class="col-sm-10 col-md-offset-1">
            {% if order.status == 'edit' or order.status == 'unlock' %}
                <div class="alert alert-warning" role="alert">
                    {% if order.status == 'edit' %}
                        The requisition cannot be generated for edited and finalized orders.
                    {% else %}
                        The requisition cannot be generated for unlocked orders.
                    {% endif %}
                </div>
            {% elseif order.mayoId is not empty %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% if not readOnlyView  %}
                            <a class="pull-right" href="{{ path(orderRoute ~ 'requisition_pdf', { participantId: participant.id, orderId: order.id }) }}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> Open/Download</a>
                        {% endif %}
                        <h3 class="panel-title">Requisition</h3>
                    </div>
                    <div class="panel-body">
                        <div id="requisition-loading-widget" class="text-center hidden-ie">
                            <p id="requisition-loading"><i class="fa fa-spinner fa-spin fa-fw"></i> Loading</p>
                            <p id="requisition-loaded">
                                {% if not readOnlyView  %}
                                    <a href="javascript:window.requisition.print();" class="btn btn-primary btn-sm">
                                        <i class="fa fa-print" aria-hidden="true"></i> Print
                                    </a>
                                {% endif %}
                            </p>
                        </div>
                        <iframe name="requisition" class="pdf pdf-requisition" src="{{ path(orderRoute ~ 'requisition_pdf', { participantId: participant.id, orderId: order.id }) }}#view=FitH"></iframe>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    This order was finalized as an empty order and was not submitted to the Biobank. If this was done in error, create a new order with the original order information and please submit a Support Center ticket to the Biobank with the 2 order IDs.
                </div>
            {% endif %}
            {% set routePrefix = readOnlyView ? 'read_' : '' %}
            <a href="{{ path(routePrefix ~ 'participant', { id: participant.id }) }}" class="btn btn-default">Return to In-Person Enrollment</a>
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('order-sub') }}
    {{ encore_entry_script_tags('order-requisition') }}
{% endblock %}
