{% set bootstrapVersion = 5 %}
{% extends 'program/hpo/ppsc/base.html.twig' %}
{% import 'order/samples.html.twig' as samples %}
{% import 'macros/form-render.html.twig' as formRender %}
{% if order.type != 'saliva' %}
    {% form_theme processForm 'form/simple_checkbox.html.twig' %}
{% endif %}
{% block title %}Process - Order {{ order.orderId }} - {% endblock %}
{% block bodycontainer %}container-fluid{% endblock %}
{% block body %}
    {% include 'order/header.html.twig' with { active: 'process' } %}
    <div id="order_process" data-order-type="{{ order.type }}" data-order-finalized="{{ order.finalizedTs ? 1 : 0 }}">
    {{ form_start(processForm, { attr: { class: 'warn-unsaved disable-enter prevent-resubmit process-form' } }) }}
    {{ form_errors(processForm) }}
    {% if processForm.processedSamples is defined %}
        <div class="form-group{% if not processForm.processedSamples.vars.valid %} has-error{% endif %}">
            {{ form_label(processForm.processedSamples) }}
            {% if order.type == 'saliva' %}
                {{ form_widget(processForm.processedSamples) }}
            {% else %}
                {{ samples.form_widget(processForm.processedSamples, false, samplesInfo, version) }}
            {% endif %}
            {{ form_errors(processForm.processedSamples) }}
        </div>
    {% endif %}
    {% if order.type != 'saliva' and processForm.processedCentrifugeType is defined %}
        <div class="form-group{% if not processForm.processedCentrifugeType.vars.valid %} has-error{% endif %}">
            {{ form_label(processForm.processedCentrifugeType) }}
            {{ formRender.form_raw_choices_widget(processForm.processedCentrifugeType) }}
            {{ form_errors(processForm.processedCentrifugeType) }}
        </div>
    {% endif %}
    <div class="form-group{% if not processForm.processedNotes.vars.valid %} has-error{% endif %}">
        {{ form_label(processForm.processedNotes) }}
        <span class="toggle-help-image">
            <i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span>
        </span>
        {{ form_widget(processForm.processedNotes) }}
        <small class="text-warning">Comments entered in this field are transmitted to the Biobank via reconciliation reporting. Do not enter any participant identifying information here.</small>
        {{ form_errors(processForm.processedNotes) }}
    </div>
    {{ form_rest(processForm) }}
    {% set routePrefix = readOnlyView ? 'read_' : '' %}
    {% if not order.formDisabled and not readOnlyView and not inactiveSiteFormDisabled %}
        <p>
            <button type="submit" class="btn btn-primary">
                {% if order.processedTs %}
                    Update
                {% else %}
                    Save and mark as processed
                {% endif %}
                <span class="spinner-border spinner-border-sm-bs5" style="display: none;"></span>
            </button>
            <a href="{{ path(routePrefix ~ 'participant', { id: participant.id }) }}" class="btn btn-secondary">Cancel</a>
        </p>
    {% else %}
        <a href="{{ path(routePrefix ~ 'participant', { id: participant.id }) }}" class="btn btn-secondary">Cancel</a>
    {% endif %}
    {{ form_end(processForm) }}
    {% if order.status == 'unlock' %}
        {{ form_start(revertForm, { 'action': path('order_revert', { participantId: participant.id, orderId: order.id }), 'method': 'POST', attr: { class: 'revert-form disable-enter prevent-resubmit' }}) }}
        {{ form_errors(revertForm) }}
        {{ form_end(revertForm) }}
    {% endif %}
    </div>
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('order-sub-bs5') }}
    {{ encore_entry_script_tags('order-process') }}
{% endblock %}
