{% macro form_widget(form, showCheckAll, samplesInfo, version, order, isCustom) %}
    <div class="row">
        <div class="{% if app.request.get('_route') != 'order_create' %} col-sm-8 {% else %} col-sm-12 {% endif %}">
            <table id="{{ form.vars.id }}" class="table table-condensed table-auto-width table-samples table-borderless">
                {% if showCheckAll or app.request.get('_route') == 'order_finalize' %}
                    <thead>
                    <tr>
                        <th><input type="checkbox" id="checkall" {% if showCheckAll is empty or app.request.get('_route') starts with 'read_' %} disabled="disabled" {% endif %}></th>
                        <th colspan="4">Check all</th>
                        {% if app.request.get('_route') == 'order_finalize' %}
                            <th><span class="header-collected">Collected</span></th>
                            {% if not order.isPediatricOrder %}
                            <th>Processed</th>
                            {% endif %}
                        {% endif %}
                    </tr>
                    </thead>
                {% endif %}
                <tbody>
                {% for sample in form.children %}
                    {% set sampleInfo = samplesInfo[sample.vars.value] %}
                    <tr class="samples {% if sample.vars.attr.class is defined %} {{ sample.vars.attr.class }} {% endif %}">
                        <td>{{ form_widget(sample, { 'label': false }) }}</td>
                        <td><label class="label-normal" for="{{ sample.vars.id }}">({{ sampleInfo.number }})</label></td>
                        <td><label class="label-normal" for="{{ sample.vars.id }}">{{ sampleInfo.label }}</label></td>
                        <td>
                            <label class="label-normal" for="{{ sample.vars.id }}">
                                {% if isCustom %}
                                    [{{ sampleInfo['icodeSwingingBucket'] is defined ? sampleInfo['icodeSwingingBucket'] : sampleInfo.sampleId }}]
                                {% else %}
                                    [{{ sampleInfo.sampleId }}]
                                {% endif %}
                            </label>
                        </td>
                        <td><label class="label-normal" for="{{ sample.vars.id }}">{{ sampleInfo.color }}</label></td>
                        {% if app.request.get('_route') == 'order_process' %}
                            <td><label class="label-normal">(Time into Centrifuge)</label></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endmacro %}
