<div class="row">
  <div class="col-sm-6">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd>{{ participant.lastName }}, {{ participant.firstName }}</dd>
      <dt>Participant ID</dt>
      <dd>{{ participant.participantId }}</dd>
      <dt>Biobank ID</dt>
      <dd>{{ participant.biobankId }}</dd>
      <dt>DOB</dt>
      <dd>{{ participant.dateOfBirth is defined ? participant.dateOfBirth|date('n/j/Y') : '--' }}</dd>
      <dt>Gender Identity</dt>
      <dd>{{ codebook_display(participant.genderIdentity)|default('--') }}</dd>
      <dt>Paired Awardee</dt>
      <dd>{{ siteInfo.awardeeDisplayName(participant.awardee) }}</dd>
    </dl>
  </div>
</div>
