{% extends 'base.html.twig' %}
{% block title %}Deceased Participants - {% endblock %}
{% block body %}
    <div class="page-header">
        <h2><i class="fa fa-hourglass-o" aria-hidden="true"></i> Deceased Participants</h2>
    </div>
    <br />
    <div class="container">
      <ul class="nav nav-tabs">
        <li role="presentation" class="{% if statusFilter == 'preliminary' %}active{% endif %}"><a href="{{ path('deceased_reports_index', {status: 'preliminary'}) }}">Pending Acceptance</a></li>
        <li role="presentation" class="{% if statusFilter == 'final' %}active{% endif %}"><a href="{{ path('deceased_reports_index', {status: 'final'}) }}">Accepted</a></li>
        <li role="presentation" class="{% if statusFilter == 'cancelled' %}active{% endif %}"><a href="{{ path('deceased_reports_index', {status: 'cancelled'}) }}">Denied</a></li>
      </ul>
      <br />
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Participant ID</th>
            <th>Date of Death</th>
            <th>Notification Mechanism</th>
            <th>Status</th>
            <th>Submitted By</th>
            <th>Submitted On</th>
          </tr>
        </thead>
        <tbody>
          {% for report in reports %}
          <tr>
            <td><a href="{{ path('deceased_report_review', {participantId: report.participantId, reportId: report.id}) }}">{{ report.participantId }}</a></td>
            <td>{{ report.dateOfDeath ? report.dateOfDeath|date('n/j/Y') : '' }}</td>
            <td>{{ report.reportMechanismDisplay }}{% if report.reportMechanism == 'Other' %} - {{ report.reportMechanismOtherDescription }}{% endif %}</td>
            <td><a href="{{ path('deceased_report_review', {participantId: report.participantId, reportId: report.id}) }}"><span class="label label-default">{{ report.reportStatusDisplay }}</span></a></td>
            <td>{{ report.submittedBy|default('Unknown') }}</td>
            <td>{{ report.submittedOn|date('n/j/Y g:ia', app.user.timezone) }}</td>
          </tr>
          {% else %}
          <tr>
            <td colspan="99">No records matched your criteria.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
{% endblock %}

{% block pagejs %}
{% endblock %}
