{% extends 'admin/base.html.twig' %}
{% block title %}Physical Measurements - Missing RDR Data - {% endblock %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('admin_home') }}">Admin</a></li>
        <li class="active">Missing Physical Measurements</li>
    </ol>
    <div class="page-header">
        <h2><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Missing Physical Measurements</h2>
    </div>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Finalized Time</th>
            <th>Created Time</th>
            <th>Site</th>
            <th>Participant ID</th>
            <th>Version</th>
        </tr>
        </thead>
        <tbody>
        {% for k, measurements in missing %}
            <tr>
                <td>{{ form_widget(form.ids[k]) }}</td>
                <td>{{ measurements.id }}</td>
                <td data-order="{{ measurements.finalizedTs|date('Y-m-d H:i:s') }}">{{ measurements.finalizedTs|date('n/j/Y g:ia') }}</td>
                <td data-order="{{ measurements.createdTs|date('Y-m-d H:i:s') }}">{{ measurements.createdTs|date('n/j/Y g:ia') }}</td>
                <td>{{ measurements.site }}</td>
                <td>{{ measurements.participantId }}</td>
                <td>{{ measurements.version }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_rest(form) }}
    {% if missing is not empty %}
        <button type="submit" class="btn btn-primary">Resend selected</button>
    {% endif %}
    {{ form_end(form) }}
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('admin-missing-measurements') }}
{% endblock %}
