{% extends 'admin/base.html.twig' %}
{% block title %}Participants - {% endblock %}
{% block body %}
    <nav class="my-2" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_home') }}">Admin</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_debug_participants') }}">Participant Summary Lookup</a></li>
            <li class="breadcrumb-item active">{{ participant.participantId|default('Participant') }}</li>
        </ol>
    </nav>
    <div class="page-header pb-1 mt-4 mb-4 border-bottom">
        <h2><i class="fa fa-user" aria-hidden="true"></i> RDR Participant Summary Details</h2>
    </div>
    <table class="table table-bordered table-striped">
        {% for key,value in participant %}
            <tr>
                <td>{{ key }}</td>
                <td>
                    {% if value is iterable %}
                        <pre>{{ value|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                    {% else %}
                        {{ value }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
