{% extends 'admin/base.html.twig' %}
{% block title %}Participants - {% endblock %}
{% block body %}
    <nav class="my-2" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_home') }}">Admin</a></li>
            <li class="breadcrumb-item active">Participant Summary Lookup</li>
        </ol>
    </nav>
    <div class="page-header pb-1 mt-4 mb-4 border-bottom">
        <h2><i class="fa fa-user" aria-hidden="true"></i> Participant Summary Lookup</h2>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3><i class="fa fa-list-ol" aria-hidden="true"></i> Find by ID</h3>
            {{ form_start(idForm, { attr: { class: 'prevent-resubmit' } }) }}
            {{ form_widget(idForm) }}
            {{ form_end(idForm) }}
        </div>
    </div>
{% endblock %}
